.imacBanner-events {
  background-image: url('../imgs/derek/banners/solve-banner.jpg');
}

// Main Events Page.
.eventsOverview {
  @include make-container;
}

.eventsOverview-pagination {
  list-style-type: none;
  margin: 0;
  padding: 2rem 0 0;
  text-align: center;
}

.eventsOverview-pagination-item {
  display: inline-block;
  list-style-type: none;
}

.eventsOverview-pagination-itemPage {
  background: $white;
  border: 1px solid $gray-light;
  font-size: 1rem;
  padding: .5rem;
  text-decoration: none;

  &:hover {
    background: $gray-light;
    color: $gray-darkest;
    text-decoration: none;
  }
}

.eventsOverview-pagination-itemPageActive {
  font-size: 1.4rem;
}

.eventsOverview-pagination-itemPagePrev,
.eventsOverview-pagination-itemPageNext {
  @include border-radius(50%);
  background: $gray-base;
  border: 0;
  color: $white;
  padding: 0 .5rem;

  &:hover {
    background: $gray-darkest;
    color: $white;
  }
}

.eventsOverview-row {
  @include make-row;
}

.eventsOverview-searchFilter {
  @include make-sm-column(4);
  @include make-md-column(3);
  background: $gray-base;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.eventsOverview-searchFilter-label {
  color: $white;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.eventsOverview-searchFilter-eventTypeSelect {
  background: $white;
  display: block;
  margin: 1rem auto 0;
  max-width: 200px;
  width: $full-width;
}

.eventsOverview-searchFilter-eventTypeSubmit {
  background: $gray-base;
  border: 0;
  color: $white;
  display: block;
  font-size: 1.2rem;
  margin: 1rem auto 0;
  max-width: 200px;
  text-transform: uppercase;
  width: $full-width;

  &:hover {
    background: $gray-dark;
  }
}

.eventsOverview-searchResults {
  @include make-sm-column(8);
  @include make-md-column(9);
  margin-bottom: 3rem;
}

.eventsOverview-weekEvent {
  @include make-row;
  background: $white;
  border: 1px solid $gray-light;
  margin: 0 0 .75rem;
  overflow: hidden;
  text-align: center;
}

.eventsOverview-weekEvent-date {
  @include subhead($gray-darker);
  border-bottom: 1px solid $gray-light;
  padding: .5rem 1.5rem;
  text-align: center;
}

.eventsOverview-weekEvent-details {
  padding: .5rem 1.5rem 1rem;
}

.eventsOverview-weekEvent-header {
  @include make-row;
}

.eventsOverview-weekEvent-headerLocation {
  @include make-xs-column(12);
  @include make-md-column(5);
  background-color: $gray-lightest;
  font-size: 1.2rem;
  line-height: 4rem;
  padding: 0 3rem 0 1.5rem;
  text-transform: uppercase;
}

.eventsOverview-weekEvent-headerTitle {
  @include make-xs-column(12);
  @include make-md-column(7);
  background-color: $gray-lightest;
  font-size: 2rem;
  line-height: 4rem;
  padding: 0 1.5rem;
}

.eventsOverview-weekEvent-learnMore {
  @include button;
  @include button-learning;
  color: $white;
  margin-bottom: 1rem;
  width: auto;
}

.eventsOverview-weekTitle {
  @include heading($white);
  border-bottom: 2px solid $purple;
  color: $black;
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: .75rem;
  margin-top: 2.25rem;
  padding: 10px;
  text-align: center;

  &:first-child {
    margin-top: 0;
  }
}

// Individual event page.
.event {
  @include make-container;
}

.event-backToEvents {
  color: $gray-base;
  display: block;
  margin-bottom: 1rem;
  margin-left: $grid-gutter-width / 2;

  &::before {
    @include border-radius(50%);
    background: $gray-base;
    border: 0;
    color: $white;
    content: '<';
    margin-right: .5rem;
    padding: 0 .75rem;
    text-decoration: none;
  }

  &:hover {
    color: $gray-darkest;

    &::before {
      background: $gray-darkest;
      color: $white;
      text-decoration: none;
    }
  }
}

.event-date {
  @include make-sm-column(2);
  margin-bottom: 1rem;
}

.event-dateBox {
  @include subhead($white);
  background: $purple;
  font-size: 2.2rem;
  margin: 1rem auto;
  max-width: 100px;
  padding: 1rem 0;
  text-align: center;
}

.event-dateBox-day {
  font-size: 2em;
}

.event-details {
  @include make-sm-column(6);
  padding-left: 0;
  padding-top: 50px;
}

.event-form {
  @include make-sm-column(6);
  padding-left: 20px;
  padding-top: 50px;
}

.event-detailsTitle,
.event-info-whereTitle,
.event-info-whenTitle,
.event-info-spokenTitle {
  @include subhead;
}

.event-info {
  @include make-sm-column(10);
  margin-bottom: 1rem;
}

.event-info-header {
  @include make-row;
  margin-bottom: .5rem;
  text-align: center;
}

.event-info-headerTitle {
  @include make-xs-column(12);
  @include make-md-column(9);
  font-size: 2.5rem;
  line-height: 1.5em;
  margin-bottom: .5rem;
  margin-top: 0;
  padding: $no-padding;
}

.event-info-headerType {
  @include make-xs-column(12);
  @include make-md-column(3);
  @include subhead;
  margin-bottom: .5rem;
  padding: $no-padding;
  text-align: center;
}

.event-info-whereWhen {
  @include make-row;
  border-top: 2px solid $purple;
  padding-top: 1rem;
}

.event-info-where {
  @include make-sm-column(4);
  margin-bottom: 1rem;
}

.event-info-when {
  @include make-sm-column(4);
  margin-bottom: 1rem;
}

.event-info-spoken {
  @include make-sm-column(4);
  margin-bottom: 1rem;

  p {
    margin: 0;
  }
}

.event-map {
  @include make-sm-column(6);
  margin-bottom: 2rem;
}

.event-mapCanvas {
  height: 250px;
  width: 100%;
}

.event-speaker-section {
  padding: 20px 0;
}

.event-speaker-container {
  @include make-container;
  padding: 50px 0;
}

.event-speaker-header {
  margin-bottom: 50px;
  text-align: center;
}

.event-speaker-item {
  @include make-md-column(3);
}

.event-speaker-img {
  margin-bottom: 20px;
  max-width: 50%;
}

.event-agenda-section {
  padding: 20px 0;
}

.event-agenda-container {
  @include make-container;
}

.event-agenda-header {
  margin-bottom: 50px;
  text-align: center;
}

.event-agenda-icon {
  display: inline-block;
  float: right;
  font-size: 1.175em;
  margin-bottom: 10px;

  &::before {
    content: '\e851';
    font-family: 'rswebfonts';
  }
}

.event-agenda-timestamp {
  display: inline-block;
  float: left;
  font-weight: bold;
}

.event-agenda-info {
  border-top: 2px solid $gray-lighter;
  float: left;
  margin-bottom: 20px;
  padding: 20px 0;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.event-sponsor-section {
  padding: 20px 0;
}

.event-sponsor-container {
  @include make-container;
}

.event-sponsor-header {
  margin-bottom: 50px;
  text-align: center;
}

.event-sponsor-level {
  display: inline-block;
  float: left;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-sponsor-info {
  border-top: 2px solid $gray-lighter;
  float: left;
  margin-bottom: 20px;
  padding: 20px 0;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.event-sponsor-item {
  @include make-md-column(3);
  padding-left: 0;
  padding-right: 0;
}

.event-sponsor-img {
  margin-bottom: 20px;
  max-width: 50%;
}

.event-images-section {
  padding: 20px 0;
}

.event-images-container {
  @include make-container;
  padding: 50px 0;
}

.event-image-item {
  @include make-md-column(4);
  padding: 0 15px;
}

.event-moderators-section {
  padding: 20px 0;
}

.event-moderators-header {
  margin-bottom: 50px;
  text-align: center;
}

.event-moderators-container {
  @include make-container;
  padding: 50px 0;
}

.event-moderators-item {
  display: flex;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.event-moderators-picContainer {
  @include make-md-column(2);
  padding-left: 0;
}

.event-moderators-info {
  @include make-md-column(10);
}

.event-lpSponsor-logoContainer {
  text-align: center;
}

.event-lpSponsor-logo {
  display: inline;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }

  img {
    max-width: 25%;
  }
}

// Mobile Behavior.
@media screen and (min-width: $screen-xs-min) and (max-width: $screen-sm-min - 1) {
  .event-moderators-item {
    display: block;
  }

  .event-image-item {
    margin-bottom: 10px;
  }

  .event-details {
    padding-left: 25px;
  }

  .event-moderators-picContainer {
    width: 100%;
  }

  .event-moderators-info {
    width: 100%;
  }

  .event-lpSponsor-logo {
    img {
      margin-bottom: 50px;
      max-width: 60%;
    }

    &:last-child {
      img {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .event,
  .eventsOverview {
    padding: $half-padding;
  }

  .eventsOverview-searchFilter,
  .eventsOverview-searchResults {
    margin-bottom: 0;
    width: 100%;
  }

  .event-backToEvents {
    margin-bottom: 0;
    margin-left: 0;
  }

  .event-dateBox {
    margin: 0 0 0 (-$grid-gutter-width / 2);
  }

  .event-info-headerTitle {
    text-align: left;
  }

  .event-info-headerType {
    text-align: left;
  }

  .event-info-where {
    padding: $no-padding;
  }

  .event-info-when {
    padding-left: .6rem;
  }

  .event-info-spoken {
    padding: $no-padding;
  }

  .event-map {
    padding-left: 0;
  }

  .event-mapCanvas {
    height: 400px;
  }
}

@media (min-width: $screen-md-min) {
  .event,
  .eventsOverview {
    padding: $standard-padding;
  }

  .eventsOverview-weekEvent-headerTitle {
    padding: 0 1.5rem 0 4rem;
  }

  .events-banner {
    margin-top: 58px;
  }

  .eventsOverview-weekEvent-date {
    text-align: left;
  }

  .event-info-headerTitle {
    line-height: 1em;
  }

  .event-info-headerType,
  .eventsOverview-weekEvent-headerLocation {
    text-align: right;
  }

  .eventsOverview-weekEvent-headerLocation {
    padding-right: 4rem;
  }

  .eventsOverview-weekEvent {
    text-align: left;
  }

  .eventsOverview-weekEvent-learnMore {
    float: left;
    margin: 0 1.5rem 1rem;
  }

}
