<div>
  <div class="event-detail-section">
    <div class="event-detail-container">
      <div class="event-detail-date">
        <div class="event-dateBox">
          <div class="event-dateBox-month">July</div>
          <div class="event-dateBox-day">24</div>
          <div class="event-dateBox-year">2016</div>
        </div>
      </div>
      <div class="event-detail-info">
        <div class="event-detailInfo-container">
          <div class="event-detail-title">
            <h1 class="event-info-headerTitle">
              Rackspace::Solve San Francisco
            </h1>
          </div>
          <div class="event-detail-type">
            Tradeshow/Conference
          </div>
        </div>
        <!-- detail columns -->
        <div class="event-detailInfo-container">
          <div class="col-md-5">
            <h4 class="event-detailHeader-sm">Details</h4>
            <p>
              <a href="#">Link here</a>
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
            <p>
              <a class="button event-register-btn">Register</a>
            </p>
          </div>
          <div class="col-md-4">
            <h4 class="event-detailHeader-sm">Where</h4>
            <p>Microsoft Centre</p>
            <p>2 Kingdom Street</p>
            <p>Paddington</p>
            <p>London</p>
            <p>W2 6BD</p>
          </div>
          <div class="col-md-3">
            <h4 class="event-detailHeader-sm">When</h4>
            <p>October 4, 2018</p>
            <p>11:00am - 5:30pm</p>
            <p>Timezone: America/Chicage (CST)</p>
            <div class="event-flag-secion">
              <div class="basement-flag-icon basement-flag-us"></div>
              United State / English
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="event-speaker-section">
    <div class="event-speaker-container">
      <h3 class="event-speaker-header">Speakers</h3>
      <% for(var i = 0; i < 8; i++) { %>
        <div class="event-speaker-item">
          <div class="event-speaker-wrapper">
            <img class="event-speaker-img" src="../imgs/derek/test-img.jpg" alt="">
          </div>
          <p>Name: Napolean</p>
          <p>Title: Software Developer</p>
          <p>Company: Rackspace</p>
        </div>
      <% } %>
    </div>
  </div>
  
  <div class="event-agenda-section">
    <div class="event-agenda-container">
      <h3 class="event-agenda-header">Agenda</h3>
      <% for(var i = 0; i < 3; i++) { %>
        <span class="event-agenda-timestamp">Oct 05, 2018 - 8:45am - 9:30am</span>
        <span class="event-agenda-icon"></span>
        <p class="event-agenda-info">
          Street art dreamcatcher cronut typewriter tumblr selfies. Kogi single-origin coffee raw denim,
          retro crucifix 90's tacos polaroid marfa wolf. Whatever disrupt normcore actually af. Roof party
          organic vape raclette biodiesel try-hard art party keffiyeh.
        </p>
      <% } %>
    </div>
  </div>
  
  <div class="quote">
    <div class="quote-wrapper">
      <div class="row">
        <%- partial('../../pattern-components/quotes/_partials/quote.ejs') %>
      </div>
    </div>
  </div>
  
  <div class="event-sponsor-section">
    <div class="event-sponsor-container">
      <h3 class="event-sponsor-header">Sponsors</h3>
      <% for(var i = 0; i < 3; i++) { %>
        <span class="event-sponsor-level">Gold Level</span>
        <div class="event-sponsor-info">
          <% for(var i = 0; i < 3; i++) { %>
            <div class="event-sponsor-item">
              <img class="event-sponsor-img" src="../imgs/derek/logos/mckesson-blk.png" alt="">
            </div>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>
</div>
