<div>
  <div class="event">
    <div class="event-row">
      <div class="event-date">
        <div class="event-dateBox">
          <div class="event-dateBox-month">July</div>
          <div class="event-dateBox-day">24</div>
          <div class="event-dateBox-year">2016</div>
        </div>
      </div>
      <div class="event-info">
        <div class="event-info-header">
          <h1 class="event-info-headerTitle">
            Rackspace::Solve San Francisco
          </h1>
          <div class="event-info-headerType">
            Tradeshow/Conference
          </div>
        </div>
        <div class="event-info-whereWhen">
          <div class="event-info-where">
            <div class="event-info-whereTitle">
              Where
            </div>
            <div class="event-info-whereAddress">
              Four Seasons<br />
              757 Market St<br />
              San Francisco, California 94103
            </div>
          </div>
          <div class="event-info-when">
            <div class="event-info-whenTitle">
              When
            </div>
            <div class="event-info-whenDateTime">
              July 24-July 26<br />
              8:00am-6:00pm
            </div>
          </div>
          <div class="event-info-spoken">
            <div class="event-info-spokenTitle">Languages Spoken</div>
            <div class="event-info-spokenList">
              <p>Dutch</p>
              <p>English</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="event-row">
      <div class="event-details">
        <div class="event-detailsTitle">Details</div>
        <p>Join us at Rackspace::Solve San Francisco, a free conference where you’ll learn how the latest cloud solutions can help you scale your business, get your products to market quickly, and reduce the cost of innovation.</p>
        <p>Sessions cover real world solutions to cloud security, big data, and private cloud challenges. Visit our Solutions Pavilion to discuss your company’s specific needs and whiteboard solutions with Rackspace experts and partners.</p>
        <p>Beyond empowering companies to tap into the power of the cloud, Rackspace also strives for social empowerment. In that spirit, we’ll make a monetary donation of $15 per attendee to Girls Who Code – up to $5,000. In addition to a great day of learning and networking, your attendance at Rackspace::Solve will help give high school girls the skills and resources they need to pursue opportunities in computing fields.</p>
      <!-- NOTE: if a form is present, there should be NO CTA. If form IS present, CTA should be there -->
      <a class="button learning">REGISTER</a>
      </div>
      <div class="event-form">
        <!-- NOTE: if a form is present, there should be NO CTA. If form IS present, CTA should be there -->
        <div class="calloutForm">
          <%- partial('./_partials/marketo-form.ejs') %>
        </div>
      </div>
    </div>
    <div class="event-row">
      <a class="event-backToEvents" href="/derek/view-templates/events/events">Back to upcoming events</a>
    </div>
  </div>
  
  <div class="event-speaker-section">
    <div class="event-speaker-container">
      <h3 class="event-speaker-header">Speakers</h3>
      <% for(var i = 0; i < 8; i++) { %>
        <div class="event-speaker-item">
          <div class="event-speaker-wrapper">
            <img class="event-speaker-img" src="../imgs/derek/speaker-thumb.jpg" alt="">
          </div>
          <p>Name: Derek Zoolander</p>
          <p>Title: Model of the Year</p>
          <p>Company: Rackspace</p>
        </div>
      <% } %>
    </div>
  </div>
  
  <div class="event-agenda-section">
    <div class="event-agenda-container">
      <h3 class="event-agenda-header">Agenda</h3>
      <% for(var i = 0; i < 3; i++) { %>
        <span class="event-agenda-timestamp">Oct 05, 2018 - 8:45am - 9:30am</span>
        <span class="event-agenda-icon"></span>
        <p class="event-agenda-info">
          Street art dreamcatcher cronut typewriter tumblr selfies. Kogi single-origin coffee raw denim,
          retro crucifix 90's tacos polaroid marfa wolf. Whatever disrupt normcore actually af. Roof party
          organic vape raclette biodiesel try-hard art party keffiyeh.
        </p>
      <% } %>
    </div>
  </div>
  
  <div class="quote">
    <div class="quote-wrapper">
      <div class="row">
        <%- partial('../../pattern-components/quotes/_partials/quote.ejs') %>
      </div>
    </div>
  </div>
</div>

<div class="event-sponsor-section">
  <div class="event-sponsor-container">
    <h3 class="event-sponsor-header">Sponsors</h3>
    <% for(var i = 0; i < 3; i++) { %>
      <span class="event-sponsor-level">Gold Level</span>
      <div class="event-sponsor-info">
        <% for(var i = 0; i < 3; i++) { %>
          <div class="event-sponsor-item">
            <img class="event-sponsor-img" src="../imgs/derek/logos/vmware.png" alt="">
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
</div>
