<!-- Banner Region -->
<div class="imacBanner imacBanner-events">
  <div class="imacBanner-container">
    <div class="imacBanner-textRow">
      <div class="imacBanner-textContainer imacBanner-headlineSmall">
        <h2 class="imacBanner-headline">
          <div class="field-banner-header">
            Rackspace Events Calendar
          </div>
        </h2>
        <div class="imacBanner-line left-top"></div>
        <div class="imacBanner-line left-bottom"></div>
        <div class="imacBanner-line right-bottom"></div>
      </div>
    </div>
  </div>
</div>
