//used for events
@mixin make-banner {
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  font-family: $heading;
}

@mixin make-angle {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  float: none;
  min-height: 1px;
}

.imacBanner {
  @include make-banner;
  background-image: url('../imgs/globalBrand/banners/collaboration-1.jpg');
  background-position: right center;
  height: 270px;
  overflow: hidden;
  padding: 50px 0;
}

.imacBanner-withCta {
  height: 340px;
}

.imacBanner-container {
  @include make-container;
  @include fadein(1s);
  padding: 0 45px;
}

.imacBanner-headlineLarge {
  @include make-sm-column(7);
}

.imacBanner-headlineMedium {
  @include make-sm-column(6);
}

.imacBanner-headlineSmall {
  @include make-sm-column(5);
}

.imacBanner-headline {
  @include heading($white);
  font-size: 4rem;
  font-weight: 700;
  line-height: .9em;
  margin: 0;
  text-transform: uppercase;
}

.imacBanner-textContainer {
  border: 3px solid $white;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

.imacBanner-textRow {
  @include make-row;
  padding: 0 25px;
}

.imacBanner-buttonRow {
  @include make-row;
  padding-top: 20px;
}

.imacBanner-button {
  @include make-sm-column(3);
  @include button;
  background-color: $brand-primary;
  color: $white;
  font-weight: $font-weight-black;
  margin-left: 20px;
  padding: 8px 20px;

  &:hover {
    background-color: darken($brand-primary, 5%);
    color: $white;
  }
}

.imacBanner-buttonIcon {
  @include text-stroke(1px, $white);
  color: $white;
  float: right;
  margin-top: 3px;
}

.imacBanner-line {
  @include rotate(45deg);
  background-color: $white;
  display: block;
  height: 45rem;
  position: absolute;
  width: 3px;

  &.left-top {
    left: -3px;
    top: -2px;
    transform-origin: 1px 0;
  }

  &.left-bottom {
    left: -2px;
    top: 100%;
    transform-origin: 1px 0;
  }

  &.right-bottom {
    left: 100%;
    top: 100%;
    transform-origin: -1px 2px;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .imacBanner {
    height: 250px;
    padding: 50px 0;
  }

  .imacBanner-container {
    padding: 0 35px;
  }

  .imacBanner-withCta {
    height: 300px;
  }

  .imacBanner-button {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .imacBanner {
    background-blend-mode: color;
    background-color: $black;
    background-image: none;
    height: 270px;
    padding: 50px 15px;
  }

  .imacBanner-withCta {
    height: 330px;
  }

  .imacBanner-button {
    margin-left: 20px;
    width: 70%;
  }
}



.refreshBanner {
  @include make-banner;
  background-image: url('/imgs/BG.jpg');
  background-position: center right;
  height: 515px;
  overflow: hidden;
  padding: 150px 0 0;
}

.refreshBanner-container {
  height: 100%;
  width: 100%;
}

.refreshBanner-boxContainer {
  height: 100%;
  padding: 0;
  position: relative;
}

.refreshBanner-boxTop {
  display: table;
  min-height: 70%;
  width: 100%;
}

.refreshBanner-innerTopLeft {
  @include make-angle;
  background-image: url('/imgs/slant-topleft.svg');
  width: 16.6667%;
}

.refreshBanner-innerTopRight {
  @include make-angle;
  background-color: $white;
  padding: 25px;
  vertical-align: middle;
  width: 83.3333%;
}

.refresh-headline {
  color: $brand-primary;
  font-family: $heading;
  font-size: 6rem;
  font-weight: 700;
  line-height: .8em;
  margin: 0;
  text-transform: uppercase;
}

.refreshBanner-boxBottom {
  display: table;
  height: 75%;
  width: 100%;
}

.refreshBanner-innerBottomLeft {
  @include make-angle;
  background-image: url('/imgs/slant-bottomleft.svg');
  width: 16.6667%;
}

.refreshBanner-innerBottomRight {
  @include make-angle;
  background-image: url('/imgs/slant-bottomright.svg');
  width: 83.3333%;
}

.refreshBanner-sizeMedium {
  height: 400px;
  padding-top: 100px;
}

.refreshBanner-sizeSmall {
  height: 325px;
  padding-top: 74px;
}

@media only screen and (min-width: $screen-sm-min) {
  .refreshBanner-boxContainer {
    float: left;
    width: 50%;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .refreshBanner-container {
    width: 80%;
  }
}

