//used for events
@mixin make-banner {
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  font-family: $heading;
}

@mixin make-angle {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  float: none;
  min-height: 1px;
}

.imacBanner {
  @include make-banner;
  background-image: url('../imgs/globalBrand/banners/collaboration-1.jpg');
  background-position: right center;
  height: 270px;
  overflow: hidden;
  padding: 50px 0;
}

.imacBanner-withCta {
  height: 340px;
}

.imacBanner-container {
  @include make-container;
  @include fadein(1s);
  padding: 0 45px;
}

.imacBanner-headlineLarge {
  @include make-sm-column(7);
}

.imacBanner-headlineMedium {
  @include make-sm-column(6);
}

.imacBanner-headlineSmall {
  @include make-sm-column(5);
}

.imacBanner-headline {
  @include heading($white);
  font-size: 4rem;
  font-weight: 700;
  line-height: .9em;
  margin: 0;
  text-transform: uppercase;
}

.imacBanner-textContainer {
  border: 3px solid $white;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

.imacBanner-textRow {
  @include make-row;
  padding: 0 25px;
}

.imacBanner-buttonRow {
  @include make-row;
  padding-top: 20px;
}

.imacBanner-button {
  @include make-sm-column(3);
  @include button;
  background-color: $brand-primary;
  color: $white;
  font-weight: $font-weight-black;
  margin-left: 20px;
  padding: 8px 20px;

  &:hover {
    background-color: darken($brand-primary, 5%);
    color: $white;
  }
}

.imacBanner-buttonIcon {
  @include text-stroke(1px, $white);
  color: $white;
  float: right;
  margin-top: 3px;
}

.imacBanner-line {
  @include rotate(45deg);
  background-color: $white;
  display: block;
  height: 45rem;
  position: absolute;
  width: 3px;

  &.left-top {
    left: -3px;
    top: -2px;
    transform-origin: 1px 0;
  }

  &.left-bottom {
    left: -2px;
    top: 100%;
    transform-origin: 1px 0;
  }

  &.right-bottom {
    left: 100%;
    top: 100%;
    transform-origin: -1px 2px;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .imacBanner {
    height: 250px;
    padding: 50px 0;
  }

  .imacBanner-container {
    padding: 0 35px;
  }

  .imacBanner-withCta {
    height: 300px;
  }

  .imacBanner-button {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .imacBanner {
    background-blend-mode: color;
    background-color: $black;
    background-image: none;
    height: 270px;
    padding: 50px 15px;
  }

  .imacBanner-withCta {
    height: 330px;
  }

  .imacBanner-button {
    margin-left: 20px;
    width: 70%;
  }
}



.refreshBanner {
  @include make-banner;
  background-image: url('../imgs/BG.jpg');
  background-position: center right;
  height: 515px;
  overflow: hidden;
  padding: 150px 0 0;
}

.refreshBanner-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.refreshBanner-boxContainer {
  height: 100%;
  padding: 0;
  position: relative;
}

.refreshBanner-boxContainer2 {
  clear: both;
  top: -65.5%;
}

.refreshBanner-boxTop {
  display: table;
  min-height: 40%;
  width: 100%;
}

.refreshBanner-boxTopInterior {
  min-height: 40%;
}

.refreshBanner-boxTopHomepage {
  min-height: 10%;
}

.refreshBanner-innerTopLeft {
  @include make-angle;
  background-image: url('../imgs/slant-topleft.svg');
  width: 9.6667%;
}

.refreshBanner-innerTopRight {
  @include make-angle;
  padding: 25px;
  vertical-align: middle;
  width: 83.3333%;
}

.refreshBanner-innerTopRight2 {
  width: 79.3333%;
}

.refresh-headline {
  color: $white;
  font-family: $heading;
  font-size: 6rem;
  font-weight: 700;
  line-height: .8em;
  margin: 0;
  text-transform: uppercase;
}

.refreshBanner-boxBottom {
  display: table;
  height: 75%;
  width: 100%;
}

.refreshBanner-innerBottomLeft {
  @include make-angle;
  background-image: url('../imgs/slant-bottomleft.svg');
  width: 9.6667%;
}

.refreshBanner-innerBottomRight {
  @include make-angle;
  background-image: url('../imgs/slant-bottomright.svg');
  width: 83.3333%;
}

.refreshBanner-internal {
  height: 415px;
}

.refreshBanner-innerBottomRight2 {
  width: 79.3333%;
}

.refreshBanner-sizeHomepage {
  height: 60vw;
  max-height: 700px;
  padding-top: 100px;
}

.refreshBanner-sizeMedium {
  height: 400px;
  padding-top: 100px;
}

.refreshBanner-sizeSmall {
  height: 325px;
  padding-top: 74px;
}

.refreshBanner-ctaContainer {
  bottom: -20vw;
  float: right;
  height: 40%;
  margin-right: 7.5%;
  position: relative;
}

.refreshBanner-ctaBox {
  text-align: right;
  width: 100%;
}

.refreshBanner-ctaHeadline {
  color: $white;
  font-size: 4vw;
  line-height: .9em;
  text-transform: uppercase;
}

@media only screen and (min-width: $screen-md-min) {
  .refreshBanner-boxContainer {
    float: left;
    width: 700px;
  }

  .refresh-headlineHomepage {
    font-size: 60px;
  }

  .refreshBanner-ctaHeadline {
    font-size: 45px;
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .refreshBanner-boxContainer {
    float: left;
    width: 60%;
  }

  .refreshBanner-boxContainer2 {
    width: 68%;
  }

  .refreshBanner-innerTopLeft2 {
    width: 14.0667%;
  }

  .refreshBanner-innerBottomLeft2 {
    width: 14.0667%;
  }

  .refresh-headlineHomepage {
    font-size: 4.5vw;
  }

  .refreshBanner-interior {
    width: 50%;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .refreshBanner-sizeHomepage {
    height: 105vw;
    max-height: 500px;
    padding-top: 10%;
  }

  .refreshBanner-container {
    width: 80%;
  }

  .refresh-headlineHomepage {
    font-size: 7.25vw;
  }

  .refreshBanner-ctaContainer {
    bottom: -15vw;
    margin: 0 auto;
    position: absolute;
    width: 100%;
  }

  .refreshBanner-ctaBox {
    text-align: center;
    width: 100vw;
  }

  .refreshBanner-ctaHeadline {
    display: none;
  }
}


.refreshBannerCombined {
  background-image: url('../imgs/BG.jpg');
  background-position: center right;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.refreshBannerCombined-homepage {
  height: 500px;
}

.refreshBannerCombined-container {
  position: relative;
  width: 100%;
}

.refreshBannerCombined-svg {
  position: absolute;
  right: 10%;
  width: 180%;
}

.refreshBannerCombined-ctaContainer {
  float: right;
  height: 40%;
  margin-right: 60px;
  position: relative;
}

.refreshBannerCombined-ctaBox {
  text-align: right;
  width: 100%;
}

.refreshBannerCombined-ctaHeadline {
  color: $white;
  font-size: 3.75rem;
  line-height: .9em;
  text-transform: uppercase;
}

.refreshBannerCombined-internal {
  height: 300px;
  margin-top: -110px;
}

@media only screen and (min-width: $screen-xs-min) {
  .refreshBannerCombined-internal {
    margin-top: 0;
  }
}

@media only screen and (max-width: $screen-xs-max) {

  .refreshBannerCombined-internal {
    background-blend-mode: color;
    background-color: $black;
    background-image: none;
  }

  .refreshBannerCombined-ctaContainer {
    bottom: -400px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
  }

  .refreshBannerCombined-ctaBox {
    text-align: center;
    width: 100vw;
  }

  .refreshBannerCombined-ctaHeadline {
    display: none;
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .refreshBannerCombined-homepage {
    height: 550px;
  }

  .refreshBannerCombined-svg {
    right: 39%;
    top: 50px;
    width: 120%;
  }

  .refreshBannerCombined-ctaContainer {
    bottom: -300px;
  }

  .refreshBannerCombined-internal {
    height: 365px;
    padding-top: 0;
  }
}

@media only screen and (min-width: $screen-md-min) {
  .refreshBannerCombined-homepage {
    height: 600px;
  }

  .refreshBannerCombined-svg {
    top: 60px;
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .refreshBannerCombined-homepage {
    height: 650px;
  }

  .refreshBannerCombined-container {
    margin: 0 auto;
    max-width: 1330px;
  }

  .refreshBannerCombined-ctaContainer {
    bottom: -350px;
  }
}
