$red-variation: #c32126;

//used for events
@mixin make-banner {
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  font-family: $heading;
}

@mixin make-angle {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  float: none;
  min-height: 1px;
}

.imacBanner {
  @include make-banner;
  background-image: url('../imgs/globalBrand/banners/collaboration-1.jpg');
  background-position: right center;
  height: 270px;
  overflow: hidden;
  padding: 50px 0;
}

.imacBanner-withCta {
  height: 340px;
}

.imacBanner-container {
  @include make-container;
  @include fadein(1s);
  padding: 0 45px;
}

.imacBanner-headlineLarge {
  @include make-sm-column(7);
}

.imacBanner-headlineMedium {
  @include make-sm-column(6);
}

.imacBanner-headlineSmall {
  @include make-sm-column(5);
}

.imacBanner-headline {
  @include heading($white);
  font-size: 4rem;
  font-weight: 700;
  line-height: .9em;
  margin: 0;
  text-transform: uppercase;
}

.imacBanner-textContainer {
  border: 3px solid $white;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

.imacBanner-textRow {
  @include make-row;
  padding: 0 25px;
}

.imacBanner-buttonRow {
  @include make-row;
  padding-top: 20px;
}

.imacBanner-button {
  @include make-sm-column(3);
  @include button;
  background-color: $brand-primary;
  color: $white;
  font-weight: $font-weight-black;
  margin-left: 20px;
  padding: 8px 20px;

  &:hover {
    background-color: darken($brand-primary, 5%);
    color: $white;
  }
}

.imacBanner-buttonIcon {
  @include text-stroke(1px, $white);
  color: $white;
  float: right;
  margin-top: 3px;
}

.imacBanner-line {
  @include rotate(45deg);
  background-color: $white;
  display: block;
  height: 45rem;
  position: absolute;
  width: 3px;

  &.left-top {
    left: -3px;
    top: -2px;
    transform-origin: 1px 0;
  }

  &.left-bottom {
    left: -2px;
    top: 100%;
    transform-origin: 1px 0;
  }

  &.right-bottom {
    left: 100%;
    top: 100%;
    transform-origin: -1px 2px;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .imacBanner {
    height: 250px;
    padding: 50px 0;
  }

  .imacBanner-container {
    padding: 0 35px;
  }

  .imacBanner-withCta {
    height: 300px;
  }

  .imacBanner-button {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .imacBanner {
    background-blend-mode: color;
    background-color: $black;
    background-image: none;
    height: 270px;
    padding: 50px 15px;
  }

  .imacBanner-withCta {
    height: 330px;
  }

  .imacBanner-button {
    margin-left: 20px;
    width: 70%;
  }
}

.refreshBanner {
  @include make-banner;
  @include fadein(2s);
  background-image: url('../imgs/BG.jpg');
  background-position: right center;
  height: 300px;
  overflow: hidden;
  padding: 60px 0;
  position: relative;
}

.refreshBanner-landingPage {
  height: 60vw;
  max-height: 515px;
  padding: 15% 0 0;
}

.refreshBanner-homepage {
  height: 60vw;
  max-height: 620px;
  padding-top: 90px;
}

.refreshBanner-container {
  @include make-container;
  @include fadein(1s);
  padding: 0 45px;
  position: relative;
}

.refreshBanner-boxContainer {
  // height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

.refreshBanner-boxContainerBottom {
  clear: both;
  position: absolute;
  top: 200px;
  width: 70%;
}

.refreshBanner-headline {
  color: $brand-primary;
  font-family: $heading;
  font-size: 6rem;
  font-weight: 700;
  line-height: .8em;
  margin: 0;
  text-transform: uppercase;
}

.refreshBanner-textContainer {
  background: $white;
  padding: 20px;
  position: relative;
  z-index: 9;
}

.refreshBanner-textContainerHomepage {
  @include make-sm-column(8);
  @include make-md-column(6.5);
}

.refreshBanner-textContainerHomepageBottom {
  @include make-sm-column(6.5);
  @include make-md-column(5);
}

.refreshBanner-textContainerInterior {
  @include make-sm-column(7);
}

.refreshBanner-textRow {
  @include make-row;
  padding: 0 25px;
}

.refreshBanner-line {
  background-color: $white;
  display: block;
  z-index: 0;

  &.left-top {
    background-color: $red-variation;
    opacity: .8;
    position: absolute;
    top: 500px;
    transform: skewY(-45deg);
    transform-origin: bottom left;
    width: 500px;
  }

  &.left-topHomepage {
    top: 500px;
  }

  &.right-bottom {
    @include make-sm-column(7);
    background-color: darken($red-variation, 7%);
    height: 500px;
    opacity: .8;
    transform: skewX(-45deg);
    transform-origin: 0 0;
  }

  &.right-bottomHomepage {
    @include make-sm-column(8);
    @include make-md-column(6.5);
    height: 450px;
  }

  &.right-bottomBottom {
    @include make-sm-column(6.5);
    @include make-md-column(5);
    height: 300px;
    opacity: .5;
  }

  &.left-topBottom {
    opacity: .5;

  }
}

.refreshBanner-ctaContainer {
  bottom: 10%;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

.refreshBanner-ctaBox {
  text-align: center;
  width: 100vw;
}

.refreshBanner-ctaHeadline {
  display: none;
}



@media only screen and (min-width: $screen-sm-min) {
  .refresh-headlineHomepage {
    font-size: 4.5vw;
  }

  .refreshBanner-boxContainerBottom {
    width: 100%;
  }

  .refreshBanner-line {
    &.left-topBottom {
      top: 700px;
    }
  }

  .refreshBanner-ctaContainer {
    bottom: 18%;
    height: 50%;
    margin-right: 7.5%;
    position: absolute;
    right: 0;
  }

  .refreshBanner-ctaBox {
    text-align: right;
    width: 100%;
  }

  .refreshBanner-ctaHeadline {
    color: $white;
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: $screen-md-min) {
  .refreshBanner-boxContainerBottom {
    top: 200px;
  }

  .refreshBanner-line {
    &.left-topBottom {
      top: 700px;
    }
  }

  .refreshBanner-ctaContainer {
    bottom: 10%;
  }

}

@media only screen and (min-width: $screen-lg-min) {
  .refreshBanner-boxContainerBottom {
    top: 175px;
  }

  .refreshBanner-line {
    &.left-topBottom {
      top: 675px;
    }
  }

  .refreshBanner-ctaContainer {
    bottom: 10%;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .refreshBanner-homepage {
    height: 100vw;
    max-height: 500px;
    padding-top: 10%;
  }

  .refreshBanner-container {
    height: 90vw;
    max-height: 500px;
  }

  .refresh-headlineHomepage {
    font-size: 7.25vw;
  }

  .refreshBanner-boxContainerBottom {
    top: 175px;
  }

  .refreshBanner-line {
    &.left-topBottom {
      top: 675px;
    }
  }

  .refreshBanner-ctaContainer {
    bottom: 18%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
  }

  .refreshBanner-ctaBox {
    width: 80%;
  }

  .ghost {
    width: 70%;
  }
}

@media only screen and (max-width: $screen-xs-min) {
  .refreshBanner-ctaContainer {
    bottom: 5%;
  }
}
