.refreshBanner2019 {
  background: $black;
  overflow: hidden;
  position: relative;
}

.refreshBanner2019-pic {
  display: none;
}

.refreshBanner2019-text {
  color: $white;
  font-size: 5vw;
  font-weight: 300;
  line-height: 1.3em;
  padding: 25px 30px;
  visibility: hidden;
  z-index: 10;
}

@media only screen and (min-width: $screen-sm-min) {
  .refreshBanner2019 {
    height: 256px;
  }

  .refreshBanner2019-pic-content {
    height: auto;
    left: -15%;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    width: 130%;
  }

  .refreshBanner2019-pic {
    display: inline;
    height: 256px;
    left: 50%;
    margin-left: -50%;
    margin-top: -128px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 9;
  }

  .refreshBanner2019-text {
    background-color: $white;
    color: $black;
    font-size: 2.3vw;
    position: absolute;
    top: 20px;
    width: 35%;
  }
}

@media only screen and (min-width: $screen-md-min) {
  .refreshBanner2019 {
    height: 332px;
  }

  .refreshBanner2019-pic {
    height: 332px;
    margin-top: -166px;
  }

  .refreshBanner2019-text {
    font-size: 2.3vw;
    top: 40px;
    width: 37%;
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .refreshBanner2019 {
    height: 415px;
  }

  .refreshBanner2019-pic {
    height: 415px;
    margin-top: -207.5px;
  }
}

@media only screen and (min-width: 1500px) {
  .refreshBanner2019-text {
    width: 33%;
  }
}

// Legacy bananers

//used for events
@mixin make-banner {
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  font-family: $heading;
}

@mixin make-angle {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  float: none;
  min-height: 1px;
}

.refreshBanner {
  @include make-banner;
  background-image: url('../imgs/BG.jpg');
  background-position: center right;
  height: 515px;
  overflow: hidden;
  padding: 150px 0 0;
}

.refreshBanner-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.refreshBanner-boxContainer {
  height: 100%;
  padding: 0;
  position: relative;
}

.refreshBanner-boxContainer2 {
  clear: both;
  top: -65.5%;
}

.refreshBanner-boxTop {
  display: table;
  min-height: 40%;
  width: 100%;
}

.refreshBanner-boxTopInterior {
  min-height: 40%;
}

.refreshBanner-boxTopHomepage {
  min-height: 10%;
}

.refreshBanner-innerTopLeft {
  @include make-angle;
  background-image: url('../imgs/slant-topleft.svg');
  width: 9.6667%;
}

.refreshBanner-innerTopRight {
  @include make-angle;
  padding: 25px;
  vertical-align: middle;
  width: 83.3333%;
}

.refreshBanner-innerTopRight2 {
  width: 79.3333%;
}

.refresh-headline {
  color: $white;
  font-family: $heading;
  font-size: 6rem;
  font-weight: 700;
  line-height: .8em;
  margin: 0;
  text-transform: uppercase;
}

.refreshBanner-boxBottom {
  display: table;
  height: 75%;
  width: 100%;
}

.refreshBanner-innerBottomLeft {
  @include make-angle;
  background-image: url('../imgs/slant-bottomleft.svg');
  width: 9.6667%;
}

.refreshBanner-innerBottomRight {
  @include make-angle;
  background-image: url('../imgs/slant-bottomright.svg');
  width: 83.3333%;
}

.refreshBanner-internal {
  height: 415px;
}

.refreshBanner-innerBottomRight2 {
  width: 79.3333%;
}

.refreshBanner-sizeHomepage {
  height: 60vw;
  max-height: 700px;
  padding-top: 100px;
}

.refreshBanner-sizeMedium {
  height: 400px;
  padding-top: 100px;
}

.refreshBanner-sizeSmall {
  height: 325px;
  padding-top: 74px;
}

.refreshBanner-ctaContainer {
  bottom: -20vw;
  float: right;
  height: 40%;
  margin-right: 7.5%;
  position: relative;
}

.refreshBanner-ctaBox {
  text-align: right;
  width: 100%;
}

.refreshBanner-ctaHeadline {
  color: $white;
  font-size: 4vw;
  line-height: .9em;
  text-transform: uppercase;
}

@media only screen and (min-width: $screen-md-min) {
  .refreshBanner-boxContainer {
    float: left;
    width: 700px;
  }

  .refresh-headlineHomepage {
    font-size: 60px;
  }

  .refreshBanner-ctaHeadline {
    font-size: 45px;
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .refreshBanner-boxContainer {
    float: left;
    width: 60%;
  }

  .refreshBanner-boxContainer2 {
    width: 68%;
  }

  .refreshBanner-innerTopLeft2 {
    width: 14.0667%;
  }

  .refreshBanner-innerBottomLeft2 {
    width: 14.0667%;
  }

  .refresh-headlineHomepage {
    font-size: 4.5vw;
  }

  .refreshBanner-interior {
    width: 50%;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .refreshBanner-sizeHomepage {
    height: 105vw;
    max-height: 500px;
    padding-top: 10%;
  }

  .refreshBanner-container {
    width: 80%;
  }

  .refresh-headlineHomepage {
    font-size: 7.25vw;
  }

  .refreshBanner-ctaContainer {
    bottom: -15vw;
    margin: 0 auto;
    position: absolute;
    width: 100%;
  }

  .refreshBanner-ctaBox {
    text-align: center;
    width: 100vw;
  }

  .refreshBanner-ctaHeadline {
    display: none;
  }
}


.refreshBannerCombined {
  background-image: url('../imgs/BG.jpg');
  background-position: center right;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.refreshBannerCombined-homepage {
  height: 500px;
}

.refreshBannerCombined-container {
  position: relative;
  width: 100%;
}

.refreshBannerCombined-svg {
  position: absolute;
  right: 10%;
  width: 180%;
}

.refreshBannerCombined-ctaContainer {
  float: right;
  height: 40%;
  margin-right: 60px;
  position: relative;
}

.refreshBannerCombined-ctaBox {
  text-align: right;
  width: 100%;
}

.refreshBannerCombined-ctaHeadline {
  color: $white;
  font-size: 3.75rem;
  line-height: .9em;
  text-transform: uppercase;
}

.refreshBannerCombined-internal {
  height: 300px;
  margin-top: -110px;
}

@media only screen and (min-width: $screen-xs-min) {
  .refreshBannerCombined-internal {
    margin-top: 0;
  }
}

@media only screen and (max-width: $screen-xs-max) {

  .refreshBannerCombined-internal {
    background-blend-mode: color;
    background-color: $black;
    background-image: none;
    background-size: 0;
  }

  .refreshBannerCombined-ctaContainer {
    bottom: -400px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
  }

  .refreshBannerCombined-ctaBox {
    text-align: center;
    width: 100vw;
  }

  .refreshBannerCombined-ctaHeadline {
    display: none;
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .refreshBannerCombined-homepage {
    height: 550px;
  }

  .refreshBannerCombined-svg {
    right: 39%;
    top: 50px;
    width: 120%;
  }

  .refreshBannerCombined-ctaContainer {
    bottom: -300px;
  }

  .refreshBannerCombined-internal {
    height: 365px;
    padding-top: 0;
  }
}

@media only screen and (min-width: $screen-md-min) {
  .refreshBannerCombined-homepage {
    height: 600px;
  }

  .refreshBannerCombined-svg {
    top: 60px;
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .refreshBannerCombined-homepage {
    height: 650px;
  }

  .refreshBannerCombined-container {
    margin: 0 auto;
    max-width: 1330px;
  }

  .refreshBannerCombined-ctaContainer {
    bottom: -350px;
  }
}
