<%
if(!desc) { var desc = "The cloud is a mystery wrapped in a riddle. We can unwrap it for you."; }
%>

<div class="refreshBannerCombined refreshBannerCombined-internal" style="background-image: url('https://www.rackspace.com/sites/default/files/landing-pages/mysqlbanner1.jpg')">
  <div class="refreshBannerCombined-container">
    <div class="refreshBannerCombined-svgContainer">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="1442px" height="500px" viewBox="0 0 1442 500" style="enable-background:new 0 0 1442 677;"
        class="refreshBannerCombined-svg" xml:space="preserve">
        <style type="text/css">
          .sourceText{display:none;}
          .displayText{fill:#ffffff;font-family:'Fira Sans';font-weight:700;font-size:55px;line-height:55px;text-transform:uppercase;}
        </style>
        <g id="primaryBox">
          <text class="text" x="800" y="63">
            <tspan class="sourceText"><%- desc %></tspan>
          </text>
        </g>
        <script type="application/ecmascript">
        <% include headers.js %>
        svgBannerSetContent();
        </script>
      </svg>

    </div>
  </div>

</div>
