<div class="refreshBanner">
  <div class="refreshBanner-container">
    <div class="refreshBanner-boxContainer">
      <div class="refreshBanner-textRow">
        <div class="refreshBanner-textContainer refreshBanner-textContainerInterior">
          <h2 class="refreshBanner-headline refresh-headlineInterior">we guarantee a 99.99% openstack API uptime.</h2>
        </div>
      </div>
      <span class="refreshBanner-line right-bottom">&nbsp;</span>
    </div>

    <span class="refreshBanner-line left-top">&nbsp;</span>
  </div>
</div>

<script src="../../../js/global-components/tracking/tracking.js" charset="utf-8"></script>
<script src="../../../js/pattern-components/headers/headers.js" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    Zoolander.Banners.init();
  });
</script>
