<%
if(!desc) { var desc = "Is Google Your Destination? We’ll Be Your Guide."; }
%>

<div class="refreshBanner2019">
  <picture class="refreshBanner2019-pic">
   <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source class="refreshBanner2019-pic-content" srcset="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/refresh/health-d.jpg 1x" media="all and (min-width: 1600px)" type="image/jpeg"/>
    <source class="refreshBanner2019-pic-content" srcset="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/refresh/health-d.jpg 1x" media="all and (min-width: 1280px) and (max-width: 1599px)" type="image/jpeg"/>
    <source class="refreshBanner2019-pic-content" srcset="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/refresh/health-d.jpg 1x" media="all and (min-width: 992px) and (max-width: 1279px)" type="image/jpeg"/>
    <source class="refreshBanner2019-pic-content" srcset="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/refresh/health-d.jpg 1x" media="all and (min-width: 768px) and (max-width: 991px)" type="image/jpeg"/>
    <source class="refreshBanner2019-pic-content" srcset="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/refresh/health-d.jpg 1x" media="all and (min-width: 480px) and (max-width: 767px)" type="image/jpeg"/>
    <source class="refreshBanner2019-pic-content" srcset="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/refresh/health-d.jpg 1x" type="image/jpeg"/>
    <!--[if IE 9]></video><![endif]-->
    <img class="refreshBanner2019-pic-content" src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/refresh/health-d.jpg" alt="Test page banner">
  </picture>
  <div class="container">
    <h2 class="refreshBanner2019-text"><%- desc %></h2>
  </div>
  <script type="text/javascript" src="global/plugins/scrollreveal.min.js"></script>
  <script type="application/ecmascript">
  <% include headers.js %>
  svgBannerSetContent();
  runAnimations('.refreshBanner2019-text');
  </script>
</div>

