<!--Header -->
<% default_desc = 'the cloud is a mystery wrapped in a riddle.<br/>We can unwrap it for you' %>
<div class="refreshBanner refreshBanner-sizeHomepage">
  <div class="refreshBanner-container">
    <div class="refreshBanner-boxContainer">
      <div class="refreshBanner-boxTop refreshBanner-boxTopHomepage">
        <div class="refreshBanner-innerTopLeft"></div>
          <div class="refreshBanner-innerTopRight">
              <h2 class="refresh-headline refresh-headlineHomepage">certified to manage the worlds leading clouds.</h2>
          </div>
        </div>
      <div class="refreshBanner-boxBottom">
        <div class="refreshBanner-innerBottomLeft">&nbsp;</div>
        <div class="refreshBanner-innerBottomRight">&nbsp;</div>
      </div>
      <div class="refreshBanner-boxContainer refreshBanner-boxContainer2">
        <div class="refreshBanner-boxTop refreshBanner-boxTopHomepage">
          <div class="refreshBanner-innerTopLeft refreshBanner-innerTopLeft2"></div>
            <div class="refreshBanner-innerTopRight refreshBanner-innerTopRight2">
                <h2 class="refresh-headline refresh-headlineHomepage">because one size doesn‘t fit all.</h2>
            </div>
          </div>
        <div class="refreshBanner-boxBottom">
          <div class="refreshBanner-innerBottomLeft refreshBanner-innerBottomLeft2">&nbsp;</div>
          <div class="refreshBanner-innerBottomRight refreshBanner-innerBottomRight2">&nbsp;</div>
        </div>
      </div>
    </div>

    <div class="refreshBanner-ctaContainer">
      <div class="refreshBanner-ctaBox">
        <h3 class="refreshBanner-ctaHeadline">find your<br/>best-fit<br/>solution</h3>
        <a class="refreshBanner-ctaButton button ghost">Learn More</a>
      </div>
    </div>

  </div>
</div>
