<% if(!desc) { var desc = "we guarantee a 99.99% openstack API uptime."; } %>
<div class="refreshBanner <%- (typeof type != 'undefined') ? 'refreshBanner-'+type : '' %>">
  <div class="refreshBanner-container">
    <div class="refreshBanner-boxContainer">
      <div class="refreshBanner-textRow">
        <div class="refreshBanner-textContainer refreshBanner-textContainerInterior">
          <h2 class="refreshBanner-headline refresh-headlineInterior"><%- desc %></h2>
        </div>
      </div>
      <span class="refreshBanner-line right-bottom">&nbsp;</span>
    </div>

    <span class="refreshBanner-line left-top">&nbsp;</span>
  </div>
</div>

<script src="../../../js/global-components/tracking/tracking.js" charset="utf-8"></script>
<script src="../../../js/pattern-components/headers/headers.js" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    // Note: Timeout is simply for offsetting zoolander navigation and shouldn't
    // be copied into production.
    setTimeout(Zoolander.Banners.init, 800);
  });
</script>
