<div class="refreshBanner refreshBanner-homepage">
  <div class="refreshBanner-container">
    <div class="refreshBanner-boxContainer refreshBanner-boxContainerHomepage">
      <div class="refreshBanner-textRow">
        <div class="refreshBanner-textContainer refreshBanner-textContainerHomepage">
          <h2 class="refreshBanner-headline refresh-headlineHomepage">certified to manage the worlds leading clouds.</h2>
        </div>
      </div>
      <span class="refreshBanner-line right-bottom right-bottomHomepage">&nbsp;</span>
    </div>
    <div class="refreshBanner-boxContainer refreshBanner-boxContainerBottom">
      <div class="refreshBanner-textRow refreshBanner-textRowBottom">
        <div class="refreshBanner-textContainer refreshBanner-textContainerHomepageBottom">
          <h2 class="refreshBanner-headline refresh-headlineHomepageBottom">because one size doesn‘t fit all.</h2>
        </div>
      </div>
      <span class="refreshBanner-line right-bottom right-bottomBottom">&nbsp;</span>
    </div>
    <span class="refreshBanner-line left-top left-topHomepage">&nbsp;</span>
    <span class="refreshBanner-line left-top left-topBottom">&nbsp;</span>

    <div class="refreshBanner-ctaContainer">
      <div class="refreshBanner-ctaBox">
        <h3 class="refreshBanner-ctaHeadline">find your<br/>best-fit<br/>solution</h3>
        <a class="refreshBanner-ctaButton button ghost">Learn More</a>
      </div>
    </div>
  </div>
</div>

<script src="../../../js/global-components/tracking/tracking.js" charset="utf-8"></script>
<script src="../../../js/pattern-components/headers/headers.js" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    Zoolander.Banners.homepageInit();
  });
</script>
