<div class="refreshBanner">
  <div class="refreshBanner-container">
    <div class="refreshBanner-boxContainer refreshBanner-boxContainerHomepage">
      <div class="refreshBanner-textRow">
        <div class="refreshBanner-textContainer refreshBanner-textContainerInterior">
          <h2 class="refreshBanner-headline refresh-headlineInterior">we guarantee a 99.99% openstack API uptime.</h2>
        </div>
      </div>
      <span class="refreshBanner-line right-bottom">&nbsp;</span>
    </div>
  </div>
  <span class="refreshBanner-line left-top">&nbsp;</span>
</div>

<script>
const $textContainer = $('.refreshBanner-textContainer');
const $leftSlant = $('.refreshBanner-line.left-top');
const $contentOffset = $('.navbar-fixed-top');

const setDimensions = () => {
  const $left = $textContainer.offset().left - $leftSlant.outerWidth();
  const $textContainerPadding = parseInt($textContainer.css('padding'));
  const $textContainerTop = $textContainer.offset().top;
  const $contentPush = $contentOffset.outerHeight(true);

  $leftSlant.css({
    height: $textContainer.outerHeight(),
    left: $left,
    top: 260
  });
 };
setTimeout(setDimensions, 800);
//timeout for zoolander only otherwise setDimentions();

$(window).resize(setDimensions);

</script>
