<%
if(!banner_top) { var banner_top = "Certified to Manage the World's Leading Clouds."; }
if(!banner_bottom) { var banner_bottom = "Because One Size Doesn’t Fit All."; }
%>

<div class="refreshBannerCombined refreshBanner-homepage-062018">
  <div class="refreshBannerCombined-container">
    <div class="refreshBannerCombined-newheader-062018">
      <h1 class="refreshBannerCombined-ctaHeadline refreshBannerCombined-ctaHeadline-062018">Technology is always changing</h1>
      <h4 class="rsHomepage-subHeader-062018">Future-Proof Your Digital Transformation</h4>
      <a class="refreshBannerCombined-ctaButton rsHomepage-button-062018 button ghost">Get Started</a>
    </div>
  </div>

</div>
