<div class="refreshBanner2019">
  <picture class="refreshBanner2019-pic">
   <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="https://www.rackspace.com/sites/default/files/styles/refresh_2019_banner_1600/public/2018-12/test-page-banner_0.jpg?itok=01aVlwb7 1x" sizes="100%" media="all and (min-width: 1600px)" type="image/jpeg"/>
    <source srcset="https://www.rackspace.com/sites/default/files/styles/refresh_2019_banner_1600/public/2018-12/test-page-banner_0.jpg?itok=01aVlwb7 1x" sizes="100%" media="all and (min-width: 1280px) and (max-width: 1599px)" type="image/jpeg"/>
    <source srcset="https://www.rackspace.com/sites/default/files/styles/refresh_2019_banner_1280/public/2018-12/test-page-banner_0.jpg?itok=tPz2EsWp 1x" sizes="100%" media="all and (min-width: 992px) and (max-width: 1279px)" type="image/jpeg"/>
    <source srcset="https://www.rackspace.com/sites/default/files/styles/refresh_2019_banner_992/public/2018-12/test-page-banner_0.jpg?itok=REBGeb7H 1x" sizes="100%" media="all and (min-width: 768px) and (max-width: 991px)" type="image/jpeg"/>
    <source srcset="https://www.rackspace.com/sites/default/files/styles/refresh_2019_banner_768/public/2018-12/test-page-banner_0.jpg?itok=peSeNnji 1x" sizes="100%" media="all and (min-width: 480px) and (max-width: 767px)" type="image/jpeg"/>
    <source srcset="https://www.rackspace.com/sites/default/files/styles/refresh_2019_banner_480/public/2018-12/test-page-banner_0.jpg?itok=AnphrREQ 1x" sizes="100%" type="image/jpeg"/>
    <!--[if IE 9]></video><![endif]-->
    <!-- <img src="https://www.rackspace.com/sites/default/files/styles/refresh_2019_banner_1280/public/2018-12/test-page-banner_0.jpg?itok=tPz2EsWp" alt="Test page banner"> -->
  </picture>
  <h2 class="refreshBanner2019-text">Text goes here.</h2>
</div>
