<!-- Features: 50/50 -->
<div class="half-padding">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-sm-6 panel-flex">
        <div class="subpanel panel-flex">
          <div class="subpanel-inner panel-flex">
            <%- partial('_partials/product-feature') %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 panel-flex">
        <div class="subpanel panel-flex">
          <div class="subpanel-inner panel-flex">
            <%- partial('_partials/product-feature', {
            desc: 'consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean m'
            }) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 panel-flex">
        <div class="subpanel panel-flex">
          <div class="subpanel-inner panel-flex">
            <%- partial('_partials/product-feature', { desc: 'consectetuer' }) %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 panel-flex">
        <div class="subpanel panel-flex">
          <div class="subpanel-inner panel-flex">
            <div class="feature">
              <div class="feature-media">
                <div class="feature-imgWrapper">
                  <img class="feature-img" src="https://placeholdit.imgix.net/~text?txtsize=30&txt=%5Bplaceholder%5D&w=200&h=150">
                </div>
              </div>
              <div class="feature-content">
                <h3 class="feature-header">Example Title</h3>
                <div class="feature-bodyWrapper">
                  <a href="javascript:void(0)">This is an example of a link in the Feature pattern.</a>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
