<div class="event-agenda-section">
  <div class="event-agenda-container">
    <h3 class="event-agenda-header">Agenda</h3>
    <% for(var i = 0; i < 3; i++) { %>
      <span class="event-agenda-timestamp">Oct 05, 2018 - 8:45am - 9:30am</span>
      <span class="event-agenda-icon"></span>
      <p class="event-agenda-info">
        Street art dreamcatcher cronut typewriter tumblr selfies. Kogi single-origin coffee raw denim,
        retro crucifix 90s tacos polaroid marfa wolf. Whatever disrupt normcore actually af. Roof party
        organic vape raclette biodiesel try-hard art party keffiyeh.
      </p>
    <% } %>
  </div>
</div>