<p class="lp-legal-p">
  <span class="lp-legal-header">Legal Mumbo Jumbo</span>
  Nisi in magna, flank picanha eiusmod lorem jowl swine frankfurter do. T-bone meatloaf
  chuck prosciutto biltong. Eu jowl pariatur id, ut pork belly aliquip ipsum shoulder swine est.
  Nisi in magna, flank picanha eiusmod lorem jowl swine frankfurter do. T-bone meatloaf
  chuck prosciutto biltong. Eu jowl pariatur id, ut pork belly aliquip ipsum shoulder swine est.
</p>