// Classes for brand refresh.
.rsHomepage-announcementRiver {
  background: $purple;
  color: $white;
}

.rsHomepage-announcementRiverContainer {
  @include make-container;
}

.rsHomepage-announcementRiverRow {
  @include make-row;
}

.rsHomepage-announcementRiverTitle {
  @include make-sm-column(3);
}

.rsHomepage-announcementRiverTitleHeader {
  color: $white;
  font-size: 2.25rem;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  margin: 1.3rem 0;
}

.rsHomepage-announcementRiverDetails {
  @include make-sm-column(9);
  line-height: 1.3em;
  margin: 1.4rem 0;
}

.rsHomepage-announcementRiverDetails-p {
  line-height: 1.2em;
}

.rsHomepage-announcementRiverReadMore {
  color: $white;

  &:hover,
  &:focus {
    color: $white;
  }
}

// Legacy announcement styles.
.announcement-wrapper {
  background-color: $white;
  border-bottom: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
  border-top: 1px solid $gray-light;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px 0;
}

.announcement-icon {
  @include make-md-column(1);
  @include flex-box;
  font-size: 4rem;

  .fa {
    color: $gray-base;
  }
}

.announcement-link {
  @include standard-link;
  color: $gray-dark;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $rackspace-red;
    text-decoration: none;
  }
}

.announcement-linkText {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.announcement-link-hover {

  &:hover {
    background-color: $gray-lightest;
    color: $gray-dark;
  }
}

.announcement-message {
  @include make-md-column(10);
  padding: 12px 15px;
}

//Alert announcements
.announcement-alert {
  border-left: 8px solid $brand-danger;
}

//General announcements
.announcement-general {
  border-left: 8px solid $brand-warning;
}

//New Product announcements
.announcement-newProduct {
  border-left: 8px solid $brand-info;
}

//Promotion announcements
.announcement-promotion {
  border-left: 8px solid $brand-success;
}

@media only screen and (max-width: $screen-xs-max) {
  .announcement-icon,
  .announcement-message {
    width: $full-width;
  }

  .announcement-head {
    text-align: center;
  }

  .announcement-linkText {
    text-align: center;
  }
}
