<!-- Announcements -->
<div class="container">
  <h3>Standard Announcement</h3>
  <div class="row">
    <%- partial('_partials/announcement.ejs', {
      'header': 'Announcement Header',
      'body': 'This the announcement body. You can add additional words here.'
    }) %>
  </div>
</div>
