<% if(!title) { var title = "Dedicated Hosting"; } %>
<% if(!desc) { var desc = "3,000+ hosting engineers across Linux, Windows, and VMWare"; } %>

<div class="rsHomepage-platformItem">
  <h4 class="rsHomepage-platformTitle"><%- title %></h4>
  <p class="rsHomepage-platformDesc"><%- desc %></p>
  <a class="rsHomepage-platformLink" href="#"><%- title %></a>
</div>
