<div class="backtotop-wrapper">
  <div class="row">
    <div class="backtotop-linkwrapper">
      <a href="#" class="backtotop-link">Back to Top<i class="fa-arrow-circle-up backtotop-icon"></i></a>
    </div>
  </div>
</div>


