<!--[basement]-->
<div class="bg-dark-gray">
  <div class="basement-container">
    <div class="row">
      <div class="col-sm-3">
        <div class="region-select">
          <span class="uppercase white basement-region-select">Change your region:</span>
          <a class="basement-flag-link" data-toggle="modal" id="region" data-target="#regionSelect">
            <div class="basement-flag-icon basement-flag-uk"></div>
          </a>
        </div>
      </div>
      <div class="col-sm-3 col-sm-push-6">
        <p class="uppercase copyright basement-copyright">&reg; 2016 Rackspace US, Inc.</p>
        <div id="teconsent" style="display:none;"></div>
      </div>
    </div>
  </div>
</div>
<!--[/basement]-->
