<!--[basement]-->
<div class="container-fluid bg-dark-gray">
  <div class="container basement hidden-xs hidden-sm">
    <div class="row">
      <div class="col-md-3">
        <div class="region-select">
          <span class="uppercase white">Change your region:</span>
          <a href="#regionSelect" id="region" class="country fancybox">
            <div class="flag unitedstates"></div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-md-push-3">
        <p class="blue-gray uppercase">© 2016 Rackspace US, Inc.</p>
        <div id="teconsent" style="display:none;"></div>
      </div>
    </div>
  </div>
</div>
<!--[/basement]-->


