<!--[basement]-->
<div class="bg-dark-gray">
  <div class="basement">
    <div class="basement-row">
      <div class="basement-regionSelect">
        <span class="basement-regionSelect-text">Change your region:</span>
        <a class="basement-flag-link" data-toggle="modal" id="region" data-target="#regionSelect">
          <div class="basement-flag-icon basement-flag-uk"></div>
        </a>
      </div>
      <div class="basement-copyright">
        <p class="copyright basement-copyright-text">&reg; 2016 Rackspace US, Inc.</p>
        <div id="teconsent" style="display:none;"></div>
      </div>
    </div>
  </div>
</div>
<!--[/basement]-->
