<!--[basement]-->
<div class="container-fluid bg-dark-gray">
  <div class="container basement">
    <div class="row">
      <div class="col-sm-3">
        <div class="region-select">
          <span class="uppercase white basement-region-select">Change your region:</span>
          <a class="country" data-toggle="modal" id="region" data-target="#regionSelect">
            <div class="flag unitedstates"></div>
          </a>
        </div>
      </div>
      <div class="col-sm-3 col-sm-push-6">
        <p class="uppercase copyright basement-copyright">&reg; 2016 Rackspace US, Inc.</p>
        <div id="teconsent" style="display:none;"></div>
      </div>
    </div>
  </div>
</div>
<!--[/basement]-->
<!-- Region Select Modal -->
  <div class="modal fade" id="regionSelect" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <button type="button" class="close modal-no-header" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <div class="row"><div class="col-sm-3 regionSelect-americas"><h3>Americas</h3><ul><li class="country unitedstates"><a href="http://local.rackspace.com:7080"><strong>United States</strong> / English</a></li><li class="country unitedstates"><a href="http://local.rackspace.com:7080/es-us"><strong>United States</strong> / Spanish</a></li><li class="country argentina"><a href="http://local.rackspace.com:7080/es-ar"><strong>Argentina</strong> / Spanish</a></li><li class="country brazil"><a href="http://local.rackspace.com:7080/pt-br"><strong>Brazil</strong> / Portuguese</a></li><li class="country chile"><a href="http://local.rackspace.com:7080/es-cl"><strong>Chile</strong> / Spanish</a></li><li class="country colombia"><a href="http://local.rackspace.com:7080/es-co"><strong>Colombia</strong> / Spanish</a></li><li class="country mexico"><a href="http://local.rackspace.com:7080/es-mx"><strong>Mexico</strong> / Spanish</a></li><li class="country peru"><a href="http://local.rackspace.com:7080/es-pe"><strong>Peru</strong> / Spanish</a></li><li class="country venezuela"><a href="http://local.rackspace.com:7080/es-ve"><strong>Venezuela</strong> / Spanish</a></li></ul></div><div class="col-sm-3 regionSelect-europe"><h3>Europe</h3><ul><li class="country unitedkingdom"><a href="http://www.rackspace.co.uk"><strong>United Kingdom</strong> / English</a></li><li class="country netherlands"><a href="http://www.rackspace.nl"><strong>Netherlands</strong> / Dutch</a></li><li class="country germany"><a href="/de"><strong>Germany</strong> / German</a></li><li class="country switzerland"><a href="/de"><strong>Switzerland</strong> / German</a></li><li class="country austria"><a href="/de"><strong>Austria</strong> / German</a></li></ul></div><div class="col-sm-3 regionSelect-asia-pacific"><h3>Asia Pacific</h3><ul><li class="country australia"><a href="http://local.rackspace.com:7080/en-au"><strong>Australia</strong> / English</a></li><li class="country hongkong"><a href="http://local.rackspace.com:7080/en-hk"><strong>Hong Kong</strong> / English</a></li><li class="country india"><a href="http://local.rackspace.com:7080/en-in"><strong>India</strong> / English</a></li><li class="country philippines"><a href="http://local.rackspace.com:7080/en-ph"><strong>Philippines</strong> / English</a></li><li class="country singapore"><a href="http://local.rackspace.com:7080/en-sg"><strong>Singapore</strong> / English</a></li><li class="country china"><a href="/cn"><strong>China</strong> / Chinese</a></li></ul></div></div>
        </div>
      </div>
    </div>
  </div>



