<div class="ceiling">
    <div class="container">
        <nav class="navbar-left">
            <ul class="menu-inline" role="menu">
                <li>
                    <label><a href="javascript:" role="menuitem">Support:</a></label>
                    <a href="tel:+18000000000" role="menuitem" title="Support Phone Number">1-800-000-0000</a>
                </li>
                <li>
                    <label><a href="javascript:" role="menuitem">Sales:</a></label>
                    <a href="tel:+18000000000" role="menuitem" title="Sales Phone Number">1-800-000-0000</a>
                </li>
                <li>
                    <label><a href="#email" role="menuitem" title="Email Us">Email Us</a></label>
                </li>
                <li>
                    <label><a href="#chat" role="menuitem" title="Sales Chat">Sales Chat</a></label>
                </li>
            </ul>
        </nav>
        <nav class="navbar-right">
            <ul class="menu-inline" role="menu">
                <li>
                    <a href="/developers" role="menuitem" title="Developers">Developers</a>
                </li>
                <li class="no-border">
                    <a href="/partners" role="menuitem" title="Partners">Partners</a>
                </li>
                <li class="dropdown">
                    <a href="javascript:" class="dropdown-toggle btn dropdown-green" data-toggle="dropdown" role="button" aria-expanded="false">Sign up</a>
                    <ul class="dropdown-menu dropdown-green" role="menu">
                        <li><a href="#" role="menuitem">Rackspace Cloud</a></li>
                        <li><a href="#" role="menuitem">Cloud Sites</a></li>
                        <li><a href="#" role="menuitem">Cloud Office</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Log In</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" role="menuitem">Rackspace Cloud</a></li>
                        <li><a href="#" role="menuitem">Cloud Sites</a></li>
                        <li><a href="#" role="menuitem">Cloud Office</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>