<div class="navbar-fixed-top">
  <div class="ceilingLp">
    <div class="container ceilingLp-container">
      <nav class="ceilingLp-brand">
        <a href="javascript:" class="ceilingLp-brand-logo"><span class="sr-only">Rackspace the #1 managed cloud company</span></a>
      </nav>
      <nav class="ceilingLp-phone">
        <ul class="ceilingLp-menuInline" role="menu">
          <li class="ceilingLp-menuInline-item">
            <a href="javascript:" class="ceilingLp-menuInline-link" role="menuitem">Sales:</a>
            <a href="tel:+18000000000" class="ceilingLp-menuInline-link" role="menuitem" title="Sales Phone Number">1-800-000-0000</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
