<!--[footernav]-->
<div class="bg-dark-gray">
  <div class="container basement">
    <div class="row">
      <div class="col-sm-5 col-xs-6">
        <ul class="basement-iconList">
          <li class="basement-iconListItem">
            <a href="https://www.facebook.com/rackspace" target="_blank">
              <span class="fa-stack">
                <i class="fa-square fa-stack-1x basement-iconBg"></i>
                <i class="fa fa-2x fa-facebook-official fa-stack-2x"></i>
              </span>
            </a>
          </li>
          <li class="basement-iconListItem">
            <a href="https://twitter.com/Rackspace" target="_blank">
              <span class="fa-stack">
                <i class="fa-square fa-stack-1x basement-iconBg"></i>
                <i class="fa fa-2x fa-twitter-square fa-stack-2x"></i>
              </span>
            </a>
          </li>
          <li class="basement-iconListItem">
            <a href="https://www.youtube.com/rackspace" target="_blank">
              <span class="fa-stack">
                <i class="fa-square fa-stack-1x basement-iconBg"></i>
                <i class="fa fa-2x fa-youtube-square fa-stack-2x"></i>
              </span>
            </a>
          </li>
          <li class="basement-iconListItem">
            <a href="https://plus.google.com/+Rackspace" target="_blank">
              <span class="fa-stack">
                <i class="fa-square fa-stack-1x basement-iconBg"></i>
                <i class="fa fa-2x fa-google-plus-square fa-stack-2x"></i>
              </span>
            </a>
          </li>
          <li class="basement-iconListItem">
            <a href="https://www.linkedin.com/company/rackspace-hosting/" target="_blank">
              <span class="fa-stack">
                <i class="fa-square fa-stack-1x basement-iconBg"></i>
                <i class="fa fa-2x fa-linkedin-square fa-stack-2x"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 col-sm-push-4 col-xs-6">
        <p class="uppercase copyright basementLp-copyright">&reg; 2016 Rackspace US, Inc.</p>
      </div>
    </div>
  </div>
</div>

<!--[/footernav]-->
