<!--[rug]-->
<div class="rug">
  <div class="rug-wrapper">
    <div class="rug-headerWrapper">
      <h4 class="rug-head">Not Sure Where to Start?</h4>
      <p class="rug-subhead">Choose your preferred contact method</p>
    </div>
    <div class="rug-contactOption">
      <div class="row">
        <div class="rug-iconWrapper">
          <i class="fa fa-phone fa-2x rug-icon rug-iconPhone"></i>
        </div>
        <div class="rug-link rug-link-hover">
          Call Us
        </div>
      </div>
    </div>
    <div class="rug-contactOption">
      <a href="#chat">
        <div class="row">
          <div class="rug-iconWrapper">
            <i class="fa fa-comments fa-2x rug-icon"></i>
          </div>
          <div class="rug-link rug-link-hover">
            Sales Chat
          </div>
        </div>
      </a>
    </div>
    <div class="rug-contactOption">
      <a href="/information/contactus#form">
        <div class="row">
          <div class="rug-iconWrapper">
            <i class="fa fa-envelope-o fa-2x rug-icon"></i>
          </div>
          <div class="rug-link rug-link-hover">
            Email Us
          </div>
        </div>
      </a>
    </div>
    <div class="rug-headerWrapper rug-headerWrapperBorder">
      <h4 class="rug-head">Existing Customers</h4>
      <p class="rug-subhead"><a href="/login" class="rug-subheadLink" alt="Login to your account">Login to your account</a> for more support</p>
    </div>
  </div>
</div>
<!--[/rug]-->
