<!--[rug]-->
<div class="container-fluid bg-blue-gray half-padding hidden-xs hidden-sm">
<div class="container rug">
  <div class="row">
    <div class="col-sm-3">
      <h5 class="no-margin white">We've got your back</h5>
      <h4 class="no-margin rug-subhead white">24<small>x</small>7<small>x</small>365</h4>
    </div>
    <div class="col-sm-3">
      <div class="row">
        <div class="col-md-3 col-lg-2">
          <i class="fa fa-mobile fa-4x white"></i>
        </div>
        <div class="col-md-9 col-lg-10 no-padding rug-phone-numbers">
          <span class="sales-phone"><a class="rug-link rug-link-hover" href="tel:1-844-858-5963">1-844-858-5963</a> Sales</span><br/>
          <span><a class="link-mdn rug-link rug-link-hover" href="tel:+18009614454">1-800-961-4454</a> Support</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <a href="#chat">
        <div class="row">
          <div class="col-md-4 col-lg-3">
            <i class="fa fa-comments fa-3x white"></i>
          </div>
          <div class="col-md-8 col-lg-9 no-padding rug-contact-link">
            <span class="rug-link rug-link-hover">Live Sales Chat</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="/information/contactus#form">
        <div class="row">
          <div class="col-md-4 col-lg-3">
            <i class="fa fa-envelope-o fa-3x white"></i>
          </div>
          <div class="col-md-8 col-lg-9 no-padding rug-contact-link">
            <span class="rug-link rug-link-hover">Email Us</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
<!--[/rug]-->
