<!--[rug]-->
<div class="container rug">
  <div class="row">
    <div class="col-sm-3">
      <div class="col-sm-3">
        <h5>We've got your back</h5>
        <h4 class="text34">24x7x365</h4>
    </div>
    </div>
  </div>
</div>
<!--[/rug]-->
