<!--[rug]-->
<div class="container-fluid bg-blue-gray half-padding">
<div class="container rug hidden-xs hidden-sm">
  <div class="row">
    <div class="col-sm-3">
      <h5 class="no-margin">We've got your back</h5>
      <h4 class="rugSubhead no-margin">24<small>x</small>7<small>x</small>365</h4>
    </div>
    <div class="col-sm-3">
      <div class="row">
        <div class="col-lg-2 col-md-3">
          <i class="fa fa-mobile fa-4x"></i>
        </div>
        <div class="col-lg-10 col-md-9 no-padding" style="margin-top:6px;">
          <span class="sales-phone clickable"><a href="tel:1-844-858-5963">1-844-858-5963</a> Sales</span><br/>
          <span><a class="link-mdn" href="tel:+18009614454">1-800-961-4454</a> Support</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <a href="#chat">
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <i class="fa fa-comments fa-3x"></i>
          </div>
          <div class="col-lg-9 col-md-8 no-padding contactLink">
            <span>Live Sales Chat</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="/information/contactus#form">
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <i class="fa fa-envelope-o fa-3x"></i>
          </div>
          <div class="col-lg-9 col-md-8 no-padding contactLink">
            <span>Email Us</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
<!--[/rug]-->

