<!--[rug]-->
<div class="hidden-xs hidden-sm rug">
  <div class="container rug-container">
    <div class="col-md-3">
      <h5 class="rug-head">We've got your back</h5>
      <h4 class="rug-subhead">24<small>x</small>7<small>x</small>365</h4>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-3 col-lg-2">
          <i class="fa fa-mobile fa-4x rug-icon"></i>
        </div>
        <div class="col-md-9 col-lg-10 rug-phone-text">
          <a class="rug-link rug-link-hover" href="tel:+18448585963">1-844-858-5963</a> Sales<br/>
          <a class="rug-link rug-link-hover" href="tel:+18009614454">1-800-961-4454</a> Support
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <a href="#chat">
        <div class="row">
          <div class="col-md-4 col-lg-3">
            <i class="fa fa-comments fa-3x rug-icon"></i>
          </div>
          <div class="col-md-8 col-lg-9 rug-link rug-link-hover rug-chat-text">
            Live Sales Chat
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="/information/contactus#form">
        <div class="row">
          <div class="col-md-4 col-lg-3">
            <i class="fa fa-envelope-o fa-3x rug-icon"></i>
          </div>
          <div class="col-md-8 col-lg-9 rug-link rug-link-hover rug-email-text">
            Email Us
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!--[/rug]-->