<section class="ticker">
  <a href="https://www.rackspace.com/cloud/lp/openstack-expertise">
    <section class="ticker-container">
      <div class="ticker-row">
        <div class="ticker-label" id="ticker-label">
          <span class="ticker-span-bg">Nearing 1 billion <br> managed server hours</span>
        </div>
        <div class="ticker-countdown-column">
          <div class="ticker-countdown" id="ticker-countdown">998,897,493</div>
        </div>
        <div class="ticker-image">
        </div>
      </div>
    </section>
  </a>
</section>
