.container.standard-padding
  .row.half-padding-full
    .col-md-12
      h4.red Welcome to Global Ecomm's
      h2.no-margin Derek Theme

  .row.half-padding-full
    .col-md-12
      p All of our building blocks and their usage guidelines are below.

  .row
    .col-md-4
      h5 Pattern Library (What these look like on a page together)
      a(href="derek/solutions/solutions")
        img.img-thumbnail(src="imgs/derek/examples/solutions.png")
    .col-md-4
      h5 Pattern Usage Guidelines (The Nitty Gritty)
      a(href="derek/solutions/solutions-usage")
        img.img-thumbnail(src="imgs/derek/examples/solutions.png")
    .col-md-4
      h5 Subpanels Library
      a(href="derek/solutions/subpanels")
        img.img-thumbnail(src="imgs/derek/examples/subpanels.png")

