.rsBlog-title {
  font-style: italic;
  font-weight: 200;
  text-decoration: none;
}

.rsBlog-author-name {
  color: $rackspace-red;
  font-weight: 600;
}

.rsBlog-cta-sectionBackground {
  position: relative;
  z-index: 9;
}

.rsBlog-cta-section {
  background-color: $gray;
  display: block;
  margin: 0 auto;
  max-width: 970px;
  position: relative;
  transition-duration: .2s;

  &:hover {
    box-shadow: 0 0 16px -1px transparentize($black, .8);
    text-decoration: none;
  }
}

.rsBlog-cta-sectionContent {
  bottom: 0;
  display: block;
  left: 0;
  padding: 2.5vw;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.rsBlog-cta-title {
  color: $white;
  display: block;
  font-size: 4.7vw;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.1em;
  margin: 1vw 0 3vw;
}

.rsBlog-cta-button {
  background: $rackspace-red;
  bottom: 4vw;
  color: $white;
  font-size: 2.6vw;
  font-weight: 600;
  padding: 1.4vw 3.5vw;
  position: absolute;
}

@media only screen and (min-width: $screen-sm-min) {
  .rsBlog-cta-sectionContent {
    padding: 20px;
  }

  .rsBlog-cta-title {
    font-size: 2.2em;
    margin: 10px 0 25px;
  }

  .rsBlog-cta-button {
    bottom: 2.2em;
    font-size: 1.25em;
    padding: 11px 30px;
  }
}

@media only screen and (min-width: $screen-md-min) {
  .rsBlog-cta-title {
    font-size: 2.6em;
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .rsBlog-cta-title {
    font-size: 2.7em;
  }
}
