// nav
$blog-link-black: #00001e;
$blog-link-hover: #f9f9f9;

@mixin center-items {
  align-items: center;
  display: flex;
  justify-content: center;
}

.rsBlog-nav-fixed {
  position: fixed;
}

.rsBlog-nav-container {
  @include clearfix;
  background-color: $white;
  border-bottom: 2px solid $blog-link-black;
  top: 0;
  width: 100%;
  z-index: 275;
}

.rsBlog-nav {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
  @include xl-container;
  -ms-grid-columns: 180px 1fr 181px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 180px 1fr 181px;
  margin: 0 auto;
}

.rsBlog-nav-logo {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 1;
  align-items: center;
  display: flex;
  float: left;
  justify-content: flex-start;
  padding: 8px 25px;
}

.rsBlog-nav-img {
  min-width: 90px;
  width: 100%;
}

.rsBlog-nav-rsLogo {
  // sass-lint:disable-block no-vendor-prefixes
  @include center-items;
  -ms-grid-column: 3;
  border-left: 2px solid $blog-link-black;
  float: left;
  padding: 8px 25px;
}

.rsBlog-nav-solveLogoContainer {
  font-weight: 500;
  width: 100%;
}

.rsBlog-nav-logoContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.rsBlog-nav-redText {
  color: $rackspace-red;
}

.rsBlog-nav-rackspaceSvg {
  width: 100px;
}

.rsBlog-nav-rackspace {
  fill: $black;
  width: 100%;
}

.rsBlog-nav-solveSvg {
  width: 125px;
}


@media screen and (max-width: $screen-sm-min - 1) {

  .rsBlog-nav-solveSvg {
    width: 85px;
  }
}

.rsBlog-nav-links {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 2;
  align-items: center;
  display: flex;
  float: left;
  padding: 8px 25px;
}

.rsBlog-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rsBlog-nav-subList {
  background-color: $white;
  border: 1px solid $blog-link-black;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 33px;
  width: 200px;
  z-index: 10;
}

.rsBlog-nav-subList-show {
  display: block;
}

.rsBlog-nav-subItem {
  border-bottom: 1px solid transparentize($black, .9);

  &:last-child {
    border-bottom: 0;
  }
}

.rsBlog-nav-subLink {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 15px;
  width: 100%;

  &:hover {
    background-color: transparentize($black, .95);
    text-decoration: none;
  }
}

.rsBlog-nav-item {
  display: inline-block;
  position: relative;
  text-align: left;

  &:hover {
    .rsBlog-nav-link {
      background-color: $blog-link-hover;
      border-top: 1px solid $blog-link-black;
    }
  }
}

.rsBlog-nav-link {
  border-top: 1px solid transparent;
  color: $blog-link-black;
  display: inline-block;
  font-family: $copy;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 100%;
  padding: 10px;
  transition-duration: .2s;
  z-index: 3;

  &:hover {
    text-decoration: none;
  }
}

.rsBlog-nav-ddLink {

  &::after {
    content: '\f107';
    display: inline-block;
    font-family: 'rswebfonts';
    margin-left: 10px;
    transition-duration: .2s;
  }
}

.rsBlog-nav-hamburger {
  align-items: center;
  display: none;
  float: left;
  justify-content: flex-end;
  padding: 8px 25px;
}

.rsBlog-nav-hamburgerBtn {
  background-color: transparent;
  border: 0;
  font-size: 18px;

  &::before {
    content: '\f0c9';
    display: inline-block;
    font-family: 'rswebfonts';
  }
}

.rsBlog-nav-hamburgerOpen {
  &::before {
    content: '\e803';
  }
}

.rsBlog-nav-logoWrapper {
  display: none;
}

// when nav is contained
.rsBlog-nav-contained {

  &.rsBlog-nav-container {
    border-bottom: 0;
  }

  .rsBlog-nav {
    // sass-lint:disable-block no-vendor-prefixes
    @include the-ms-special(4);
    border-bottom: 2px solid $blog-link-black;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    width: 100%;
  }

  .rsBlog-nav-logo {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    padding: 0 25px;
  }

  .rsBlog-nav-links {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1 / 2 / 2 / 4;
  }

  .rsBlog-nav-ddLink {

    &::after {
      float: right;
    }
  }

  .rsBlog-nav-hamburger {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    display: flex;
    grid-area: 1 / 4 / 2 / 5;
  }

  .rsBlog-nav-list {
    display: none;
  }

  .rsBlog-nav-rsLogo {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    background-color: $black;
    border-left: 0;
    display: none;
    grid-area: 2 / 1 / 3 / 5;
    height: 60px;
  }

  &.rsBlog-nav-logoWrapper {
    // sass-lint:disable-block no-vendor-prefixes
    @include the-ms-special(4);
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .rsBlog-nav-rsLogo {
      display: flex;
    }
  }

  &.rsBlog-nav-logoWrapperSingleLogo {
    // sass-lint:disable-block no-vendor-prefixes
    @include the-ms-special(2);
    grid-template-columns: repeat(2, 1fr);
  }

  .rsBlog-nav-rackspace {
    fill: $white;
  }

  .rsBlog-nav-solveSvg {
    min-width: 70px;
  }

}

// this is for the cloned nav list for mobile view
.rsBlog-nav-list-contained {
  border-bottom: 1px solid $blog-link-black;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  .rsBlog-nav-item {
    border-bottom: 1px solid transparentize($black, .9);
    width: 100%;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      .rsBlog-nav-link {
        border-top: 1px solid transparent;
      }
    }
  }

  .rsBlog-nav-link {
    padding: 15px 20px;
    width: 100%;

    &:focus {
      text-decoration: none;
    }
  }

  .rsBlog-nav-mobileOpen {
    &::after {
      transform: rotate(180deg);
    }
  }

  .rsBlog-nav-subLink {
    background-color: transparentize($black, .95);
    padding: 15px 40px;
  }

  .rsBlog-nav-subList {
    border: 0;
    border-bottom: 1px solid $blog-link-black;
    border-top: 1px solid $blog-link-black;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
  }
}


.rsBlog-overview-row {
  padding: 2rem 0;
}

.rsBlog-featured-container {
  margin-bottom: 75px;
}

.rsBlog-article-wrapper {
  @include make-md-column(4);
  @include make-sm-column(6);
  margin: 10px 0;
  padding: 0;
  position: relative;
  transition: .3s ease-in-out;
  width: 100%;
}

.rsBlog-article-wrapperBox {
  background: $white;
  box-shadow: 0 1px 1px 1px $black-shadow-dark;

  &:hover {
    box-shadow: 0 15px 25px -9px $black-shadow-darkest;
    transition: .3s ease-in-out;
  }
}

.rsBlog-article {
  height: 100%;
}

.rsBlog-article-innerLink {
  @include flex-box;
  flex-flow: column nowrap;
  height: 100%;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.rsBlog-article-top {
  background: $gray-darkest no-repeat center center;
  background-size: cover;
  display: grid;
  grid-template-rows: .25fr auto .25fr;
  height: 175px;
  overflow: hidden;
  position: relative;

  &::before {
    background-color: $black;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.rsBlog-article-topSpace {
  flex: 0 0 auto;
}

.rsBlog-article-titleTopWrap {
  flex: 1 0 auto;
  margin: 10px 20px;
  mask-image: linear-gradient(to top, transparent 0%, $black 15%);
  max-height: 150px;
  overflow: hidden;
  z-index: 1;
}

.rsBlog-article-titleTop {
  color: $white;
  font-size: 3.5vw;
  font-weight: 600;
  letter-spacing: .01vw;
  line-height: 3.85vw;
  margin: 0 0 10px;
}

.rsBlog-article-date {
  color: $white;
  font-size: .9em;
  font-weight: 300;
  margin: 10px 20px;
  z-index: 1;
}

.rsBlog-article-bottom {
  @include flex-box;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  margin-bottom: 50px;
  padding: 0 20px;
}

.rsBlog-article-linkWrap {
  bottom: 5px;
  position: absolute;
}

.rsBlog-article-link {
  @include standard-link;
  font-family: $heading;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.rsBlog-article-linkCaret {
  @include standard-link;
  text-decoration: none;
}

.rsBlog-rule {
  border-top: solid $red-shadow .5px;
  height: 1px;
  margin: 10px 0;
  width: 100%;
}

.rsBlog-descWrap {
  flex: 1 0 auto;
  flex-direction: column;
}

.rsBlog-desc {
  color: $gray-base;
  font-size: .75em;
  line-height: 1.6em;
}

.rsBlog-readmore {
  text-decoration: none;

  &::after {
    content: '\f105';
    display: inline-block;
    font-family: 'rswebfonts';
    margin-left: 5px;
  }
}

.rsBlog-title {
  font-style: italic;
  font-weight: 200;
  text-decoration: none;
}

.rsBlog-author-name {
  color: $rackspace-red;
  font-weight: 600;
}

.rsBlog-cta-sectionBackground {
  position: relative;
  z-index: 9;
}

.rsBlog-cta-section {
  background-color: $gray;
  display: block;
  margin: 1em auto;
  max-width: 970px;
  position: relative;
  transition-duration: .2s;

  &:hover {
    box-shadow: 0 0 16px -1px transparentize($black, .8);
    text-decoration: none;
  }
}

.rsBlog-cta-sectionContent {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 2.5vw;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.rsBlog-cta-title {
  color: $white;
  display: block;
  font-size: 4.7vw;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.1em;
  margin: 1vw 0 3vw;
}

.rsBlog-cta-button {
  background: $rackspace-red;
  bottom: 4vw;
  color: $white;
  font-size: 2.6vw;
  font-weight: 500;
  padding: 1.4vw 3.5vw;
  width: fit-content;
}

@media only screen and (min-width: $screen-sm-min) {
  .rsBlog-article-wrapper {
    margin: 10px;
  }

  .rsBlog-article-titleTop {
    font-size: 1.6vw;
    line-height: 1.65vw;
  }

  .rsBlog-cta-sectionContent {
    padding: 20px;
  }

  .rsBlog-cta-title {
    font-size: 2.2em;
    margin: 10px 0 15px;
  }

  .rsBlog-cta-button {
    bottom: 2.2em;
    font-size: 1.25em;
    padding: 11px 30px;
  }
}

@media only screen and (min-width: $screen-md-min) {
  .rsBlog-cta-title {
    font-size: 2.6em;
  }
}

@media only screen and (min-width: $screen-md-max) {

  .rsBlog-article-wrapper {
    margin: 20px;
  }

  .rsBlog-article-titleTop {
    font-size: 1.3vw;
    line-height: 1.85vw;
  }

}

@media only screen and (min-width: $screen-lg-min) {
  .rsBlog-cta-title {
    font-size: 2.7em;
  }
}
