<div class="rsWebinarTopic-row">
  <div class="rsWebinarTopic-item-info-col">
    <img class="rsWebinarTopic-item-img" src="../../../../imgs/derek/doge-small.png">
    <p class="rsWebinarTopic-item-headline"><%= headline %></p>
    <span class="rsWebinarTopic-item-date"><%= dateinfo %></span>
  </div>
  <div class="rsWebinarTopic-item-desc-col">
    <p class="rsWebinarTopic-item-desc"><%= description %></p>
    <span class="rsWebinarTopic-item-link"><a href="#" class=""><%= linktext %></a></span>
  </div>
</div>
