.challenges-wrapper {
  margin: 50px 0;
}

.challenges-header,
.challenges-subhead {
  margin: 0;
  margin-bottom: 25px;
  margin-left: 20.83333%;
  padding-left: 25px;
}

.challenges-itemWrapper {
  @include make-xs-column(6);

  margin-bottom: 30px;
  padding: 0;

  :nth-child(odd) {
    .challenges-item {
      float: right;
    }
  }
}

.challenges-learnMore {
  color: $rackspace-red;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
}

.challenges-item {
  @include make-xs-column(10);
  @include make-md-column(8);
  height: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  transition-duration: .2s;

  &:hover {
    box-shadow: 0 10px 50px -9px $black-shadow-darkest;

    .challenges-itemRackShape {
      transform: scale(1.1);
    }
  }
}

.challenges-descriptionRow {

  .challenges-item {

    &:hover {
      box-shadow: none;
    }
  }
}

.challenges-icon {
  @include make-xs-column(3);
  @include make-lg-column(2.5);

  padding: 0;
}

.challenges-itemRackShape {
  height: auto;
  transition-duration: .2s;
  width: 100%;
}

.challenges-description {
  @include make-xs-column(9);
  @include make-lg-column(8);
  height: 100%;
}

.challenges-description-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.challenges-descriptionTitle {
  margin-top: 0;
}

@media screen and (max-width: $screen-md-max) {
  .challenges-header,
  .challenges-subhead {
    margin-left: 25%;
  }
}

@media screen and (max-width: $screen-xs-max) {
  .challenges-description {
    padding-right: 0;
  }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {
  .challenges-descriptionRow {
    .challenges-item {
      padding: 0;
    }
  }

  .challenges-item {
    padding-left: 0;
  }
}


@media only screen and (max-width: 500px) {

  .challenges-descriptionRow {
    .challenges-item {
      margin-bottom: 10px;
    }
  }

  .challenges-itemWrapper {
    width: 100%;
  }

  .challenges-item {
    width: 100%;
  }

  .challenges-header,
  .challenges-subhead {
    padding-left: 25px;
  }

  .challenges-header {
    margin-bottom: 0;
  }

}
