.ias-container {
  @include make-container;
  padding: $standard-padding;
}

.ias-row {
  @include make-row;
}

.ias-col-full {
  @include make-md-column(12);
  @include flex-box;
}

.ias-col-half {
  @include make-sm-column(6);
  @include flex-box;
}

.ias-col-third {
  @include make-xs-column(12);
  @include make-sm-column(4);
  @include flex-box;
}

.ias-col5-push {
  @include make-sm-column-push(2);
}

.ias-col5 {
  @include make-sm-column(4);
  @include flex-box;
}

.ias-title {
  text-align: center;
}

.iasWidget {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 0;
  text-align: center;
  text-decoration: none;
  width: $full-width;

  .rsweb {
    font-size: 7rem;
  }

  a {
    @include standard-link;
  }
}

.iasWidget-bottom {
  float: left;
  width: 100%;
}

.iasWidget-col-full {
  @include make-md-column(12);
  height: 100%;
}

.iasWidget-cta {
  color: $rackspace-red;
  font-weight: $font-weight-black;
  position: relative;
  text-align: center;
  top: -30px;
}

.iasWidget-header {
  font-size: 1.375em;
  text-align: center;
}

.iasWidget-hover {
  &:hover {
    background-color: $gray-lighter;
    text-decoration: none;
  }
}

.iasWidget-img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 25%;
}

.iasWidget-row {
  @include make-row;
  height: 100%;
}

@media only screen and (min-width: $screen-sm-min) {
  .ias-row {
    @include flex-box;
  }
}
