<!-- IAS: 33/34/33 -->
<div class="container half-padding">
  <div class="row row-eq-height">
    <div class="col-sm-4 panel-flex">
      <%- partial('_partials/ias.ejs') %>
    </div>
    <div class="col-sm-4 panel-flex">
      <%- partial('_partials/ias.ejs') %>
    </div>
    <div class="col-sm-4 panel-flex">
      <%- partial('_partials/ias-no-hover.ejs') %>
    </div>
  </div>
</div>
