.awards {
  margin: 0 20px 40px;
}

.awards-title {
  color: $rackspace-red;
  font-family: $heading;
  font-size: 3.75rem;
  font-weight: $font-weight-regular;
  line-height: 3rem;
  margin: 0;
  padding: 0;
}

.awards-subhead {
  font-size: 1.75rem;
  line-height: 2.2rem;
  margin: 0;
  padding: 0;
}

.awards-subtext {
  font-size: 1rem;
}

@media screen and (max-width: $screen-sm-max) {
  .awards {
    width: 100%;
  }
}
