<div class="navbar-fixed-top">
    <%- partial("../../global-components/ceiling/ceiling-nonFixed.ejs") %>
</div>
<div class="body-region" style="padding-top:120px;">
    <div class="block-region-body">
        <div class="half-padding-full">
            <div class="container">
                <div role="article" class="lead-wrapper">
                <div class="lead-wrapper">
                    <div class="lead-headerWrapper">
                        <h1 class="lead-header">Login to Your Rackspace Account</h1>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div>
                <div class="container half-padding">
                <div class="row row-eq-height">
                    <div class="col-sm-4 panel-flex">
                        <div class="panel-flex block-region-left">
                            <div class="panel-flex subpanel">
                            <div class="subpanelWell subpanelWell-light-gray river-light panel-flex" role="article">
                                <div>
                                    <h3 class="centered">Rackspace Customer Portal</h3>
                                    <p class="centered">For all Rackspace Customers</p>
                                    <p class="centered"><a href="https://login.rackspace.com" class="track-loginOnePortal button leaving">Login</a></p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 panel-flex">
                        <div class="panel-flex block-region-middle">
                            <div class="panel-flex subpanel">
                            <div class="subpanelWell subpanelWell-light-gray river-light panel-flex" role="article">
                                <div>
                                    <h3 class="centered">Rackspace Webmail Login</h3>
                                    <p class="centered">Access Rackspace Email Online</p>
                                    <p class="centered"><a href="https://apps.rackspace.com/index.php" class="track-loginApps button leaving">Login</a></p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 panel-flex">
                        <div class="panel-flex block-region-right">
                            <div class="panel-flex subpanel">
                            <div class="subpanelWell subpanelWell-light-gray river-light panel-flex" role="article">
                                <div>
                                    <h3 class="centered">Cloud Office Control Panel</h3>
                                    <p class="centered">Manage your email accounts</p>
                                    <p class="centered"><a href="https://cp.rackspace.com/" class="track-loginCloudOffice button leaving">Login</a></p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="half-padding-full">
            <div class="container">
                <div role="article">
                    <h3>Where do I login?</h3>
                    <p>If you are a dedicated hosting, AWS, Google Cloud, or Rackspace Cloud customer, we have&nbsp;consolidated those logins into the Rackspace Customer Portal login.</p>
                    <p>Rackspace Email customers will continue to use the Webmail and Cloud Office Control Panel login links for their needs.</p>
                </div>
            </div>
        </div>
        <div class="half-padding-full">
            <div class="container">
                <div role="article">
                    <h2>Rackspace Partner Login</h2>
                    <p>Are you a Rackspace Partner? <a href="https://rackspace.force.com/partners" class="extLink" target="_blank">Login here</a>.</p>
                    <h2>Legacy Datapipe Logins</h2>
                    <p>For legacy Datapipe customers, please find your login portals below.</p>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div>
                <div class="container half-padding">
                <div class="row row-eq-height">
                    <div class="col-sm-4 panel-flex">
                        <div class="block-region-left-top">
                            <div role="article">
                                <h3>Datapipe Cloud Customer Portal</h3>
                                <p><a class="extLink" href="https://cloud.datapipe.com" target="_blank">Login</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 panel-flex">
                        <div class="block-region-middle-top">
                            <div role="article">
                                <h3>Datapipe One (Service Now)</h3>
                                <p><a class="extLink" href="https://one.datapipe.com" target="_blank">Login</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 panel-flex">
                        <div class="block-region-right-top">
                            <div role="article">
                                <h3>Adapt Customer Portal</h3>
                                <p><a class="extLink" href="https://adaptprod.service-now.com/do-more-portal/" target="_blank">Login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-eq-height">
                    <div class="col-sm-4 panel-flex panel-flexPush-2">
                        <div class="block-region-left-bottom">
                            <div role="article">
                                <h3>GoGrid</h3>
                                <p><a class="extLink" href="https://my.gogrid.com" target="_blank">GoGrid Portal &amp; Ticket Support</a><br><a class="extLink" href="https://my.servepath.com" target="_blank">Servepath Portal</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 panel-flex panel-flexPull-2">
                        <div class="block-region-right-bottom">
                            <div role="article">
                                <h3>Layered Tech</h3>
                                <p><a class="extLink" href="https://my.layeredtech.com" target="_blank">Cloud Director Portal</a><br><a class="extLink" href="https://portal.layeredtech.com" target="_blank">Client Portal</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="half-padding-full">
            <div class="container">
                <div role="article">
                    <p class="center">Not sure where to login? <a href="support">Contact support</a> and we can help.</p>
                </div>
            </div>
        </div>
    </div>
</div>