<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<%
if(!desc) { var desc = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium."; }
if(!type) { var type = 'general'; }
var icons = {
  'alert' : 'fa-exclamation-circle',
  'general' : 'fa-bullhorn',
  'newProduct' : 'fa-server',
  'promotion' : 'fa-money'
};
%>
<div class="announcement-wrapper announcement-<%- type %> fade in row-eq-height">
  <div class="announcement-icon flex-center-all"><i class="fa <%- icons[type] %>" aria-hidden="true"></i></div>
  <div class="announcement-message">
    <%- desc %>
  </div>
</div>

