<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<%
if(!desc) { var desc = "Lorem ipsum dolor sit amet, cum cras lectus consectetuer dictum. Suscipit porta, enim id metus dicta ultrices, id orci urna, adipiscing lectus mattis. Tristique nibh et, consectetuer faucibus cras nec mollis vehicula etiam, sit eu luctus facilisi tincidunt a."; }
if(!type) { var type = 'general'; }
var icons = {
  'alert' : 'fa-exclamation-circle',
  'general' : 'fa-bullhorn',
  'newProduct' : 'fa-server',
  'promotion' : 'fa-money'
};
%>
<div class="announcement-wrapper announcement-<%- type %> fade in row-eq-height">
  <div class="announcement-icon flex-center-all"><i class="fa <%- icons[type] %>" aria-hidden="true"></i></div>
  <div class="announcement-message">
    <%- desc %>
  </div>
</div>

