<!-- Blog Feed Pattern -->

<a href="javascript:void(0)" class="blogFeed-item">
  <div class="blogFeed-row">
    <div class="blogFeed-imageContainer">
      <img class="blogFeed-image" src="../imgs/derek/blogFeed-example.jpg" />
    </div>
  </div>
  <div class="blogFeed-row">
    <div class="blogFeed-textContainer">
      <p class="blogFeed-date">May 09, 2016</p>
      <h3 class="blogFeed-title">Example Title</h3>
      <div class="blogFeed-linkContainer">
        <hr class="blogFeed-hr">
        <p class="blogFeed-more">Read More</p>
      </div>
    </div>
  </div>
</a>
