<!-- Blog Feed Pattern -->

<div class="blogFeed-item">
  <div class="blogFeed-row">
    <div class="blogFeed-imageContainer">
      <img class="blogFeed-image" src="../imgs/derek/blogFeed-example.jpg" />
    </div>
  </div>
  <div class="blogFeed-row">
    <div class="blogFeed-textContainer">
      <p class="blogFeed-date">May 09, 2016</p>
      <h4 class="blogFeed-title">Example Title</h4>
      <div class="blogFeed-excerptContainer">
        <p class="blogFeed-excerpt"><%- desc %></p>
      </div>
      <p class="blogFeed-author">Author Name</p>
      <div class="blogFeed-linkContainer">
        <hr class="blogFeed-hr">
        <a href="javascript:void(0)" class="blogFeed-link">Read More <i class="fa fa-arrow-circle-right blogFeed-linkIcon"></i></a>
      </div>
    </div>
  </div>
</div>
