<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!desc) { var desc = "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."; } %>
<!-- Business Resources Pattern -->

<a class="businessResource-widget businessResource-widget-hover" href="javascript:void(0)">
  <h6>Example</h6>
  <h3>Business Resource</h3>
  <p><%- desc %></p>
</a>
