<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!desc) { var desc = "Non-links will not have hover state. commodo ligula eget dolor. Aenean massa. Cum sociis natoque"; } %>
<!-- Infrastructure and Services Pattern -->

<div class="iasWidget">
  <img class="iasWidget-img" src="https://placeholdit.imgix.net/~text?txtsize=30&txt=%5Bplaceholder%5D&w=200&h=150">
  <div class="iasWidget-row">
    <div class="iasWidget-col-full">
      <h3 class="iasWidget-header">Name with only 50 characters</h3>
      <p class="iasWidget-body"><%- desc %></p>
    </div>
  </div>
</div>
