// Resource Type
@mixin resourcecenter-type($class, $color, $content, $image) {
  #{$class} {

    @if $class != '.resourcecenter-video' {

      &.resourcecenter-fullWrapper {
        display: flex;
        flex-direction: row;
      }

    }

    .resourcecenter-visualWrapper {
      @if $image != '' {
        background-image: url('../imgs/derek/resourceCenter/#{$image}');
      }
      @else {
        background-image: none;
      }

      @if $class == '.resourcecenter-video' {
        height: auto;
        margin-bottom: 0;
        margin-top: 40px;
        width: auto;
      }
    }

    &.resourcecenter-dividerWrapper {
      .resourcecenter-divider {
        &::after {
          content: $content;
        }
      }
    }
  }
}

.resourcecenter-divider-gated {
  &::after {
    display: block;
  }
}

.resourcecenter-background {
  background-color: $gray-lightest;
}

.resourcecenter-fullWrapper {

  .panel-flex {
    width: auto;
  }
}

.resourcecenter-visualWrapper {
  align-self: flex-end;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -20px;
  height: 380px;
  position: relative;
  width: 346px;
}

.resourcecenter-imageWrapper {
  height: 100%;
  padding: 42px 18px 0 43px;
  width: 100%;
}

.resourcecenter-image {
  height: 100%;
  width: 100%;
}

.resourcecenter-infoWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.resourcecenter-descFull {
  font-size: 1.2em;
  line-height: 1.85em;
}

.resourcecenter-descGated {
  position: relative;

  &::after {
    @include text-fade(rgba(239, 239, 239, 1));
    bottom: 0;
    content: '';
    height: 150px;
    position: absolute;
    width: 100%;
  }
}

.gc-arrow {
  display: none;
}

.resourcecenter-downloadFull {
  margin-top: 60px;
}

.resourcecenter-button {
  @include button;
  @include button-download;

  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
  }
}

.resourcecenter-dividerWrapper {
  background-color: $havas-blue-gray;
  width: 100%;

  .resourcecenter-divider {
    display: flex;
    flex-direction: row;
    font-size: 3em;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 10px 25px;

    &::after {
      color: fade-out($white, .7);
    }
  }
}

.resourcecenter-allResourceLink {
  padding-top: $half-padding-top;
}

@include resourcecenter-type('.resourcecenter-pdf', $rackspace-red, '\e8c5', 'pdf-template-graphic.png');
@include resourcecenter-type('.resourcecenter-code', $purple, '\e808', 'code-template-graphic.png');
@include resourcecenter-type('.resourcecenter-docs', $teal, '\e847', 'support-template-graphic.png');
@include resourcecenter-type('.resourcecenter-webinar', $dark-purple, '\e8c6', 'webinar-template-graphic.png');
@include resourcecenter-type('.resourcecenter-stories', $blue, '\e993', '');
@include resourcecenter-type('.resourcecenter-video', $blue-gray, '\e8c8', '');


//Featured Resource//
.resourcecenter-featuredResourceWrapper {
  @include background-gradient;
  border-bottom: 2px solid $gray-lighter;
  border-top: 2px solid $gray-lighter;
  padding: 2rem 0 0;
}

.resourcecenter-featuredResourceContainer {
  @include make-container;
}

.resourcecenter-featuredGraphicWrapper {
  display: none;
}

.resourcecenter-featuredTextWrapper {
  @include make-md-column(9);
  padding-bottom: 2rem;
}

.resourcecenter-featuredTextTitle {
  color: $white;
}

.resourcecenter-featuredTextDesc {
  color: $white;
}

.resourcecenter-featuredTextLink {
  color: $white;
  font-weight: 500;

  &:hover {
    color: $white;
    cursor: pointer;
  }
}

.resourcecenter-resourceRow {
  padding: 2rem 0;
}

.resourcecenter-social {
  align-self: flex-end;
  padding-top: $half-padding-top;
}

@media screen and (min-width: $screen-md-min) {
  .resourcecenter-divider-gated {
    height: 68px;

    &::after {
      display: none;
    }
  }

  .resourcecenter-featuredGraphicWrapper {
    @include make-md-column(3);
    background-image: url('../imgs/derek/resourceCenter/pdf-template-graphic.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 83.5%;
    display: block;
    height: 280px;
    margin-top: -90px;
  }

  .resourcecenter-featuredGraphicWrapperCode {
    background-image: url('../imgs/derek/resourceCenter/code-template-graphic.png');
  }

  .resourcecenter-featuredGraphicWrapperDocs {
    background-image: url('../imgs/derek/resourceCenter/support-template-graphic.png');
  }

  .resourcecenter-featuredGraphicWrapperWebinar {
    background-image: url('../imgs/derek/resourceCenter/webinar-template-graphic.png');
  }

  .resourcecenter-featuredGraphic {
    margin-left: 20px;
    margin-top: 76px;
    width: 87%;
  }

  .resourcecenter-imageWrapper {
    padding: 55px 17px 0 41px;
  }

  .gc-arrow {
    display: block;
    left: -60px;
    position: absolute;
    top: 0;
    width: 8rem;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .resourcecenter-featuredGraphic {
    margin-left: 34px;
    margin-top: 14px;
    width: 81.5%;
  }

  .resourcecenter-imageWrapper {
    padding: 22px 19px 0 45px;
  }
}
