// Resource Type
@mixin resourcecenter-type($class, $color, $content, $image) {
  #{$class} {
    .resourcecenter-visualWrapper {
      background-image: url('http://034d24a88b3e71fd72a6-f083e9a6295a3f0714fa019ffdca65c3.r47.cf1.rackcdn.com/resource-center/#{$image}');
    }

    &.resourcecenter-dividerWrapper {
      background-color: $color;

      .resourcecenter-divider {
        &::after {
          color: lighten($color, 10%);
          content: $content;
        }
      }
    }
  }
}

.resourcecenter-visualWrapper {
  background-repeat: no-repeat;
  height: 380px;
  position: relative;
  top: 20px;
  width: 346px;
}

.resourcecenter-infoWrapper {
  padding-top: 40px;
}

.resourcecenter-descFull {
  font-size: 1.2em;
}

.resourcecenter-downloadFull {
  margin-top: 60px;
}

.resourcecenter-button {
  @include button;
  @include button-download;
}

.resourcecenter-dividerWrapper {
  margin-bottom: 100px;
  width: 100%;

  .resourcecenter-divider {
    display: flex;
    flex-direction: row;
    font-size: 3em;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 10px 25px;
  }
}

.resourcecenter-allResourceLink {
  margin-bottom: 80px;
}

@include resourcecenter-type('.resourcecenter-pdf', $brand-primary, '\f1c1', 'pdf-template-graphic.png');
@include resourcecenter-type('.resourcecenter-code', $purple, '\f300', 'code-template-graphic.png');
@include resourcecenter-type('.resourcecenter-docs', $teal-dark, '\e808', 'suppoerDocs-template-graphic.png');
