@import '../_themes/global/scss/vendor_prefixes';
@import '../_themes/global/scss/swatch';

.mainContainer {
  padding: 40px 0;
  transition: margin-left .5s;
}

.navZoolander-container {
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: .5s;
  width: 0;
  z-index: 1;
}

.navZoolander-list,
.navZoolander-dropdown {
  list-style-type: none;
  padding: 10px;
}

.navZoolander-item {
  color: $white;
  padding: 10px;
}

.navZoolander-link,
.navZoolander-dropdownLink {
  color: $white;
  text-decoration: none;
  transition: .3s;
}

.closebtn {
  margin-left: 50px;
  position: absolute;
  right: 25px;
  top: 0;
}

.openbtn {
  background-color: $gray-dark;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}

.zoolanderTooltip {
  @include border-radius(50%);

  background: $gray-lighter;
  border: 1px solid $gray-light;
  cursor: pointer;
  font-size: .9rem;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  z-index: 1000;

  &:hover {
    background: $gray-light;
  }

  &::before {
    content: '?';
  }
}
