$white: #fff;
$light-gray-white: #efefef;
$dark-gray: #333;
$medium-gray: #666;
$bg-blue-gray: #2e3238;

.mainContainer {
  padding-left: 260px;
  transition: .5s;
  width: 100%;
}

.mainContainer-collapsed {
  padding-left: 0;
}

.navZoolander-container {
  background-color: $bg-blue-gray;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: .5s;
  width: 250px;
  z-index: 9999;
}

.navZoolander-slideBtn {
  background-color: $bg-blue-gray;
  border: 0;
  color: $light-gray-white;
  left: 250px;
  padding: 8px 15px;
  position: fixed;
  transition: .5s;
  z-index: 9999;

  &::after {
    content: '\f053';
    font-family: 'FontAwesome';
  }

  &:focus {
    outline: 0;
  }
}

.navZoolander-container-collapsed {
  margin-left: -250px;
}

.navZoolander-slideBtn-collapsed {
  left: 0;

  &::after {
    content: '\f054';
    font-family: 'FontAwesome';
  }
}

.navZoolander-list,
.navZoolander-dropdown {
  list-style-type: none;
  padding: 0;
}

.navZoolander-item {
  color: $white;
  padding: 0;
}

.navZoolander-link,
.navZoolander-dropdownLink {
  color: $white;
  display: block;
  text-decoration: none;
  transition: .3s;
  width: 100%;

  &:hover,
  &:focus {
    background-color: $bg-blue-gray;
    color: $light-gray-white;
    text-decoration: none;
  }
}

.navZoolander-link {
  padding: 12px 15px;
}

.navZoolander-dropdownLink {
  background-color: lighten($bg-blue-gray, 8%);
  padding: 12px 35px;
}

.navZoolander-hasDropdown {

  &::after {
    content: '\f0da';
    font-family: FontAwesome;
    margin-left: 10px;
  }
}

.navZoolander-dropdown {
  display: none;
}

.hasDropDown-active {

  &::after {
    content: '\f0d7';
    transition-duration: .5s;
  }
}
