.announcement-wrapper {
  background-color: $white;
  border-bottom: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
  border-top: 1px solid $gray-light;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px 0;
}

.announcement-icon {
  @include make-md-column(2);
  @include flex-box;
  font-size: 5rem;

  .fa {
    color: $gray-base;
  }
}

.announcement-link {
  line-height: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $blue-gray;
    text-decoration: none;
  }
}

.announcement-linkText {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.announcement-link-hover {

  &:hover {
    background-color: $gray-lightest;
    color: $blue-gray;
  }
}

.announcement-message {
  @include make-md-column(10);
  padding: 12px 15px;
}

//Alert announcements
.announcement-alert {
  border-left: 8px solid $brand-danger;
}

//General announcements
.announcement-general {
  border-left: 8px solid $brand-warning;
}

//New Product announcements
.announcement-newProduct {
  border-left: 8px solid $brand-secondary;
}

//Promotion announcements
.announcement-promotion {
  border-left: 8px solid $brand-success;
}

@media only screen and (max-width: $screen-xs-max) {
  .announcement-icon,
  .announcement-message {
    width: $full-width;
  }

  .announcement-head {
    text-align: center;
  }

  .announcement-linkText {
    text-align: center;
  }
}
