@mixin blogFeed-textElements {
  color: $gray-light;
  font-size: .9em;
  font-weight: $font-weight-bold;
  line-height: 1.5em;
}

.blogFeed-date,
.blogFeed-excerpt,
.blogFeed-author,
.blogFeed-link,
.blogFeed-linkIcon {
  @include blogFeed-textElements;
}

.blogFeed-item {
  background-color: $white;
  margin: 15px 5px;
  padding-bottom: 64px;
  position: relative;
  width: 100%;
}

.blogFeed-imageContainer {
  padding: 0;
}

.blogFeed-image {
  @include sepia-filter;
}

.blogFeed-textContainer {
  padding: 0 15px;
}

.blogFeed-date {
  padding-top: 15px;
}

.blogFeed-title {
  color: $gray-darker;
}

.blogFeed-author {
  font-size: .7em;
}

.blogFeed-hr {
  margin-bottom: 5px;
}

.blogFeed-link {
  @include center-block;
  padding: 5px 0 15px;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: $gray-light;
  }
}

.blogFeed-linkContainer {
  bottom: 0;
  left: 15px;
  position: absolute;
  right: 15px;
}

@media only screen and (max-width: $screen-xs-max) {

  .blogFeed-imageContainer {
    display: none;
  }
}
