.lead-row {
  @include make-row;
}

.lead-container {
  @include make-md-column(10);
  @include make-md-column-push(1);
  text-align: center;
}

.lead-title {
  text-align: center;
}

.lead-text {
  text-align: center;
}

//to support legacy
.lead {
  text-align: center;
}

