.panel-pane {
  width: 100%;
}

.panel-flex {
  @include flex-box;
  justify-content: center;
  width: 100%;
}

.panel-flexVertical {
  @include flex-vertical;
}

.subpanel {
  margin-bottom: 1em;

  .lead,
  .lead-title  {
    text-align: left;
  }

  // Announcements in subpanels should mimic mobile mode.
  .announcement-icon,
  .announcement-message {
    width: $full-width;
  }

  .announcement-head,
  .announcement-linkText {
    text-align: center;
  }

  .announcement-wrapper {
    display: block;
  }
}

.subpanelWell {
  padding: $half-padding;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    margin-top: 0;
  }
}

.subpanelWell-steel-blue {
  background-color: $blue-steel;
}

.subpanelWell-blue-gray {
  background-color: $blue-gray;
}

.subpanelWell-red {
  background-color: $brand-primary;
}

.subpanelWell-dark-gray {
  background-color: $gray-darkest;
}

.subpanelWell-light-gray {
  background-color: $gray-lightest;
}

.subpanelWell-white {
  background-color: $white;
}

.subpanelWell-medium-teal {
  background: $brand-secondary;
}

.subpanelWell-crumpled-paper {
  background-color: $gray-light;
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/elements/bg-crumpled-paper.png');
}

// Custom offset classes for panel-flex boxes.
@media (min-width: $screen-sm-min) {
  .panel-flexPush-2 {
    margin-left: 16.7%;
  }

  .panel-flexPull-2 {
    margin-right: 16.7%;
  }
}
