.panel-pane {
  width: 100%;
}

.panel-flex {
  @include flex-box;
  justify-content: center;
  min-width: 1px;
  width: 100%;

  .lead,
  .lead-wrapper {
    text-align: left;
  }
}

.panel-flexVertical {
  @include flex-vertical;
}

.subpanel {
  margin-bottom: 1em;

  .lead,
  .lead-wrapper {
    text-align: left;
  }
}

.subpanelWell {
  padding: $half-padding;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    margin-top: 0;
  }
}

.subpanelWell-blue-gray {
  background-color: $blue-gray;
}

.subpanelWell-red {
  background-color: $brand-primary;
}

.subpanelWell-dark-gray {
  background-color: $gray-darkest;
}

.subpanelWell-light-gray {
  background-color: $gray-lightest;
}

.subpanelWell-white {
  background-color: $white;
}

// Custom offset classes for panel-flex boxes.
@media (min-width: $screen-sm-min) {
  .panel-flexPush-2 {
    margin-left: 16.7%;
  }

  .panel-flexPull-2 {
    margin-right: 16.7%;
  }
}
