// Basement Flag Mixin
@mixin basement-flag($country, $x, $y) {
  #{'.redirect-flag-' + $country},
  #{'.basement-flag-' + $country} {
    background-position: $x $y;
  }
}

// Basement Classes
.rsBasement {
  background-color: $black;
}

.basement {
  padding: 20px ($grid-gutter-width / 2) 10px;
}

.basement-container {
  @include make-container;
  padding: 10px 25px;
}

.basement-copyright,
.basementLp-copyright {
  color: $gray-base;
  text-align: right;
}

.basement-statement {
  font-size: .85em;
  text-align: center;
}

.basement-statementLink {
  color: $gray-base;

  &:hover {
    color: $gray-light;
  }

  &:active {
    color: $gray-light;
  }
}

.basement-currency,
.region-select {
  display: block;
  text-align: center;
}

.basement-currency {
  padding: 0;
}

.basement-currency-select {
  background-color: $white;
}

.basement-currency-select,
.basement-currency-text {
  font-size: 1.2rem;
}

.basement-currency-text {
  color: $white;
  text-transform: uppercase;
}

.basementLp-copyright {
  color: $gray-light;
  margin-top: 5px;
  text-align: right;
}

.redirect-flag-icon,
.basement-flag-icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 15px;
  margin: 0 0 0 5px;
  position: relative;
  top: 4px;
  width: 20px;
}

@include basement-flag(argentina, 0, -280px);

@include basement-flag(australia, 0, -40px);

@include basement-flag(austria, 0, -360px);

@include basement-flag(brazil, 0, -240px);

@include basement-flag(chile, 0, -300px);

@include basement-flag(china, 0, -400px);

@include basement-flag(colombia, 0, -220px);

@include basement-flag(germany, 0, -100px);

@include basement-flag(hk, 0, -120px);

@include basement-flag(hongkong, 0, -120px);

@include basement-flag(in, 0, -440px);

@include basement-flag(india, 0, -440px);

@include basement-flag(mexico, 0, -260px);

@include basement-flag(netherlands, 0, -140px);

@include basement-flag(peru, 0, -320px);

@include basement-flag(ph, 0, -420px);

@include basement-flag(philippines, 0, -420px);

@include basement-flag(sa, 0, -180px);

@include basement-flag(sg, 0, -460px);

@include basement-flag(singapore, 0, -460px);

@include basement-flag(switzerland, 0, -380px);

@include basement-flag(uae, 0, -200px);

@include basement-flag(uk, 0, -20px);

@include basement-flag(unitedkingdom, 0, -20px);

@include basement-flag(usa, 0, 0);

@include basement-flag(unitedstates, 0, 0);

@include basement-flag(venezuela, 0, -340px);

.basement-region-select {
  font-size: 1.2rem;
}

.basement-iconList {
  list-style: none;
  margin-left: -5px;
  padding-left: 0;
}

.basement-iconListItem {
  float: left;
  padding: 10px 5px 0;
}

.basement-iconListItemLink {
  &:hover {
    text-decoration: none;
  }
}

.fa-facebook-official,
.fa-twitter,
.fa-youtube,
.fa-linkedin,
.fa-google-plus {
  color: $gray-base;
}

@media screen and (max-width: $screen-sm-max) {
  .basement-copyright,
  .basementLp-copyright {
    text-align: center;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .basement-currency,
  .region-select {
    display: inline-block;
    text-align: left;
  }

  .region-select {
    margin-right: 15px;
  }
}
