<!--[basement]-->
<div class="bg-dark-gray">
  <div class="basement-container">
    <div class="col-sm-4">
      <div class="region-select">
        <span class="uppercase white basement-region-select">Change your region:</span>
        <a class="basement-flag-link">
          <div class="basement-flag-icon basement-flag-uk"></div>
        </a>
      </div>
      <div class="basement-currency">
        <span class="currency_text basement-currency-text">Currency:</span>
        <select class="currency_selector basement-currency-select">
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
          <option value="AUD">AUD</option>
          <option value="EUR">EUR</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <p class="uppercase copyright basement-copyright">&reg; 2016 Rackspace US, Inc.</p>
      <div id="teconsent" style="display:none;"></div>
    </div>
  </div>
</div>
<!--[/basement]-->
