<!--[basement]-->
<div class="bg-dark-gray">
  <div class="basement-container">
    <div class="col-sm-4">
      <div class="region-select">
        <span class="uppercase white basement-region-select">Change your region:</span>
        <a class="basement-flag-link" data-toggle="modal" id="region" data-target="#regionSelect">
          <div class="basement-flag-icon basement-flag-uk"></div>
        </a>
      </div>
      <div class="basement-currency">
        <span class="currency_text basement-currency-text">Currency:</span>
        <select class="currency_selector basement-currency-select">
          <option value="USD">USD</option>
          <option value="GBP">GBP</option>
          <option value="AUD">AUD</option>
          <option value="EUR">EUR</option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- this content is only for the UK basement -->
      <p class="basement-statement">
        <a class="basement-statementLink" href="https://dab35129f0361dca3159-2fe04d8054667ffada6c4002813eccf0.ssl.cf1.rackcdn.com/downloads/pdfs/legal/Rackspace-Modern-Slavery-Statement.pdf" target="_blank">
          Read our statement on slavery and human trafficking</a>.
        </p>
    </div>
    <div class="col-sm-4">
      <p class="uppercase copyright basement-copyright">&reg; 2016 Rackspace US, Inc.</p>
      <div id="teconsent" style="display:none;"></div>
    </div>
  </div>
</div>
<!--[/basement]-->

<% include ../../global-components/region-select/region-select.ejs %>
