.row.half-padding-top
  .col-md-12
    h2.red Buttons
    p Buttons should only be used within CTA patterns. They should not be placed within content. Links within content should remain regular text links

.row.half-padding-top
  .col-md-4.col-sm-6.center
    h5.center Lead Generating
    a.button.lead Get a Free Consultation
    p.center For use for a cta. To chat, sign-up or complete a form. Anything directly lead generating.

  .col-md-4.col-sm-6.center
    h5.center Learning
    a.button.learning Learn More
    p.center For use for an internally redirecting link. Learn More, Read More, Compare Prices ect. Something that doesn’t directly begin conversation or lead generation.

  .col-md-4.col-sm-6.center
    h5.center Log in
    a.button.leaving Log In
    p.center For use for any buttons that direct the user to login to their account, or to leave the website.

.row
  .col-md-12.half-padding.bg-blue-gray.center
    h5.white.center Ghost Button
    a.button.ghost View More Stories
    p.white.center For use for button in quote pattern, possibility for more in future
