extends ./_layouts/default.jade

block content
  h2 What is Incubation?
  p Elements currently in development and/or in active use but not officially supported by Zoolander.

  h3 FAQs</h3>
  ul
    li
      h4 How does a component become officially supported?
      p Via a long and complicated process which involves many people in the company. Kidding! Brand needs to approve it.
    li
      h4 Can I use components in incubation?
      p Yes! Brand doesn't have as high velocity as other teams. Just verify if the component is "Ready" or "In-Flight"
