.awards {
  margin: 20px;
}

.awards-title {
  color: $brand-primary;
  font-family: $heading;
  font-size: 3.75rem;
  font-weight: $font-weight-bold;
  line-height: 3rem;
  margin: 0;
  padding: 0;
}

.awards-subhead {
  font-size: 1.75rem;
  line-height: 2.2rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.awards-subtext {
  font-size: 1rem;
}
