.businessResource-widget {
  @include make-md-column(12);
  background-color: $white;
  border-top: 12px solid $blue-steel;
  color: $gray-darker;
  display: block;
  font-weight: $font-weight-black;
  margin-bottom: 10px;
  overflow: auto;
  padding: 20px 30px;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.businessResource-widget-hover {
  &:hover {
    background-color: $blue-steel;
    border-top: 12px solid rgba(0, 0, 0, .4);
    text-decoration: none;

    h3,
    h6,
    p {
      color: $white;
    }

    a {
      color: $white;
      text-decoration: none;
    }

    img {
      display: none;

      &.hover {
        display: inline-block;
      }
    }
  }
}

.businessResource-third {
  @include make-xs-column(12);
  @include make-md-column(4);
  @include flex-box;
}

.businessResource-half {
  @include make-sm-column(6);
  @include flex-box;
}

.resource {
  @include flex-box;
  width: 100%;
}
