.ias-container {
  @include make-container;
  padding: $standard-padding;
}

.ias-row {
  @include make-row;
}

.ias-col-full {
  @include make-md-column(12);
  @include flex-box;
}

.ias-col-half {
  @include make-sm-column(6);
  @include flex-box;
}

.ias-col-third {
  @include make-xs-column(12);
  @include make-sm-column(4);
  @include flex-box;
}

.ias-col5-push {
  @include make-sm-column-push(2);
}

.ias-col5 {
  @include make-sm-column(4);
  @include flex-box;
}

.ias-title {
  text-align: center;
}

.iasWidget {
  display: block;
  padding: 20px 10px 0;
  text-decoration: none;
  width: $full-width;
}

.iasWidget-body {
  padding-bottom: 20px;
  text-align: center;
}

.iasWidget-bottom {
  bottom: 0;
  height: 10%;
  position: absolute;
  right: 0;
  width: 100%;
}

.iasWidget-col-full {
  @include make-md-column(12);
}

.iasWidget-cta {
  color: $brand-primary;
  font-weight: $font-weight-black;
  text-align: center;
}

.iasWidget-header {
  text-align: center;
}

.iasWidget-hover {
  &:hover {
    background-color: $gray-lighter;
    text-decoration: none;
  }
}

.iasWidget-img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 25%;
}

.iasWidget-row {
  @include make-row;
}

@media only screen and (min-width: $screen-sm-min) {
  .ias-row {
    @include flex-box;
  }

  .iasWidget-img {
    width: 33.3%;
  }
}
