.keyoffers-col-half {
  @include make-sm-column(6);
  @include flex-box;
}

.keyoffers-col-third {
  @include make-xs-column(12);
  @include make-md-column(4);
  @include flex-box;
}

.keyoffers-flex {
  @include flex-box;
}

.keyoffersWidget {
  background: $white;
  display: block;
  margin-bottom: 10px;
  padding: 25px;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.keyoffersWidget-body {
  line-height: 1.7em;
  padding-bottom: 10px;
}

.keyoffersWidget-bottomText {
  bottom: 0;
  color: $brand-primary;
  float: left;
  font-weight: $font-weight-black;
  left: 25px;
  margin-bottom: 1em;
  padding-bottom: 5px;
  position: absolute;
}

.keyoffersWidget-col-full {
  @include make-md-column(12);
  padding-bottom: 20px;
}

.keyoffersWidget-header {
  color: $brand-primary;
}

.keyoffersWidget-hover {
  &:hover {
    background-color: $gray-lighter;
    text-decoration: none;
  }
}

.keyoffersWidget-icon {
  bottom: 0;
  float: right;
  font-size: .9rem;
  height: 65px;
  position: absolute;
  right: 35px;

  & .rsweb {
    color: $gray-base;
    font-family: 'rsweb';
  }
}

.keyoffersWidget-row {
  @include make-row;
}
