.cornerPocket {
  border-left: 1px solid $gray-lighter;
  margin-top: 40px;
  padding-left: 20px;
}

.cornerPocket-callout {
  color: $brand-secondary;
  margin: 0;
}

.cornerPocket-heading {
  margin: 0;
}

.cornerPocket-text {
  margin: 0;
}

.customer_stories_logos {
  img {
    max-height: 40px;
    padding: 1% 2%;
    text-align: center;
    vertical-align: middle;

    &:hover {
      background-color: rgba(0, 5, 10, .1);
      cursor: pointer;
    }
  }
}

.expertise-container {
  background-size: cover;
  padding: 60px 0;

  p {
    background-color: $brand-primary;
    color: $white;
    display: table;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: $font-weight-regular;
    letter-spacing: -.007em;
    line-height: 175%;
    margin-bottom: 5px;
    padding: 0 20px;
    text-align: left;
    text-transform: none;
    vertical-align: center;
  }
}

.list-grid {
  ul {
    padding-left: 1.3em;

    li {
      margin-left: 1em;
    }
  }
}

.techapps {
  img {
    max-height: 80px;
    max-width: 140px;
    padding: 2%;
    text-align: center;
    vertical-align: middle;
  }

  span {
    &:hover {
      background-color: rgba(0, 5, 10, .1);
      cursor: pointer;
    }
  }
}

.technologies {
  h3 {
    & + p {
      font-size: 15px;
      font-weight: $font-weight-regular;
      line-height: 150%;
      padding-top: 8px;
    }
  }
}

.valueProp {
  margin: 10px;
}

#calculator {
  h3 {
    font-size: 16px;
  }

  button {
    padding: 0;
  }

  .cart-total {
    h2 {
      line-height: 30px;
    }
  }
}
