.feature {
  @include flex-box;
  width: 100%;

  &.features-threeUp {
    display: block;
  }

  ul {
    li {
      margin-left: 1em;
    }
  }
}

.feature-bodyWrapper {
  a {
    text-decoration: underline;
  }
}

.feature-content {
  @include make-md-column(10);
  background-color: $white;
  margin: 0 15px 0 0;
  overflow: auto;
}

.feature-header {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .05em;
  line-height: 1.45em;
  margin: 13.5px 0;
}

.feature-icon {

  &.rsweb {
    color: $white;
    font-size: 5rem;
  }
}

.feature-iconWrapper {
  @include flex-box;
  @include make-md-column(2);
  align-items: center;
  background-color: $teal-dark;
  justify-content: center;
  padding: 10px;
}

@media only screen and (max-width: $screen-sm-min) {
  .feature {
    display: block;
    margin-top: 10px;
  }

  .feature-bodyWrapper {
    margin: 0;
  }
}
