.feature {
  @include flex-box;
  width: 100%;

  &.features-threeUp {
    display: block;
  }

  ul {
    li {
      margin-left: 1em;
    }
  }
}

.feature-bodyWrapper {
  a {
    text-decoration: underline;
  }
}

.feature-content {
  @include make-md-column(10);
  border-bottom: 2px solid $gray-lighter;
  margin: 0 15px 0 0;
  overflow: auto;
}

.feature-header {
  font-size: 1.75em;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.45em;
  margin: 13.5px 0;
}

.feature-icon {

  &.rsweb {
    color: $gray-darker;
    font-size: 5rem;
  }
}

.feature-iconWrapper {
  @include make-md-column(2);
  padding: 18px 10px 10px;
  text-align: center;
}

@media only screen and (max-width: $screen-sm-min) {
  .feature {
    display: block;
    margin-top: 10px;
  }

  .feature-bodyWrapper {
    margin: 0;
  }
}
