.features-wrapper {
  @include flex-box;
  width: 100%;

  &.features-threeUp {
    display: block;
  }

  ul {
    li {
      margin-left: 1em;
    }
  }

  .features-desc {
    background-color: $white;
    margin: 0 15px 0 0;
    overflow: auto;
  }

  .features-icon {
    align-items: center;
    background-color: $teal-dark;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .rsweb {
    color: $white;
    font-size: 5em;
  }
}

@media only screen and (max-width: $screen-sm-min) {
  .features-wrapper {
    display: block;
    margin-top: 10px;

    .features-desc {
      margin: 0;
    }
  }
}
