// For portfolio tabs
.portfolio-wrapper {
  .keyoffersWidget {
    background: $gray-lightest;
  }

  .keyoffersWidget-hover {
    &:hover {
      background: $gray-lighter;
    }
  }
}

.portfolio-row {
  @include make-row;
}

@media (min-width: $screen-sm-min) {
  .portfolio-row {
    @include flex-box;
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.rsTabs {
  border-bottom: 0;
  margin: 0 auto;
}

.rsTab-tab {
  border: 1px solid $gray-lighter;
  display: inline-block;
  margin-bottom: 0;
  padding: 0;

  & > .rsTab-link {
    @include border-radius(0);
    border: 0;
    border-color: transparent;
    display: block;
    margin-right: 0;
    padding: 10px 15px;

    &:focus {
      outline: 0;
    }
  }

  &.active {
    background-color: $purple;
    border: 1px solid $purple;
    border-bottom: 0;
    color: $white;
    margin-bottom: 0;
    position: relative;
    z-index: 9;

    & > .rsTab-link {
      background-color: transparent;
      border: 0;
      color: $white;

      &:hover {
        background-color: $purple;
        border: 0;
        color: $white;
      }

      &:focus {
        background-color: $purple;
        border: 0;
        color: $white;
      }
    }
  }
}

// Overrides for the tabCollapse plugin & bootstrap panel classes
.rsTabs-container {
  @include make-container;
  padding: $half-padding-top;

  .panel {
    @include border-radius(0);
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;

    & + .panel {
      margin-top: 0;
    }

    &:not(:last-child) {
      border-bottom: 0;
    }
  }

  .collapse {

    &.in {
      border-bottom: 2px solid $purple;
    }
  }

  .panel-default {

    .panel-heading {
      @include border-radius(0);
      padding: 0;
    }

    .rsTab-link {
      background-color: $purple;
      color: $white;
      display: block;
      padding: 10px 15px;
    }

    .collapsed {
      background-color: $white;
      color: $gray-darkest;
    }

    .panel-title {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.rsTabs-contentBody {
  margin-bottom: 25px;
}

.rsTabsHorizontal-contentHeader {
  text-align: center;
}

@media (min-width: $screen-sm-min) {
  // Horizontal Tabs
  .rsTabsHorizontal {
    max-width: $screen-lg-min;
  }

  .rsTabsHorizontal-content {
    border-bottom: 2px solid $purple;
    border-top: 2px solid $purple;
    margin: 0 auto 10px;
    max-width: $screen-lg-min;
    padding-bottom: 0;
  }

  .rsTabsHorizontal-tab {
    &.active {
      &::before {
        background: $purple;
        content: '';
        height: 4px;
        left: -1px;
        position: absolute;
        right: -1px;
        top: -4px;
        z-index: 9;
      }
    }
  }

  // Vertical Tabs
  .rsTabsVertical {
    padding-right: 0;
    width: 15%;
  }

  .rsTabsVertical-container {
    @include flex-box;
    padding-bottom: $grid-gutter-width / 4;
    padding-top: $grid-gutter-width / 4;
  }

  .rsTabsVertical-content {
    border-left: 2px solid $purple;
    margin-bottom: -10px;
    padding-bottom: 0;
    padding-left: 25px;
    padding-right: 0;
    width: 85%;
  }

  .rsTabsVertical-contentHeader {
    margin-top: 0;
  }

  .rsTabVertical-tab {
    border-right: 0;
    margin-left: 10px;
    padding-right: 10px;
    text-align: right;
    width: 100%;

    &:first-child {
      margin-top: 15px;
    }

    &.active {
      left: -10px;
      padding-right: 0;
    }
  }
}
