<div class="col-md-4 col-md-push-7 hidden-xs hidden-sm">
  <div class="lp-callout">
    <h4 class="lp-callout-title">Whatever Your Business Needs,<br>We’ve Got it Covered.</h4>
      <%- partial('../_partials/lp-callout-chat.ejs') %>
  </div>
</div>
