<div class="lp-callout-mobile hidden-md hidden-lg hidden-xl">
  <div class="lp-callout">
    <h4 class="lp-callout-title">Whatever Your Business Needs,<br>We’ve Got it Covered.</h4>
      <%- partial('../_partials/lp-callout-chat.ejs') %>
  </div>
</div>
