<div class="backtotop-wrapper">
  <div class="row">
    <div class="backtotop-linkwrapper">
      <a href="#" class="backtotop-link">Back to Top<i class="fa-arrow-circle-up backtotop-icon"></i></a>
    </div>
  </div>
</div>
<script src="js/global-components/back-to-top/back-to-top.js" charset="utf-8"></script>
