<!-- Announcement River -->
<div class="rsHomepage-announcementRiver">
  <div class="rsHomepage-announcementRiverContainer">
    <div class="rsHomepage-announcementRiverRow">
      <div class="rsHomepage-announcementRiverTitle">
        <h3 class="rsHomepage-announcementRiverTitleHeader"><%- header %></h3>
      </div>
      <div class="rsHomepage-announcementRiverDetails">
        <p class="rsHomepage-announcementRiverDetails-p"><%- body %></p>
        <p class="rsHomepage-announcementRiverDetails-p">
          <a class="rsHomepage-announcementRiverReadMore" href="#">Read more</a>
        </p>
      </div>
    </div>
  </div>
</div>
