<div class="container standard-padding-top">
  <div class="row flex-row">
    <div class="col-md-9 flex-all">
      <div class="subpanel">
        <div class="subpanel-inner">
          <%- partial("../lead/lead.ejs") %>
        </div>
      </div>
    </div>
    <div class="col-md-3 flex-all">
      <div class="subpanel">
        <div class="subpanel-inner">
          <%- partial("../../images/image.ejs") %>
        </div>
      </div>
    </div>
  </div>
</div>
