// For industry river

@mixin industry-count($count) {
  $actual: $count - 3;

  :first-child {
    :nth-last-of-type(-n+#{$count}),
    :nth-last-of-type(-n+#{$count}) ~ * {

      :nth-child(-n+#{$actual}) {
        border-bottom: 1px solid $white;
      }
    }
  }
}

.industries-wrapper {
  background: $dark-blue;
}

.industries-title {
  color: $white;
}

.industries-more {
  color: $white;
}

.industry-wrapper {
  border-left: 1px solid $white;
  color: $white;
  min-height: 250px;
  padding: 25px;
  position: relative;

  :nth-child(3n+3),
  :last-child {
    border-right: 1px solid $white;
  }

  //Apply styles only if there are 6 items
  @include industry-count(6);

  //Apply styles only if there are 9 items
  @include industry-count(9);

  //Apply styles only if there are 12 items
  @include industry-count(12);

  :focus {
    color: $white;
    text-decoration: none;
  }

  :hover {
    background-color: $white;
    color: $gray-darkest;
    cursor: pointer;
    text-decoration: none;

    .industry-title {
      color: $gray-darkest;
    }

    .industry-link {
      color: $rackspace-red;
    }

    &.no-hover {
      background: none;
      cursor: default;
    }

    .industries-more {
      color: $gray-darkest;
    }

    .industries-more-arrow {
      stroke: $rackspace-red;
    }
  }
}

.industry-title {
  color: $white;
  letter-spacing: 0;
  line-height: 1.2em;
  margin-top: 0;
}

.industry-link {
  bottom: 25px;
  color: $white;
  position: absolute;

  ::after {
    content: '\f105';
    font-family: 'rswebfonts';
    padding-left: 5px;
    padding-top: 1px;
    position: absolute;
  }
}

.industries-more-arrow {
  margin-top: 20px;
  stroke: $white;
  width: 40px;
}

@media screen and (max-width: $screen-sm-max) {
  .industry-wrapper {
    border-bottom: 1px solid $white;

    :nth-child(even) {
      border-left: 0;
      border-right: 1px solid $white;
    }

    :nth-child(odd) {
      border-right: 1px solid $white;
    }

    :not(.hidden-sm) {
      :last-of-type {
        border-bottom: 0;
      }

      :nth-last-of-type(2) {
        :nth-child(odd) {
          border-bottom: 0;
        }
      }
    }

    :first-child {
      :nth-last-child(-n+12) ~ * {
        :last-of-type {
          border-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .industries-title {
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .industry-wrapper {
    border-bottom: 1px solid $white;
    border-left: 0;
    display: inline-block;
    min-height: auto;
    padding: 25px;
    width: 100%;

    :nth-child(even) {
      border-right: 0;
    }

    :not(.hidden-sm) {
      :nth-last-of-type(2) {
        :nth-child(odd) {
          border-bottom: 1px solid $white;
        }
      }
    }

    :nth-child(3n+3),
    :nth-child(odd),
    :last-child {
      border-right: 0;
    }

  }

  .industry-link {
    bottom: auto;
    position: relative;
  }
}
