<div id="animation_container" class="pageBanner2020-animation">
  <canvas id="canvas" class="pageBanner2020-animation-canvas"></canvas>
  <div id="dom_overlay_container" class="pageBanner2020-animation-container">
    <div class="container">
      <div class="pageBanner-col">
        <div class="pageBanner2020-content">
          <h2 class="pageBanner-title">The Most Successful Technology Transformations Start With a Clear Vision of Tomorrow</h2>
          <h4>Solving Together<sub>&trade;</sub></h4>
          <a class="pageBanner-button button track-cta" href="/node/21600#solutions">Learn More</a>
          <a class="pageBanner2020-hm-video" data-modal-context="homepage video" data-size="modal-lg" data-toggle="modal" data-target="#rackspaceModal" data-load-modal="modal/video/21714">Watch Video</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pageBanner2020-wrapper">
  <div class="container">
    <div class="pageBanner2020-main-image"></div>
    <div class="pageBanner-col">
        <div class="pageBanner2020-content">
            <h2 class="pageBanner-title">The Most Successful Technology Transformations Start With a Clear Vision of Tomorrow</h2>
            <h4>Solving Together<sub>&trade;</sub></h4>
<a class="pageBanner-button button track-cta" href="[current-page:url:relative]#solutions">Learn More</a>
            <a class="pageBanner2020-hm-video" data-modal-context="homepage video" data-size="modal-lg" data-toggle="modal" data-target="#rackspaceModal" data-load-modal="modal/video/21714">Watch Video</a>
        </div>
    </div>
  </div>
</div>

<script src="global/plugins/create.js" charset="utf-8"></script>
<script type="text/javascript">
  var animation_manifest = [
    {src:"/imgs/derek/CachedTexturedBitmap_1.png", id:"CachedTexturedBitmap_1"},
    {src:"/imgs/derek/CachedTexturedBitmap_7.png", id:"CachedTexturedBitmap_7"},
    {src:"/imgs/derek/Rackspace_Responsive_Hero_atlas_.png", id:"Rackspace_Responsive_Hero_atlas_"}
  ];
</script>
<script src="global/homepage-animation.js" charset="utf-8"></script>
