<div class="pageBanner-wrapper js-loading">
  <div class="container">
    <div class="pageBanner-main-image"></div>

    <div class="pageBanner-col">
        <div class="pageBanner-content">
            <span class="pageBanner-title">Passionate experts, dedicated to your success.</span>
            <p class="pageBanner-text">Your trusted partner across IT infrastructure, cloud, application services and security.</p>
            <a class="pageBanner-button button">Start your journey &gt;</a>
        </div>
    </div>

    <div class="pageBanner-button-box">
        <a href="https://www.rackspace.com/your-cloud-journey" class="pageBannerWhite-button button">See what we do</a>
    </div>
  </div>
</div>
<script>
/**
 * Start CSS animations after background image is loaded.
 */
(function () {
  var timeout = null;

  /**
   * Helper function to retrieve a background image for a css class.
   */
  var getClassBackgroundImage = function(className) {
    var style = getComputedStyle(document.getElementsByClassName(className)[0]);
    var matches = style.backgroundImage.match(/\(['"]?(.*?)['"]?\)/);
    return matches && matches[1] ? matches[1] : false;
  };

  /**
   * Helper function to remove the loading class.
   */
  var removeLoadingClass = function() {
    // Prevent the double fire:
    if (timeout) {
      clearTimeout(timeout);
    }
    document.getElementsByClassName('pageBanner-wrapper')[0].classList.remove('js-loading');
  };

  /**
   * Helper function to ensure an image was loaded.
   */
  var ensureImageLoaded = function(url) {
    var img = new Image();
    img.onload = removeLoadingClass;
    img.src = url;
    if (img.complete) {
      img.onload();
    }
  };

  // If image fails to load within 3 seconds, load everything else anyway.
  timeout = setTimeout(removeLoadingClass, 3000);

  // Attempt to preload image.
  var url = getClassBackgroundImage('pageBanner-wrapper') || getClassBackgroundImage('pageBanner-main-image');
  ensureImageLoaded(url);
})();
</script>
