<div class="pageBanner-wrapper">
    <div class="pageBanner-container">
        <!-- <div class="row"> -->
        <div class="col-md-4">
            <div class="pageBanner-content">
                <span class="pageBanner-title">Passionate experts, dedicated to your success.</span>
                <p class="pageBanner-text">Your trusted partner across IT infrastructure, cloud, application services and security.</p>
                <a class="pageBanner-button button">Start your journey &gt;</a>
            </div>
        </div>
        <!-- </div> -->
        <div class="pageBanner-button-box">
            <a class="pageBannerWhite-button button">See what we do</a>
        </div>
    </div>
</div>
