// New cust story code

$screen-xl: 1440px;
$screen-xs-plus: 481px;

.rsHomepage-customerStories-banner-image {
  display: none;
}

.rsHomepage-customerStories-main-image {
  background-image: url('../imgs/derek/banners/customer-story-background.jpg');
  background-position: center;
  background-size: cover;
  display: none;
  height: 450px;
}

.rsHomepage-customerStories-box {
  background: $white;
  display: block;
  margin-bottom: 1px;
  padding: 20px 50px 150px 20px;
  text-decoration: none;
}

.rsHomepage-customerStories-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $black;
  font-family: $heading;

  .container {
    padding: 0;
    width: auto;
  }
}

.rsHomepage-customerStories-container {
  @include make-container;
}

.rsHomepage-customerStories-row {
  @include make-row;
}

.rsHomepage-customerStories-content {
  @include make-sm-column(5);
}

.rsHomepage-customerStories-image {
  margin-bottom: 20px;
  width: 30%;
}

.rsHomepage-customerStories-header {
  font-size: 4rem;
  font-weight: lighter;
  letter-spacing: 1.75px;
  line-height: 1.25;
}

.rsHomepage-customerStories-title {
  color: $black;
  font-size: 3.25rem;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 2.75rem;
  margin: 0;
  text-transform: uppercase;
}

.rsHomepage-customerStories-text {
  font-family: $copy;
  font-size: 1.25rem;
  letter-spacing: .5px;
  line-height: 1.5rem;
  word-spacing: .5px;
}

.rsHomepage-customerStories-button {
  border-radius: 3px;
  color: $rackspace-red;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  width: 250px;
}
// < 480px
@media only screen and (max-width: $screen-xs) {
  .rsHomepage-customerStories-wrapper,
  .rsHomepage-customerStories-main-image {
    background-image: url('../imgs/derek/banners/customer-story-background-480.jpg');
  }

  .rsHomepage-customerStories-main-image {
    display: block;
    height: 240px;
  }

  .rsHomepage-customerStories-bar {
    border-top: 1px solid $gray-light;
    padding-top: 10px;
  }

  .container {
    div {
      :last-child {
        .rsHomepage-customerStories-box {
          border-top: 0;
        }
      }
    }
  }

  .rsHomepage-customerStories-box {
    margin-bottom: 0;
    padding: 30px;

    :first-of-type {
      border-right: 0;
    }
  }
}

// 481 - 767px
@media only screen and (min-width: $screen-xs-plus) and (max-width: $screen-xs-max) {
  .rsHomepage-customerStories-main-image {
    display: block;
    height: 380px;
  }

  .rsHomepage-customerStories-bar {
    border-top: 1px solid $gray-light;
    padding-top: 10px;
  }

  .container {
    div {
      :last-child {
        .rsHomepage-customerStories-box {
          border-top: 0;
        }
      }
    }
  }

  .rsHomepage-customerStories-box {
    margin-bottom: 0;
    padding: 30px;

    :first-of-type {
      border-right: 0;
    }
  }

  .rsHomepage-customerStories-wrapper,
  .rsHomepage-customerStories-main-image {
    background-image: url('../imgs/derek/banners/customer-story-background-768.jpg');
  }
}

// 768px - 991px
@media only screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
  .rsHomepage-customerStories-main-image {
    display: block;
  }

  .rsHomepage-customerStories-wrapper {
    background-image: none;
    background-repeat: unset;
    background-size: 0;
  }

  .container {
    div {
      :last-child {
        .rsHomepage-customerStories-box {
          border-top: 1px solid $gray-light;
          padding-bottom: 60px;
        }
      }
    }
  }

  .rsHomepage-customerStories-box {
    margin: 0;
    padding: 30px;

    :first-of-type {
      border-right: 1px solid $gray-light;
    }
  }
}
// 768px+
@media screen and (min-width: $screen-sm) {
  .rsHomepage-customerStories-wrapper,
  .rsHomepage-customerStories-main-image {
    background-image: url('../imgs/derek/banners/customer-story-background-768.jpg');
  }
}
// 992px+
@media screen and (min-width: $screen-md) {
  .rsHomepage-customerStories-wrapper,
  .rsHomepage-customerStories-main-image {
    background-image: url('../imgs/derek/banners/customer-story-background-992.jpg');
  }
}
// 1200px+
@media screen and (min-width: $screen-lg) {
  .rsHomepage-customerStories-wrapper,
  .rsHomepage-customerStories-main-image {
    background-image: url('../imgs/derek/banners/customer-story-background-1280.jpg');
  }
}
// 1440px+
@media screen and (min-width: $screen-xl) {
  .rsHomepage-customerStories-wrapper,
  .rsHomepage-customerStories-main-image {
    background-image: url('../imgs/derek/banners/customer-story-background-1440.jpg');
  }
}

// end rsHomepage-customerStories