<!-- Customer Story River -->
<div class="rsHomepage-customerStories-wrapper">
    <div class="rsHomepage-customerStories-main-image"></div>
    <div class="row-eq-height">
        <div class="rsHomepage-customerStories-box rsHomepage-customerStories-header cs-story-box0">Helping our customers get to great</div>
        <div class="rsHomepage-customerStories-box cs-story-box1">
        <img class="rsHomepage-customerStories-image" src="/imgs/derek/logos/feeding-america-blk.png"/>
        <p class="rsHomepage-customerStories-text">Feeding America migrated over a petabyte of its data to a serverless cloud architecture, eliminating hardware maintenance and reducing capital costs.</p>
        <a class="rsHomepage-customerStories-button">Read their story &gt;</a>
        </div>
    </div>
    <div class="row-eq-height">
        <div class="rsHomepage-customerStories-box cs-story-box2">
        <div class="rsHomepage-customerStories-bar">
            <img class="rsHomepage-customerStories-image" src="/imgs/derek/logos/mckesson-blk.png"/>
            <p class="rsHomepage-customerStories-text">McKesson simplified its dated, complex workflow by migrating data to the cloud, and transformed its management abilities.</p>
            <a class="rsHomepage-customerStories-button">Read their story &gt;</a>
        </div>
        </div>
        <div class="rsHomepage-customerStories-box cs-story-box3">
        <div class="rsHomepage-customerStories-bar">
        <img class="rsHomepage-customerStories-image" src="/imgs/derek/logos/aeromexico-blk.png"/>
        <p class="rsHomepage-customerStories-text">Aeromexico created a unique digital environment through its robust infrastructure and website to support a high volume of transactions at any given time.</p>
        <a class="rsHomepage-customerStories-button">Read their story &gt;</a>
        </div>
        </div>
    </div>
</div>