<div class="rsHomepage-customerStories-wrapper">
    <div class="container">
        <div class="rsHomepage-customerStories-main-image"></div>
        <div class="row-eq-height">
          <div class="rsHomepage-customerStories-box rsHomepage-customerStories-header col-md-3 col-sm-6">Helping our customers get to great</div>
          <div class="rsHomepage-customerStories-box col-md-3 col-md-offset-6 col-sm-6">
            <img class="rsHomepage-customerStories-image" src="/imgs/derek/logos/feeding-america-blk.png"/>
            <p class="rsHomepage-customerStories-text">Feeding America migrated over a petabyte of its data to a serverless cloud architecture, eliminating hardware maintenance and reducing capital costs.</p>
            <a class="rsHomepage-customerStories-button">Read their story &gt;</a>
          </div>
        </div>
        <div class="row-eq-height">
          <div class="rsHomepage-customerStories-box col-md-3 col-md-offset-3 col-sm-6">
            <div class="rsHomepage-customerStories-bar">
              <img class="rsHomepage-customerStories-image" src="/imgs/derek/logos/mckesson-blk.png"/>
              <p class="rsHomepage-customerStories-text">McKesson simplified its dated, complex workflow by migrating data to the cloud, and transformed its management abilities.</p>
              <a class="rsHomepage-customerStories-button">Read their story &gt;</a>
            </div>
          </div>
          <div class="rsHomepage-customerStories-box col-md-3 col-md-offset-3 col-sm-6">
            <div class="rsHomepage-customerStories-bar">
            <img class="rsHomepage-customerStories-image" src="/imgs/derek/logos/aeromexico-blk.png"/>
            <p class="rsHomepage-customerStories-text">Aeromexico created a unique digital environment through its robust infrastructure and website to support a high volume of transactions at any given time.</p>
            <a class="rsHomepage-customerStories-button">Read their story &gt;</a>
            </div>
          </div>
        </div>
    </div>
</div>