.homepage-hero {
  @extend .full-width;
  height: 400px;
  top: 35px;
  margin-bottom: 40px;
  background-image: url("https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/backgrounds/homepage.jpg");
  background-position: 25% 50%;
  position: relative;
  background-size: auto;
  border-bottom: 0;
  h2 {
    padding: 10px 0 10px;
    font-size:2.5em;
    @extend .white;
    @extend .uppercase;
    @extend .left;
    background-color:transparent;
    margin:0px;
  }
}

#hosting-options{
  text-align:center;
  .product{
    p{
      margin-bottom:30px;
    }
    &:hover{
      hr{
        border-color:$mediumteal;
      }
      h3, a{
        color:$mediumteal;
      }
    }
  }
}

#quadrant{
  background-image:url("https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/quadrant.png");
  background-repeat:no-repeat;
  padding: 20px 0px;
  background-size: 40%;
  background-position: 13% bottom;
}

.border-white{
   &:hover{
     border-color:$mustard;
     i{
       color:$mustard;
     }
   }
 }