.homepage-hero {
  background-image: url("https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/backgrounds/homepage.jpg");
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: 0;
  height: 100%;
  margin-bottom: 40px;
  overflow: visible;
  position: relative;
  top: 65px;
  width: 100%;
  h2 {
    color: $white;
    font-size: 34px;
    line-height: 40px;
    padding-top: 20px;
    text-align: left;
  }
  p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    padding-bottom: 10px;
  }
}

#hosting-options {
  text-align: center;
  .product {
    p { margin-bottom: 30px; }
    &:hover{
      background-color: $light-gray;
      hr { border-color: $mediumteal; }
      h3, a { color: $mediumteal; }
    }
  }
}

#solutions {
  a { text-decoration: none; }
  .solution:hover {
    h6 { color: $mustard; }
    .border-white {
      border-color: $mustard;
      i { color: $mustard; }
    }
  }
}

#quadrant {
  background-image: url("https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/quadrant.png");
  background-position: 13% bottom;
  background-size: 40%;
  background-repeat: no-repeat;
  padding: 20px 0px;
}

.form-inline {
  button, .button {
    width: auto;
  }
}
