.imacBanner-events {
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/backgrounds/solve-bannerv2.jpg');
}

// Main Events Page.
.eventsOverview {
  @include make-container;
}

.eventsOverview-pagination {
  list-style-type: none;
  margin: 0;
  padding: 2rem 0 0;
  text-align: center;
}

.eventsOverview-pagination-item {
  display: inline-block;
  list-style-type: none;
}

.eventsOverview-pagination-itemPage {
  background: $white;
  border: 1px solid $gray-light;
  font-size: 1rem;
  padding: .5rem;
  text-decoration: none;

  &:hover {
    background: $gray-light;
    color: $gray-darkest;
    text-decoration: none;
  }
}

.eventsOverview-pagination-itemPageActive {
  font-size: 1.4rem;
}

.eventsOverview-pagination-itemPagePrev,
.eventsOverview-pagination-itemPageNext {
  @include border-radius(50%);
  background: $teal-dark;
  border: 0;
  color: $white;
  padding: 0 .5rem;

  &:hover {
    background: $gray-darkest;
    color: $white;
  }
}

.eventsOverview-row {
  @include make-row;
}

.eventsOverview-searchFilter {
  @include make-sm-column(4);
  @include make-md-column(3);
  background: $teal-dark;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.eventsOverview-searchFilter-label {
  color: $white;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.eventsOverview-searchFilter-eventTypeSelect {
  background: $white;
  display: block;
  margin: 1rem auto 0;
  max-width: 200px;
  width: $full-width;
}

.eventsOverview-searchFilter-eventTypeSubmit {
  background: $gray-base;
  border: 0;
  color: $white;
  display: block;
  font-size: 1.2rem;
  margin: 1rem auto 0;
  max-width: 200px;
  text-transform: uppercase;
  width: $full-width;

  &:hover {
    background: $gray-dark;
  }
}

.eventsOverview-searchResults {
  @include make-sm-column(8);
  @include make-md-column(9);
  margin-bottom: 3rem;
}

.eventsOverview-weekEvent {
  @include make-row;
  background: $white;
  border: 1px solid $gray-light;
  margin: 0 0 .75rem;
  text-align: center;
}

.eventsOverview-weekEvent-date {
  @include subhead($white);
  background: $teal-dark;
  padding: .5rem 1.5rem;
  text-align: center;
}

.eventsOverview-weekEvent-details {
  padding: .5rem 1.5rem 1rem;
}

.eventsOverview-weekEvent-header {
  @include make-row;
}

.eventsOverview-weekEvent-headerLocation {
  @include make-xs-column(12);
  @include make-md-column(5);
  font-size: 1.2rem;
  line-height: 4rem;
  padding: 0 3rem 0 1.5rem;
  text-transform: uppercase;
}

.eventsOverview-weekEvent-headerTitle {
  @include make-xs-column(12);
  @include make-md-column(7);
  font-size: 2rem;
  line-height: 4rem;
  padding: 0 1.5rem;
  text-transform: uppercase;
}

.eventsOverview-weekEvent-learnMore {
  @include button;
  @include button-learning;
  margin-bottom: 1rem;
  width: auto;
}

.eventsOverview-weekTitle {
  @include heading($white);
  background: $gray-base;
  font-size: 2.2rem;
  margin-bottom: .75rem;
  margin-top: 2.25rem;
  padding: 1.5rem;
  text-align: center;

  &:first-child {
    margin-top: 0;
  }
}

// Individual event page.
.event {
  @include make-container;
}

.event-backToEvents {
  color: $teal-dark;
  display: block;
  margin-bottom: 1rem;
  margin-left: $grid-gutter-width / 2;

  &::before {
    @include border-radius(50%);
    background: $teal-dark;
    border: 0;
    color: $white;
    content: '<';
    margin-right: .5rem;
    padding: 0 .5rem;
    text-decoration: none;
  }

  &:hover {
    color: $gray-darkest;

    &::before {
      background: $gray-darkest;
      color: $white;
      text-decoration: none;
    }
  }
}

.event-date {
  @include make-sm-column(2);
  margin-bottom: 1rem;
}

.event-dateBox {
  @include subhead($white);
  background: $teal-dark;
  font-size: 2.2rem;
  margin: 1rem auto;
  max-width: 100px;
  padding: 1rem 0;
  text-align: center;
}

.event-dateBox-day {
  font-size: 2em;
}

.event-details {
  @include make-sm-column(6);
}

.event-detailsTitle,
.event-info-whereTitle,
.event-info-whenTitle {
  @include subhead;
}

.event-info {
  @include make-sm-column(10);
  margin-bottom: 1rem;
}

.event-info-header {
  @include make-row;
  margin-bottom: .5rem;
  text-align: center;
  text-transform: uppercase;
}

.event-info-headerTitle {
  @include make-xs-column(12);
  @include make-md-column(9);
  font-size: 2.5rem;
  line-height: 1.5em;
  margin-bottom: .5rem;
  margin-top: 0;
  padding: $no-padding;
}

.event-info-headerType {
  @include make-xs-column(12);
  @include make-md-column(3);
  @include subhead;
  margin-bottom: .5rem;
  padding: $no-padding;
  text-align: center;
}

.event-info-whereWhen {
  @include make-row;
  border-top: 2px solid $gray-light;
  padding-top: 1rem;
}

.event-info-where {
  @include make-sm-column(5);
  margin-bottom: 1rem;
}

.event-info-when {
  @include make-sm-column(5);
  margin-bottom: 1rem;
}

.event-map {
  @include make-sm-column(6);
  margin-bottom: 2rem;
}

.event-mapCanvas {
  height: 250px;
  width: 100%;
}

.event-row {
  @include make-row;
}


// Responsive behavior.
@media (min-width: $screen-sm-min) {
  .event,
  .eventsOverview {
    padding: $half-padding;
  }

  .eventsOverview-searchFilter,
  .eventsOverview-searchResults {
    margin-bottom: 0;
  }

  .event-backToEvents {
    margin-bottom: 0;
    margin-left: 0;
  }

  .event-dateBox {
    margin: 0 0 0 (-$grid-gutter-width / 2);
  }

  .event-info-headerTitle {
    text-align: left;
  }

  .event-info-headerType {
    text-align: left;
  }

  .event-info-where {
    padding: $no-padding;
  }

  .event-info-when {
    padding-left: .6rem;
  }

  .event-map {
    padding-left: 0;
  }

  .event-mapCanvas {
    height: 400px;
  }
}

@media (min-width: $screen-md-min) {
  .event,
  .eventsOverview {
    padding: $standard-padding;
  }

  .eventsOverview-weekEvent-headerTitle {
    padding: 0 1.5rem 0 3rem;
  }

  .events-banner {
    margin-top: 58px;
  }

  .eventsOverview-weekEvent-date {
    text-align: left;
  }

  .event-info-headerTitle {
    line-height: 1em;
  }

  .event-info-headerType,
  .eventsOverview-weekEvent-headerLocation {
    text-align: right;
  }

  .eventsOverview-weekEvent {
    text-align: left;
  }

  .eventsOverview-weekEvent-learnMore {
    float: left;
    margin: 0 1.5rem 1rem;
  }

}
