.clear-container {
  @include make-sm-column(6);
  clear: both;
}

.hostingOptions-hoverArea {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.hostingOptions-productRow {
  @include flex-box;
}

.hostingOptions-product {
  @include make-xs-column(6);
  color: $gray-base;
  margin-bottom: 25px;
  text-align: center;
  text-decoration: none;

  &:hover {
    hr {
      border-color: $brand-primary;
    }

    .hostingOptions-title {
      color: $brand-primary;
    }
  }
}

.hostingOptions-logoRow {
  @include make-row;
}

.hostingOptions-logo {
  @include make-sm-column(3.5);
  @include make-sm-column-push(4.25);
  @include make-xs-column(3);
  @include make-xs-column-push(4.5);
  text-align: center;
}

.hostingOptions-logoWide {
  @include make-sm-column(7);
  @include make-sm-column-push(2.5);
  @include make-xs-column(6);
  @include make-xs-column-push(3);
}

.hostingOptions-titleRow {
  @include make-row;
}

.hostingOptions-title {
  @include make-sm-column(12);
}

.hostingOptions-hrContainer {
  @include make-xs-column(6);
  @include make-xs-column-push(3);
}

.hostingOptions-hr {
  border: 0;
  border-top: 1px solid $gray-light;
  margin: 0 0 10px;
}

.hostingOptions-textContainer {
  @include make-sm-column(12);
  clear: both;
}

.hostingOptions-text {
  margin-bottom: 35px;
  text-align: center;
}

.hostingOptions-learnMoreBottom {
  bottom: 0;
  height: 10%;
  position: absolute;
  right: 0;
  width: 100%;
}

.hostingOptions-learnMore {
  color: $brand-primary;
  font-size: 1.1rem;
  font-weight: $font-weight-black;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $brand-primary;
  }
}


//solutions

.solutions-hoverArea {
  text-decoration: none;

  &:hover {

    .border-white {
      border-color: $mustard;
    }

    h6,
    .rsweb {
      color: $mustard;
    }
  }
}


//quadrant

.quadrant {
  background-image: url('../imgs/derek/quadrant.jpg');
  background-position: 23% bottom;
  background-repeat: no-repeat;
  background-size: 35%;
  padding: 20px 0;
  padding-bottom: 0;
}

.quadrant-row {
  @include make-row;
}

.quadrant-textContainer {
  @include make-sm-column(6);
  @include make-sm-column-push(6);
}

.quadrant-title,
.quadrant-text {
  text-align: right;
}

.quadrant-buttonContainer {
  @include make-sm-column(6);
  @include make-sm-column-push(6);
  @include make-xs-column(6);
  @include make-xs-column-push(3);
  padding: $half-padding-full;
  text-align: right;
}

.logoShowcase-image {
  max-height: 40px;
  max-width: 75%;
  text-align: center;
  vertical-align: middle;
}

.logoShowcase-row {
  @include make-row;
  text-align: center;
}

.logoShowcase-logoItem {
  display: inline-block;
  padding: 1rem .75rem 0;
  text-align: center;
}


@media only screen and (max-width: $screen-sm-max) {

  .logoShowcase {
    display: none;
  }

  .quadrant {
    background-position: 0% bottom;
    background-repeat: no-repeat;
    background-size: 54%;
  }

}

@media only screen and (min-width: 1850px) {
  .quadrant {
    background-position: 30% bottom;
    background-size: 30%;
  }
}


@media only screen and (max-width: $screen-xs-max) {

  .quadrant-title,
  .quadrant-text,
  .quadrant-buttonContainer {
    text-align: center;
  }

  .quadrant {
    background-image: none;
  }

  .logoShowcase {
    display: none;
  }

  //equal height columns remove in small
  .hostingOptions-productRow {
    display: block;
  }

  .hostingOptions-product {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .hostingOptions-logoWide {
    left: 5%;
    width: 90%;
  }

  .hostingOptions-logo {
    left: 25%;
    width: 50%;
  }
}
