.rsHomepage-announcement {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rsHomepage-annRight-iconBar {
  display: none;
}

.rsHomepage-leftStripContainer {
  display: flex;
  margin-top: 0;
  width: 100%;
  z-index: 10;
}

.rsHomepage-annLeft {
  background-color: $gray-lightest;
  float: left;
  min-height: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  z-index: 2;
}

.rsHomepage-annLeftContainer {
  float: left;
  min-height: 10px;
  width: 100%;
}

.rsHomepage-annLeftBar {
  background-color: $gray-darkest;
  padding: 15px 0;
  width: 100%;
}

.rsHomepage-titleContainer {
  @include make-container;
}

.rsHomepage-annLeftBar-header {
  color: $white;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.rsHomepage-annLeftBar-subHeader {
  color: $white;
  font-size: 1em;
  margin: 0;
}

.rsHomepage-annLeft-content {
  @include make-container;
  color: $gray-dark;
  min-height: 10px;
  padding: 40px 25px 60px;
}

.rsHomepage-annLeft-p {
  font-size: 1.5rem;
  letter-spacing: .5px;
  line-height: 2.5rem;
}

.rsHomepage-annLeft-awardsRow {
  @include make-row;
  padding-top: 25px;
}

.rsHomepage-awards {
  margin: 20px 0;
}

.rsHomepage-awards-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.rsHomepage-awards-sub {
  font-family: $heading;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .075rem;
  line-height: 2rem;
  text-transform: capitalize;
}

.rsHomepage-annRight {
  display: none;
}

.refreshBanner-homepage-062018 {
  background-image: url('../imgs/rs-homepage-background-06_2018.jpg');
  height: 680px;
}

.refreshBannerCombined-newheader-062018 {
  margin-left: 50px;
  margin-top: 180px;
  width: 425px;
}

.refreshBannerCombined-ctaHeadline-062018 {
  display: block;
  font-size: 6.25rem;
}

.rsHomepage-subHeader-062018 {
  color: $white;
  font-size: 3.25rem;
  line-height: 3.25rem;
}

.rsHomepage-button-062018 {
  &.ghost {
    border-radius: 3px;
    text-transform: capitalize;
    width: 250px;

    &::after {
      content: '';
    }
  }
}

// Desktop only rules
@media (min-width: $screen-md-min) {

  .rsHomepage-announcement {
    flex-direction: row;
    margin-top: -70px;
  }

  .rsHomepage-annLeftBar-header {
    font-size: 1.7em;
  }

  .rsHomepage-leftStripContainer {
    margin-top: 60px;
    position: absolute;
    width: 50%;
  }

  .rsHomepage-annLeft  {
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
    min-height: 450px;
    width: 50%;
    z-index: 5;
  }

  .rsHomepage-annLeftContainer {
    margin-top: 140px;
  }

  .rsHomepage-annLeftBar {
    float: right;
    padding: 15px 0;
    width: 100%;
  }

  .rsHomepage-titleContainer {
    float: right;
    width: 622px;
  }

  .rsHomepage-annLeft-content {
    float: right;
    width: 622px;
  }

  .rsHomepage-annRight {
    background-image: url('../imgs/rsHomepage-right.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
    display: block;
    float: left;
    min-height: 450px;
    width: 50%;
    z-index: 2;

    &::before {
      border-left: 1px solid $gray-lightest;
      content: '';
      display: block;
      float: left;
      height: 100%;
      left: -1px;
      position: relative;
    }
  }

  .rsHomepage-annRight-iconBar {
    align-items: center;
    background-color: $rackspace-red;
    bottom: 0;
    color: $white;
    display: flex;
    justify-content: center;
    left: 100%;
    position: absolute;
    right: -120px;
    text-align: center;
    top: 0;

    &::before {
      content: '\e983';
      font-family: 'rswebfonts';
      font-size: 61px;
    }
  }

  .rsHomepage-annLeft-062018 {
    min-height: 380px;
  }

  .rsHomepage-annRight-062018 {
    background-position-x: right;
    background-position-y: bottom;
    min-height: 380px;

    &::before {
      border: 0;
    }
  }

  .rsHomepage-annLeft-p-062018 {
    font-size: 1.75rem;
  }
}

@media (max-width: $screen-md-max) and (min-width: $screen-md-min) {

  .rsHomepage-titleContainer {
    width: 500px;
  }

  .rsHomepage-annLeft-content {
    width: 500px;
  }
}


// End of new home page layout
.clear-container {
  @include make-sm-column(6);
  clear: both;
}



//quadrant

.quadrant {
  background-image: url('../imgs/derek/quadrant.jpg');
  background-position: 23% bottom;
  background-repeat: no-repeat;
  background-size: 35%;
  padding: 20px 0;
  padding-bottom: 0;
}

.quadrant-row {
  @include make-row;
}

.quadrant-textContainer {
  @include make-sm-column(6);
  @include make-sm-column-push(6);
}

.quadrant-title,
.quadrant-text {
  text-align: right;
}

.quadrant-buttonContainer {
  @include make-sm-column(6);
  @include make-sm-column-push(6);
  @include make-xs-column(6);
  @include make-xs-column-push(3);
  padding: $half-padding-full;
  text-align: right;
}

//Case Study
  
.caseStudy-wrapper {
  background-image: url('../imgs/derek/banners/caseStudy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  font-family: $heading;
  padding: 40px 0;
}

.caseStudy-container {
  @include make-container;
}

.caseStudy-row {
  @include make-row;
  padding: $half-padding-full;
}

.caseStudy-content {
  @include make-sm-column(5);
}
    
.caseStudy-image {
  margin: 20px 0;
  max-width: 175px;
}

.caseStudy-title {
  color: $white;
  font-size: 3.25rem;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 2.75rem;
  margin: 0;
  text-transform: uppercase;
}

.caseStudy-text {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.75rem;
  letter-spacing: .5px;
  line-height: 2.5rem;
}

.caseStudy-button {
  border-radius: 3px;
  text-transform: capitalize;
  width: 250px;
}

@media only screen and (max-width: $screen-md-max) {
  .refreshBanner-homepage-062018 {
    background-position: center left;
  }
}

@media only screen and (max-width: $screen-sm-max) {

  .quadrant {
    background-position: 0% bottom;
    background-repeat: no-repeat;
    background-size: 54%;
  }

}

@media only screen and (min-width: 1850px) {
  .quadrant {
    background-position: 30% bottom;
    background-size: 30%;
  }
}


@media only screen and (max-width: $screen-xs-max) {
  .refreshBanner-homepage-062018 {
    height: auto;
    padding: 20px;
  }

  .refreshBannerCombined-newheader-062018 {
    margin: auto;
    text-align: center;
    width: 90%;
  }

  .refreshBannerCombined-ctaHeadline-062018 {
    font-size: 5rem;
  }

  .rsHomepage-subHeader-062018 {
    text-align: center;
  }

  .quadrant-title,
  .quadrant-text,
  .quadrant-buttonContainer {
    text-align: center;
  }

  .quadrant {
    background-image: none;
  }

  //equal height columns remove in small
  .hostingOptions-productRow {
    display: block;
  }

  .hostingOptions-product {
    width: 100%;
  }
}

//deprecating hosting-options

@media only screen and (max-width: 600px) {
  .refreshBanner-homepage-062018 {
    background-color: $black;
    background-image: none;
  }

  .caseStudy-wrapper {
    background-color: $black;
    background-image: none;
  }

  .hostingOptions-logoWide {
    left: 5%;
    width: 90%;
  }

  .hostingOptions-logo {
    left: 25%;
    width: 50%;
  }
}


.hostingOptions-hoverArea {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.hostingOptions-productRow {
  @include flex-box;
}

.hostingOptions-product {
  @include make-xs-column(6);
  color: $gray-base;
  margin-bottom: 25px;
  text-align: center;
  text-decoration: none;

  &:hover {
    hr {
      border-color: $brand-primary;
    }

    .hostingOptions-title {
      color: $brand-primary;
    }
  }
}

.hostingOptions-logoRow {
  @include make-row;
}

.hostingOptions-logo {
  @include make-sm-column(3.5);
  @include make-sm-column-push(4.25);
  @include make-xs-column(3);
  @include make-xs-column-push(4.5);
  text-align: center;
}

.hostingOptions-logoWide {
  @include make-sm-column(7);
  @include make-sm-column-push(2.5);
  @include make-xs-column(6);
  @include make-xs-column-push(3);
}

.hostingOptions-titleRow {
  @include make-row;
}

.hostingOptions-title {
  @include make-sm-column(12);
}

.hostingOptions-hrContainer {
  @include make-xs-column(6);
  @include make-xs-column-push(3);
}

.hostingOptions-hr {
  border: 0;
  border-top: 1px solid $gray-light;
  margin: 0 0 10px;
}

.hostingOptions-textContainer {
  @include make-sm-column(12);
  clear: both;
}

.hostingOptions-text {
  margin-bottom: 35px;
  text-align: center;
}

.hostingOptions-learnMoreBottom {
  bottom: 0;
  height: 10%;
  position: absolute;
  right: 0;
  width: 100%;
}

.hostingOptions-learnMore {
  color: $brand-primary;
  font-size: 1.1rem;
  font-weight: $font-weight-black;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $brand-primary;
  }
}
