a {
  &.js-tabcollapse-panel-heading {
    text-decoration: none;
  }
}

.enterprise-collapse {
  background-color: $gray-darkest;
}

.panel-body {
  a {
    text-decoration: none;
  }
}

.panel-default>.panel-heading {
  background-color: $teal-dark;

  &.enterprise {
    background-color: $gray-darkest;
  }

  .panel-title {
    &:hover {
      text-decoration: none;
    }

    h2 {
      margin-bottom: 0;
    }

    h2,
    p {
      color: $white;
      text-align: center;
    }
  }
}

.pricing {
  background-color: $white;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  h3 {
    &.teal {
      color: $teal-dark;
    }
  }

  hr {
    &.white {
      border-top: $white solid 1px;
    }
  }

  i {
    font-size: 1.5em;
    margin-top: 15px;
    vertical-align: middle;
  }

  tr > td {
    &.col-md-2 {
      border: 1px solid $gray-lightest;
      padding: 20px 15px;
      width: 14%;

      &:first-child {
        width: 15.79%;
      }
    }
  }

  .border-right {
    border-right: solid 1px $gray-lightest;
  }

  .check {
    color: $gray-darkest;
  }

  .col-md-3 {
    background-color: transparent;
    border-right: 1px solid $gray-lightest;
    padding: 20px 15px;

    &.pricing {
      border: 0;
      padding: 0;
    }
  }

  .col-md-9 {
    padding: 20px 0;

    .row {
      border: 0;
    }
  }

  .fa-arrow-right {
    border: 2px solid $teal-dark;
    border-radius: 50%;
    font-size: 1em;
    margin-top: 0;
    padding: 7px;
  }

  .half-padding {
    border-top: 1px solid $gray-lightest;
  }

  .lead-cell {
    width: 20%;
  }

  .panel-heading {
    background-color: transparent;
    border-bottom: transparent;
    border-radius: 0;
    border-right: solid 1px $gray-lighter;
    min-height: 222px;

    &.business {
      background-color: $teal-dark;
    }

    &.enterprise {
      background-color: $gray-darkest;
    }
  }

  .price-compare {
    p {
      margin: 0 20px;
    }

    .col-md-4,
    .col-md-9 {
      padding: 0;

      &:last-child {
        border: 0;
      }
    }
  }

  .product-icons {
    text-align: center;

    li {
      display: inline-block;
      width: 30px;
    }
  }

  .row {
    border: 1px solid $gray-lightest;
  }

  .times {
    color: $gray-lighter;
  }

  .title {
    background-color: $gray-lightest;
    border: 1px solid $gray-lighter;
    padding: 20px 0;
    text-align: center;
  }

  .triangle {
    border-left: 110px solid transparent;
    border-top: 90px solid $brand-secondary;
    position: absolute;
    right: -1px;
    top: -1px;
  }

  .triangle-text {
    position: absolute;
    right: 8px;
    top: 0;

    h4 {
      color: $white;
      line-height: 1em;
      text-align: center;
    }
  }

  #business {
    .check {
      color: $teal-dark;
    }

    #enterprise {
      .check {
        color: $gray-darkest;
      }
    }
  }
}

.pricing-header-row {
  background-color: $gray-lightest;
  border-bottom: $gray-lighter;
  min-height: 225px;
}

.rocket {
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/rocketBG.png');
  background-position: center 28%;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: $screen-md) {
  .check,
  .times {
    float: right;
  }

  .pricing {
    .panel-heading {
      border-right: 0;
      min-height: 0;
      padding: 0 0 0 10px;
    }

    .row {
      border: 0;
    }
  }

  .rocket {
    background-image: none;
  }
}
