.story-container {
  @include make-container;
  padding: $standard-padding;
}

.imacBanner-stories {
  background-color: $black;
  background-image: none;
  min-height: inherit;
}

.imacBanner-storiesTextRow {
  position: relative;
}

.imacBanner-storyLogo {
  @include flex-box;
  @include flex-center;
  height: 65px;
  position: absolute;
  right: 0;
}

.imacBanner-storyLogoImage {
  max-height: 95px;
}

.story-colLeft {
  @include make-md-column(6);
}

.story-colRight {
  @include make-md-column(5);
  @include make-md-column-push(1);
}

.story-title {
  text-align: left;
}

.story-titleWrapper {
  @include make-md-column(12);
}

.story-caseStudyButton {
  @include button;
  @include button-learning;
  margin-bottom: 1rem;
  width: auto;
}

.storyOverview-searchFilter {
  @include make-sm-column(4);
  @include make-md-column(3);
  background: $teal-dark;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.storyOverview-searchFilter-label {
  color: $white;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.storyOverview-searchFilter-select {
  background: $white;
  display: block;
  margin: 1rem auto 0;
  max-width: 200px;
  width: $full-width;
}

.storyOverview-searchFilter-submit {
  background: $gray-base;
  border: 0;
  color: $white;
  display: block;
  font-size: 1.2rem;
  margin: 1rem auto 0;
  max-width: 200px;
  text-transform: uppercase;
  width: $full-width;

  &:hover {
    background: $gray-dark;
  }
}

.storyOverview-searchResults {
  @include make-sm-column(7);
  @include make-sm-column-push(1);
  @include make-md-column(8);
  @include make-md-column-push(1);
  margin-bottom: 3rem;
}


.storyOverview-item {
  @include make-sm-column(4);
  margin-bottom: 1rem;
  padding: 0 .6rem;
}

.storyOverview-itemInner {
  border: 1px solid $gray-light;
  padding: 5px;
}

.storyOverview-itemLink {
  @include flex-box;
  @include flex-center;
  background: $gray-base;
  height: 125px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $gray-dark;
    text-decoration: none;
  }
}

.storyOverview-logo {
  max-width: 50%;
}

.storyOverview-logoText {
  color: $white;
  font-size: 1.8rem;
  max-width: 80%;
}

@media (max-width: $screen-xs-max) {
  @include responsive-invisibility('.imacBanner-storyLogo');

  .story-container {
    padding: 0 $grid-gutter-width / 2;
  }

  .storyOverview-logo {
    max-width: 120px;
  }
}
