.swatch-color {
  height: 100px;
  //colors
  &.brand-secondary { background-color: $brand-secondary; }
  &.signup-green { background-color: $brand-success; }
  &.magento-orange { background-color: $orange; }
  &.purple { background-color: $purple; }
  &.teal { background-color: $teal-medium; }

  //grays
  &.gray-light { background-color: $gray-lighter; }
  &.gray-base { background-color: $gray-base; }
  &.gray-darker { background-color: $gray-darker; }
  &.darkest-gray { background-color: $gray-darkest; }

  &:hover {

    .swatch-copy-button {
      background-color: $gray-lightest;
      display: block;
      font-family: $subhead;
      opacity: .85;
      padding: 10px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 60px;
      width: 88%;
    }
  }
}

.swatch-color-lighter {
  height: 40px;
  position: absolute;
  right: 15px;
  top: 0;
  width: 40px;
  &.signup-green { background-color: lighten($brand-success, 5%); }
  &.teal { background-color: lighten($teal-medium, 5%); }
  &.brand-secondary { background-color: lighten($brand-secondary, 5%); }
}

.swatch-color-darker {
  height: 40px;
  position: absolute;
  right: 15px;
  top: 40px;
  width: 40px;
  &.teal { background-color: $teal-dark; }
}

.swatch-footer {
  background-color: $white;
  margin: 0;
  overflow: auto;
  padding: 5px;
}

.swatch-copy-button {
  display: none;
}

.swatch-copy {
  display: none;
}
