@font-face {
    font-family: 'rsweb';
    src:    url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/font/icon/rsweb.eot?ezv9m0');
    src:    url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/font/icon/rsweb.eot?ezv9m0#iefix') format('embedded-opentype'),
        url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/font/icon/rsweb.ttf?ezv9m0') format('truetype'),
        url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/font/icon/rsweb.woff?ezv9m0') format('woff'),
        url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/font/icon/rsweb.svg?ezv9m0#rsweb') format('svg');
    font-weight: normal;
    font-style: normal;
}

.auto-compute:before {
    content: "\e900";
}
.auto-maintenance:before {
    content: "\e901";
}
.auto-os-maintenance:before {
    content: "\e902";
}
.auto-patching:before {
    content: "\e903";
}
.auto-process:before {
    content: "\e904";
}
.auto-protection:before {
    content: "\e905";
}
.auto-scripts:before {
    content: "\e906";
}
.cl-autoscale:before {
    content: "\e907";
}
.cl-backup:before {
    content: "\e908";
}
.cl-big-data:before {
    content: "\e909";
}
.cl-block-storage:before {
    content: "\e90a";
}
.cl-cdn:before {
    content: "\e90b";
}
.cl-control-panel:before {
    content: "\e90c";
}
.cl-databases:before {
    content: "\e90d";
}
.cl-dns:before {
    content: "\e90e";
}
.cl-email:before {
    content: "\e90f";
}
.cl-email-archive:before {
    content: "\e910";
}
.cl-files:before {
    content: "\e911";
}
.cl-hybrid:before {
    content: "\e912";
}
.cl-images:before {
    content: "\e913";
}
.cl-load-balancers:before {
    content: "\e914";
}
.cl-monitoring:before {
    content: "\e915";
}
.cl-networks:before {
    content: "\e916";
}
.cl-office:before {
    content: "\e917";
}
.cl-orchestration:before {
    content: "\e918";
}
.cl-private-cloud:before {
    content: "\e919";
}
.cl-queues:before {
    content: "\e91a";
}
.cl-registry:before {
    content: "\e91b";
}
.cl-scale-apps:before {
    content: "\e91c";
}
.cl-security:before {
    content: "\e91d";
}
.cl-server-lg:before {
    content: "\e91e";
}
.cl-server-md:before {
    content: "\e91f";
}
.cl-server-sm:before {
    content: "\e920";
}
.cl-servers:before {
    content: "\e921";
}
.cl-sites:before {
    content: "\e922";
}
.cl-tools:before {
    content: "\e923";
}
.cont-design:before {
    content: "\e924";
}
.cont-monitoring:before {
    content: "\e925";
}
.cont-support:before {
    content: "\e926";
}
.ded-api-services:before {
    content: "\e927";
}
.ded-backup:before {
    content: "\e928";
}
.ded-big-data:before {
    content: "\e929";
}
.ded-control-panel:before {
    content: "\e92a";
}
.ded-data-replication:before {
    content: "\e92b";
}
.ded-databases:before {
    content: "\e92c";
}
.ded-email:before {
    content: "\e92d";
}
.ded-hosting:before {
    content: "\e92e";
}
.ded-load-balancers:before {
    content: "\e92f";
}
.ded-log-management:before {
    content: "\e930";
}
.ded-managed-virualization:before {
    content: "\e931";
}
.ded-monitoring:before {
    content: "\e932";
}
.ded-security:before {
    content: "\e933";
}
.ded-server-lg:before {
    content: "\e934";
}
.ded-server-md:before {
    content: "\e935";
}
.ded-server-sm:before {
    content: "\e936";
}
.ded-server-xl:before {
    content: "\e937";
}
.ded-storage:before {
    content: "\e938";
}
.ded-support:before {
    content: "\e939";
}
.gen-antivirus:before {
    content: "\e93a";
}
.gen-assistance:before {
    content: "\e93b";
}
.gen-bolt-fill:before {
    content: "\e93c";
}
.gen-bolt-gear:before {
    content: "\e93d";
}
.gen-bolt-outline:before {
    content: "\e93e";
}
.gen-building-lg:before {
    content: "\e93f";
}
.gen-building-md:before {
    content: "\e940";
}
.gen-building-sm:before {
    content: "\e941";
}
.gen-bummed:before {
    content: "\e942";
}
.gen-calculator:before {
    content: "\e943";
}
.gen-chart:before {
    content: "\e944";
}
.gen-clock:before {
    content: "\e945";
}
.gen-cloud:before {
    content: "\e946";
}
.gen-code:before {
    content: "\e947";
}
.gen-data-replication:before {
    content: "\e948";
}
.gen-desktop:before {
    content: "\e949";
}
.gen-ecommerce:before {
    content: "\e94a";
}
.gen-flame:before {
    content: "\e94b";
}
.gen-flame-shield:before {
    content: "\e94c";
}
.gen-global:before {
    content: "\e94d";
}
.gen-global-traffic:before {
    content: "\e94e";
}
.gen-growth:before {
    content: "\e94f";
}
.gen-hard-drive:before {
    content: "\e950";
}
.gen-help:before {
    content: "\e951";
}
.gen-install:before {
    content: "\e952";
}
.gen-key:before {
    content: "\e953";
}
.gen-laptop:before {
    content: "\e954";
}
.gen-license:before {
    content: "\e955";
}
.gen-lock-shield:before {
    content: "\e956";
}
.gen-locked-checked-shield:before {
    content: "\e957";
}
.gen-netowkring:before {
    content: "\e958";
}
.gen-network-connection:before {
    content: "\e959";
}
.gen-os:before {
    content: "\e95a";
}
.gen-patching-shield:before {
    content: "\e95b";
}
.gen-payment:before {
    content: "\e95c";
}
.gen-pdf:before {
    content: "\e95d";
}
.gen-performance:before {
    content: "\e95e";
}
.gen-power:before {
    content: "\e95f";
}
.gen-processor:before {
    content: "\e960";
}
.gen-ram:before {
    content: "\e961";
}
.gen-server-instance:before {
    content: "\e962";
}
.gen-server-instances:before {
    content: "\e963";
}
.gen-server-rack:before {
    content: "\e964";
}
.gen-server-room:before {
    content: "\e965";
}
.gen-servers:before {
    content: "\e966";
}
.gen-servers2:before {
    content: "\e967";
}
.gen-shield:before {
    content: "\e968";
}
.gen-ssd:before {
    content: "\e969";
}
.gen-stacks:before {
    content: "\e96a";
}
.gen-stoked:before {
    content: "\e96b";
}
.gen-stopwatch:before {
    content: "\e96c";
}
.gen-support:before {
    content: "\e96d";
}
.gen-uptime:before {
    content: "\e96e";
}
.gen-user:before {
    content: "\e96f";
}
.gen-web:before {
    content: "\e970";
}
.gen-webpage:before {
    content: "\e971";
}
.gen-workers:before {
    content: "\e972";
}
.idio-binoculars:before {
    content: "\e973";
}
.idio-brain:before {
    content: "\e974";
}
.idio-cloud-education:before {
    content: "\e975";
}
.idio-cycle:before {
    content: "\e976";
}
.idio-diamond:before {
    content: "\e977";
}
.idio-fist:before {
    content: "\e978";
}
.idio-focus:before {
    content: "\e979";
}
.idio-heart:before {
    content: "\e97a";
}
.idio-high-five:before {
    content: "\e97b";
}
.idio-people:before {
    content: "\e97c";
}
.idio-piggy:before {
    content: "\e97d";
}
.idio-piggy-money:before {
    content: "\e97e";
}
.idio-spaceship:before {
    content: "\e97f";
}
.idio-straightjacket:before {
    content: "\e980";
}
.idio-target:before {
    content: "\e981";
}
.idio-torch:before {
    content: "\e982";
}
.idio-trophy:before {
    content: "\e983";
}
.idio-winner:before {
    content: "\e984";
}
.mng-24x7:before {
    content: "\e985";
}
.mng-access:before {
    content: "\e986";
}
.mng-advisors:before {
    content: "\e987";
}
.mng-anti-virus:before {
    content: "\e988";
}
.mng-apps:before {
    content: "\e989";
}
.mng-backup:before {
    content: "\e98a";
}
.mng-cloud:before {
    content: "\e98b";
}
.mng-code-assist:before {
    content: "\e98c";
}
.mng-databases:before {
    content: "\e98d";
}
.mng-firewall:before {
    content: "\e98e";
}
.mng-generic:before {
    content: "\e98f";
}
.mng-guarantee:before {
    content: "\e990";
}
.mng-infrastructure:before {
    content: "\e991";
}
.mng-installation:before {
    content: "\e992";
}
.mng-log-manager:before {
    content: "\e993";
}
.mng-monitoring:before {
    content: "\e994";
}
.mng-os-support:before {
    content: "\e995";
}
.mng-patching:before {
    content: "\e996";
}
.mng-performance:before {
    content: "\e997";
}
.mng-power:before {
    content: "\e998";
}
.mng-rapid-deployment:before {
    content: "\e999";
}
.mng-response:before {
    content: "\e99a";
}
.mng-security:before {
    content: "\e99b";
}
.mng-security-guidance:before {
    content: "\e99c";
}
.mng-service:before {
    content: "\e99d";
}
.mng-stack:before {
    content: "\e99e";
}
.mng-storage:before {
    content: "\e99f";
}
.mng-support:before {
    content: "\e9a0";
}
.mng-threat:before {
    content: "\e9a1";
}
.mng-virtualization:before {
    content: "\e9a2";
}
.srv-advisory:before {
    content: "\e9a3";
}
.srv-anti-virus:before {
    content: "\e9a4";
}
.srv-architecture:before {
    content: "\e9a5";
}
.srv-archiving:before {
    content: "\e9a6";
}
.srv-backup:before {
    content: "\e9a7";
}
.srv-backups:before {
    content: "\e9a8";
}
.srv-caching:before {
    content: "\e9a9";
}
.srv-code-deployment:before {
    content: "\e9aa";
}
.srv-content-management:before {
    content: "\e9ab";
}
.srv-custom-apps:before {
    content: "\e9ac";
}
.srv-data-storage:before {
    content: "\e9ad";
}
.srv-database:before {
    content: "\e9ae";
}
.srv-design-build:before {
    content: "\e9af";
}
.srv-design-build-2:before {
    content: "\e9b0";
}
.srv-devops:before {
    content: "\e9b1";
}
.srv-digital:before {
    content: "\e9b2";
}
.srv-disaster-recovery:before {
    content: "\e9b3";
}
.srv-ecommerce:before {
    content: "\e9b4";
}
.srv-email:before {
    content: "\e9b5";
}
.srv-engineer-support:before {
    content: "\e9b6";
}
.srv-guidance:before {
    content: "\e9b7";
}
.srv-mailgun:before {
    content: "\e9b8";
}
.srv-migration:before {
    content: "\e9b9";
}
.srv-monitoring:before {
    content: "\e9ba";
}
.srv-rich-media:before {
    content: "\e9bb";
}
.srv-saas:before {
    content: "\e9bc";
}
.srv-ssl:before {
    content: "\e9bd";
}
.srv-test-dev:before {
    content: "\e9be";
}
.srv-virtualization:before {
    content: "\e9bf";
}
.srv-vpn:before {
    content: "\e9c0";
}
.srv-web-hosting:before {
    content: "\e9c1";
}
.srv-website:before {
    content: "\e9c2";
}

