.row.half-padding-top
  .col-md-4.col-sm-6.center
    h5.center Lead Generating
    a.button.lead Get a Free Consultation
    p.center For use for a cta. To chat, sign-up or complete a form. Anything directly lead generating.

  .col-md-4.col-sm-6.center
    h5.center Learning
    a.button.learning Learn More
    p.center For use for an internally redirecting link. Learn More, Read More, Compare Prices ect. Something that doesn’t directly begin conversation or lead generation.

  .col-md-4.col-sm-6.center
    h5.center Leaving the Funnel
    a.button.leaving Customer Stories
    p.center For use for an external link to customer stories/support or other things owned by external rackspace domains. Always open in new tab or window.

.row.half-padding-top
  .cta
    .cta-row
      .cta-iconWrapper
        i.rsweb.gen-assistance
    .cta-row
      .cta-headerWrapper
        h2 Talk to a Rackspace Specialist
    .cta-row
      .cta-buttonWrapper
        a.cta-button Talk to a Specialist
    .cta-row
      .cta-subheadWrapper
        p.cta-subhead Call 1-855-715-7307 to start saving
