.row.half-padding-top
  .col-md-4.col-sm-6
    h5 Lead Generating
    a.button.lead Get a Free Consultation
    p For use for a cta. To chat, sign-up or complete a form. Anything directly lead generating.

  .col-md-4.col-sm-6
    h5 Learning
    a.button.learning Learn More
    p For use for an internally redirecting link. Learn More, Read More, Compare Prices ect. Something that doesn’t directly begin conversation or lead generation.

  .col-md-4.col-sm-6
    h5 Leaving the Funnel
    a.button.leaving Customer Stories
    p For use for an external link to customer stories/support or other things owned by external rackspace domains. Always open in new tab or window.

