.row
  .col-md-12
    h4.red.no-margin Rackspace
    h2.no-margin Iconography

.row.standard-padding-top
  .col-md-8
    p Our icons help us to express the attributes of our brand, products, services, workloads, technology and  ideas  in ways that are immediately recognizable.
    p We use icons as a graphical representation of a product, service, workload, technology or  idea. They should not stand alone. instead, they should be accompanied by a headline or body copy, and the corporate logo should appear somewhere on the same page or asset.

hr

.row
  .col-md-8
    h5.red Rules
    ul
      li icons are one color and used  in dark, medium and light gray.
      li An icon should be used  in the context of an  idea, service offering, solution area or workload where possible (paired with solution area/workload names, part of an  ideogram, diagram or  illustration).
      li Make sure that all icons used together have the same line weight.
hr

.row
  .col-md-12
    h5.red Usage:
    p  in order to use the Rackspace web font  in your markup you will need to put in <code>&#60;i class="rsweb name-of-icon">&#60;/i&#62;</code> replacing "name-of-icon" with the name that appears underneath the  icon you've chosen.
    p To change the font color to white add the class "white" to your  icon class.
    h6 Example
    code &#60;i class="rsweb name-of-icon white"&#62;
.row.half-padding
  .col-md-6
    h4 Downloads
    ul
      li
        a(href="../assets/brand-icon.zip") Global Icon Font
      li
        a(href="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/font/icon/rsweb.ttf") Font Files
      li
        a(href="icons/icons.zip") svgs
      li
        a(href="icons/iconpack.json") JSON file

.row
  .col-md-12
    h5.red Available  icons:

.bg-light-gray.standard-padding-full
  ul.nav.nav-tabs(role="tablist")
    li.active(role="presentation")
      a(href="#cloud-products", aria-controls="cloud-products", role="tab", data-toggle="tab") Cloud Products
    li(role="presentation")
      a(href="#dedicated-products", aria-controls="dedicated-products", role="tab", data-toggle="tab") Dedicated Products
    li(role="presentation")
      a(href="#managed", aria-controls="managed", role="tab", data-toggle="tab") Managed Services
    li(role="presentation")
      a(href="#auto", aria-controls="auto", role="tab", data-toggle="tab") Automated Services
    li(role="presentation")
      a(href="#services", aria-controls="auto", role="tab", data-toggle="tab") Services
    li(role="presentation")
      a(href="#general", aria-controls="auto", role="tab", data-toggle="tab") General
    li(role="presentation")
      a(href="#ideograms", aria-controls="auto", role="tab", data-toggle="tab")  ideograms

  .tab-content
    .row
      #cloud-products.tab-pane.active(role="tabpanel")
        .row
          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-autoscale
            .col-xs-12
              p cl-autoscale


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-backup
            .col-xs-12
              p cl-backup


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-big-data
            .col-xs-12
              p cl-big-data


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-block-storage
            .col-xs-12
              p cl-block-storage


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-cdn
            .col-xs-12
              p cl-cdn


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-control-panel
            .col-xs-12
              p cl-control-panel


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-databases
            .col-xs-12
              p cl-databases


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-dns
            .col-xs-12
              p cl-dns


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-email
            .col-xs-12
              p cl-email


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-email-archive
            .col-xs-12
              p cl-email-archive


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-files
            .col-xs-12
              p cl-files


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-hybrid
            .col-xs-12
              p cl-hybrid


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-images
            .col-xs-12
              p cl-images


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-load-balancers
            .col-xs-12
              p cl-load-balancers


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-monitoring
            .col-xs-12
              p cl-monitoring


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-networks
            .col-xs-12
              p cl-networks


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-office
            .col-xs-12
              p cl-office


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-orchestration
            .col-xs-12
              p cl-orchestration


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-private-cloud
            .col-xs-12
              p cl-private-cloud


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-queues
            .col-xs-12
              p cl-queues


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-registry
            .col-xs-12
              p cl-registry


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-scale-apps
            .col-xs-12
              p cl-scale-apps


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-security
            .col-xs-12
              p cl-security


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-server-lg
            .col-xs-12
              p cl-server-lg


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-server-md
            .col-xs-12
              p cl-server-md


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-server-sm
            .col-xs-12
              p cl-server-sm


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-servers
            .col-xs-12
              p cl-servers


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-sites
            .col-xs-12
              p cl-sites


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.cl-tools
            .col-xs-12
              p cl-tools




      #dedicated-products.tab-pane(role="tabpanel")
        .row
          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-api-services
            .col-xs-12
              p ded-api-services


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-backup
            .col-xs-12
              p ded-backup


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-big-data
            .col-xs-12
              p ded-big-data


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-control-panel
            .col-xs-12
              p ded-control-panel


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-data-replication
            .col-xs-12
              p ded-data-replication


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-databases
            .col-xs-12
              p ded-databases


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-email
            .col-xs-12
              p ded-email


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-hosting
            .col-xs-12
              p ded-hosting


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-load-balancers
            .col-xs-12
              p ded-load-balancers


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-log-management
            .col-xs-12
              p ded-log-management


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-managed-virualization
            .col-xs-12
              p ded-managed-virualization


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-monitoring
            .col-xs-12
              p ded-monitoring


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-security
            .col-xs-12
              p ded-security


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-server-lg
            .col-xs-12
              p ded-server-lg


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-server-md
            .col-xs-12
              p ded-server-md


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-server-sm
            .col-xs-12
              p ded-server-sm


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-server-xl
            .col-xs-12
              p ded-server-xl


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-storage
            .col-xs-12
              p ded-storage


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.ded-support
            .col-xs-12
              p ded-support

      #managed.tab-pane(role="tabpanel")
        .row
          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-24x7
            .col-xs-12
              p mng-24x7


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-access
            .col-xs-12
              p mng-access


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-advisors
            .col-xs-12
              p mng-advisors


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-anti-virus
            .col-xs-12
              p mng-anti-virus


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-apps
            .col-xs-12
              p mng-apps


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-backup
            .col-xs-12
              p mng-backup


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-cloud
            .col-xs-12
              p mng-cloud


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-code-assist
            .col-xs-12
              p mng-code-assist


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-databases
            .col-xs-12
              p mng-databases


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-firewall
            .col-xs-12
              p mng-firewall


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-generic
            .col-xs-12
              p mng-generic


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-guarantee
            .col-xs-12
              p mng-guarantee


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-infrastructure
            .col-xs-12
              p mng-infrastructure


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-installation
            .col-xs-12
              p mng-installation


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-log-manager
            .col-xs-12
              p mng-log-manager


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-monitoring
            .col-xs-12
              p mng-monitoring


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-os-support
            .col-xs-12
              p mng-os-support


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-patching
            .col-xs-12
              p mng-patching


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-performance
            .col-xs-12
              p mng-performance


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-power
            .col-xs-12
              p mng-power


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-rapid-deployment
            .col-xs-12
              p mng-rapid-deployment


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-response
            .col-xs-12
              p mng-response


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-security
            .col-xs-12
              p mng-security


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-security-guidance
            .col-xs-12
              p mng-security-guidance


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-service
            .col-xs-12
              p mng-service


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-stack
            .col-xs-12
              p mng-stack


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-storage
            .col-xs-12
              p mng-storage


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-support
            .col-xs-12
              p mng-support


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-threat
            .col-xs-12
              p mng-threat


          .col-md-3.icon-grid-item
            .col-sm-6.center-block
              i.rsweb.mng-virtualization
            .col-xs-12
              p mng-virtualization


        #auto.tab-pane(role="tabpanel")
          .row
            .col-md-3.icon-grid-item
              .col-sm-6.center-block
                i.rsweb.auto-compute
              .col-xs-12
                p auto-compute

            .col-md-3.icon-grid-item
              .col-sm-6.center-block
                i.rsweb.auto-maintenance
              .col-xs-12
                p auto-maintenance


            .col-md-3.icon-grid-item
              .col-sm-6.center-block
                i.rsweb.auto-os-maintenance
              .col-xs-12
                p auto-os-maintenance


            .col-md-3.icon-grid-item
              .col-sm-6.center-block
                i.rsweb.auto-patching
              .col-xs-12
                p auto-patching


            .col-md-3.icon-grid-item
              .col-sm-6.center-block
                i.rsweb.auto-process
              .col-xs-12
                p auto-process


            .col-md-3.icon-grid-item
              .col-sm-6.center-block
                i.rsweb.auto-protection
              .col-xs-12
                p auto-protection


            .col-md-3.icon-grid-item
              .col-sm-6.center-block
                i.rsweb.auto-scripts
              .col-xs-12
                p auto-scripts


            .col-md-3.icon-grid-item
              .col-sm-6.center-block
                i.rsweb.cont-design
              .col-xs-12
                p cont-design


            .col-md-3.icon-grid-item
              .col-sm-6.center-block
                i.rsweb.cont-monitoring
              .col-xs-12
                p cont-monitoring


            .col-md-3.icon-grid-item
              .col-sm-6.center-block
                i.rsweb.cont-support
              .col-xs-12
                p cont-support


          #services.tab-pane(role="tabpanel")
            .row
              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-advisory
                .col-xs-12
                  p srv-advisory


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-anti-virus
                .col-xs-12
                  p srv-anti-virus


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-architecture
                .col-xs-12
                  p srv-architecture


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-archiving
                .col-xs-12
                  p srv-archiving


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-backup
                .col-xs-12
                  p srv-backup


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-backups
                .col-xs-12
                  p srv-backups


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-caching
                .col-xs-12
                  p srv-caching


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-code-deployment
                .col-xs-12
                  p srv-code-deployment


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-content-management
                .col-xs-12
                  p srv-content-management


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-custom-apps
                .col-xs-12
                  p srv-custom-apps


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-data-storage
                .col-xs-12
                  p srv-data-storage


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-database
                .col-xs-12
                  p srv-database


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-design-build
                .col-xs-12
                  p srv-design-build


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-design-build-2
                .col-xs-12
                  p srv-design-build-2


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-devops
                .col-xs-12
                  p srv-devops


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-digital
                .col-xs-12
                  p srv-digital


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-disaster-recovery
                .col-xs-12
                  p srv-disaster-recovery


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-ecommerce
                .col-xs-12
                  p srv-ecommerce


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-email
                .col-xs-12
                  p srv-email


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-engineer-support
                .col-xs-12
                  p srv-engineer-support


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-guidance
                .col-xs-12
                  p srv-guidance


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-mailgun
                .col-xs-12
                  p srv-mailgun


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-migration
                .col-xs-12
                  p srv-migration


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-monitoring
                .col-xs-12
                  p srv-monitoring


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-rich-media
                .col-xs-12
                  p srv-rich-media


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-saas
                .col-xs-12
                  p srv-saas


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-ssl
                .col-xs-12
                  p srv-ssl


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-test-dev
                .col-xs-12
                  p srv-test-dev


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-virtualization
                .col-xs-12
                  p srv-virtualization


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-vpn
                .col-xs-12
                  p srv-vpn


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-web-hosting
                .col-xs-12
                  p srv-web-hosting


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.srv-website
                .col-xs-12
                  p srv-website





          #general.tab-pane(role="tabpanel")
            .row
              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-antivirus
                .col-xs-12
                  p gen-antivirus


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-assistance
                .col-xs-12
                  p gen-assistance


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-bolt-fill
                .col-xs-12
                  p gen-bolt-fill


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-bolt-gear
                .col-xs-12
                  p gen-bolt-gear


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-bolt-outline
                .col-xs-12
                  p gen-bolt-outline


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-building-lg
                .col-xs-12
                  p gen-building-lg


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-building-md
                .col-xs-12
                  p gen-building-md


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-building-sm
                .col-xs-12
                  p gen-building-sm


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-bummed
                .col-xs-12
                  p gen-bummed


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-calculator
                .col-xs-12
                  p gen-calculator


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-chart
                .col-xs-12
                  p gen-chart

              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-choice
                .col-xs-12
                  p gen-choice


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-clock
                .col-xs-12
                  p gen-clock


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-cloud
                .col-xs-12
                  p gen-cloud


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-code
                .col-xs-12
                  p gen-code


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-data-replication
                .col-xs-12
                  p gen-data-replication


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-desktop
                .col-xs-12
                  p gen-desktop


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-ecommerce
                .col-xs-12
                  p gen-ecommerce


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-flame
                .col-xs-12
                  p gen-flame


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-flame-shield
                .col-xs-12
                  p gen-flame-shield


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-global
                .col-xs-12
                  p gen-global


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-global-traffic
                .col-xs-12
                  p gen-global-traffic


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-growth
                .col-xs-12
                  p gen-growth


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-hard-drive
                .col-xs-12
                  p gen-hard-drive


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-help
                .col-xs-12
                  p gen-help


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-install
                .col-xs-12
                  p gen-install


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-key
                .col-xs-12
                  p gen-key


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-laptop
                .col-xs-12
                  p gen-laptop


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-license
                .col-xs-12
                  p gen-license


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-lock-shield
                .col-xs-12
                  p gen-lock-shield


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-locked-checked-shield
                .col-xs-12
                  p gen-locked-checked-shield


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-netowkring
                .col-xs-12
                  p gen-netowkring


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-network-connection
                .col-xs-12
                  p gen-network-connection


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-os
                .col-xs-12
                  p gen-os


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-patching-shield
                .col-xs-12
                  p gen-patching-shield


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-payment
                .col-xs-12
                  p gen-payment


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-pdf
                .col-xs-12
                  p gen-pdf


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-performance
                .col-xs-12
                  p gen-performance


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-power
                .col-xs-12
                  p gen-power


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-processor
                .col-xs-12
                  p gen-processor


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-ram
                .col-xs-12
                  p gen-ram


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-server-instance
                .col-xs-12
                  p gen-server-instance


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-server-instances
                .col-xs-12
                  p gen-server-instances


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-server-rack
                .col-xs-12
                  p gen-server-rack


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-server-room
                .col-xs-12
                  p gen-server-room


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-servers
                .col-xs-12
                  p gen-servers


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-servers2
                .col-xs-12
                  p gen-servers2


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-shield
                .col-xs-12
                  p gen-shield


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-ssd
                .col-xs-12
                  p gen-ssd


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-stacks
                .col-xs-12
                  p gen-stacks


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-stoked
                .col-xs-12
                  p gen-stoked


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-stopwatch
                .col-xs-12
                  p gen-stopwatch


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-support
                .col-xs-12
                  p gen-support


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-uptime
                .col-xs-12
                  p gen-uptime


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-user
                .col-xs-12
                  p gen-user


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-web
                .col-xs-12
                  p gen-web


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-webpage
                .col-xs-12
                  p gen-webpage


              .col-md-3.icon-grid-item
                .col-sm-6.center-block
                  i.rsweb.gen-workers
                .col-xs-12
                  p gen-workers




            #ideograms.tab-pane(role="tabpanel")
              .row
                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-binoculars
                  .col-xs-12
                    p  idio-binoculars

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-brain
                  .col-xs-12
                    p  idio-brain

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-cloud-education
                  .col-xs-12
                    p  idio-cloud-education

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-cycle
                  .col-xs-12
                    p  idio-cycle

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-diamond
                  .col-xs-12
                    p  idio-diamond

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-fist
                  .col-xs-12
                    p  idio-fist

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-focus
                  .col-xs-12
                    p  idio-focus

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-heart
                  .col-xs-12
                    p  idio-heart

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-high-five
                  .col-xs-12
                    p  idio-high-five

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-people
                  .col-xs-12
                    p  idio-people

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-piggy
                  .col-xs-12
                    p  idio-piggy

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-piggy-money
                  .col-xs-12
                    p  idio-piggy-money

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-spaceship
                  .col-xs-12
                    p  idio-spaceship

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-straightjacket
                  .col-xs-12
                    p  idio-straightjacket

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-target
                  .col-xs-12
                    p  idio-target

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-torch
                  .col-xs-12
                    p  idio-torch

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-trophy
                  .col-xs-12
                    p  idio-trophy

                .col-md-3.icon-grid-item
                  .col-sm-6.center-block
                    i.rsweb.idio-winner
                  .col-xs-12
                    p  idio-winner
