.row.half-padding-full
  .col-md-12
    h4.red Rackspace Global
    h2.no-margin Elements &amp; Assets

.row.half-padding-full
  .col-md-12
    h6 helpful links
    ul.nav.nav-pills.nav-stacked
      li
        a(href="derek/assets/typography") Typography &amp; Translations
      li
        a(href="derek/assets/swatches") Colors &amp; Swatches
      li
        a(href="derek/assets/icon-font") Icon Font
      li
        a(href="derek/assets/photography") Photography &amp; Banners
      li
        a(href="derek/assets/tables") Tables
      li
        a(href="derek/assets/forms") Forms

.row
  .col-md-12
    h5.red Typography and Translations
  .col-md-8
    p Every visual element of our brand says something about us — even down to the fonts we use and how we use them. The specific styles, sizes and weights communicate the essence of the brand and place our brand within a meaningful hierarchy.
    for full font usage, translations, font mixins and available font colors please view the documentation on
      a(href="derek/assets/typography").red  this page

hr

.row
  .col-md-12
    h5.red Iconography and RSWeb Icon Font
  .col-md-8
    p Our icons help us to express the attributes of our brand, products, services, workloads, technology and ideas in ways that are immediately recognizable.
    p We use icons as a graphical representation of a product, service, workload, technology or idea. They should not stand alone. Instead, they should be accompanied by a headline or body copy, and the corporate logo should appear somewhere on the same page or asset.
    For icon font downloads, examples, usage and ideograms please refer to the documentation on
      a(href="derek/assets/icon-font").red  this page

hr

.row
  .col-md-12
    h5.red Buttons
  .col-md-8
    p The CTA language's role is to help visitors make up their mind about why they should click on the button. It should also give the user an idea on what’s going to happen next.
    p It’s not just the copy on the button either. It’s how the copy on the button goes together on what else is going on on the page. Is this relevant? Generally, generic words like Download, Submit and the like are less likely to generate any meaningful lift, because they lack character &amp; don’t provide any value or relevance.
  .col-md-12
    include buttons.jade
.row.half-padding-top
  .col-md-8
    h5.red CTA
    p The standard usage of Global Ecomm CTA pattern below. Optional icon, title, copy and button with optional text underneath.
  .col-md-12
    include ../_partials/solutions/cta-bottom.ejs

hr

.row
  .col-md-12
    h5.red Banners and Photographic Guidelines
  .col-md-8
    p The focus of our photography is to capture our people — the expert, helpful, results-obsessed and confident group that is at the core of our brand. Below are four pillars that are represented in our photography.
    p For photographic and banner use guidelines please refer to the documentation on
      a(href="derek/assets/photography").red  this page


hr
