.container.standard-padding
  .row.half-padding-top
    .col-md-12
      h2.red Photography
      p The focus of our photography is to capture our people — the expert, helpful, results-obsessed and confident group that is at the core of our brand. Below are four pillars that are represented in our photography.

  .row.half-padding-top
    .col-md-3.col-sm-6
      img(src="imgs/globalBrand/solo-racker.png")
      h5 Solo Rackers
      p Solo shots highlight Rackers in a biographical approach. Catching candid and authentic moments help display the personality of the brand.

    .col-md-3.col-sm-6
      img(src="imgs/globalBrand/support.png")
      h5 Support
      p The support that Rackspace offers is second to none. There is a redundancy of support and knowledge that runs throughout Rackspace. A Racker with a headset is someone who is empowered to direct a problem toward the right solution.

    .col-md-3.col-sm-6
      img(src="imgs/globalBrand/collaboration.png")
      h5 Collaboration
      p Groups of two or more Rackers working together shows the chemistry and commitment to solving problems and providing support. For every Racker on the phone with a customer, there is a group working together behind the scenes crafting a solution.

    .col-md-3.col-sm-6
      img(src="imgs/globalBrand/knowledge-sharing.png")
      h5 Knowledge Sharing
      p Rackers are always working to find new ways to provide support. The willingness to work together by sharing ideas and knowledge helps create a level of expertise that is always being built upon.

  hr

  .row.half-padding-top
    .col-md-12
      h2.red Photographic Best Practices
    .col-md-6
      img(src="imgs/globalBrand/photo-examples.png")
      p.red NEED TO REPLACE
    .col-md-6
      ul
        li One Racker within a group looking toward the camera helps the viewer feel engaged at the ground level.
        li Solo Racker photos can be candid or staged, but should still feel authentic, capturing natural emotions.
        li Outside of showing scale, photos should aim to capture emotions. We should feel close enough to a Racker to feel a connection to what they are thinking, what problem they are solving, or simply a bit about their personality.

  hr

  .row
    .col-md-12
      h5.red Banners
    .col-md-8
      p Our banners are the leading graphic element on all pages and therefore one of our largest vehicles for our brand on the page. They contain page titles and we want to make sure that we lead with our best foot forward.
      p Addition Photographic Requirements for Web Banners:
      ul
        li To be used full width so at least 2000k pixels wide - larger if possible.
        li The subject or person is off to the left or right to not interfere with centered text
        li No outdated technology
        li High Quality
        li Full Color (not black and white)
        li Doesn't contain any predominant non-rackspace logos

  .row.half-padding-full
    .col-md-12
      h5 Medium Banner
      p This banner type should be used on product overview pages. No CTA is included but it has a larger image area as well as text area.
      p Headline should be limited to 2 - 4 words. Text area to 140 characters.

include ../_partials/solutions/header-medium.ejs

.container
  .row.half-padding-full
    .col-md-12
      h5 Large Banner
      p This banner type should be used on section overview pages or landing pages. A CTA is included within this section as well as a much larger image area.
      p Headline should be limited to 3 - 6 words. Text area to 140 characters and CTA to 3 words or less.

include ../_partials/solutions/header-large.ejs

.container
  .row.half-padding-full
    .col-md-12
      h5 Large IMAC Banner
      p This banner type should be used on section overview pages or landing pages for the IMAC campaign. A CTA is included within this section as well as a much larger image area.
      p Headline should be limited to 3 - 6 words. Text area to 140 characters and CTA to 3 words or less.

include ../_partials/solutions/header-largeIMAC.ejs
