.resource{
  overflow:auto;
  position:relative;
  background-color: $white;
  border-top: 12px solid $bright-green;
  padding: 20px 20px 5px 20px;
  margin: 10px;
  a{
    color: $medium-dark-gray;
    @extend .semi-bold;
    margin-top: 1em;
    padding-bottom: 20px;
    text-decoration: none;  }
  &:hover{
    background-color: $bright-green;
    border-top: 12px solid rgba(0,0,0,0.2);
    a{
      @extend .white;
      text-decoration: none;
    }
    h6, h3{
      @extend .white;
    }
    img {
      display: none;
      &.hover{ display: inline-block; }
    }
  }
  img{
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
    width: 60px;
    &.hover{ display: none; }
  }
}