.valueProp{
  margin:10px;
}
.list-grid{
  ul{
    padding-left:1.3em;
    li{
      margin-left: 1em;
    }
  }
}

//not yet patterns -- saving for incubation
.customer_stories_logos {
  img {
    max-height: 40px;
    padding: 1% 2%;
    @extend .center;
    vertical-align: middle;
    &:hover {
      background-color: rgba(0, 5, 10, 0.1);
      cursor: pointer;
    }
  }
}
.technologies {
  h3{
    & + p {
      padding-top: 8px;
      font-size: 15px;
      font-weight: 300;
      line-height: 150%;
    }
  }
}
.techapps {
  img {
    max-height: 80px;
    max-width: 140px;
    padding: 2%;
    @extend .center;
    vertical-align: middle;
    }
    span{
    &:hover {
      background-color: rgba(0, 5, 10, 0.1);
      cursor: pointer;
    }
  }
}
.expertise-container{
  background-size: cover;
  padding: 60px 0;
  p {
    background-color: $rackspace-red;
    @extend .white;
    display: table;
    font-style: normal;
    font-size: 4.4rem;
    font-weight: 300;
    letter-spacing: -0.007em;
    line-height: 175%;
    vertical-align: center;
    padding: 0 20px;
    margin-bottom: 5px;
    text-align: left;
    text-transform: none;
  }
}

//temp fixes -- need to get into calc
#calculator{
  h3{
    font-size:16px!important;
  }
  button{
    padding:0px;
  }
  .cart-total h2{
    line-height: 30px;
  }
}

