.features{
  display: flex;
  .icon{
    background-color:$darkteal;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desc{
    background-color:$white;
    overflow:auto;
    margin: 0px 15px 0px 0px;
  }
  &.three-up{
    display:block;
  }
  ul li{
    margin-left: 1em;
  }
  .rsweb {
    @extend .white;
  }
}

@media only screen and (max-width : 770px) {
  .features{
    display:block;
    margin-top: 10px;
    .desc{
      margin:0px;
    }
  }
}