.features{
  display: flex;
  &.three-up {
    display: block;
  }
  ul li{
    margin-left: 1em;
  }
  .desc{
    background-color: $white;
    margin: 0px 15px 0px 0px;
    overflow: auto;
  }
  .icon {
    align-items: center;
    background-color: $darkteal;
    display: flex;
    justify-content: center;
  }
  .rsweb {
    color: $white;
  }

  @media only screen and (max-width : 770px) {

      display: block;
      margin-top: 10px;
      .desc {
        margin: 0;
      }

  } // End of media query

}
