.resource {
  background-color: $white;
  border-top: 12px solid $steel-blue;
  margin: 10px;
  overflow: auto;
  padding: 20px 20px 5px;
  position: relative;

  &:hover {
    background-color: $steel-blue;
    border-top: 12px solid rgba(0, 0, 0, .4);

    h3,
    h6,
    p {
      color: $white;
    }

    a {
      color: $white;
      text-decoration: none;
    }

    img {
      display: none;

      &.hover {
        display: inline-block;
      }
    }
  }

  a {
    color: $gray-darker;
    font-weight: 600;
    margin-top: 1em;
    padding-bottom: 20px;
    text-decoration: none;
  }

  img {
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
    width: 60px;

    &.hover {
      display: none;
    }
  }
}
