.features-container {
  @include make-md-column(6);
  display: flex;

  &.features-threeUp {
    display: block;
  }

  ul {
    li {
      margin-left: 1em;
    }
  }

  .features-desc {
    background-color: $white;
    margin: 0 15px 0 0;
    overflow: auto;
  }

  .features-icon {
    align-items: center;
    background-color: $teal-dark;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .rsweb {
    color: $white;
  }
}

.subpanel {
  .features-container {
    @include make-md-column(12);
    margin: 5px 0;

    .rsweb {
      font-size: 4em;
    }
  }
}

@media only screen and (max-width: $screen-sm) {
  .features-container {
    display: block;
    margin-top: 10px;

    .features-desc {
      margin: 0;
    }
  }
}
