// see styleguide/_themes/global/scss/_bootstrap_overrides.scss for sass lint overrides.

$ceiling-margin: floor($navbar-margin-bottom / 4);
$ceiling-font-size: $navigation-font-size-medium;

.ceiling {
  background: $white;
  border: 0;
  border-bottom: 2px solid $gray-lighter;
  border-radius: 0;
  font-family: $copy;
  font-size: $navigation-font-size-medium;
  font-weight: $font-weight-black;
  margin: 0;
  min-height: $line-height-computed;
}

.ceiling-strip {
  @include background-gradient;
  height: 5px;
}

.ceiling-container {
  @include make-container;
}

.navbar-phoneicon {
  color: $black;
  text-decoration: none;

  &::before {
    content: '\e80c';
  }
}

.navbar-emailicon {
  color: $black;
  text-decoration: none;

  &::before {
    content: '\f0e0';
  }
}

.navbar-chaticon {
  color: $black;
  text-decoration: none;

  &::before {
    content: '\e802';
  }
}

.navbar-phoneicon,
.navbar-chaticon,
.navbar-emailicon,
.navbar-searchicon {
  display: block;
  padding: 15px floor($ceiling-margin + 5);
  text-align: center;

  &::before {
    color: $black;
    font-family: 'rswebfonts';
    font-size: $navigation-font-size-medium;
    margin-right: 5px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $black;
    cursor: pointer;
    text-decoration: none;
  }
}

.ceiling-menuInline {
  list-style: none;
  margin-bottom: 0;
  margin-left: -5px;
  padding-left: 0;
}

.ceiling-menuInline-item {
  display: inline-block;
  float: left;
  font-size: 12.5px;
  font-weight: 400;
  padding: 0 5px;

  .ceiling-dropdownToggle {
    font-size: 12.5px;
    font-weight: 400;
  }

  &.open,
  &:hover,
  &:active,
  &:focus {
    background-color: darken($white, 5%);
    cursor: pointer;
  }
}

.ceiling-menuInline-link {
  color: $black;
  display: block;
  font-size: 12.5px;
  padding: 15px floor($ceiling-margin + 5);
  text-decoration: none;
  vertical-align: middle;

  &:hover,
  &:active,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}

.ceiling-menuNav {
  float: right;
  width: auto;

  &:last-child {
    margin-right: 0;
  }
}

.ceiling-dropdown {
  position: relative;

  &::after {
    content: '';
  }

  &.open > .ceiling-dropdownMenu {
    display: block;
  }
}

.ceiling-dropdownMenu {
  background-color: $white;
  border-radius: 0;
  box-shadow: 0 6px 12px $black-shadow;
  color: $black;
  display: none;
  left: auto;
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  white-space: nowrap;
  z-index: 1000;

  // bootstrap overrides
  .ceiling-dropdownMenu-link {
    color: $black;
    display: block;
    padding: 6px 13px;
    text-decoration: none;
  }
}

.ceiling-dropdownMenu-item {
  color: $black;
  font-size: 12.5px;
  margin: 0;
  padding: 0;

  &:hover {
    background-color: $light-red;
  }
}

.ceiling-dropdownToggle {
  color: $black;
  display: block;
  font-size: $navigation-font-size-medium;
  padding: 15px floor($ceiling-margin + 5);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $black;
    text-decoration: none;
  }

  &::after {
    content: '\e806';
    font-family: 'rswebfonts';
    margin-left: 5px;
  }
}

.ceiling-dropdownMenu-gray {

  .ceiling-dropdownMenu-link {
    &:hover {
      background-color: lighten($gray-base, 5%);
      color: $white;
    }
  }
}

.ceiling-dropdownMenu-green {

  .ceiling-dropdownMenu-link {
    &:hover {
      background-color: lighten($gray-base, 5%);
      color: $white;
    }
  }
}


@media screen and (min-width: $screen-xs-min) {
  .ceiling {
    display: block;
  }
}

@media screen and (max-width: $screen-xs-max) {
  .ceiling-container {
    padding: 0;
  }
}

@media screen and (max-width: 380px) {
  .navbar-phoneicon,
  .navbar-chaticon,
  .navbar-emailicon,
  .navbar-searchicon {
    padding: 15px 0;
  }
}
