.ceilingLp {
  background: $white;
  box-shadow: 0 6px 12px $black-shadow;
}

.navbar-phoneiconLp,
.navbar-chaticonLp,
.navbar-emailiconLp {
  color: $gray-darkest;

  &:hover {
    color: $gray-darkest;
  }

  &::before {
    color: $gray-darkest;
  }
}

.ceilingLp-brand {
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/rs-logo-black.svg');
  background-position: left 50%;
  background-repeat: no-repeat;
  background-size: 100% 79%;
  float: left;
  height: 35px;
  margin: 5px 10px;
  position: relative;
  transition-duration: .3s;
  width: 150px;
}

@media only screen and (max-width: $screen-xs-max) {
  @include responsive-invisibility('.ceilingLp-pageTitle');
}

@media only screen and (min-width: $screen-md-min) {
  margin: 0 (-$grid-gutter-width / 2);
}

.ceilingLp-brand-logo {
  display: block;
  height: 100%;
  max-width: $full-width;
}

.ceilingLp-container {
  padding: 0;

}

.ceilingLp-menuInline {
  list-style: none;
  margin-bottom: 0;
}

.ceilingLp-menuInline-item {
  display: inline-block;
  font-size: $navigation-font-size;
  font-weight: $font-weight-black;
  margin: 0;
  padding: 0 floor($ceiling-margin + 2);
  text-transform: uppercase;

  &.open,
  &:hover,
  &:active,
  &:focus {
    background-color: $gray-lightest;
  }
}
