<div class="ceiling-strip"></div>
<div class="ceiling">
    <div class="ceiling-container">
        <a class="navbar-brand" href=""><span class="sr-only">Rackspace the #1 managed cloud company</span></a>
        <nav class="ceiling-menuNav">
            <ul class="ceiling-menuInline" role="menu">
                <li class="ceiling-menuInline-item">
                <a class="navbar-phoneicon" title="Sales/Support Call"><span class="hidden-xs">Call Us</span></a>
                </li>
                <li class="ceiling-menuInline-item">
                <a class="navbar-chaticon" href="#chat" title="Live Sales Chat"><span class="hidden-xs">Sales Chat</span></a>
                </li>
                <li class="ceiling-menuInline-item">
                <a class="navbar-emailicon" href="#email" title="Email Us"><span class="hidden-xs">Email Us</span></a>
                </li>
                <li class="ceiling-menuInline-item ceiling-dropdown hidden-xs">
                <a href="javascript:" class="dropdown-toggle ceiling-dropdownToggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user-plus" aria-hidden="true"></i>  Sign up</a>
                <ul class="ceiling-dropdownMenu" role="menu">
                    <li class="ceiling-dropdownMenu-item"><a href="#" class="ceiling-dropdownMenu-link" role="menuitem">Rackspace Cloud</a></li>
                    <li class="ceiling-dropdownMenu-item">
                    <a href="#" class="ceiling-dropdownMenu-link" role="menuitem">Cloud Office</a>
                    </li>
                </ul>
                </li>
                <li class="ceiling-menuInline-item hidden-xs">
                <a href="javascript:" class="ceiling-menuInline-link"><i class="fa fa-sign-in" aria-hidden="true"></i>  Log In</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
      