.videoEmbed-title {
  margin-top: 0;
  text-align: center;
}

.videoEmbed-column {
  @include make-md-column(12);
  padding: $half-padding-full;
}

.videoEmbed-wrapper {
  margin-bottom: 10px;
  position: relative;
}

.embed-responsive {
  position: static;
}

.lp-video-description {
  padding-top: $half-padding-top;
}
