$facebook-blue: #4267b2;
$facebook-darkblue: #365899;
$twitter-blue: #00aced;
$twitter-darkblue: #0084b4;
$linkedin-blue: #0077b5;
$linkedin-darkblue: #006ba3;
$github-gray: #333;
$xing-green: #005a5f;

.fb-share {
  background: $facebook-blue;
  border: 1px solid $facebook-blue;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  height: 20px;
  padding: 0 0 0 2px;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;

  &:hover,
  &:focus {
    background: $facebook-darkblue;
    border: 1px solid $facebook-darkblue;
    color: $white;
    text-decoration: none;
  }
}

.fb-share-icon {
  color: $white;
  font-family: 'rswebfonts';
  font-size: 16px;

  &::before {
    content: '\f09a';
  }
}

.fb-share-text {
  font-weight: bold;
  padding: 0 4px;
  position: relative;
  top: -3px;
}

.social-button {
  display: inline-block;
  margin: 0 2px;
}

.social-googleplusWrapper {
  width: 57px;
}

.social-shareEmail {
  background-color: $gray-base;
  border-radius: 3px;
  box-sizing: border-box;
  color: $white;
  font-size: 11px;
  font-weight: bolder;
  height: 20px;
  line-height: 1.35;
  padding: 2px 8px;
  position: relative;
  text-decoration: none;
  vertical-align: text-top;


  &::before {
    content: '\f0e0';
    font-family: 'rswebfonts';
    margin-right: 3px;
  }

  &:hover {
    background-color: darken($gray-base, 5%);
    color: $white;
    text-decoration: none;
  }
}

.rsSocial-link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

.rsSocial-link-fb {
  color: $facebook-blue;

  &:hover {
    color: $facebook-darkblue;
  }
}

.rsSocial-link-tw {
  color: $twitter-blue;

  &:hover {
    color: $twitter-darkblue;
  }
}

.rsSocial-link-ld {
  color: $linkedin-blue;

  &:hover {
    color: $linkedin-darkblue;
  }
}

// Hacky fix for social button alignment.
.twitter-share-button {
  &[style] {
    // sass-lint:disable-block no-important
    position: relative !important;
    top: 5px;
  }
}
