$facebook-blue: #4267b2;
$facebook-darkblue: #365899;

.fb-share {
  background: $facebook-blue;
  border: 1px solid $facebook-blue;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  height: 20px;
  padding: 0 0 0 2px;
  position: relative;
  text-decoration: none;
  top: -1px;
  vertical-align: top;
  white-space: nowrap;

  &:hover,
  &:focus {
    background: $facebook-darkblue;
    border: 1px solid $facebook-darkblue;
    color: $white;
    text-decoration: none;
  }
}

.fb-share-icon {
  background-image: url('https://static-dft4-3.xx.fbcdn.net/rsrc.php/v3/yP/r/Wq8eKb91kes.png');
  background-size: contain;
  display: inline-block;
  height: 16px;
  margin-right: 1px;
  position: relative;
  top: 1px;
  width: 16px;
}

.fb-share-text {
  font-weight: bold;
  padding: 0 4px;
  position: relative;
  top: -3px;
}

.social-button {
  display: inline-block;
  margin: 0 2px;
}

.social-googleplusWrapper {
  width: 57px;
}

.social-shareEmail {
  background-color: $gray-base;
  border-radius: 3px;
  box-sizing: border-box;
  color: $white;
  font-size: 11px;
  font-weight: bolder;
  height: 20px;
  line-height: 1.35;
  padding: 2px 8px;
  position: relative;
  text-decoration: none;
  vertical-align: text-top;


  &::before {
    content: '\f0e0';
    font-family: 'rswebfonts';
    margin-right: 3px;
  }

  &:hover {
    background-color: darken($gray-base, 5%);
    color: $white;
    text-decoration: none;
  }
}
