<!-- LinkedIn JS -->
<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>

<!-- Twitter JS -->
<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
</script>

<!-- Google+ JS -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- Button Codes -->
<div class="social-button social-linkedinWrapper">
  <script type="IN/Share" data-url="rackspace.com"></script>
</div>
<div class="social-button social-facebookWrapper">
  <a class="fb-share" href="javascript:void(0);">
    <span class="fb-share-icon"></span><span class="fb-share-text">Share</span>
  </a>
</div>
<div class="social-button social-twitterWrapper">
  <a href="https://twitter.com/intent/tweet?text=Checkout this resource from @Rackspace" class="twitter-share-button" data-show-count="false">Tweet</a>
</div>

<!--[/social-tracking]-->
<script src="../../../js/global-components/tracking/tracking.js" charset="utf-8"></script>
<script src="../../../js/global-components/social/social-tracking.js" charset="utf-8"></script>
