<div class="resource-wrapper resource-story track-click">
  <a href="/story" class="resource-innerLink">
    <div class="resource-top resource-top-story">
      <div class="resource-quoteWrap">
        <h6 class="resource-quote">Our ability to be able to leverage that partnership [with Rackspace], and have them react so quickly to support our business, in a short period of time, speaks volumes.
</h6>
      </div>
      <div class="resource-quoteLogoWrap">
        <div class="resource-quoteLogo">&nbsp;</div>
      </div>
    </div>
    <div class="resource-bottom resource-bottom-story">
      <div class="resource-personWrap">
        <h5 class="resource-title resource-titleStory">Michael Dweck</h5>
        <h5 class="resource-title resource-titleStory">Co-founder and President</h5>
      </div>
      <div class="resource-descWrap">
        <p class="resource-desc">Men’s fashion retailer leverages public cloud to manage a massive traffic spike after nationwide television debut.</p>
      </div>
      <div class="resource-solutionsWrap">
      <h6 class="resource-solutionsLabel">Solutions for Basic Outfitters:</h6>
        <p class="resource-solutions">Managed Hosting, Public Cloud, OpenStack Public Cloud, Data Services, Data Services</p>
      </div>
      <div class="resource-linkWrap">
        <p class="resource-link resource-link-right">Read More <i class="fa fa-caret-right resource-linkCaret"></i></p>
      </div>
    </div>
  </a>
</div>
