<div class="container">
  <h3><a style="text-decoration: none;" name="ribbon">Webinar Announcement</a></h3>
  <div class="row">
    <%- partial('_partials/ribbon.ejs', {
      'when': 'April 13 - May 1',
      'what': 'Webinar: Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.'
    }) %>
  </div>
</div>
