<div class="aboutus-wrapper">
  <div class="container">
    <div class="col-md-7 text-center">
      <?xml version="1.0" encoding="utf-8"?>
      <svg class="overlap-circ-fill" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 132 84" style="enable-background:new 0 0 201 201;" xmlns="http://www.w3.org/2000/svg">
        <style type="text/css">
        .st0{fill:none;stroke:#EB0000;stroke-miterlimit:10;}
        .st1{fill:url(#SVGID_1_);stroke:url(#SVGID_2_);stroke-miterlimit:10;}
      </style>
        <g>
          <circle class="st0" cx="1780" cy="130" r="4"/>
          <circle class="st0" cx="1768" cy="130" r="4"/>
          <circle class="st0" cx="1756" cy="130" r="4"/>
          <circle class="st0" cx="1744" cy="130" r="4"/>
          <circle class="st0" cx="1732" cy="130" r="4"/>
          <circle class="st0" cx="1720" cy="130" r="4"/>
          <circle class="st0" cx="1708" cy="130" r="4"/>
          <circle class="st0" cx="1696" cy="130" r="4"/>
          <circle class="st0" cx="1684" cy="130" r="4"/>
          <circle class="st0" cx="1672" cy="130" r="4"/>
          <circle class="st0" cx="1660" cy="130" r="4"/>
          <circle class="st0" cx="1780" cy="142" r="4"/>
          <circle class="st0" cx="1768" cy="142" r="4"/>
          <circle class="st0" cx="1756" cy="142" r="4"/>
          <circle class="st0" cx="1744" cy="142" r="4"/>
          <circle class="st0" cx="1732" cy="142" r="4"/>
          <circle class="st0" cx="1720" cy="142" r="4"/>
          <circle class="st0" cx="1708" cy="142" r="4"/>
          <circle class="st0" cx="1696" cy="142" r="4"/>
          <circle class="st0" cx="1684" cy="142" r="4"/>
          <circle class="st0" cx="1672" cy="142" r="4"/>
          <circle class="st0" cx="1660" cy="142" r="4"/>
          <circle class="st0" cx="1780" cy="154" r="4"/>
          <circle class="st0" cx="1768" cy="154" r="4"/>
          <circle class="st0" cx="1756" cy="154" r="4"/>
          <circle class="st0" cx="1744" cy="154" r="4"/>
          <circle class="st0" cx="1732" cy="154" r="4"/>
          <circle class="st0" cx="1720" cy="154" r="4"/>
          <circle class="st0" cx="1708" cy="154" r="4"/>
          <circle class="st0" cx="1696" cy="154" r="4"/>
          <circle class="st0" cx="1684" cy="154" r="4"/>
          <circle class="st0" cx="1672" cy="154" r="4"/>
          <circle class="st0" cx="1660" cy="154" r="4"/>
          <circle class="st0" cx="1780" cy="166" r="4"/>
          <circle class="st0" cx="1768" cy="166" r="4"/>
          <circle class="st0" cx="1756" cy="166" r="4"/>
          <circle class="st0" cx="1744" cy="166" r="4"/>
          <circle class="st0" cx="1732" cy="166" r="4"/>
          <circle class="st0" cx="1720" cy="166" r="4"/>
          <circle class="st0" cx="1708" cy="166" r="4"/>
          <circle class="st0" cx="1696" cy="166" r="4"/>
          <circle class="st0" cx="1684" cy="166" r="4"/>
          <circle class="st0" cx="1672" cy="166" r="4"/>
          <circle class="st0" cx="1660" cy="166" r="4"/>
          <circle class="st0" cx="1780" cy="178" r="4"/>
          <circle class="st0" cx="1768" cy="178" r="4"/>
          <circle class="st0" cx="1756" cy="178" r="4"/>
          <circle class="st0" cx="1744" cy="178" r="4"/>
          <circle class="st0" cx="1732" cy="178" r="4"/>
          <circle class="st0" cx="1720" cy="178" r="4"/>
          <circle class="st0" cx="1708" cy="178" r="4"/>
          <circle class="st0" cx="1696" cy="178" r="4"/>
          <circle class="st0" cx="1684" cy="178" r="4"/>
          <circle class="st0" cx="1672" cy="178" r="4"/>
          <circle class="st0" cx="1660" cy="178" r="4"/>
          <circle class="st0" cx="1780" cy="190" r="4"/>
          <circle class="st0" cx="1768" cy="190" r="4"/>
          <circle class="st0" cx="1756" cy="190" r="4"/>
          <circle class="st0" cx="1744" cy="190" r="4"/>
          <circle class="st0" cx="1732" cy="190" r="4"/>
          <circle class="st0" cx="1720" cy="190" r="4"/>
          <circle class="st0" cx="1708" cy="190" r="4"/>
          <circle class="st0" cx="1696" cy="190" r="4"/>
          <circle class="st0" cx="1684" cy="190" r="4"/>
          <circle class="st0" cx="1672" cy="190" r="4"/>
          <circle class="st0" cx="1660" cy="190" r="4"/>
          <circle class="st0" cx="1780" cy="202" r="4"/>
          <circle class="st0" cx="1768" cy="202" r="4"/>
          <circle class="st0" cx="1756" cy="202" r="4"/>
          <circle class="st0" cx="1744" cy="202" r="4"/>
          <circle class="st0" cx="1732" cy="202" r="4"/>
          <circle class="st0" cx="1720" cy="202" r="4"/>
          <circle class="st0" cx="1708" cy="202" r="4"/>
          <circle class="st0" cx="1696" cy="202" r="4"/>
          <circle class="st0" cx="1684" cy="202" r="4"/>
          <circle class="st0" cx="1672" cy="202" r="4"/>
          <circle class="st0" cx="1660" cy="202" r="4"/>
          <circle class="st0" cx="1780" cy="214" r="4"/>
          <circle class="st0" cx="1768" cy="214" r="4"/>
          <circle class="st0" cx="1756" cy="214" r="4"/>
          <circle class="st0" cx="1744" cy="214" r="4"/>
          <circle class="st0" cx="1732" cy="214" r="4"/>
          <circle class="st0" cx="1720" cy="214" r="4"/>
          <circle class="st0" cx="1708" cy="214" r="4"/>
          <circle class="st0" cx="1696" cy="214" r="4"/>
          <circle class="st0" cx="1684" cy="214" r="4"/>
          <circle class="st0" cx="1672" cy="214" r="4"/>
          <circle class="st0" cx="1660" cy="214" r="4"/>
          <circle class="st0" cx="1780" cy="226" r="4"/>
          <circle class="st0" cx="1768" cy="226" r="4"/>
          <circle class="st0" cx="1756" cy="226" r="4"/>
          <circle class="st0" cx="1744" cy="226" r="4"/>
          <circle class="st0" cx="1732" cy="226" r="4"/>
          <circle class="st0" cx="1720" cy="226" r="4"/>
          <circle class="st0" cx="1708" cy="226" r="4"/>
          <circle class="st0" cx="1696" cy="226" r="4"/>
          <circle class="st0" cx="1684" cy="226" r="4"/>
          <circle class="st0" cx="1672" cy="226" r="4"/>
          <circle class="st0" cx="1660" cy="226" r="4"/>
          <circle class="st0" cx="1780" cy="238" r="4"/>
          <circle class="st0" cx="1768" cy="238" r="4"/>
          <circle class="st0" cx="1756" cy="238" r="4"/>
          <circle class="st0" cx="1744" cy="238" r="4"/>
          <circle class="st0" cx="1732" cy="238" r="4"/>
          <circle class="st0" cx="1720" cy="238" r="4"/>
          <circle class="st0" cx="1708" cy="238" r="4"/>
          <circle class="st0" cx="1696" cy="238" r="4"/>
          <circle class="st0" cx="1684" cy="238" r="4"/>
          <circle class="st0" cx="1672" cy="238" r="4"/>
          <circle class="st0" cx="1660" cy="238" r="4"/>
          <circle class="st0" cx="1780" cy="250" r="4"/>
          <circle class="st0" cx="1768" cy="250" r="4"/>
          <circle class="st0" cx="1756" cy="250" r="4"/>
          <circle class="st0" cx="1744" cy="250" r="4"/>
          <circle class="st0" cx="1732" cy="250" r="4"/>
          <circle class="st0" cx="1720" cy="250" r="4"/>
          <circle class="st0" cx="1708" cy="250" r="4"/>
          <circle class="st0" cx="1696" cy="250" r="4"/>
          <circle class="st0" cx="1684" cy="250" r="4"/>
          <circle class="st0" cx="1672" cy="250" r="4"/>
          <circle class="st0" cx="1660" cy="250" r="4"/>
        </g>
        <g transform="matrix(1, 0, 0, 1, -34.5, -58.5)">
          <circle class="st0" cx="76.5" cy="100.5" r="40"/>
          <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="84.5" y1="100.5" x2="164.5" y2="100.5">
            <stop offset="0" style="stop-color:#EB0000"/>
            <stop offset="1" style="stop-color:#3300FC"/>
          </linearGradient>
          <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="84" y1="100.5" x2="165" y2="100.5">
            <stop offset="0" style="stop-color:#EB0000"/>
            <stop offset="1" style="stop-color:#3300FC"/>
          </linearGradient>
          <circle class="st1" cx="124.5" cy="100.5" r="40"/>
        </g>
      </svg>
    </div>
    <div class="col-md-5 about-postit-wrapper">
      <div class="about-postit col-sm-6 col-md-12 col-lg-10">
        <h1>We're here so you can be great</h1>
        <p>Your IT should be customized to your business and delivered the way you need it. Our experts get to know what you do, and how you do it, before bringing you a highly opinionated, custom solution. We assess the the world’s leading technologies and bring two decades of experience helping companies in 150 countries solve their biggest technology challenges. </p>
      </div>
    </div>
  </div>
</div>
