@import "bootstrap_variables";

$font_path: 'https://043a96a8a2caa9c57463-9701ce6e6cbd7003c5a8a25a5a69546c.ssl.cf5.rackcdn.com/v1.1/fonts/';

$brand-black: $gray-base;
$brand-yellow: #f6b100;
$brand-yellow-dark: #f6a100;
$brand-blue: #1ae9ef;
$brand-blue-dark: #0dcfd9;

