@charset "UTF-8";
/* Layout */
.full-width, .bottom {
  width: 100% !important; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

/* Text Alignments */
.centered {
  text-align: center !important; }

.left {
  text-align: left !important; }

.right {
  text-align: right !important; }

.va-middle {
  vertical-align: middle !important; }

/* Text Styles */
.uppercase, h1, h2, h3, h4, h5, h6, .button, .cta > a, a.button {
  text-transform: uppercase !important; }

/* Backgrounds */
.bg-decision-engine-gray {
  background-color: #888c92 !important; }

.bg-red {
  background-color: #c40022 !important; }

.bg-steel-blue {
  background-color: #007295 !important; }

.bg-white {
  background-color: #fff !important; }

.no-border {
  border: none !important; }

.center-block {
  float: none; }

p {
  line-height: 160%;
  margin: 0 0 1em; }

label, .label {
  font-weight: 500; }

label.label-default,
.label.label-default,
label.label-primary,
.label.label-primary {
  color: #fff; }

.badge {
  font-weight: 600; }

b, strong, .strong {
  letter-spacing: 0.008em; }

.lead b,
.lead strong,
.lead .strong {
  font-weight: 500;
  letter-spacing: 0.008em; }

p a {
  text-decoration: underline; }

.btn {
  text-decoration: none; }

.btn-lg, .btn-group-lg > .btn {
  border-radius: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.15em;
  line-height: 1;
  padding: 15px 30px;
  text-transform: uppercase; }

.btn-sm, .btn-group-sm > .btn {
  border-radius: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1;
  padding: 8px 14px;
  text-transform: uppercase; }

.btn-xs, .btn-group-xs > .btn {
  border-radius: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 1;
  padding: 5px 10px;
  text-transform: uppercase; }

.btn.brand-yellow {
  background-color: #f6b100;
  border-color: #f6b100;
  color: #10141a; }
  .btn.brand-yellow:hover {
    background-color: #f6a100;
    border-color: #f6a100; }

.btn.brand-blue {
  background-color: #1ae9ef;
  border-color: #1ae9ef;
  color: #10141a; }
  .btn.brand-blue:hover {
    background-color: #0dcfd9;
    border-color: #0dcfd9; }

.table > thead > tr > th {
  font-weight: unset; }

.page-header {
  border-bottom: 0; }

ul, ol {
  margin-bottom: 10px;
  padding-left: 1em; }

li {
  line-height: 140%;
  margin-bottom: 0.5em;
  padding-left: 0.4em; }

ol.long > li, ul.long > li {
  margin-bottom: 1.25em; }

ol li, ol li ul li ol li {
  list-style-type: decimal; }

ol li ol li {
  font-size: 0.875em;
  list-style-type: lower-alpha;
  margin-top: 0.4em;
  margin-bottom: 0.4em; }

ol li ol li ol li {
  font-size: 0.875em;
  list-style-type: decimal;
  margin-top: 0.4em;
  margin-bottom: 0.4em; }

ul ul li {
  font-size: 0.875em;
  list-style-type: square;
  margin-top: 0.4em;
  margin-left: 1em;
  margin-bottom: 0.4em; }

ul ul li:last-of-type {
  margin-bottom: 1em; }

ul ul, ol ul, ol ol, ul ol {
  margin-bottom: 1.3em;
  margin-top: 0.75em; }

ol ul li {
  font-size: 0.875em;
  list-style-type: disc;
  margin-top: 0.4em;
  margin-bottom: 0; }

ol ul li li {
  font-size: 0.875em;
  list-style-type: circle;
  margin-top: 0.4em;
  margin-bottom: 0; }

li:last-of-type, dl:last-of-type, dd:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0; }

p + ul, p + ol, p + dl {
  margin-top: 1em; }

.navbar li, .dropdown-menu li, .breadcrumb li, .pagination li {
  line-height: inherit;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0; }

.navbar ul ul li, .dropdown ul ul li {
  font-size: inherit;
  list-style-type: none;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0; }

ul.dropdown-menu li {
  font-size: inherit;
  list-style-type: none;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0; }

small, .small {
  font-size: 80%;
  line-height: 120%; }

blockquote {
  border: 0 none;
  color: #c40022;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 140%;
  margin: 0 0 0.6em;
  padding: 0;
  text-transform: none;
  word-spacing: 0; }

blockquote.alternate {
  border: 0 none;
  color: #c40022;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 140%;
  margin: 0 0 20px;
  padding: 0;
  text-transform: uppercase;
  word-spacing: 0.09em; }

blockquote::before {
  content: "“";
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: 2px;
  line-height: inherit;
  margin: 0 0 0 -10px;
  padding: 0;
  position: absolute; }

blockquote::after {
  content: "”";
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: relative; }

cite {
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: inherit;
  letter-spacing: 0.03em; }

.help-block {
  font-size: 11px; }

.well {
  border: 0;
  border-radius: 0;
  box-shadow: none; }

.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline, .has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label, .has-warning.checkbox-inline label {
  color: #eb6800; }

.has-warning .form-control {
  background-color: rgba(235, 104, 0, 0.1);
  border-color: #eb6800; }

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #eb0022; }

.has-error .form-control {
  background-color: rgba(235, 0, 34, 0.1);
  border-color: #eb0022; }

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #008500; }

.has-success .form-control {
  background-color: rgba(0, 133, 0, 0.1);
  border-color: #008500; }

.nav-tabs {
  margin-bottom: 1.5em; }

.text-warning {
  color: #eb6800; }

.text-danger {
  color: #eb0022; }

.text-success {
  color: #008500; }

.text-info {
  color: #008c9b; }

/* Layout */
.full-width, .bottom {
  width: 100%; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

/* Text Alignments */
.centered, .center, .button, .cta > a, a.button, .cta, .customer_stories_logos img, .techapps img {
  text-align: center !important; }

.left {
  text-align: left !important; }

.right {
  text-align: right !important; }

.uppercase, h1, h2, h3, h4, h5, h6, .button, .cta > a, a.button {
  text-transform: uppercase; }

.white, button.lead, button.lead:hover, button.lead:active, button.lead:visited, .expertise-container p, .resource:hover, .resource:hover a {
  color: #fff; }

/* Backgrounds */
.bg-decision-engine-gray {
  background-color: #efefef !important; }

.bg-red {
  background-color: #c40022 !important; }

.bg-steel-blue {
  background-color: #007295 !important; }

.bg-blue-gray {
  background-color: #2e3238 !important; }

.bg-white {
  background-color: #fff !important; }

.center-block {
  margin: 0 auto;
  float: none; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10%; }

h1, h2, h3, h4, h5, h6, body, p {
  color: #2a2a2a; }

h1, h2, h3 {
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  font-weight: 400; }

h4, h5, h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 3em;
  text-align: center; }

h2 {
  font-size: 2em;
  line-height: 1.25em; }

h3 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 10px 0; }

body, p, blockquote {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  font-weight: 400; }

.semi-bold, .button, .cta > a, a.button, .resource a {
  font-weight: 600; }

code, .lrembedtxt {
  font-family: Tahoma, Arial, Geneva, Helvetica; }

a {
  color: #dedede;
  text-decoration: none;
  line-height: 19px;
  font-weight: 600; }
  a:hover, a:active, a:visited {
    text-decoration: underline;
    color: #0071db; }

blockquote {
  quotes: "“" "”" "‘" "’";
  font-size: 1.75rem;
  font-weight: normal !important;
  letter-spacing: normal !important;
  line-height: normal !important; }

blockquote:before {
  content: open-quote; }

cite {
  text-transform: uppercase;
  font-size: .75rem;
  white-space: pre; }
  cite:before {
    content: "\A-"; }

/* the button class can be used for both anchor and input tags, defaults to medium/gray */
.button, .cta > a, a.button, .cta > a {
  border-radius: 0px;
  padding: 8px 20px;
  width: 100%;
  text-decoration: none; }

button.lead {
  background-color: #5aaa28; }
  button.lead:hover, button.lead:active, button.lead:visited {
    background-color: #65bf2d; }

button.learning {
  border: 3px solid #0DCFD9;
  background: transparent;
  color: #333; }
  button.learning:hover {
    background-color: #0DCFD9;
    border-color: transparent; }

.offerBox {
  background: #fff url("${images}/solutions/offer-box-stack.png") no-repeat scroll right bottom/70px 100px;
  padding: 10px;
  margin: 10px;
  background-clip: padding-box; }

.expertise-container {
  background-size: cover;
  padding: 60px 0; }
  .expertise-container p {
    background-color: #c40022;
    display: table;
    font-style: normal;
    font-size: 4.4rem;
    font-weight: 300;
    letter-spacing: -0.007em;
    line-height: 175%;
    vertical-align: center;
    padding: 0 20px;
    margin-bottom: 5px;
    text-align: left;
    text-transform: none; }

/* ================================================================
  PRODUCT AND OTHER SHORT DESCRIPTIONS
================================================================ */
.infrastructure-and-services-container .clickarea {
  padding: 5%;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  .infrastructure-and-services-container .clickarea a {
    text-decoration: none; }
  .infrastructure-and-services-container .clickarea:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer; }

.resource-container {
  display: flex;
  flex-wrap: wrap; }

.resource {
  background-color: #fff;
  box-sizing: border-box;
  border-top: 12px solid #23cd69;
  padding: 20px 20px 5px 20px;
  margin-bottom: 40px; }
  .resource p:first-of-type {
    padding-top: 8px;
    font-size: 15px;
    font-weight: 300;
    line-height: 150%; }
  .resource a {
    color: #4c4c4c;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    margin-top: 1em;
    padding-bottom: 20px;
    text-decoration: none;
    text-transform: none; }
  .resource .read-more {
    color: #c40022; }
  .resource:hover {
    background-color: #23cd69;
    border-top: 12px solid rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    .resource:hover a {
      text-decoration: none;
      text-transform: none; }
    .resource:hover img {
      display: none; }
      .resource:hover img.hover {
        display: inline-block; }
  .resource img {
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
    vertical-align: top;
    width: 60px; }
    .resource img.hover {
      display: none; }

.customer_stories_logos img {
  max-height: 70px;
  padding: 1% 2%;
  vertical-align: middle; }
  .customer_stories_logos img:hover {
    background-color: rgba(0, 5, 10, 0.1);
    cursor: pointer; }

.technologies h3 + p {
  padding-top: 8px;
  font-size: 15px;
  font-weight: 300;
  line-height: 150%; }

.techapps img {
  max-height: 80px;
  max-width: 140px;
  padding: 2%;
  vertical-align: middle; }

.techapps span:hover {
  background-color: rgba(0, 5, 10, 0.1);
  cursor: pointer; }

.additional-resource .clickarea {
  border-left: 3px solid transparent;
  padding-left: 10px; }
  .additional-resource .clickarea:hover {
    border-left: 3px solid #00ffff; }

.additional-resource i, .additional-resource span {
  color: #666; }

.additional-resource .fa-angle-right {
  font-size: 2vw; }

.additional-resource .icon {
  font-size: 3vw; }
