extends ../../../_layouts/page

block content
  !=partial("../../global-components/ceiling/ceilingLp/ceilingLp-min")
  !=partial("../../pattern-components/headers/header-refresh-2019", {desc: "Meet Your Business Needs With Custom Environments"})
  != yield
  !=partial("../../global-components/back-to-top/back-to-top")
  !=partial("../../global-components/footer/footerLp")
