extends ../../../_layouts/page

block content
  !=partial("../../global-components/ceiling/ceilingLp")
  .contentOffset-landingPage
  !=partial("../../pattern-components/headers/header-small-imac")
    != yield
  !=partial("../../global-components/footer/footerLp")
