extends ../../../_layouts/page

block content
  !=partial("../../global-components/ceiling/ceilingLp/ceilingLp-refresh")
  <!--Header Short-->
  .refreshBanner
    .imacBanner-container
      .refresh-sideAngle
      .imacBanner-textRow
        .refresh-textContainer.imacBanner-headlineMedium
          h2.refresh-headline Headline that matched the ad clicked on
      .row
        .refresh-bottomAngle
  != yield
!=partial("../../global-components/back-to-top/back-to-top")
!=partial("../../global-components/footer/footerLp")
