<div class="container standard-padding-top">
  <%- partial("../../_partials/solutions/lead.ejs") %>
  <%- partial('../../layouts/valueProps.ejs') %>
</div>

<%- partial('../../layouts/quote-fullWidth.ejs') %>

<%- partial("../../_partials/solutions/cta-bottom.ejs") %>
