<div class="rsLpEvent-announcementRiver">
  <div class="rsLpEvent-announcementRiverContainer">
    <div class="rsLpEvent-announcementRiverRow">
      <div class="rsLpEvent-announcementRiverTitle">
        <h3 class="rsLpEvent-announcementRiverTitleHeader">
          Network with local IT leaders and Rackspace SMEs. Discuss how 
          to drive business results through continuous IT modernization
          over dinner.
        </h3>
      </div>
      <div class="rsLpEvent-announcementRiverDetails">
        <div class="rsLpEvent-announcement-col">
          <span class="rsLpEvent-announcementRiver-secondary">
            Matsuhisa<br/>
            98 Steele St<br/>
            Denver, CO<br/>
            80206<br/>
          </span>
        </div>
        <div class="rsLpEvent-announcement-col">
          <span class="rsLpEvent-announcementRiver-secondary rsLpEvent-announcementRiver-date">
            Thursday, April 11<br/>
            6 - 8:30 PM
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="event">
    <div class="event-row">
      <div class="event-details">
        <div class="event-detailsTitle">Details</div>
        <p>
          Join us at Rackspace::Solve San Francisco, a free conference where you’ll learn how the latest cloud 
          solutions can help you scale your business, get your products to market quickly, and reduce the cost 
          of innovation.
        </p>
        <p>
          Blah blah blahddy blah
          <ul>
            <li>I'm a list item</li>
            <li>I'm a list item</li>
            <li>I'm a list item</li>
            <li>I'm a list item</li>
            <li>I'm a list item</li>
            <li>I'm a list item</li>
          </ul>
        </p>
        <p>
          Beyond empowering companies to tap into the power of the cloud, Rackspace also strives for social 
          empowerment. In that spirit, we’ll make a monetary donation of $15 per attendee to Girls Who Code – 
          up to $5,000. In addition to a great day of learning and networking, your attendance at Rackspace::Solve 
          will help give high school girls the skills and resources they need to pursue opportunities in computing 
          fields.
        </p>
      </div>
      <div class="event-form">
        <!-- NOTE: if a form is present, there should be NO CTA. If form IS present, CTA should be there -->
        <div class="calloutForm">
          <form>
            <div class="form-group">
              <label for="firstName" class="form-label">First Name</label>
              <input type="name" class="form-control" id="firstName">
            </div>
            <div class="form-group">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="name" class="form-control" id="lastName">
            </div>
            <div class="form-group">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="phone" class="form-control" id="phone">
            </div>

            <img src="/imgs/derek/captcha.jpg" style="max-width: none; width: 304px; height: 78px; margin: 10px 0;">

            <div class="form-actions">
              <button type="submit" class="button lead form-submit">Send</button>
            </div>
            <p class="small half-padding-top">Information collected in this form is subject to the <a href="#">Rackspace Privacy Statement.</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="event-images-section">
    <div class="event-images-container">
      <div class="event-image-item">
        <img src="../imgs/derek/cx-teamwork.jpg" alt="" />
      </div>
      <div class="event-image-item">
        <img src="../imgs/derek/cx-teamwork.jpg" alt="" />
      </div>
      <div class="event-image-item">
        <img src="../imgs/derek/cx-teamwork.jpg" alt="" />
      </div>
    </div>
  </div>
  
  <div class="event-agenda-section">
    <div class="event-agenda-container">
      <h3 class="event-agenda-header">Agenda</h3>
      <% for(var i = 0; i < 3; i++) { %>
        <span class="event-agenda-timestamp">Oct 05, 2018 - 8:45am - 9:30am</span>
        <span class="event-agenda-icon"></span>
        <p class="event-agenda-info">
          Street art dreamcatcher cronut typewriter tumblr selfies. Kogi single-origin coffee raw denim,
          retro crucifix 90's tacos polaroid marfa wolf. Whatever disrupt normcore actually af. Roof party
          organic vape raclette biodiesel try-hard art party keffiyeh.
        </p>
      <% } %>
    </div>
  </div>
  
  <div class="quote">
    <div class="quote-wrapper">
      <div class="row">
        <%- partial('../../pattern-components/quotes/_partials/quote.ejs') %>
      </div>
    </div>
  </div>
  
  <div class="event-moderators-section">
    <div class="event-moderators-container">
      <h3 class="event-moderators-header">Moderators</h3>
      <% for(var i = 0; i < 2; i++) { %>
        <div class="event-moderators-item">
          <div class="event-moderators-picContainer">
            <img class="event-moderators-pic" src="../imgs/derek/speaker-thumb.jpg" alt="">
          </div>
          <div class="event-moderators-info">
            <h3 class="event-moderators-name">Derek Zoolander</h3>
            <p>Supermodel, Los Angeles</p>
            <p>Mugatu Inc.</p>
            <p>
              Street art dreamcatcher cronut typewriter tumblr selfies. Kogi single-origin coffee raw denim,
              retro crucifix 90's tacos polaroid marfa wolf. Whatever disrupt normcore actually af. Roof party
              organic vape raclette biodiesel try-hard art party keffiyeh.
            </p>
            </p>
          </div>
        </div>
      <% } %>      
    </div>
  </div>
  
  <div class="event-sponsor-section">
    <div class="event-sponsor-container">
      <h3 class="event-sponsor-header">Sponsored By</h3>
      <div class="event-lpSponsor-logoContainer">
        <% for(var i = 0; i < 3; i++) { %>
          <div class="event-lpSponsor-logo">
            <img src="../imgs/derek/logos/vmware.png" alt="">
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
