<div class="lp-textAreaContainer">
  <div class="lp-textAreaWrapper">
    <h1>Deliver More Value with Managed Hosting</h1>
    <div class="lp-textArea">
       <ul>
        <li>Seeking higher performance, reliability and uptime for I/O intensive workloads?</li>
        <li>Looking for help to securely extend workloads into the cloud?</li>
        <li>Struggling to reduce IT costs while continuing to provide more support?</li>
      </ul>
      <p>Rackspace can help. With over 17 years of experience scaling customer workloads into the cloud, we have earned leadership positions in both the Gartner Magic Quadrant and Forrester Wave. Our army of experts are specialized to provide Fanatical Support at each layer of the infrastructure stack.</p>
      <p>No matter what your business needs, we can work with you to design a best-fit solution that drives more value while minimizing the risk of vendor lock-in.</p>
    </div>
  </div>
  <%- partial("../../pattern-components/lp-callout/lp-callout-chat/lp-callout.ejs") %>
</div>

<div class="bg-light-gray">
  <div class="container half-padding">
    <h2 class="centered">These are Product Features</h2>
  </div>
</div>
<%- partial("../../pattern-components/product-features/product-features.ejs") %>


<%- partial("../../pattern-components/quotes/quote-full-width-slim.ejs") %>

<%- partial("../../pattern-components/ctas/cta-bottom.ejs") %>

