<!-- Ribbon -->
<%- partial('../../pattern-components/ribbon/_partials/ribbon.ejs', {
  'when': 'April 13 - May 1',
  'what': 'Webinar: Weighing Public, Private and Hybrid Cloud Options for Application'
}) %>
<!-- Text section -->
<%- partial("../../pattern-components/webinar-item/webinar-text.ejs") %>
<!-- Webinar section -->
<%- partial("../../pattern-components/webinar-item/webinar-topic.ejs") %>

<!-- Sponsor section -->
<div class="event-sponsor-section">
    <div class="event-sponsor-container">
      <h3 class="event-sponsor-header">Sponsored By</h3>
      <div class="event-lpSponsor-logoContainer">
        <% for(var i = 0; i < 3; i++) { %>
          <div class="event-lpSponsor-logo">
            <img src="../imgs/derek/logos/vmware.png" alt="">
          </div>
        <% } %>
      </div>
    </div>
</div>

<!-- Legal section -->
<div class="half-padding">
  <div class="container">
    <%- partial("./_partials/landingpage-legal.ejs") %>
  </div>
</div>
