<%- partial('../../pattern-components/leads/lead-full-width/lead-full-width.ejs') %>

<!--Features Pattern-->
<%- partial('../../pattern-components/product-features/product-features.ejs') %>

<div class="container">
  <div class="row row-eq-height">

<!--Text Pattern-->
  <div class="col-sm-12">
    <h2>Title of this section of text</h2>
    <%- partial("../../pattern-components/text/text.ejs") %>
    <a href="#" class="button learning">Download the whitepaper</a>
  </div>

</div>
