<div class="lp-callout hidden-md hidden-lg hidden-xl">
  <form class="form-horizontal">
    <div class="col-xs-12">
      <h6>First Name</h6>
      <input type="name" class="form-control" id="firstName" placeholder="First Name">
    </div>
    <div class="col-xs-12">
      <h6>Last Name</h6>
      <input type="name" class="form-control" id="lastName" placeholder="Last Name">
    </div>
    <div class="col-xs-12">
      <h6>Email Address</h6>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="col-xs-12">
      <h6>Company</h6>
      <input type="company" class="form-control" id="company" placeholder="Company">
    </div>
    <div class="col-md-12">
     <label for="textarea"><h6>Message</h6></label>
     <textarea class="form-control" id="textarea" rows="3"></textarea>
    </div>
    <div class="col-md-12 half-padding-top">
      <a class="button lead full-width">Submit</a>
    </div>
  </form>
</div>


<div class="customerLogo-wrapper">
  <div class="customerLogo-container">
    <div class="customerLogo-withCallout">
      <h2 class="customerLogo-title">Establish Trust with Customer Logos</h2>
      <div class="customerLogo-imgRow">
        <div class="customerLogo-imgWrapper">
          <img class="customerLogo-img" src="imgs/derek/all-tech.png"/>
        </div>
        <div class="customerLogo-imgWrapper">
          <img class="customerLogo-img" src="imgs/derek/CSID.png"/>
        </div>
        <div class="customerLogo-imgWrapper">
          <img class="customerLogo-img" src="imgs/derek/pipedrive.png"/>
        </div>
        <div class="customerLogo-imgWrapper">
          <img class="customerLogo-img" src="imgs/derek/Under-Armor.png"/>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 hidden-xs hidden-sm">
      <div class="lp-callout">
        <form class="form-horizontal">
          <div class="col-xs-12">
            <h6>First Name</h6>
            <input type="name" class="form-control" id="firstName" placeholder="First Name">
          </div>
          <div class="col-xs-12">
            <h6>Last Name</h6>
            <input type="name" class="form-control" id="lastName" placeholder="Last Name">
          </div>
          <div class="col-xs-12">
            <h6>Email Address</h6>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="col-xs-12">
            <h6>Company</h6>
            <input type="company" class="form-control" id="company" placeholder="Company">
          </div>
          <div class="col-md-12">
           <label for="textarea"><h6>Message</h6></label>
           <textarea class="form-control" id="textarea" rows="3"></textarea>
          </div>
          <div class="col-md-12 half-padding-top">
            <a class="button lead full-width">Submit</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="standard-padding container">
  <h1>Title of this section of text</h1>
  <div class="row">
    <div class="col-md-8">
      <%- partial("../../pattern-components/text/text.ejs") %>
    </div>
  </div>
</div>

<!--Features Pattern-->
<div class="standard-padding bg-light-gray">
  <h2 class="center">These are some of our features</h2>
  <%- partial('../../pattern-components/product-features/product-features.ejs') %>
</div>

<%- partial('../../pattern-components/quotes/quote-full-width.ejs') %>

<div class="container standard-padding">
  <div class="row">

<!--Text Pattern-->
<div class="standard-padding container">
  <h2>Title of this section of text</h2>
  <div class="row">
    <div class="col-sm-12">
      <%- partial("../../pattern-components/text/text.ejs") %>
    </div>
  </div>
</div>

</div>
