$ceiling-margin: floor($navbar-margin-bottom / 2);

.ceiling{
  @extend .navbar;
  @extend .navbar-default;
  @extend .visible-md;
  @extend .visible-lg;

  margin: 0;
  min-height: $line-height-computed;

  a {
    color: $text-color;
  }

  .navbar-nav {
    margin-bottom: $ceiling-margin;
  }

  .navbar-left:first-child {
    margin-left: 0;
    padding-left: $ceiling-margin;
  }

  .navbar-right{
    ul.dropdown-menu {
      margin-right: floor($ceiling-margin / 2);
    }
    &:last-child{
      margin-right: 0;
      padding-right: $ceiling-margin;
    }
  }

  .dropdown{
    > a {
      @extend .btn;
      @extend .btn-default;
      margin-top: $ceiling-margin;
      margin-right: floor($ceiling-margin / 2);
    }
  }

  ul.menu-inline {
    @extend .list-inline;
    margin-bottom: 0;

    li{
      margin: $ceiling-margin 0;
    }

    label::after {
      content: ": ";
    }
    li::after {
      content: " | ";
    }
    li:last-child::after {
      content: " ";
    }
  }
}
