<div class="standard-padding-full">
  <div class="container text-center">
    <div class="resourcecenter-allResourceLink">
      <a href="javascript:void(0)" class="resourcecenter-allResourceLink">View All Resources</a>
    </div>
  </div>
</div>
