<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!type) { var type = 'pdf'; } %>
<% if(!title) { var title = 'Resource Title'; } %>
<% if(!desc) { var desc = 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean m'; } %>
<!-- Additional Resources Pattern -->

<div class="resourceWrapper resource-condensed resource-<%- type -%>Icon track-click">
  <a class="resource-condensedAnchor resource-anchor" href="javascript:void(0)">
    <div class="resource-condensedTitleRow resource-titleRow">
      <div class="resource-iconWrapper"></div>
      <div class="resource-titleWrapper">
        <h5><%- title -%></h5>
      </div>
    </div>
    <div class="resource-condensedDescRow resource-descRow">
      <div class="resource-linkWrapper">
        <p class="resource-link">View Resource <span class="fa fa-caret-right"></span></p>
      </div>
    </div>
  </a>
</div>
