<!-- Infrastructure and Services section (repeated infserve pattern) -->
  <div class="container">
    <div class="infrastructure-and-services-container">
      <div class="row lead">
      <div class="col-md-10 center-block">
        <h1>This a offers headline with a max of 50 characters</h1>
        <p class="lead">150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. Bumsoc natoque penatib atmagnis dis paturient monte.</p>
      </div>
      </div>

      <!-- 6 Cards -->
      <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="clickarea">
          <a href="http://www.google.com">
            <div class="infraserv">
              <img src="http://broadcast.rackspace.com/r/sites/test/text/images/70px.png" alt="">
              <h3>Name with only 30 characters</h3>
              <p>This description cannot be longer than 75 characters including all spaces.</p>
              <span class="more-info">More Info</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="clickarea">
          <a href="http://www.google.com">
            <div class="infraserv">
              <img src="http://broadcast.rackspace.com/r/sites/test/text/images/70px.png" alt="">
              <h3>Name with only 30 characters</h3>
              <p>This description cannot be longer than 75 characters including all spaces.</p>
              <span class="more-info">More Info</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="clickarea">
          <a href="http://www.google.com">
            <div class="infraserv">
              <img src="http://broadcast.rackspace.com/r/sites/test/text/images/70px.png" alt="">
              <h3>Name with only 30 characters</h3>
              <p>This description cannot be longer than 75 characters including all spaces.</p>
              <span class="more-info">More Info</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="clickarea">
          <a href="http://www.google.com">
            <div class="infraserv">
              <img src="http://broadcast.rackspace.com/r/sites/test/text/images/70px.png" alt="">
              <h3>Name with only 30 characters</h3>
              <p>This description cannot be longer than 75 characters including all spaces.</p>
              <span class="more-info">More Info</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="clickarea">
          <a href="http://www.google.com">
            <div class="infraserv">
              <img src="http://broadcast.rackspace.com/r/sites/test/text/images/70px.png" alt="">
              <h3>Name with only 30 characters</h3>
              <p>This description cannot be longer than 75 characters including all spaces.</p>
              <span class="more-info">More Info</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="clickarea">
          <a href="http://www.google.com">
            <div class="infraserv">
              <img src="http://broadcast.rackspace.com/r/sites/test/text/images/70px.png" alt="">
              <h3>Name with only 30 characters</h3>
              <p>This description cannot be longer than 75 characters including all spaces.</p>
              <span class="more-info">More Info</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
