<!-- Key Offers -->
  <div class="container-fluid bg-steel-blue">
    <div class="container">
      <div class="key-offers-container">
        <div class="row">
        <div class="col-md-12">
          <h2>This a offers headline with a max of 50 characters</h2>
        </div>
        </div>
        <!-- 6 Cards -->
        <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="offerBox">
            <a href="http://www.rackspace.com">
              <h3>Name with only 30 characters</h3>
              <p>150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. Bumsoc natoque penatib atmagnis dis paturient monte.</p>
              <p class="more-info">Learn More</p>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="offerBox">
            <a href="http://www.rackspace.com">
              <h3>Name with only 30 characters</h3>
              <p>150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. Bumsoc natoque penatib atmagnis dis paturient monte.</p>
              <p class="more-info">Learn More</p>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="offerBox">
            <a href="http://www.rackspace.com">
              <h3>Name with only 30 characters</h3>
              <p>150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. Bumsoc natoque penatib atmagnis dis paturient monte.</p>
              <p class="more-info">Learn More</p>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="offerBox">
            <a href="http://www.rackspace.com">
              <h3>Name with only 30 characters</h3>
              <p>150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. Bumsoc natoque penatib atmagnis dis paturient monte.</p>
              <p class="more-info">Learn More</p>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="offerBox">
            <a href="http://www.rackspace.com">
              <h3>Name with only 30 characters</h3>
              <p>150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. Bumsoc natoque penatib atmagnis dis paturient monte.</p>
              <p class="more-info">Learn More</p>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="offerBox">
            <a href="http://www.rackspace.com">
              <h3>Name with only 30 characters</h3>
              <p>150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. Bumsoc natoque penatib atmagnis dis paturient monte.</p>
              <p class="more-info">Learn More</p>
            </a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
