extends ../../_layouts/page

block content
  != partial("../_partials/_ceiling")
  != partial("../_partials/_mainnav")
  != yield
  != partial("../_partials/_rug")
  != partial("../_partials/_footer")
  != partial("../_partials/_basement")
