<div class="container half-padding">
  <div class="row half-padding-top">
    <h4>Heading Usage</h4>
    <p>H1 - h3 can be used in <code>$gray-darkest</code> and <code>.white</code> only and all caps only. They all use Open Sans <code>$heading</code>, uppercase <code>.uppercase;</code>, and font-weight of 200.</p>
  </div>
  <div class="row half-padding-top">
    <h1>H1. An Example of a large heading</h1>
    <p><code>font-size: 3em;</code> For use in hero/banner areas only.</p>
  </div>
  <div class="row half-padding-top">
    <h2>H2. An Example of a lead heading</h2>
    <p><code>font-size: 2em;</code> For use as section, page or river headings.</p>
  </div>
  <div class="row half-padding-top">
    <h3>H3. An Example of an element heading</h3>
      <p><code>font-size: 1.5em;</code> For use as title or headings of elements. i.e. OfferBox, Value Props, Grid module elements, any grid style graphic element.</p>
  </div>
  <hr>
  <div class="row half-padding-top">
    <p>H4-h6 can be used in all caps only. They use Montserrat <code>$subhead</code>, uppercase <code>.uppercase;</code>, and a font-weight of 600 <code>.semi-bold</code>.</p>
  </div>
  <div class="row half-padding-top">
    <h4>h4. An Example of a sub-heading</h4>
    <p><code>font-size: 1.75em;</code> For use as a sub-heading above or beneath an h1 or h2. Only to be used in <code>$brand-primary</code>, <code>$gray-darkest</code> or <code>.white</code>.</p>
  </div>
  <div class="row half-padding-top">
    <h5>h5. An Example of a Text Title</h5>
    <p><code>font-size: 1.25em;</code> For use as a title or heading within a text section. Can be used in <code>$brand-primary</code> or <code>$gray-darkest</code>.</p>
  </div>
  <div class="row half-padding-top">
    <h6>h6. An Example of a Small Accent Text Title</h6>
  </div>
</div>
<div class="container half-padding">
  <div class="row half-padding-top">
    <h4>Examples of Font Usage in Multiple Languages</h4>
  </div>
  <div class="row half-padding-top bg-border">
    <h4>English</h4>
    <h2>H2. An Example of a lead heading. Question?</h2>
    <h4>h4. An Example of a sub-heading. Question?</h4>
    <p>Example of Copy Body Text. Exclamation!</p>
  </div>
  <div class="row half-padding-top bg-border">
    <h4>Spanish</h4>
    <h2>H2. Un ejemplo de una gran partida. ¿Pregunta?</h2>
    <h4>h4 . Un ejemplo de un subtítulo . ¿Pregunta?</h4>
    <p>Ejemplo de texto copia de cuerpo . ¡Exclamación!</p>
  </div>
  <div class="row half-padding-top bg-border">
    <h4>Portugese</h4>
    <h2>H2 . Um Exemplo de um cabeçalho grande . Questão?</h2>
    <h4>h4 . Um exemplo de uma sub -rubrica . Questão?</h4>
    <p>Exemplo de texto cópia do corpo . Exclamação!</p>
  </div>
  <div class="row half-padding-top bg-border">
    <h4>Chinese</h4>
    <h2>H2 。大標題示例。題？</h2>
    <h4>H4 。子標題的一個實例。題？</h4>
    <p>複製正文文本的例子。感嘆！</p>
  </div>
</div>
