<div class="container standard-padding">
  <h4>Inline Form</h4>
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputName">First Name</label>
      <input type="name" class="form-control" id="exampleInputName" placeholder="First Name">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">Check This Box
      </label>
    </div>
    <button type="submit" class="button lead">Send</button>
  </form>
</div>

<div class="container standard-padding">
  <h4>Contact Form</h4>
  <form class="form-horizontal">
    <div class="form-group row">
      <div class="col-xs-6">
        <label class="sr-only" for="FirstName">First Name</label>
        <input type="name" class="form-control" id="FirstName" placeholder="First Name">
      </div>
      <div class="col-xs-6">
        <label class="sr-only" for="LastName">Last Name</label>
        <input type="name" class="form-control" id="LastName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-6">
        <label class="sr-only" for="Email">Email address</label>
        <input type="email" class="form-control" id="Email" placeholder="Enter email">
      </div>
      <div class="col-xs-6">
        <label class="sr-only" for="Phone">Phone Number</label>
        <input type="phone" class="form-control" id="Phone" placeholder="Phone Number">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
       <label for="Textarea"><h6>How can we help you?</h6></label>
       <textarea class="form-control" id="Textarea" rows="3"></textarea>
      </div>
    </div>
    <button type="submit" class="button lead">Send</button>
  </form>
</div>