<!-- Hero -->
  <div class="container-fluid homepage-hero">
    <div class="container standard-padding-full">
      <div class="col-md-8">
        <h2>Expertise comes standard.<br/> Choose your Managed Cloud.</h2>
        <p class="left white">Trusted by more than 60% of the Fortune 100. Serving 300,000+ businesses globally. A leader in the Gartner Magic Quadrant for cloud-enabled managed hosting.</p>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <a href="#chat" class="button lead">Speak with a specialist</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Hosting Options -->
  <div class="container standard-padding" id="hosting-options">
    <div class="row">
      <div class="col-md-12 lead">
        <h3>We're the largest managed cloud provider, offering you expertise across the world's leading clouds</h3>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-3 col-xs-6 product">
        <a href="/dedicated-servers">
          <div class="row">
            <div class="col-sm-4 col-xs-6 center-block">
              <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/dedicatedOutline.svg" style="padding-top:9px;">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <h3>Dedicated Hosting</h3>
            </div>
            <div class="col-xs-3 center-block">
              <hr>
            </div>
            <div class="col-md-12">
              <p class="center">3,000+ hosting engineers across Linux, Windows and VMware</p>
            </div>
          </div>
          <div class="bottom">
              <a href="/dedicated-servers">Learn More</a>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-xs-6 product">
        <a href="/managed-aws">
          <div class="row">
            <div class="col-sm-8 col-xs-10 center-block">
              <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/aws.svg">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Amazon Web Services</h3>
            </div>
            <div class="col-xs-3 center-block">
              <hr>
            </div>
            <div class="col-md-12">
              <p class="center">280+ AWS certified professionals, supporting all 10 AWS public regions</p>
            </div>
          </div>
          <div class="bottom">
              <a href="/managed-aws">Learn More</a>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-xs-6 product">
        <a href="/microsoft">
          <div class="row">
            <div class="col-sm-8 col-xs-10 center-block">
              <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/Microsoft2.svg">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Microsoft Cloud / Azure</h3>
            </div>
            <div class="col-xs-3 center-block">
              <hr>
            </div>
            <div class="col-md-12">
              <p class="center">5-time Microsoft Hosting Partner of the Year — only multi-year winner</p>
            </div>
          </div>
          <div class="bottom">
              <a href="/microsoft">Learn More</a>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-xs-6 product">
        <a href="/openstack">
          <div class="row">
            <div class="col-sm-4 col-xs-6 center-block">
              <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/openstack.svg" style="padding-top:9px;">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Openstack Cloud</h3>
            </div>
            <div class="col-xs-3 center-block">
              <hr>
            </div>
            <div class="col-md-12">
              <p class="center">Co-founder with NASA; the most experience in the world by 100-times</p>
            </div>
          </div>
          <div class="bottom">
              <a href="/openstack">Learn More</a>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- Business Size -->
  <div class="container_fluid bg-blue-gray standard-padding">
    <div class="container" id="solutions">
      <div class="row">
        <div class="col-md-8 center-block">
          <h2 class="white center">Whether you're a small business or a big
    enterprise, we have solutions just for you </h2>
          <p class="white center">Let our experts help you devise the best solution to meet your needs. Select the relevant area to learn more. </p>
        </div>
      </div>
      <div class="row half-padding">
        <div class="col-md-6 center-block">
          <a href="[rsweb:website-hosting]" class="solution">
            <div class="col-md-3 col-sm-6">
                <div class="border-white center">
                  <i class="rsweb srv-web-hosting white rs-4x"></i>
                </div>
              <h6 class="white center">Hosting Solutions</h6>
            </div>
          </a>
          <a href="[rsweb:security:managed-security]" class="solution">
            <div class="col-md-3 col-sm-6">
                <div class="border-white center">
                  <i class="rsweb mng-security white rs-4x"></i>
                </div>
              <h6 class="white center">Managed Security</h6>
            </div>
          </a>
          <a href="[rsweb:data]" class="solution">
            <div class="col-md-3 col-sm-6">
                <div class="border-white center">
                  <i class="rsweb mng-databases white rs-4x"></i>
                </div>
              <h6 class="white center">Managed Databases</h6>
            </div>
          </a>
          <a href="[rsweb:email-hosting]" class="solution">
            <div class="col-md-3 col-sm-6">
                <div class="border-white center">
                  <i class="rsweb srv-email white rs-4x"></i>
                </div>
              <h6 class="white center">Email <br/>Hosting</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Cloud and Tech -->
  <!--  -->
  <div class="container-fluid standard-padding" style="background-image:url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/ctp2.jpg');background-size: contain; background-position: center; background-color: #385d75; background-repeat: no-repeat;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="white center">Rackspace &amp; Cloud Technology Partners</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 center-block"> 
            <p class="center white">Rackspace and CTP have announced a strategic relationship to deliver professional and managed services for enterprises leveraging the leading cloud platforms. The combination of Fanatical Support<sup>&reg;</sup> with CTP’s best-of-breed services provides enterprise customers with a holistic solution for cloud adoption.</p>
            <div class="col-md-6 center-block centered">
              <a href="[rsweb:ctp]" class="white">LEARN MORE</a>
            </div>
        </div>
    </div>
  </div>




  <!-- Quadrant -->
  <div class="container_fluid" id="quadrant">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-6">
          <h2 class="right">Fanatical Support wherever you are, day or night, we have you covered 24x7x365</h2>
          <p class="right">We're more than just a hosting provider - we're your trusted service partner, and we're ready to help solve the toughest problems. Gartner has recognized us as a leader in their <a href="[rsweb:about:cloud-enabled]">Magic Quadrant for Cloud Enabled Managed Hosting.</a></p>
          <div class="row">
            <div class="col-md-5 right half-padding">
              <a class="button learning" href="[rsweb:why-rackspace]">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  


  <!-- Testimonials -->
  <div class="container-fluid bg-blue-gray standard-padding">
    <div class="container">
      <div id="quote">
        <div class="row">
          <div class="col-md-12">
            <h2 class="white center">
              TRUSTED BY THE BRANDS YOU KNOW  
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-1 col-xs-2 center-block quote-icon">
                <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/icons/quote-teal.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 center-block">
                <blockquote class="center white">Because of Fanatical Support, we knew we were partnering with a best-in-class company that shared our vision of getting it done.</blockquote>
                <cite class="center">Brian McManus, Senior Director of Technology - Under Armour</cite>
              </div>
            </div>
            <!--Option for logo-->
            <div class="row read-more">
              <div class="col-md-1 col-xs-2 center-block">
                <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/underarmor.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- logo river -->
  <div class="container-fluid half-padding bg-blue-gray">
    <div class="container customer_stories_logos">
      <div class="row">
        <div class="col-xs-1 centered">
          <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/underarmor.png" alt="">
        </div>
        <div class="col-xs-2 centered">
          <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/redhat.png" alt=""/>
        </div>
        <div class="col-xs-2 centered">
          <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/yeti-logo.png"/>
        </div>
        <div class="col-xs-1 centered">
          <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/rip-curl-logo.png"/>
        </div>
        <div class="col-xs-2 centered">
          <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/six-flags-logo.png"/>
        </div>
        <div class="col-xs-2 centered">
          <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/ksLogo.png"/>
        </div>
        <div class="col-xs-2 centered">
          <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/razorfish-logo.png"/>
        </div>
      </div>
    </div>
  </div>

    
   
  <!-- Contact River -->
  <div class="container-fluid standard-padding bg-light-gray">
    <div class="container">
      <div class="row half-padding">
        <div class="col-md-8 center-block">
          <h2 class="center">Get Free Advice From Our Experts</h2>
          <h5 class="center">We've got your back 24x7x365.</h5>
          <div class="col-sm-2 center-block">
            <i class="rsweb gen-support center"></i>
          </div>
        </div>
      </div>
          <div class="row">
            <div class="col-md-6">
              <p class="">Our helpful and always ready experts are a click or call away. <br/>Anytime. Anywhere.</p>
              <div class="row half-padding">
                <div class="col-md-1">
                  <i class="fa fa-mobile fa-4x"></i>
                </div>
                <div class="col-md-10">
                  <a href="tel:1-844-858-8898" class="darkest-gray">1-844-858-8898</a> Sales</br><br/>
                  <a href="tel:+18009614454" class="darkest-gray">1-800-961-4454</a> Support
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <a href="#" class="button lead">Chat with our Experts</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-md-push-2">
              [rs_form:home]
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
