<%- partial("../_partials/_ceiling") %>
<%- partial("../_partials/_mainnav") %>
<%- partial("../_partials/solutions/header-largeIMAC.ejs") %>

<!-- Hosting Options -->
<div class="container standard-padding hostingOptions">
	<div class="row half-padding-full">
		<div class="col-md-11 center-block">
			<h2 class="center">We're the largest managed cloud provider, offering you expertise across the world's leading clouds</h2>
		</div>
	</div>
	<div class="hostingOptions-productRow">
	  <div class="clear-container panel-flex">
		<div class="product hostingOptions-product">
			<a href="/dedicated-servers" class="hostingOptions-hoverArea">
				<div class="hostingOptions-logoRow">
					<div class="hostingOptions-logo">
						<img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/dedicatedOutline.svg" style="padding-top:9px;">
					</div>
				</div>
				<div class="hostingOptions-titleRow">
				  <h3 class="hostingOptions-title">Dedicated<br/>Hosting</h3>
					<div class="hostingOptions-hrContainer">
						<hr class="hostingOptions-hr">
					</div>
					<div class="hostingOptions-textContainer" style="margin-bottom:20px">
						<p class="hostingOptions-text">More than 3,000 hosting engineers across Linux, Windows and VMware</p>
					</div>
				</div>
				<div class="hostingOptions-learnMoreBottom">
          <a href="/dedicated-servers" class="hostingOptions-learnMore">Learn More</a>
			  </div>
			</a>
		</div>
		<div class="product hostingOptions-product">
			<a href="/managed-aws" class="hostingOptions-hoverArea">
				<div class="hostingOptions-logoRow">
					<div class="hostingOptions-logoWide">
						<img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/amazonPartner.png">
					</div>
				</div>
				<div class="hostingOptions-titleRow">
				  <h3 class="hostingOptions-title">Amazon Web<br/>Services</h3>
					<div class="hostingOptions-hrContainer">
						<hr class="hostingOptions-hr">
					</div>
					<div class="hostingOptions-textContainer">
						<p class="hostingOptions-text">[aws:aws-cert-number] AWS certified professionals, supporting all 11 AWS public regions</p>
					</div>
				</div>
				<div class="hostingOptions-learnMoreBottom">
          <a href="/managed-aws" class="hostingOptions-learnMore">Learn More</a>
			  </div>
			</a>
		</div>
</div>
<div class="clear-container panel-flex">
		<div class="product hostingOptions-product">
			<a href="/microsoft" class="hostingOptions-hoverArea">
				<div class="hostingOptions-logoRow">
					<div class="hostingOptions-logoWide">
						<img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/Microsoft2.svg">
					</div>
				</div>
				<div class="hostingOptions-titleRow">
				  <h3 class="hostingOptions-title">Microsoft<br/> Cloud / Azure</h3>
					<div class="hostingOptions-hrContainer">
						<hr class="hostingOptions-hr">
					</div>
					<div class="hostingOptions-textContainer">
						<p class="hostingOptions-text">5-time Microsoft Hosting Partner of the Year — only multi-year winner</p>
					</div>
				</div>
				<div class="hostingOptions-learnMoreBottom">
          <a href="/microsoft" class="hostingOptions-learnMore">Learn More</a>
			  </div>
			</a>
		</div>
		<div class="product hostingOptions-product">
			<a href="/openstack" class="hostingOptions-hoverArea">
				<div class="hostingOptions-logoRow">
					<div class="hostingOptions-logo">
						<img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/openstack.svg" style="padding-top:9px;">
					</div>
				</div>
				<div class="hostingOptions-titleRow">
				  <h3 class="hostingOptions-title">Openstack<br/>Cloud</h3>
					<div class="hostingOptions-hrContainer">
						<hr class="hostingOptions-hr">
					</div>
					<div class="hostingOptions-textContainer">
						<p class="hostingOptions-text">Co-founder with NASA; the most experience in the world by 100-times</p>
					</div>
				</div>
				<div class="hostingOptions-learnMoreBottom">
          <a href="/cloud/openstack" class="hostingOptions-learnMore">Learn More</a>
			  </div>
       </a>
		</div>
		</div>
	</div>
</div>


<!-- Business Size -->
<div class="bg-blue-gray">
  <div class="container solutions" id="solutions">
    <div class="row">
      <div class="col-md-10 center-block">
        <h2 class="white center">Whether you're a big
  enterprise or a small business, we have solutions just for you </h2>
        <p class="white center">Let our experts help you devise the best solution to meet your needs. Select the relevant area to learn more. </p>
      </div>
    </div>
    <div class="row half-padding-full">
      <div class="col-md-11 center-block">
      <a href="[rs_link:managed-security]" class="solution solutions-hoverArea">
          <div class="col-md-2 col-md-push-1 col-xs-4">
              <div class="border-white center">
                <i class="rsweb mng-security white rs-4x"></i>
              </div>
            <h6 class="white center">Managed Security</h6>
          </div>
        </a>
        <a href="[rs_link:website-hosting]" class="solution solutions-hoverArea">
          <div class="col-md-2 col-md-push-1 col-xs-4">
              <div class="border-white center">
                <i class="rsweb srv-web-hosting white rs-4x"></i>
              </div>
            <h6 class="white center">Website Hosting</h6>
          </div>
        </a>
        <a href="[rs_link:ecommerce]" class="solution solutions-hoverArea">
          <div class="col-md-2 col-md-push-1 col-xs-4">
              <div class="border-white center">
                <i class="rsweb srv-ecommerce white rs-4x"></i>
              </div>
            <h6 class="white center">Ecommerce <br/>Solutions</h6>
          </div>
        </a>
        <a href="[rs_link:data]" class="solution solutions-hoverArea">
          <div class="col-md-2 col-md-push-1 col-xs-4">
              <div class="border-white center">
                <i class="rsweb mng-databases white rs-4x"></i>
              </div>
            <h6 class="white center">Managed Databases</h6>
          </div>
        </a>
        <a href="[rs_link:email-hosting]" class="solution solutions-hoverArea">
          <div class="col-md-2 col-md-push-1 col-xs-4">
              <div class="border-white center">
                <i class="rsweb srv-email white rs-4x"></i>
              </div>
            <h6 class="white center">Email <br/>Hosting</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- Quadrant -->
<div class="container-fluid quadrant" id="quadrant">
  <div class="container">
    <div class="quadrant-row">
      <div class="quadrant-textContainer">
        <h2 class="quadrant-title">Fanatical Support wherever you are, day or night, we have you covered 24x7x365</h2>
        <p class="quadrant-text">We're more than just a hosting provider - we're your trusted service partner, and we're ready to help solve the toughest problems. Gartner has recognized us as a leader in their <a href="[rsweb:about:cloud-enabled]">Magic Quadrant for Cloud Enabled Managed Hosting.</a></p>
          <div class="quadrant-buttonContainer">
            <a class="button learning" href="[rsweb:why-rackspace]">Learn More</a>
          </div>
      </div>
    </div>
  </div>
</div>




<!-- Testimonials -->
<div class="bg-steel-blue standard-padding">
  <div class="container">
    <div id="quote">
      <div class="row">
        <div class="col-md-12">
          <h2 class="white center">
            Trusted By The Brands You Know
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8 center-block">
              <blockquote class="center white">Because of Fanatical Support, we knew we were partnering with a best-in-class company that shared our vision of getting it done.</blockquote>
              <cite class="center">Brian McManus, Senior Director of Technology - Under Armour</cite>
            </div>
          </div>
          <!--Option for logo-->
          <div class="row read-more">
            <div class="col-md-1 col-xs-2 center-block">
              <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/underarmor.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- logo river -->
<div class="container-fluid half-padding bg-steel-blue">
  <div class="container logoShowcase">
    <ul class="logoShowcase-row">
      <li class="logoShowcase-logoItem">
        <img class="logoShowcase-image" src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/underarmor.png" alt="">
      </li>
      <li class="logoShowcase-logoItem">
        <img class="logoShowcase-image" src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/redhat.png" alt=""/>
      </li>
      <li class="logoShowcase-logoItem">
        <img class="logoShowcase-image" src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/yeti-logoNew.png"/>
      </li>
      <li class="logoShowcase-logoItem">
        <img class="logoShowcase-image" src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/rip-curl-logo.png"/>
      </li>
      <li class="logoShowcase-logoItem">
        <img class="logoShowcase-image" src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/six-flags-logo.png"/>
      </li>
      <li  class="logoShowcase-logoItem">
        <img class="logoShowcase-image" src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/ksLogo.png"/>
      </li>
      <li  class="logoShowcase-logoItem">
        <img class="logoShowcase-image" src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/razorfish-logo.png"/>
      </li>
    </div>
  </div>
</div>



<!-- Contact River -->
<div class="container-fluid standard-padding bg-light-gray">
  <div class="container">
    <div class="row half-padding">
      <div class="col-md-8 center-block">
        <h2 class="center">Get Free Advice From Our Experts</h2>
        <h5 class="center">We've got your back 24x7x365.</h5>
        <div class="col-sm-2 center-block">
          <i class="rsweb gen-support center"></i>
        </div>

      </div>
    </div>
  </div>
</div>
