.container.standard-padding
  .row.half-padding-top
    .col-md-12
      h2.red IMAC Banner Examples and Usage

  .row
    .col-md-12
      h5.red Banners
    .col-md-8
      p Our banners are the leading graphic element on all pages and therefore one of our largest vehicles for our brand on the page.
      p These banner types should be used on IMAC campaign pages. A CTA option is included within all banners sections, but is not necessary to use.
      p Addition Photographic Requirements for Web Banners:
      ul
        li To be used full width so at least 2000k pixels wide - larger if possible.
        li The subject or person is off to the right to not interfere with left text
        li No outdated technology
        li High Quality
        li Full Color (not black and white)
        li Doesn't contain any predominant non-rackspace logos

.container
  .row.half-padding-full
    .col-md-12
      h5 Large IMAC Banner
      p This banner should be used for headlines between 70 and 88 characters long. The image area is larger and the box width is wider to accommodate for longer headlines.
      p.red.uppercase Do not use this banner for shorter headlines in order to have a larger banner image area. The banner is dictated by headline length/size.

include ../_partials/solutions/header-largeIMAC.ejs

.container
  .row.half-padding-full
    .col-md-12
      h5 Medium IMAC Banner
      p This banner should be used for headlines between 50 and 70 characters long. The image area and box width is medium-sized to accommodate for moderate headlines.

include ../_partials/solutions/header-mediumIMAC.ejs

.container
  .row.half-padding-full
    .col-md-12
      h5 Small IMAC Banner
      p This banner should be used for headlines under 50 characters long. The image area and box width is small to accommodate for our much shorter headlines.
      p.red.uppercase Do not use this banner for larger headlines in order to have a smaller banner image area. The banner is dictated by headline length/size.

include ../_partials/solutions/header-smallIMAC.ejs

hr

.container
  .row.half-padding-full
    .col-md-12
      h2 Examples
      p All the following are examples of headlines given by Y&R and how they look/will be put into banner areas. If we need to remove/add buttons and button text we can make that happen. There were no examples of internal pages. Still need photography examples.

.half-padding-full
  .imacBanner.large
    .imacBanner-container
      .imacBanner-textRow
        .col-sm-7.imacBanner-textContainer
          h2.imacBanner-headline.imacBanner-headlineLarge Certified to manage the world’s leading clouds. <br/> Because one size doesn’t fit all
          .line.left-top
          .line.left-bottom
          .line.right-bottom
      .imacBanner-buttonRow
        a.button.imacBanner-button Read Our Case Studies
          i.fa.fa-angle-right.imacBanner-buttonIcon

.half-padding-full
  .imacBanner.large
    .imacBanner-container
      .imacBanner-textRow
        .col-sm-7.imacBanner-textContainer
          h2.imacBanner-headline.imacBanner-headlineLarge 6 different clouds, 6 different vendors. <br/>How’s that working out for you?
          .line.left-top
          .line.left-bottom
          .line.right-bottom
      .imacBanner-buttonRow
        a.button.imacBanner-button Read Our Case Studies
          i.fa.fa-angle-right.imacBanner-buttonIcon

.half-padding-full
  .imacBanner.large
    .imacBanner-container
      .imacBanner-textRow
        .col-sm-7.imacBanner-textContainer
          h2.imacBanner-headline.imacBanner-headlineLarge the cloud keeps you ahead of the curve, <br/>but what if it throws you a few
          .line.left-top
          .line.left-bottom
          .line.right-bottom
      .imacBanner-buttonRow
        a.button.imacBanner-button Read Our Case Studies
          i.fa.fa-angle-right.imacBanner-buttonIcon

.half-padding-full
  .imacBanner.large
    .imacBanner-container
      .imacBanner-textRow
        .col-sm-7.imacBanner-textContainer
          h2.imacBanner-headline.imacBanner-headlineLarge 3,000 cloud experts working for you 24/7? <br/>Sounds like you may need a bigger office
          .line.left-top
          .line.left-bottom
          .line.right-bottom
      .imacBanner-buttonRow
        a.button.imacBanner-button Read Our Case Studies
          i.fa.fa-angle-right.imacBanner-buttonIcon

.half-padding-full
  .imacBanner.large
    .imacBanner-container
      .imacBanner-textRow
        .col-sm-7.imacBanner-textContainer
          h2.imacBanner-headline.imacBanner-headlineLarge 1 B hours managing openstack clouds? <br/>Talk about putting time on your side
          .line.left-top
          .line.left-bottom
          .line.right-bottom
      .imacBanner-buttonRow
        a.button.imacBanner-button Read Our Case Studies
          i.fa.fa-angle-right.imacBanner-buttonIcon

.half-padding-full
  .imacBanner.medium
    .imacBanner-container
      .imacBanner-textRow
        .col-sm-6.imacBanner-textContainer
          h2.imacBanner-headline.imacBanner-headlineMedium expertise across the leading clouds. <br/>For when your team needs a team
          .line.left-top
          .line.left-bottom
          .line.right-bottom
      .imacBanner-buttonRow
        a.button.imacBanner-button Read Our Case Studies
          i.fa.fa-angle-right.imacBanner-buttonIcon

.half-padding-full
  .imacBanner.medium
    .imacBanner-container
      .imacBanner-textRow
        .col-sm-6.imacBanner-textContainer
          h2.imacBanner-headline.imacBanner-headlineMedium the cloud is a mystery wrapped in a riddle. <br/>We can unwrap it for you
          .line.left-top
          .line.left-bottom
          .line.right-bottom
      .imacBanner-buttonRow
        a.button.imacBanner-button Read Our Case Studies
          i.fa.fa-angle-right.imacBanner-buttonIcon

.half-padding-full
  .imacBanner.medium
    .imacBanner-container
      .imacBanner-textRow
        .col-sm-6.imacBanner-textContainer
          h2.imacBanner-headline.imacBanner-headlineMedium no one runs openstack better than the ones who invented it
          .line.left-top
          .line.left-bottom
          .line.right-bottom
      .imacBanner-buttonRow
        a.button.imacBanner-button Read Our Case Studies
          i.fa.fa-angle-right.imacBanner-buttonIcon

.half-padding-full
  .imacBanner.medium
    .imacBanner-container
      .imacBanner-textRow
        .col-sm-6.imacBanner-textContainer
          h2.imacBanner-headline.imacBanner-headlineMedium YETI “I can’t imagine not having Rackspace managed cloud”
          .line.left-top
          .line.left-bottom
          .line.right-bottom
      .imacBanner-buttonRow
        a.button.imacBanner-button Read Our Case Studies
          i.fa.fa-angle-right.imacBanner-buttonIcon

.half-padding-full
  .imacBanner.medium
    .imacBanner-container
      .imacBanner-textRow
        .col-sm-6.imacBanner-textContainer
          h2.imacBanner-headline.imacBanner-headlineMedium Does it feel like the cloud is managing you? <br/>We can Turn the tables
          .line.left-top
          .line.left-bottom
          .line.right-bottom
      .imacBanner-buttonRow
        a.button.imacBanner-button Read Our Case Studies
          i.fa.fa-angle-right.imacBanner-buttonIcon

.half-padding-full
  .imacBanner.medium
    .imacBanner-container
      .imacBanner-textRow
        .col-sm-6.imacBanner-textContainer
          h2.imacBanner-headline.imacBanner-headlineMedium spoiler alert: <br/>The cloud isn’t all sunshine and rainbows
          .line.left-top
          .line.left-bottom
          .line.right-bottom
      .imacBanner-buttonRow
        a.button.imacBanner-button Read Our Case Studies
          i.fa.fa-angle-right.imacBanner-buttonIcon

script.
  $(".imacBanner-headlineLarge").fitText(1.1, { maxFontSize: '45px' });
  $(".imacBanner-headlineMedium").fitText(1.1, { maxFontSize: '45px' });


