.container.standard-padding
  .row
    .col-md-12
      h4.red Welcome to Global Ecomm's
      h2.no-margin Derek Theme

  .row.standard-padding-full
    .col-md-12
      p Below is a list of examples to help you get started building your web pages.

  .row
    .col-md-12
      h2.red Templates
    .col-md-4
      h5 Landing Pages
      a(href="derek/examples/landing-page/")
        img.img-thumbnail(src="imgs/derek/examples/landing-page.png")
      p Landing Pages
    .col-md-4
      h5 Section Overview
      a(href="derek/examples/section-overview")
        img.img-thumbnail(src="imgs/derek/examples/section-overview.png")
      p Section Overview
    .col-md-4
      h5 Product Overview
      a(href="derek/examples/#")
        img.img-thumbnail(src="http://placehold.it/240x300")
      p Product Overview (needs development)

  hr

  .row.half-padding
    .col-md-12
      h2.red Solutions
    .col-md-4
      h5 Pattern Library
      a(href="derek/examples/solutions")
        img.img-thumbnail(src="imgs/derek/examples/solutions.png")
    .col-md-4
      h5 Subpanels Library
      a(href="derek/examples/subpanels")
        img.img-thumbnail(src="imgs/derek/examples/subpanels.png")

  hr

  .row.half-padding
    .col-md-12
      h2.red  Inspiration and Examples
  .row
    .col-md-4
      h5 IMAC Banners
      a(href="derek/examples/imac")
        img.img-thumbnail(src="http://placehold.it/240x300")
    .col-md-4
      h5 O365
      a(href="derek/examples/office365")
        img.img-thumbnail(src="imgs/derek/examples/0365.png")
    .col-md-4
      h5 Homepage
      a(href="derek/examples/homepage")
        img.img-thumbnail(src="imgs/derek/examples/homepage.png")
  .row
    .col-md-4
      h5 Event Overview
      a(href="derek/examples/events")
        img.img-thumbnail(src="imgs/derek/examples/event-overview.png")
    .col-md-4
      h5 Story Overview
        a(href="derek/examples/stories")
          img.img-thumbnail(src="imgs/derek/examples/story-overview.png")
    .col-md-4
      h5 Ticker? More Examples.
