extends ../../_layouts/page

block page
  h2 Examples
  p Below is a list of examples to help you get started building your web pages.
  .row.text-center
    .col-md-4
      a(href="derek/examples/landing-page.html")
        img.img-thumbnail(src="imgs/derek/examples/landing-page.png")
      p Landing Page
    .col-md-4
      a(href="derek/examples/solutions.html")
        img.img-thumbnail(src="http://placehold.it/240x300")
      p Solutions
    .col-md-4
      a(href="derek/examples/office365.html")
        img.img-thumbnail(src="http://placehold.it/240x300")
      p Office 365 Patterns