<%- partial("../_partials/_ceilingLp") %>

<div class="clear-fixed-top">
    <div class="jumbotron">
        <div class="container">
            <h1>Landing Page</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>
    <%- partial("../_partials/ticker") %>
    <div class="container">
        <div class="col-sm-4">
            <h3 class="text-center">Text</h3>
            <img src="http://placehold.it/600x200" class="img-responsive" />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum purus justo, et tristique odio faucibus in. Mauris enim nunc, consequat et varius quis, tempor id lacus. Fusce non enim ut nisl laoreet pretium. Nullam et accumsan leo. Nulla
                facilisi. Mauris vestibulum et turpis eget lacinia. In congue feugiat commodo. Quisque vulputate nunc mauris, eget euismod lacus auctor pulvinar. Ut ac tincidunt nibh. Aliquam elementum risus at lobortis mollis. Sed auctor, justo non malesuada
                venenatis, libero nisi fringilla nisl, id pharetra dolor urna at lorem. Nam tempus, dolor id sodales efficitur, velit elit blandit purus, id imperdiet lacus urna in ipsum. Nulla ornare ultricies orci sed rhoncus.</p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Text</h3>
            <img src="http://placehold.it/600x200" class="img-responsive" />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum purus justo, et tristique odio faucibus in. Mauris enim nunc, consequat et varius quis, tempor id lacus. Fusce non enim ut nisl laoreet pretium. Nullam et accumsan leo. Nulla
                facilisi. Mauris vestibulum et turpis eget lacinia. In congue feugiat commodo. Quisque vulputate nunc mauris, eget euismod lacus auctor pulvinar. Ut ac tincidunt nibh. Aliquam elementum risus at lobortis mollis. Sed auctor, justo non malesuada
                venenatis, libero nisi fringilla nisl, id pharetra dolor urna at lorem. Nam tempus, dolor id sodales efficitur, velit elit blandit purus, id imperdiet lacus urna in ipsum. Nulla ornare ultricies orci sed rhoncus.</p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Text</h3>
            <img src="http://placehold.it/600x200" class="img-responsive" />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum purus justo, et tristique odio faucibus in. Mauris enim nunc, consequat et varius quis, tempor id lacus. Fusce non enim ut nisl laoreet pretium. Nullam et accumsan leo. Nulla
                facilisi. Mauris vestibulum et turpis eget lacinia. In congue feugiat commodo. Quisque vulputate nunc mauris, eget euismod lacus auctor pulvinar. Ut ac tincidunt nibh. Aliquam elementum risus at lobortis mollis. Sed auctor, justo non malesuada
                venenatis, libero nisi fringilla nisl, id pharetra dolor urna at lorem. Nam tempus, dolor id sodales efficitur, velit elit blandit purus, id imperdiet lacus urna in ipsum. Nulla ornare ultricies orci sed rhoncus.</p>
        </div>
    </div>
</div>
