<%- partial("../_partials/_ceiling") %>
<%- partial("../_partials/_mainnav") %>
<div class="bg-light-gray">
  <div class="container standard-padding">
    <div class="row">
      <div class="col-md-12">
        <h4>Primary Colors</h4>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-3 col-xs-6 swatch">
        <div class="swatch-color bg-red">
          <div class="swatch-copy-button" data-value="c40022">
            <a data-copytarget="#swatch-copy">Copy</a>
          </div>
        </div>
        <div class="swatch-footer">
          <h6>$brand-primary</h6>
          <h6>#c40022</h6>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="swatch-color signup-green">
          <div class="swatch-color-lighter signup-green" data-toggle="tooltip" data-placement="right" title="Hover State lighten($brand-success, 5%)"></div>
          <div class="swatch-copy-button" data-value="5aaa28">
              <a data-copytarget="#swatch-copy">Copy</a>
          </div>
        </div>
        <div class="swatch-footer">
          <h6>$brand-success</h6>
          <h6>#5aaa28</h6>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="swatch-color bg-medium-teal">
          <div class="swatch-color-darker mediumteal"></div>
          <div class="swatch-copy-button" data-value="0DCFD9">
            <a data-copytarget="#swatch-copy" class="center">Copy</a>
          </div>
        </div>
        <div class="swatch-footer">
          <h6>$medium-teal</h6>
          <h6>#0DCFD9</h6>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="swatch-color bg-blue-gray">
          <div class="swatch-copy-button" data-value="2e3238">
            <a data-copytarget="#swatch-copy" class="center">Copy</a>
          </div>
        </div>
        <div class="swatch-footer">
          <h6>$blue-gray</h6>
          <h6>#2e3238</h6>
        </div>
      </div>
    </div>
    <div class="row half-padding-top">
      <div class="col-md-12">
        <h4>Accent Colors</h4>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-3 col-xs-6">
        <div class="swatch-color mustard">
          <div class="swatch-color-lighter mustard"></div>
          <div class="swatch-color-darker mustard"></div>
          <div class="swatch-copy-button" data-value="5aaa28">
              <a data-copytarget="#swatch-copy">Copy</a>
          </div>
        </div>
        <div class="swatch-footer">
          <h6>$mustard</h6>
          <h6>#f6b100</h6>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="swatch-color orange">
          <div class="swatch-copy-button" data-value="5aaa28">
              <a data-copytarget="#swatch-copy">Copy</a>
          </div>
        </div>
        <div class="swatch-footer">
          <h6>$orange</h6>
          <h6>#ed672f</h6>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="swatch-color purple">
          <div class="swatch-copy-button" data-value="5aaa28">
              <a data-copytarget="#swatch-copy">Copy</a>
          </div>
        </div>
        <div class="swatch-footer">
          <h6>$purple</h6>
          <h6>#784b91</h6>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="swatch-color bg-blue-steel">
          <div class="swatch-copy-button" data-value="5aaa28">
              <a data-copytarget="#swatch-copy">Copy</a>
          </div>
        </div>
        <div class="swatch-footer">
          <h6>$blue-steel</h6>
          <h6>#007295</h6>
        </div>
      </div>
    </div>
    <div class="row half-padding-top">
      <div class="col-md-12">
        <h4>Grays</h4>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-2 col-xs-6">
        <div class="swatch-color bg-light-gray">
        </div>
        <div class="swatch-footer">
          <h6>$gray-lightest</h6>
          <h6>#efefef</h6>
        </div>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="swatch-color gray-light">
        </div>
        <div class="swatch-footer">
          <h6>$gray-lighter</h6>
          <h6>#dedede</h6>
        </div>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="swatch-color gray-base">
        </div>
        <div class="swatch-footer">
          <h6>$gray-base</h6>
          <h6>#666</h6>
        </div>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="swatch-color gray-darker">
        </div>
        <div class="swatch-footer">
          <h6>$gray-darker</h6>
          <h6>#4c4c4c</h6>
        </div>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="swatch-color bg-gray-dark">
        </div>
        <div class="swatch-footer">
          <h6>$gray-dark</h6>
          <h6>#333</h6>
        </div>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="swatch-color darkest-gray">
        </div>
        <div class="swatch-footer">
          <h6>$gray-darkest</h6>
          <h6>#2a2a2a</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row standard-padding">
      <div class="col-md-12">
        <h4>Available River Colors</h4>
        <%- partial('../_partials/solutions/rivers.ejs') %>
      </div>
    </div>
  </div>
</div>

<!--thinking there should be a different js file that doesnt get included into www for this sort of js.-->
<script>
(function() {
  'use strict';
  $('.swatch-copy-button').click(function copy(e) {
    var element = $(e.target);
    element.append('<input class="copy" type="text" value="' + element.data('value') + '">');

    var copy = element.find('.copy');
    copy[0].select();

    try {
      document.execCommand('copy');
      copy.blur();
    }
    catch (err) {
      alert('please press copy link to copy');
    }

    copy.remove();
  });
})();
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
