<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!blockquote) { var blockquote = "Because of Fanatical Support, we knew we were partnering with a best-in-class company that shared our vision of getting it done."; } %>
<% if(!name) { var name = "Brian McManus"; } %>
<% if(!position) { var position = "Senior Director of Technology"; } %>
<% if(!logoImg) { var logoImg = "imgs/derek/logos/underarmor.png"; } %>
<!-- Quote Partial -->

<div class="quote-logoWrapper">
  <div class="quote-logo">
    <img src="<%- logoImg %>" alt="">
  </div>
</div>
<div class="quote-textWrapper">
  <blockquote class="quote-blockquote"><%- blockquote %></blockquote>
  <p class="quote-attrName"><%- name %></p>
  <p class="quote-attrPosition"><%- position %></p>
</div>
<div class="quote-buttonWrapper">
  <a class="button ghost">View More Stories</a>
</div>

