<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!desc) { var desc = "including 122 CCNAs and 44 CCNPs"; } %>
<% if(!subhead) { var subhead = "Content Management Specialists"; } %>
<!-- Awards and Certs Pattern -->

<div class="awards">
  <h2 class="awards-title">300+</h2>
  <p class="awards-subhead"><%- subhead %></p>
  <p class="awards-subtext"><%- desc %></p>
</div>
