/* the button class can be used for both anchor and input tags, defaults to medium/gray */
.button {
  @extend .semi-bold;
  @extend .uppercase;
  @extend .center;
  border-radius: 0px;
  padding: 15px 20px;
  width:100%;
  text-decoration:none;
  font-size: .85em;
  box-shadow: none;
  border: none;
  cursor: pointer;
  display:inline-block;
  &:hover{
    text-decoration: none;
  }
}

.banner .button{
  background: transparent;
  color: $white;
}

.subnav .button{
  padding: 8px 15px;
}

.button.lead {
  @extend .white;
  background-color: $signup-green;
  &:hover, &:active, &:visited{
    background-color: lighten($signup-green, 5%);
    @extend .white;
  }
}

.button.leaving {
  @extend .white;
  background-color: $mustard;
  &:hover, &:active, &:visited{
    background-color: lighten($mustard, 5%);
    @extend .white;
  }
}

.button.learning {
  border: 3px solid $mediumteal;
  padding: 12px 20px;
  background: $white;
  color: #333;
  &:hover{
    background-color: $mediumteal;
    @extend .white;
  }
}

.banner .button.learning{
  background-color:transparent;
  @extend .white;
  &:hover{
    background-color: $mediumteal;
  }
}
