/* the button class can be used for both anchor and input tags, defaults to medium/gray */
.button, %button {
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: .85em;
  font-weight: 600;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  &:hover {
    text-decoration: none;
  }
}

.banner .button{
  background: transparent;
  color: $white;
}

.banner .button.learning {
  background-color: transparent;
  color: $white;
  &:hover{
    background-color: $mediumteal;
  }
}

.button.lead {
  color: $white;
  background-color: $signup-green;
  &:hover, &:active, &:visited {
    background-color: lighten($signup-green, 5%);
    color: $white;
  }
}

.button.leaving {
  color: $white;
  background-color: $mustard;
  &:hover, &:active, &:visited{
    background-color: lighten($mustard, 5%);
    color: $white;
  }
}

.button.learning {
  background: $white;
  border: 3px solid $mediumteal;
  color: $dark-gray;
  padding: 12px 20px;
  &:hover{
    background-color: $mediumteal;
    color: $white;
  }
}

.cta{
  text-align: center;
  & > a{
    @extend %button;
  }
}

.subnav .button{
  padding: 8px 15px;
}
