$heading: 'Quicksand', Helvetica, Arial, sans-serif;
$subhead: 'Montserrat', Helvetica, Arial, sans-serif;
$copy: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$code: Tahoma, Arial, Geneva, Helvetica;

body, p {
  color: $darkest-gray;
  font-family: $copy;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0 0 1em;
  text-align: left;
}

h1, h2, h3 {
  color: $darkest-gray;
  font-family: $heading;
  font-weight: 400;
  text-transform: uppercase;
}

h4, h5, h6 {
  color: $darkest-gray;
  font-family: $subhead;
  line-height: 1.45em;
  text-transform: uppercase;
  text-align: left;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
  line-height: 1.25em;
}
h3 {
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 10px 0;
}

a {
  cursor: pointer;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
  &:hover {
      color: $bright-blue;      
    }
}

i {
  color: $black;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.rsweb {
    font-family: 'rsweb' !important;
    font-size: 5em;
  }
  &.rs-4x {
    font-size: 4em;
  }
}

ul {
  list-style: disc;
  text-align: left;
}

ul.checks {
  list-style: none;
  padding-left: 1.3em;
  &.teal {
    li:before { color: $darkteal; }
  }
  &.green {
    li:before { color: $signup-green; }
  }
  li {
    list-style: none;
    margin-left: 1em;
    &:before {
      content: "\f00c";
      display: inline-block;
      font-family: FontAwesome;
      margin-left: -1.3em;
      width: 1.3em;
    }
  }
}

li {
  padding: 0;
}

code, .lrembedtxt {
  font-family: $code;
}

.copyright {
  font-size: .75em;
}

.fa-check {
  color: $darkteal;
}

.read-more {
  margin-top: 20px;
  a {
    color: $white;
    text-decoration: none;
  }
}

.semi-bold, strong { font-weight: 600; }
