$heading: 'Quicksand', Helvetica, Arial, sans-serif;
$subhead: 'Montserrat', Helvetica, Arial, sans-serif;
$copy: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$code: Tahoma, Arial, Geneva, Helvetica;

body, p{
  color:$darkest-gray;
  font-family:$copy;
  @extend .left;
  font-weight:300;
}

h1, h2, h3{
  font-family:$heading;
  color:$darkest-gray;
  @extend .uppercase;
  font-weight: 400;
}

h4, h5, h6{
  font-family: $subhead;
  color:$darkest-gray;
  @extend .uppercase;
  @extend .left;
  line-height: 1.45em;
}

h1{
  font-size: 3em;
  text-align: center;
}
h2 {
  font-size:2em;
  line-height:1.25em;
}
h3 {
  font-size:1.5em;
  line-height:1.25em;
  margin: 10px 0;
}
.semi-bold, strong{font-weight: 600;}

code, .lrembedtxt{
  font-family: $code;
}

a {
  color: $light-gray;
  text-decoration: none;
  line-height: 19px;
  font-weight:600;
  &:hover{
      text-decoration:underline;
      color:$bright-blue;
    }
}

i {
  font-size:5em;
  line-height: normal;
  color: black;
  font-style: normal;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:$darkest-gray;
  &:rsweb{
    font-family: 'rsweb'!important;
  }
}

blockquote {
  font-size: 1.75rem;
  font-weight: 300;
  border-left:none;
  margin-bottom: 0px;
}

cite{
  color: $darkteal;
  white-space:pre;
  font-style:italic;
  font-size: .9em;
  font-family: $copy;
  &:before{
    content:"—";
    max-height:1px;
  }
}

.read-more {
  margin-top: 20px;
  a{
    @extend .white;
    text-decoration: none;
  }
}
