/* Layout */
.full-width { width: 100%; }
.no-margin { margin: 0 !important; }
.half-padding{ padding: 20px 15px 30px 15px; }
.half-padding-full { padding: 20px 0px 30px 0px; }
.half-padding-top { padding-top: 20px; }
.no-padding { padding: 0; }
.no-side-padding, %no-side-padding {
  padding-left: 0;
  padding-right: 0;
}
.standard-padding, %standard-padding { padding: 40px 15px 60px 15px; }
.standard-padding-full {
  @extend %standard-padding;
  @extend %no-side-padding;
}

/* Text Alignments */
.centered, .center { text-align: center !important; }
.left { text-align: left; }
.right { text-align: right; }
.uppercase { text-transform: uppercase; }

/*Text Colors*/
.black { color: $black; }
.darkest-gray { color: $darkest-gray; }
.medium-teal { color: $mediumteal; }
.red { color: $rackspace-red; }
.white { color: $white; }

.clear-fixed-top {
  margin-top: $navbar-height;
}

@media screen and (min-width: $screen-md-min){
  .clear-fixed-top {
    margin-top: 89px;
  }
}
