$full-width: 100%;


img { max-width: 100%; }
/* Layout */
.full-width { width: $full-width; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.half-padding{ padding: 20px 15px 30px 15px; }
.half-padding-full{padding: 20px 0px 30px 0px;}
.half-padding-top { padding-top: 20px; }
.standard-padding { padding: 40px 15px 60px 15px; }
.standard-padding-full{padding: 40px 0px 60px 0px;}

/* Text Alignments */
.centered, .center { text-align: center !important; }
.left { text-align: left; }
.right { text-align: right; }
.uppercase { text-transform: uppercase; }
.medium-teal {color:$mediumteal;}
.white {color:$white;}
.darkest-gray{color:$darkest-gray;}
.circle{
  border: solid 2px $darkest-gray;
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;
  display: inline-block;
  margin-bottom: 15px;
}
.border-white{
  border:solid 1px $white;
  padding: 15px;
}

//centered-divs
.center-block{ margin: 0 auto; float:none;}

//equal height columns
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

//absolutely positioning an element to the bottom of its container
.bottom{
  position: absolute;
  bottom: 0;
  @extend .full-width;
  right: 0;
  height:10%;
}
