.subnav{
  background-color:$blue-gray;
  border-radius:0px;
  button{
    margin: 10px 0px;
  }
  li{
    padding: 10px;
    border-bottom:solid transparent 4px;
    &:hover{
        border-bottom:solid $darkteal 4px;
        background-color:transparent;
      }
    a{
      @extend .white;
      font-weight: 400;
      text-decoration: none;
      &:hover{
        background-color:transparent;
        text-decoration: none;
      }
    }
    &.no-hover{
      &:hover{
        border-bottom:solid transparent 4px;
      }
    }
  }
}

.cta{
  @extend .center;
  & > a{
    @extend .button
  }
}

.valueProp{
  margin:10px;
}

.offerBox {
  background: #fff url("${images}/solutions/offer-box-stack.png") no-repeat scroll right bottom / 70px 100px;
  padding: 10px;
  margin: 10px;
  background-clip: padding-box;
}

.expertise-container{
  background-size: cover;
  padding: 60px 0;
  p {
    background-color: $rackspace-red;
    @extend .white;
    display: table;
    font-style: normal;
    font-size: 4.4rem;
    font-weight: 300;
    letter-spacing: -0.007em;
    line-height: 175%;
    vertical-align: center;
    padding: 0 20px;
    margin-bottom: 5px;
    text-align: left;
    text-transform: none;
  }
}

/* ================================================================
  PRODUCT AND OTHER SHORT DESCRIPTIONS
================================================================ */
.infrastructure-and-services-container {
  .clickarea {
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    a {
      text-decoration: none;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor:pointer;
    }
  }
}

.resource-container{
  display: flex;
  flex-wrap: wrap;
}
.resource{
  background-color: $white;
  box-sizing: border-box;
  border-top: 12px solid $bright-green;
  padding: 20px 20px 5px 20px;
  margin-bottom: 40px;

  p:first-of-type{
    padding-top: 8px;
    font-size: 15px;
    font-weight: 300;
    line-height: 150%;
  }
  a{
    color: $medium-dark-gray;
    display: block;
    font-size: 14px;
    @extend .semi-bold;
    letter-spacing: 0;
    margin-top: 1em;
    padding-bottom: 20px;
    text-decoration: none;
    text-transform: none;
  }
  .read-more{
    color: $rackspace-red;
  }
  &:hover{
    background-color: $bright-green;
    border-top: 12px solid rgba(0,0,0,0.2);
    @extend .white;
    cursor: pointer;
    a{
      @extend .white;
      text-decoration: none;
      text-transform: none;
    }
    img {
      display: none;
      &.hover{ display: inline-block; }
      }
    }
  img{
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
    vertical-align: top;
    width: 60px;
    &.hover{ display: none; }
  }
}

.customer_stories_logos {
  img {
    max-height: 70px;
    padding: 1% 2%;
    @extend .center;
    vertical-align: middle;
    &:hover {
      background-color: rgba(0, 5, 10, 0.1);
      cursor: pointer;
    }
  }
}
.technologies {
  h3{
    & + p {
      padding-top: 8px;
      font-size: 15px;
      font-weight: 300;
      line-height: 150%;
    }
  }
}
.techapps {
  img {
    max-height: 80px;
    max-width: 140px;
    padding: 2%;
    @extend .center;
    vertical-align: middle;
    }
    span{
    &:hover {
      background-color: rgba(0, 5, 10, 0.1);
      cursor: pointer;
    }
  }
}
.additional-resource{
  .clickarea{
    border-left:3px solid transparent;
    padding-left:10px;
    &:hover{
      border-left:3px solid $teal;
    }
  }
  i, span {color: $medium-gray;}
  .fa-angle-right {font-size: 2vw;}
  .icon {font-size: 3vw;}
}

.quote-icon{
  padding:20px;
}

.rug{
  background-color:$darkteal;
  @extend .half-padding;
  @extend .center;
  a{
    @extend .white;
    @extend h4;
    @extend .center;
    text-decoration:none;
    &:hover, &:visited, &:focus{
      @extend .white;
    }
    i{
      font-family:'fa';
      font-size:2em;
    }
  }
}

#top-link-desktop a{
  background-color:$darkteal;
  @extend .white;
  @extend h4;
  @extend .center;
  text-decoration:none;
  position: fixed;
  bottom: 0;
  right: 5px;
  width: 50px;
  height: 40px;
  z-index: 100;
  display: none;
  &:hover, &:visited, &:focus{
    @extend .white;
  }
  i{
    font-family:'fa';
    font-size:2em;
  }
}

.nav-tabs{
 @extend .center;
 border:none;
 margin-bottom:0px;
  &>li{
    border-top: 5px solid $darkteal;
    padding:0px;
    background-color:$darkteal;
    float:none;
    display:inline-block;
    //snowflake
    &.enterprise{
      border-top: 5px solid $darkest-gray;
      background-color:$darkest-gray;
        &:hover, &:active{
        border-top: 5px solid $darkest-gray;
        a{
          background-color: $white;
          h2,p{
            color:$darkest-gray;
          }
        }
      }
    }
    a{
      border-radius:0px;
      margin: 0px;
      padding: 10px 20px;
      border:none;
      h2, p{
        @extend .white;
        @extend .center;
        margin:0px;
      }
    }
    &:hover{
      border-top: 5px solid $white;
      a{
        background-color: $darkteal;
      }
    }
    &.active{
      background-color:$white;
      a{
        border:none!important;
        h2, p{
          color: $darkteal;
          @extend .center;
        }
      }
      //snowflake
      &.enterprise {
        a{
          h2, p{
            color:$darkest-gray;
          }
        }
        &:hover{
          border-top: 5px solid $darkest-gray;
        }
      }
      &:hover{
        border-top: 5px solid $darkteal;
      }
    }
  }
}

.tab-content{
  background-color:$white;
  padding:15px;
}

.panel-default>.panel-heading{
 background-color:$darkteal;
 &.enterprise{
   background-color:$darkest-gray;
 }
 .panel-title{
   &:before{
     content: "+";
    float: left;
    width: 40px;
    font-size: 3.5em;
    margin-top: 0px;
    margin-left: -2px;
   }
    a{
      &:hover{
       text-decoration:none;
     }
     h2, p{
       @extend .white;
       @extend .center;
     }
    }
  }
}


//SPECIAL SNOWFLAKES TO FOLLOW

.rocket{
  background-image:url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/rocketBG.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 28%;
}

@media only screen and (max-width : 992px) {
  .rocket{
    background-image:none;
  }
 }
