.subnav{
  background-color:$blue-gray;
  border-radius:0px;
  .subnav-inside{
    width: 100%;
  }
  .navbar-header{
    .col-xs-10{
      margin-top:10px;
    }
    button{
      background-color:transparent;
    }
  }
  .button{
    margin: 7px 0px;
  }
  .icon-bar{
    background-color: white;
  }
  li{
    padding: 7px 7px 6px;
    border-bottom: solid transparent 4px;
    @extend .left;
    &:hover, &.selected{
        border-bottom: solid $darkteal 4px;
        background-color: transparent;
      }
    a{
      @extend .white;
      font-weight: 400;
      text-decoration: none;
      &:hover, &:focus{
        background-color: transparent;
        text-decoration: none;
      }
    }
    &.no-hover{
      float: right;
      &:hover, &:focus{
        border-bottom: solid transparent 4px;
      }
    }
  }
}

.homepage-hero {
  @extend .full-width;
  height: 400px;
  top: 35px;
  margin-bottom: 40px;
  background-image: url("https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/backgrounds/homepage.jpg");
  background-position: 25% 50%;
  position: relative;
  background-size: auto;
  border-bottom: 0;
  h2 {
    padding: 10px 0 10px;
    font-size:2.5em;
    @extend .white;
    @extend .uppercase;
    @extend .left;
    background-color:transparent;
    margin:0px;
  }
}

#hosting-options{
  text-align:center;
  .product{
    p{
      margin-bottom:30px;
    }
    &:hover{
      hr{
        border-color:$mediumteal;
      }
      h3, a{
        color:$mediumteal;
      }
    }
  }
}

#quadrant{
  background-image:url("https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/quadrant.png");
  background-repeat:no-repeat;
  padding: 20px 0px;
  background-size: 40%;
  background-position: 13% bottom;
}

.cta{
  @extend .center;
  & > a{
    @extend .button
  }
}

.valueProp{
  margin:10px;
}

.offerBox {
  background: $white;
  padding: 25px;
  margin: 10px;
  background-clip: padding-box;
  p{
    line-height:1.7em;
  }
  .bottom{
    right: 10%;
    bottom: 5%;
    position: absolute;
    width: 50px;
    height: 50px;
    i{
    font-size: 3em;
    color: #666;
    }
  }
  a, a:hover{
    text-decoration:none;
  }
}

.expertise-container{
  background-size: cover;
  padding: 60px 0;
  p {
    background-color: $rackspace-red;
    @extend .white;
    display: table;
    font-style: normal;
    font-size: 4.4rem;
    font-weight: 300;
    letter-spacing: -0.007em;
    line-height: 175%;
    vertical-align: center;
    padding: 0 20px;
    margin-bottom: 5px;
    text-align: left;
    text-transform: none;
  }
}

/* ================================================================
  PRODUCT AND OTHER SHORT DESCRIPTIONS
================================================================ */
.clickarea {
  padding: 5%;
  background-color:$white;
  a, a:hover {
    text-decoration: none;
    &:hover { text-decoration: none; }
  }
  &:hover {
    background-color: $light-gray;
    cursor:pointer;
  }
  .bottom p:last-of-type{
    color:$rackspace-red;
    @extend .semi-bold;
  }
}


.resource{
  overflow:auto;
  position:relative;
  background-color: $white;
  border-top: 12px solid $bright-green;
  padding: 20px 20px 5px 20px;
  a{
    color: $medium-dark-gray;
    @extend .semi-bold;
    margin-top: 1em;
    padding-bottom: 20px;
    text-decoration: none;  }
  &:hover{
    background-color: $bright-green;
    border-top: 12px solid rgba(0,0,0,0.2);
    a{
      @extend .white;
      text-decoration: none;
    }
    h6, h3{
      @extend .white;
    }
    img {
      display: none;
      &.hover{ display: inline-block; }
      }
    }
  img{
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
    width: 60px;
    &.hover{ display: none; }
  }
}

.customer_stories_logos {
  img {
    max-height: 40px;
    padding: 1% 2%;
    @extend .center;
    vertical-align: middle;
    &:hover {
      background-color: rgba(0, 5, 10, 0.1);
      cursor: pointer;
    }
  }
}
.technologies {
  h3{
    & + p {
      padding-top: 8px;
      font-size: 15px;
      font-weight: 300;
      line-height: 150%;
    }
  }
}
.techapps {
  img {
    max-height: 80px;
    max-width: 140px;
    padding: 2%;
    @extend .center;
    vertical-align: middle;
    }
    span{
    &:hover {
      background-color: rgba(0, 5, 10, 0.1);
      cursor: pointer;
    }
  }
}
.additional-resource{
  @extend .row-eq-height;
  .clickarea{
    padding: 0px;
    display:flex;
    a{display:flex;}
    .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    i{
      color:white;
    }
    &.pdf{background-color:$rackspace-red;}
    &.github{background-color:$purple;}
    &.support{background-color:$darkteal;}
    &.video{background-color:$blue-gray;}
    &.case-study{background-color:$steel-blue;}
    &.news{background-color:$mustard;}
    &.api{background-color:$dark-gray;}
    &.rss{background-color:$magento-orange;}
  }
  .desc{
    overflow:auto;
    margin: 0px;
    padding: 20px;
  }
  .arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    }
  .row-eq-height{
    margin:10px;
    }
  }
  span{@extend .darkest-gray;}
}

.quote-icon{
  padding:20px;
}

.read-more{
  img{
    max-height:40px;
  }
}

.features{
  display: flex;
  .icon{
    background-color:$darkteal;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desc{
    background-color:$white;
    overflow:auto;
    margin: 0px 15px 0px 0px;
  }
  &.three-up{
    display:inline-block;
  }
  ul li{
    margin-left: 1em;
  }
}


.rug-to-top{
  background-color:$darkteal;
  @extend .half-padding;
  @extend .center;
  a{
    @extend h4;
    @extend .white;
    @extend .center;
    text-decoration:none;
    &:hover, &:visited, &:focus{
      @extend .white;
      text-decoration:none;
    }
    i{
      font-size:1.5em;
      font-family:'fontAwesome';
      @extend .white;
      margin:10px 0px 0px 15px;
    }
  }
}

#top-link-desktop a{
  background-color:$darkteal;
  @extend .white;
  @extend h4;
  @extend .center;
  text-decoration:none;
  position: fixed;
  bottom: 0;
  right: 5px;
  width: 35px;
  padding: 0px;
  height: 35px;
  z-index: 100;
  display: none;
  &:hover, &:visited, &:focus{
    @extend .white;
  }
  i{
    font-size:1.1em;
    padding-top:10px;
    @extend .white;
  }
}

.nav-tabs{
 @extend .center;
 border:none;
 margin-bottom:0px;
  &>li{
    border-top: 5px solid $darkteal;
    padding:0px;
    background-color:$darkteal;
    float:none;
    display:inline-block;
    //snowflake
    &.enterprise{
      border-top: 5px solid $darkest-gray;
      background-color:$darkest-gray;
        &:hover, &:active{
        border-top: 5px solid $darkest-gray;
        a{
          background-color: $white;
          h2,p{
            color:$darkest-gray;
          }
          &:hover{
            text-decoration:none;
          }
        }
      }
    }
    a{
      border-radius:0px;
      margin: 0px;
      padding: 10px 20px;
      border:none;
      text-decoration:none;
      h2, p{
        @extend .white;
        @extend .center;
        margin:0px;
      }
    }
    &:hover{
      border-top: 5px solid $white;
      a{
        background-color: $darkteal;
      }
    }
    &.active{
      background-color:$white;
      a{
        border:none!important;
        h2, p{
          color: $darkteal;
          @extend .center;
        }
      }
      //snowflake
      &.enterprise {
        a{
          h2, p{
            color:$darkest-gray;
          }
        }
        &:hover{
          border-top: 5px solid $darkest-gray;
        }
      }
      &:hover{
        border-top: 5px solid $darkteal;
      }
    }
  }
}

.pricing-header-row{
  background-color:$light-gray-white;
  border-bottom:$light-gray;
  min-height: 225px;
}

.tab-content{
  background-color:$white;
  padding:15px;
  position: relative;
  overflow: auto;
}
.panel{
  margin-bottom:0px;
  background-color:transparent;
  box-shadow:none;
}

.panel-default>.panel-heading{
 background-color:$darkteal;
 &.enterprise{
   background-color:$darkest-gray;
 }
 .panel-title{
    &:hover{
     text-decoration:none;
    }
  h2{
    margin-bottom:0px;
  }
  h2, p{
    @extend .white;
    @extend .center;
    }
  }
}

table{width: 100%;}


//SPECIAL SNOWFLAKES TO FOLLOW

.rocket{
  background-image:url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/rocketBG.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 28%;
}

@media only screen and (max-width : 992px) {
  .rocket{
    background-image:none;
  }
  .check, .times{
    float:right;
  }
  .tab-content{
    display:none;
  }
  .subnav li{
    padding: 7px 0px 6px;
    margin:0px;
    font-size:.86em;
  }
 }

 @media only screen and (max-width : 770px) {
   .subnav li{
    width:100%;
    padding:0px;
    margin:0px;
    }
    .navbar-nav {
      margin:7.5px 0px;
    }
    //equal height columns remove in small
    .row-eq-height {
    display: inline-block;
    }
    .additional-resource .icon {
      font-size: 10vw;
    }
 }
 
  a.js-tabcollapse-panel-heading{
      text-decoration:none;
    }
  .enterprise-collapse{
    background-color:$darkest-gray;
  }

  .panel-body a {
    text-decoration: none;
  }

 .pricing{
    background-color:$white;
    h3.teal{
      color:$darkteal;
    }
    hr.white{
      border-top:white solid 1px;
    }
    .triangle-text{
      top: 0px;
      right: 8px;
      position: absolute;
      h4{
        @extend .white;
        @extend .center;
        line-height: 1em;
      }
    }
    .triangle{
      top: -1px;
      right: -1px;
      position: absolute;
      border-top: 90px solid $mediumteal;
      border-left: 110px solid transparent;
    }
    
    .panel-heading{
      background-color:transparent;
      border-radius:0px;
      border-bottom:transparent;
      border-right:solid 1px $light-gray;
      min-height: 222px;
      &.enterprise{
        background-color:$darkest-gray;
      }
      &.business{
        background-color:$darkteal;
        }
      }

    .border-right{
          border-right:solid 1px $light-gray-white;
        }

    .col-md-3{
      padding: 20px 15px;
      border-right:1px solid $light-gray-white;
      background-color: transparent;
      &.pricing{
        padding:0px;
        border:none;
      }
    }
    .price-compare .col-md-4, .price-compare .col-md-9{
      padding:0px;
      &:last-child{
        border:none;
     }
   }
   .price-compare{
      .col-md-4{
      padding: 15px 0px;
      }
      p{
        margin:0px 20px;
      }
   }
   tr{
      td.col-md-2{
          padding: 20px 15px;
          border:1px solid $light-gray-white;
          width:14%;
          &:first-child{
          width: 15.79%;
          }
        }
    }
   .half-padding{
     border-top:1px solid $light-gray-white;
   }
   .col-md-9{
     padding: 20px 0px;
     .row{
       border:none;
     }
   }
   .row{
     border: 1px solid $light-gray-white;
   }
   .title{
    background-color: $light-gray-white;
    border: 1px solid $light-gray;
    padding: 20px 0px;
    @extend .center;
   }
   a{
     text-decoration:none;
     &:hover{
       text-decoration:none;
     }
   }
   .product-icons{
     @extend .centered;
      li{
        display: inline-block;
        width: 30px;
      }
   }
   i{
     font-size: 1.5em;
     vertical-align: middle;
     margin-top: 15px;
   }
   #business .check{
      color:$darkteal;
   }
   .check, #business #enterprise .check{
     color:$darkest-gray
   }
   .times{
     color:$light-gray;
   }
   .fa-arrow-right{
     border:2px solid $darkteal;
     border-radius:50%;
     padding:7px;
     font-size:1em;
     margin-top:0px;
   }
   .lead-cell{
      width: 20%;
   }
 }

#calculator{
  h3{
    font-size:16px!important;
  }
  button{
    padding:0px;
  }
  .cart-total h2{
    line-height: 30px;
  }
}

 .border-white{
   &:hover{
     border-color:$mustard;
     i{
       color:$mustard;
     }
   }
 }
