.subnav{
  background-color:$blue-gray;
  border-radius:0px;
  .subnav-inside{
    width: 100%;
  }
  button, .button{
    margin: 7px 0px;
  }
  li{
    padding: 10px 10px 6px;
    border-bottom: solid transparent 4px;
    &:hover{
        border-bottom: solid $darkteal 4px;
        background-color: transparent;
      }
    a{
      @extend .white;
      font-weight: 400;
      text-decoration: none;
      &:hover{
        background-color: transparent;
        text-decoration: none;
      }
    }
    &.no-hover{
      float: right;
      &:hover{
        border-bottom: solid transparent 4px;
      }
    }
  }
}

.cta{
  @extend .center;
  & > a{
    @extend .button
  }
}

.valueProp{
  margin:10px;
}

.offerBox {
  background: #fff url("${images}/solutions/offer-box-stack.png") no-repeat scroll right bottom / 70px 100px;
  padding: 10px;
  margin: 10px;
  background-clip: padding-box;
}

.expertise-container{
  background-size: cover;
  padding: 60px 0;
  p {
    background-color: $rackspace-red;
    @extend .white;
    display: table;
    font-style: normal;
    font-size: 4.4rem;
    font-weight: 300;
    letter-spacing: -0.007em;
    line-height: 175%;
    vertical-align: center;
    padding: 0 20px;
    margin-bottom: 5px;
    text-align: left;
    text-transform: none;
  }
}

/* ================================================================
  PRODUCT AND OTHER SHORT DESCRIPTIONS
================================================================ */
.infrastructure-and-services-container {
  .clickarea {
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    a {
      text-decoration: none;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor:pointer;
    }
  }
}

.resource{
  overflow:auto;
  position:relative;
  background-color: $white;
  border-top: 12px solid $bright-green;
  padding: 20px 20px 5px 20px;
  a{
    color: $medium-dark-gray;
    @extend .semi-bold;
    margin-top: 1em;
    padding-bottom: 20px;
    text-decoration: none;  }
  &:hover{
    background-color: $bright-green;
    border-top: 12px solid rgba(0,0,0,0.2);
    a{
      @extend .white;
      text-decoration: none;
    }
    h6, h3{
      @extend .white;
    }
    img {
      display: none;
      &.hover{ display: inline-block; }
      }
    }
  img{
    display: inline-block;
    margin-right: 10px;
    padding-top: 10px;
    width: 60px;
    &.hover{ display: none; }
  }
}

.customer_stories_logos {
  img {
    max-height: 70px;
    padding: 1% 2%;
    @extend .center;
    vertical-align: middle;
    &:hover {
      background-color: rgba(0, 5, 10, 0.1);
      cursor: pointer;
    }
  }
}
.technologies {
  h3{
    & + p {
      padding-top: 8px;
      font-size: 15px;
      font-weight: 300;
      line-height: 150%;
    }
  }
}
.techapps {
  img {
    max-height: 80px;
    max-width: 140px;
    padding: 2%;
    @extend .center;
    vertical-align: middle;
    }
    span{
    &:hover {
      background-color: rgba(0, 5, 10, 0.1);
      cursor: pointer;
    }
  }
}
.additional-resource{
  .clickarea{
    border-left:3px solid transparent;
    padding-left:10px;
    &:hover{
      border-left:3px solid $teal;
    }
  }
  i, span {color: $medium-gray;}
  .fa-angle-right {font-size: 2vw;}
  .icon {font-size: 3vw;}
}

.quote-icon{
  padding:20px;
}

.rug{
  background-color:$darkteal;
  @extend .half-padding;
  @extend .center;
  a{
    @extend .white;
    @extend h4;
    @extend .center;
    text-decoration:none;
    &:hover, &:visited, &:focus{
      @extend .white;
    }
    i{
      font-family:'fa';
      font-size:2em;
    }
  }
}

#top-link-desktop a{
  background-color:$darkteal;
  @extend .white;
  @extend h4;
  @extend .center;
  text-decoration:none;
  position: fixed;
  bottom: 0;
  right: 5px;
  width: 50px;
  height: 40px;
  z-index: 100;
  display: none;
  &:hover, &:visited, &:focus{
    @extend .white;
  }
  i{
    font-family:'fa';
    font-size:2em;
  }
}

.nav-tabs{
 @extend .center;
 border:none;
 margin-bottom:0px;
  &>li{
    border-top: 5px solid $darkteal;
    padding:0px;
    background-color:$darkteal;
    float:none;
    display:inline-block;
    //snowflake
    &.enterprise{
      border-top: 5px solid $darkest-gray;
      background-color:$darkest-gray;
        &:hover, &:active{
        border-top: 5px solid $darkest-gray;
        a{
          background-color: $white;
          h2,p{
            color:$darkest-gray;
          }
        }
      }
    }
    a{
      border-radius:0px;
      margin: 0px;
      padding: 10px 20px;
      border:none;
      h2, p{
        @extend .white;
        @extend .center;
        margin:0px;
      }
    }
    &:hover{
      border-top: 5px solid $white;
      a{
        background-color: $darkteal;
      }
    }
    &.active{
      background-color:$white;
      a{
        border:none!important;
        h2, p{
          color: $darkteal;
          @extend .center;
        }
      }
      //snowflake
      &.enterprise {
        a{
          h2, p{
            color:$darkest-gray;
          }
        }
        &:hover{
          border-top: 5px solid $darkest-gray;
        }
      }
      &:hover{
        border-top: 5px solid $darkteal;
      }
    }
  }
}

.tab-content{
  background-color:$white;
  padding:15px;
  position: relative;
  overflow: auto;
}
.panel{
  margin-bottom:0px;
}

.panel-default>.panel-heading{
 background-color:$darkteal;
 &.enterprise{
   background-color:$darkest-gray;
 }
 .panel-title{
    a{
      &:hover{
       text-decoration:none;
     }
     h2{
       margin-bottom:0px;
     }
     h2, p{
       @extend .white;
       @extend .center;
     }
    }
  }
}
table{width: 100%;}
.panel-heading{
  background-color:$light-gray-white;
  min-height:200px;
  border-radius:0px;
  &.enterprise{
    background-color:$darkest-gray;
  }
  &.business{
    background-color:$darkteal;
  }
}


//SPECIAL SNOWFLAKES TO FOLLOW

.rocket{
  background-image:url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/rocketBG.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 28%;
}

@media only screen and (max-width : 992px) {
  .rocket{
    background-image:none;
  }
  .check, .times{
    float:right;
  }
 }
 
 
 .pricing{
   background-color:$white;
   .col-md-3{
     padding: 20px 15px;
     border-right:1px solid $light-gray-white;
     &.pricing{
       padding:0px;
       border:none;
     }
   }
   .price-compare .col-md-4, .price-compare .col-md-9{
     padding:0px;
     border-right:1px solid $light-gray-white;
     &:last-child{
       border:none;
     }
   }
   .half-padding{
     border-top:1px solid $light-gray-white;
   }
   .container{
      border: 1px solid $light-gray-white;
   }
   .col-md-9{
     padding: 20px 0px;
   }
   .row .border{
     border-bottom: 1px solid $light-gray-white;
   }
   .title{
    background-color: $light-gray-white;
    border: 1px solid $light-gray;
    padding: 20px 0px;
    @extend .center;
    a{
      @extend h5;
      &:hover{
        text-decoration:none;
      }
    }
   }
   .product-icons{
     @extend .centered;
      li{
        display: inline-block;
        width: 30px;
      }
   }
   i{
     font-size: 1.5em;
   }
    .check{
      color:$darkteal;
   }
   .times{
     color:$light-gray;
   }
   .fa-arrow-right{
     border:2px solid $darkteal;
     border-radius:50%;
     padding:7px;
     font-size:1em;
   }
   .lead-cell{
      width: 20%;
   }
 }
