//Path to CDN
$images: "https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com";

//Colors
$white: #fff;
$light-gray-white: #efefef;
$bright-gray: #f2f5f5;
$light-gray: #dedede;
$medium-gray: #666;
$medium-dark-gray: #4c4c4c;
$dark-gray: #333;
$darkest-gray: #2a2a2a;
$blue-gray: #2e3238;
$black: #000;

$purple: #784b91;

$decision-engine-blue: #3295E3;
$bright-blue: #0071db;
$light-blue: #09c2e5;
$steel-blue: #007295;
$teal: #00ffff;
$mediumteal: #0DCFD9;
$darkteal: #00B4C3;

$bright-green: #23cd69;
$signup-green: #5aaa28;

$bright-red: #cc0000;
$rackspace-red: #c40022;

$magento-orange: #ed672f;
$mustard: #f6b100;

$active: #00a96d;
$inactive: #ccc;
