//Path to CDN
$images: "https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com";

//Colors
$white: #fff;
$light-gray-white: #efefef;
$light-gray: #dedede;
$medium-gray: #666;
$medium-light-gray: #b8b8b8;
$medium-dark-gray: #4c4c4c;
$dark-gray: #333;
$darkest-gray: #2a2a2a;
$blue-gray: #2e3238;
$black: #000;

$decision-engine-blue: #3295E3;
$bright-blue: #0071db;
$steel-blue: #007295;
$mediumteal: #0DCFD9;
$darkteal: #00B4C3;
$rackspace-red: #c40022;

$bright-green: #23cd69;
$magento-orange: #ed672f;
$purple: #784b91;
$signup-green: #5aaa28;
$mustard: #f6b100;
