@mixin make-banner {
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  font-family: $heading;
}

$banner-height-large: 375px;
$banner-height-medium: 225px;
$banner-text-margin-large: 18%;
$banner-text-margin-medium: 10%;

.banner {
  @include make-banner;

  &.large {
    height: $banner-height-large;

    .banner-text {
      margin-top: $banner-text-margin-large;
    }
  }

  &.medium {
    height: $banner-height-medium;

    .banner-text {
      margin-top: $banner-text-margin-medium;
    }
  }

  &.outlook {
    background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/backgrounds/o365-overview.jpg');
  }

  .header-content {
    margin-top: 25px;
  }
}

.banner-headline {
  @include heading($white);
  font-size: 4rem;
  line-height: 3.75rem;
  text-align: center;
}

.imacBanner {
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/IMACbanners/collaboration-2.jpg');
  background-position: right center;
  background-size: cover;
  color: $white;
  min-height: 220px;
  overflow: hidden;
  padding: 50px 0;
}

.imacBanner-container {
  @include make-container;
  @include fadein(1s);
}

.imacBanner-textRow {
  @include make-row;
}

.imacBanner-headlineLarge {
  @include make-sm-column(7);
}

.imacBanner-headlineMedium {
  @include make-sm-column(6);
}

.imacBanner-headlineSmall {
  @include make-sm-column(5);
}

.imacBanner-headline {
  @include heading($white);
  font-size: 4rem;
  font-weight: 700;
  line-height: .9em;
  margin: 0;
}

.imacBanner-textContainer {
  border: 3px solid $white;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

.imacBanner-buttonRow {
  @include make-row;
  padding-top: 20px;
}

.imacBanner-button {
  @include make-sm-column(3);
  @include button;
  background-color: $brand-primary;
  color: $white;
  font-weight: $font-weight-black;
  margin-left: 20px;
  padding: 8px 20px;

  &:hover {
    background-color: darken($brand-primary, 5%);
    color: $white;
  }
}

.imacBanner-buttonIcon {
  @include text-stroke(1px, $white);
  color: $white;
  float: right;
  margin-top: 3px;
}

.imacBanner-line {
  @include rotate(45deg);
  background-color: $white;
  display: block;
  height: 45rem;
  position: absolute;
  width: 3px;

  &.left-top {
    left: -3px;
    top: -2px;
    transform-origin: 1px 0;
  }

  &.left-bottom {
    left: -2px;
    top: 100%;
    transform-origin: 1px 0;
  }

  &.right-bottom {
    left: 100%;
    top: 100%;
    transform-origin: -1px 2px;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .imacBanner {
    padding: 50px 15px;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .banner {
    min-height: 200px;

    .header-content {
      margin-top: 19px;
    }
  }

  .imacBanner {
    background-blend-mode: color;
    background-color: $black;
    background-image: none;
    padding: 50px 15px;
  }

  .imacBanner-button {
    margin-left: 20px;
    width: 70%;
  }
}
