@mixin button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-family: $copy;
  font-size: 1.5rem;
  font-weight: $font-weight-black;
  margin: 0 auto;
  padding: 11px 50px;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@mixin button-lead {
  background-color: $brand-success;
  color: $white;
  margin-bottom: 0;
  text-align: center;

  &:hover {
    background-color: lighten($brand-success, 5%);
    color: $white;
  }
}

@mixin button-learning {
  background: $white;
  border: 3px solid $brand-secondary;
  color: $gray-dark;
  padding: 12px 20px;

  &:hover {
    background-color: $brand-secondary;
    color: $white;
  }
}

@mixin button-leaving {
  background-color: $mustard;
  color: $white;

  &:hover {
    background-color: lighten($mustard, 5%);
    color: $white;
  }
}

.button {
  @include button;

  &.lead {
    @include button-lead;
    font-family: $copy;
    font-weight: $font-weight-regular;
  }

  &.learning {
    @include button-learning;
  }

  &.leaving {
    @include button-leaving;
  }
}

.subnav {
  .button {
    padding: 8px 15px;
  }
}
