@mixin button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-family: $heading;
  font-size: 1.5rem;
  font-weight: $font-weight-black;
  letter-spacing: .1rem;
  margin: 0 auto;
  padding: 11px 50px;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@mixin button-lead {
  background-color: $brand-success;
  color: $white;
  margin-bottom: 0;
  text-align: center;

  &:hover {
    background-color: lighten($brand-success, 5%);
    color: $white;
  }
}

@mixin button-learning {
  background: $white;
  border: 3px solid $brand-secondary;
  color: $gray-dark;
  padding: 12px 20px;

  &:hover {
    background-color: $brand-secondary;
    color: $white;
  }
}

@mixin button-leaving {
  background-color: $mustard;
  color: $white;

  &:hover {
    background-color: lighten($mustard, 5%);
    color: $white;
  }
}

.button {
  @include button;

  &.lead {
    @include button-lead;
  }

  &.learning {
    @include button-learning;
  }

  &.leaving {
    @include button-leaving;
  }
}

.cta {
  text-align: center;

  & > a {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: .85em;
    font-weight: $font-weight-black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;;
    width: 100%;

    &:hover {
      text-decoration: none;
    }
  }
}

.cta-container {
  padding: $standard-padding;
}

.cta-iconRow,
.cta-titleRow,
.cta-subheadRow,
.cta-buttonRow,
.cta-subtextRow {
  @include make-row;
}

.cta-icon {
  display: block;
  text-align: center;
}

.cta-title {
  margin-bottom: 3px;
  text-align: center;
}

.cta-subhead {
  font-size: 1.25rem;
  text-align: center;
}

.cta-buttonContainer {
  margin: 5px 0;
}

.cta-button {
  @include button;
  @include button-lead;
  display: table;
}

.cta-subtext {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

.subnav {
  .button {
    padding: 8px 15px;
  }
}
