@mixin button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-family: $copy;
  font-size: 1.5rem;
  font-weight: $font-weight-regular;
  line-height: $line-height-computed;
  margin: 0 auto;
  padding: 11px 50px;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@mixin button-lead {
  background-color: $brand-success;
  color: $white;
  margin-bottom: 0;
  text-align: center;

  &:hover {
    background-color: lighten($brand-success, 5%);
    color: $white;
  }
}

@mixin button-learning {
  background-color: $white;
  border: $teal-dark 3px solid;
  color: $gray-darkest;
  padding: 8px 50px;

  &:hover {
    background-color: $teal-dark;
    color: $white;
  }
}

@mixin button-leaving {
  background-color: $blue-login;
  color: $white;

  &::before {
    content: '\e80d';
    font-family: 'rswebfonts';
    margin-right: 10px;
  }

  &:hover {
    background-color: lighten($blue-login, 5%);
    color: $white;
  }
}

@mixin button-download {
  background-color: $brand-primary;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background-color: lighten($brand-primary, 5%);
    color: $white;
  }
}

.button {
  @include button;

  &.lead {
    @include button-lead;
    font-family: $copy;
  }

  &.learning {
    @include button-learning;
  }

  &.leaving {
    @include button-leaving;
  }
}

.subnav {
  .button {
    padding: 8px 15px;
  }
}
