@mixin button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-family: $copy;
  font-size: 1.5rem;
  font-weight: $font-weight-regular;
  line-height: $line-height-computed;
  margin: 0 auto;
  padding: 11px 50px;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@mixin button-lead {
  background-color: $rackspace-red;
  color: $white;
  font-weight: bolder;
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $dark-red;
    color: $white;
  }
}

@mixin button-learning {
  background-color: $purple;
  color: $white;
  text-decoration: none;

  &:hover {
    background-color: $dark-purple;
    color: $white;
  }
}

@mixin button-leaving {
  background-color: $dark-teal;
  color: $white;
  text-decoration: none;

  &::before {
    content: '\e80d';
    font-family: 'rswebfonts';
    margin-right: 10px;
  }

  &:hover {
    background-color: darken($dark-teal, 5%);
    color: $white;
  }
}

@mixin button-download {
  background-color: $brand-primary;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background-color: lighten($brand-primary, 5%);
    color: $white;
  }
}

@mixin button-ghost {
  background-color: transparent;
  border: 3px solid $white;
  color: $white;
  font-family: $heading;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 6px 47px;
  position: relative;
  text-transform: uppercase;

  &:hover {
    background-color: $white;
    color: $black;
  }

  &::after {
    content: '\e801';
    font-family: 'rswebfonts';
    position: absolute;
    right: 10px;
    top: 5px;
  }

}

.button {
  @include button;

  &.lead {
    @include button-lead;
    font-family: $copy;
  }

  &.learning {
    @include button-learning;
  }

  &.leaving {
    @include button-leaving;
  }

  &.ghost {
    @include button-ghost;
  }
}

.subnav {
  .button {
    padding: 8px 15px;
  }
}
