@mixin button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: .85em;
  font-weight: $font-weight-black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    text-decoration: none;
  }
}

@mixin button-lead {
  background-color: $brand-success;
  color: $white;
  margin-bottom: 0;
  text-align: center;

  &:hover {
    background-color: lighten($brand-success, 5%);
    color: $white;
  }
}

@mixin button-learning {
  background: $white;
  border: 3px solid $brand-secondary;
  color: $gray-dark;
  padding: 12px 20px;

  &:hover {
    background-color: $brand-secondary;
    color: $white;
  }
}

@mixin button-leaving {
  background-color: $mustard;
  color: $white;

  &:hover {
    background-color: lighten($mustard, 5%);
    color: $white;
  }
}

.banner {
  .button {
    background: transparent;
    color: $white;

    &.learning {
      background-color: transparent;
      color: $white;

      &:hover {
        background-color: $brand-secondary;
      }
    }
  }
}

.button {
  @include button;

  &.lead {
    @include button-lead;
  }

  &.learning {
    @include button-learning;
  }

  &.leaving {
    @include button-leaving;
  }
}

.cta {
  text-align: center;

  & > a {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: .85em;
    font-weight: $font-weight-black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;;
    width: 100%;

    &:hover {
      text-decoration: none;
    }
  }
}

.subnav {
  .button {
    padding: 8px 15px;
  }
}
