.banner {
  .button {
    background: transparent;
    color: $white;

    &.learning {
      background-color: transparent;
      color: $white;

      &:hover {
        background-color: $mediumteal;
      }
    }
  }
}

.button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: .85em;
  font-weight: 600;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;;
  width: 100%;

  &:hover {
    text-decoration: none;
  }

  &.lead {
    background-color: $signup-green;
    color: $white;

    &:hover {
      background-color: lighten($signup-green, 5%);
      color: $white;
    }
  }

  &.learning {
    background: $white;
    border: 3px solid $mediumteal;
    color: $dark-gray;
    padding: 12px 20px;

    &:hover {
      background-color: $mediumteal;
      color: $white;
    }
  }

  &.leaving {
    background-color: $mustard;
    color: $white;

    &:hover {
      background-color: lighten($mustard, 5%);
      color: $white;
    }
  }
}

.cta {
  text-align: center;

  & > a {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: .85em;
    font-weight: 600;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;;
    width: 100%;

    &:hover {
      text-decoration: none;
    }
  }
}

.subnav {
  .button {
    padding: 8px 15px;
  }
}
