$heading: 'Fira Sans', Helvetica, Arial, sans-serif;
$subhead: 'Fira Sans', Helvetica, Arial, sans-serif;
$copy: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$code: Tahoma, Arial, Geneva, Helvetica;

$font-weight-normal: normal;
$font-weight-regular: 400;
$font-weight-black: 600;

@mixin heading($color: $gray-darkest) {
  color: $color;
  font-family: $heading;
  font-weight: $font-weight-black;
}

@mixin subhead($color: $gray-darkest) {
  color: $color;
  font-family: $subhead;
  font-weight: 500;
  letter-spacing: .05em;
  line-height: 1.45em;
  text-align: left;
}

body {
  @include font-smoothing;
  color: $gray-darkest;
  font-family: $copy;
  font-weight: $font-weight-regular;
  text-align: left;
}

p {
  margin: 0 0 1em;
}

@mixin standard-link {
  color: $rackspace-red;
  cursor: pointer;
  font-weight: $font-weight-regular;
  text-decoration: underline;

  &:hover {
    color: darken($rackspace-red, 10%);
  }
}

p > a {
  @include standard-link;
}

h1 {
  @include heading;
  font-size: 2.25em;
}

h2 {
  @include heading;
  font-size: 1.75em;
  line-height: 1.25em;
}

h3 {
  @include heading;
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 10px 0;
}

h4,
h5,
h6 {
  @include subhead;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.5rem;
}

ul {
  list-style: disc;
  text-align: left;
}

.twoColumnList {
  column-count: 2;
}


.checks,
.times {
  list-style: none;

  li {
    list-style: none;
    margin-left: 1em;

    &::before {
      display: inline-block;
      font-family: rswebfonts;
      margin-left: -1.3em;
      width: 1.3em;
    }
  }
}

.checks {
  li {
    &::before {
      color: $signup-green;
      content: '\e807';
    }
  }
}

.times {
  li {
    &::before {
      content: '\e803';
    }
  }
}


li {
  padding: 0;
}

strong,
.semi-bold {
  font-weight: $font-weight-black;
}

code,
.lrembedtxt {
  font-family: $code;
}

i {
  @include font-smoothing;
  color: $black;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;

  &.rsweb {
    font-family: 'rswebfonts';
    font-size: 4.5em;
  }

  &.rs-4x {
    font-size: 4em;
  }
}

.fa-check {
  color: $signup-green;
}

.read-more {
  color: $brand-primary;
  text-decoration: underline;

  &:hover {
    color: darken($brand-primary, 5%);
  }
}

.copyright {
  font-size: .75em;
}

blockquote {
  border-left: 0;
  font-size: 2.15rem;
  font-weight: $font-weight-regular;
  letter-spacing: 2px;
  line-height: 3rem;
  margin-bottom: 0;
}

cite {
  color: $gray-light;
  display: block;
  font-family: $copy;
  font-size: 1rem;
  font-style: normal;
  font-weight: $font-weight-black;
  text-transform: uppercase;
  white-space: pre-line;

  &::before {
    content: '— ';
    max-height: 1px;
  }
}
