$heading: 'Open Sans', Helvetica, Arial, sans-serif;
$subhead: 'Montserrat', Helvetica, Arial, sans-serif;
$copy: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$code: Tahoma, Arial, Geneva, Helvetica;

@mixin heading {
  color: $gray-darkest;
  font-family: $heading;
  font-weight: 200;
  text-transform: uppercase;
}

@mixin subhead {
  color: $gray-darkest;
  font-family: $subhead;
  line-height: 1.45em;
  text-align: left;
  text-transform: uppercase;
}

@mixin copy {
  color: $gray-darkest;
  font-family: $copy;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0 0 1em;
  text-align: left;
}

body,
p {
  @include copy;
}

h1 {
  @include heading;
  font-size: 3em;
  text-align: center;
}

h2 {
  @include heading;
  font-size: 2em;
  line-height: 1.25em;
}

h3 {
  @include heading;
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 10px 0;
}

h4,
h5,
h6 {
  @include subhead;
}

ul {
  list-style: disc;
  text-align: left;

  &.checks {
    list-style: none;
    padding-left: 1.3em;

    &.teal {
      li {
        &::before {
          color: $teal-dark;
        }
      }
    }

    &.green {
      li {
        &::before {
          color: $brand-success;
          }
        }
      }

    li {
      list-style: none;
      margin-left: 1em;

      &::before {
        content: '\f00c';
        display: inline-block;
        font-family: FontAwesome;
        margin-left: -1.3em;
        width: 1.3em;
      }
    }
  }
}

li {
  padding: 0;
}

a {
  color: $gray-dark;
  cursor: pointer;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;

  &:hover {
    color: $brand-secondary;
  }
}

strong,
.semi-bold {
  font-weight: 600;
}

code,
.lrembedtxt {
  font-family: $code;
}

i {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $black;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;

  &.rsweb {
    font-family: 'rsweb';
    font-size: 5em;
  }

  &.rs-4x {
    font-size: 4em;
  }
}

.fa-check {
  color: $teal-dark;
}

.read-more {
  margin-top: 20px;

  a {
    color: $white;
    text-decoration: none;
  }
}

.copyright {
  font-size: .75em;
}
