@charset 'UTF-8';

label,
.label {
  font-weight: $font-weight-black;
}

label {
  &.label-default,
  &.label-primary {
    color: $white;
  }
}

.label {
  &.label-default,
  &.label-primary {
    color: $white;
  }
}

table {
  width: 100%;
}

.has-error {
  &.radio,
  &.checkbox,
  &.radio-inline,
  &.checkbox-inline {
    color: $brand-danger;
  }

  .checkbox,
  .checkbox-inline,
  .control-label,
  .help-block,
  .radio,
  .radio-inline {
    color: $brand-danger;
  }

  .form-control {
    background-color: lighten($brand-danger, 10);
    border-color: $brand-danger;
  }
}

.has-success {
  &.checkbox,
  &.checkbox-inline,
  &.radio,
  &.radio-inline {
    color: $brand-success;
  }

  .checkbox,
  .checkbox-inline,
  .control-label,
  .help-block,
  .radio,
  .radio-inline {
    color: $brand-success;
  }

  .form-control {
    background-color: lighten($brand-success, 10);
    border-color: $brand-success;
  }
}

.has-warning {
  &.checkbox,
  &.checkbox-inline,
  &.radio,
  &.radio-inline {
    label {
      color: $brand-warning;
    }
  }

  .checkbox,
  .checkbox-inline,
  .control-label,
  .help-block,
  .radio,
  .radio-inline {
    color: $brand-warning;
  }

  .form-control {
    background-color: lighten($brand-warning, 10);
    border-color: $brand-warning;
  }
}

.lpForm-container {
  @include make-container;
  margin-top: -240px;
}

.lpForm {
  @include make-sm-column(4);
  @include make-sm-column-push(8);
  @include make-xs-column(12);
  background-color: $white;
  border: 1px solid $gray-lighter;
  padding: $half-padding;
}

@media only screen and (max-width: $screen-xs-max) {
  .lpForm-container {
    margin-top: 0;
  }
}

.nav-tabs {
  margin-bottom: 1.5em;
}

.panel {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
}

.tab-content {
  background-color: $white;
  padding: 15px 0;
  position: relative;
}

.table > thead > tr > th {
  font-weight: unset;
}

.formModal-closeIcon {
  font-size: 25px;
  opacity: .7;
  position: absolute;
  right: 10px;
  top: 10px;
}

.formModal-title {
  text-align: center;
}

.formModal-content {
  border-radius: 0;
  padding: 15px;
}

.formModal-header {
  border-bottom: 0;
}

.formModal-body {
  padding: 10px 20px;
}

.formModal-label {
  color: $gray-darkest;
}

.formModal-required,
.form-required {
  color: $rackspace-red;
}

.formModal-input {
  background-color: $gray-lightest;
  border: 1px solid transparent;
  box-shadow: none;

  &:focus {
    border-color: $brand-info;
    box-shadow: none;
    outline: 0;
  }
}

.form-checkboxes,
.form-radios {
  border: 0;
  box-shadow: none;
  height: auto;
}

.form-actions {
  .throbber {
    animation: rotate .8s infinite linear;
    background: none;
    border: 2px solid $black;
    border-radius: 50%;
    border-right-color: transparent;
    height: 15px;
    width: 15px;

    @keyframes rotate {
      0%    { transform: rotate(0deg); }
      100%  { transform: rotate(360deg); }
    }
  }
}

.calloutForm {
  max-width: 100%;

  .form-label {
    font-size: 1.2rem;
  }

  .form-submit {
    width: 100%;
  }
}

@media (min-width: $screen-sm-min) {
  .formModal-dialog {
    width: 440px;
  }

  .form-inline {
    button,
    .button {
      width: auto;
    }
  }
}
