@charset 'UTF-8';

label,
.label {
  font-weight: $font-weight-black;
}

label {
  &.label-default,
  &.label-primary {
    color: $white;
  }
}

.label {
  &.label-default,
  &.label-primary {
    color: $white;
  }
}

table {
  width: 100%;
}

.has-error {
  &.radio,
  &.checkbox,
  &.radio-inline,
  &.checkbox-inline {
    color: $brand-danger;
  }

  .checkbox,
  .checkbox-inline,
  .control-label,
  .help-block,
  .radio,
  .radio-inline {
    color: $brand-danger;
  }

  .form-control {
    background-color: rgba(235, 0, 34, .1);
    border-color: $brand-danger;
  }
}

.has-success {
  &.checkbox,
  &.checkbox-inline,
  &.radio,
  &.radio-inline {
    color: $brand-success;
  }

  .checkbox,
  .checkbox-inline,
  .control-label,
  .help-block,
  .radio,
  .radio-inline {
    color: $brand-success;
  }

  .form-control {
    background-color: rgba(0, 133, 0, .1);
    border-color: $brand-success;
  }
}

.has-warning {
  &.checkbox,
  &.checkbox-inline,
  &.radio,
  &.radio-inline {
    label {
      color: $brand-warning;
    }
  }

  .checkbox,
  .checkbox-inline,
  .control-label,
  .help-block,
  .radio,
  .radio-inline {
    color: $brand-warning;
  }

  .form-control {
    background-color: rgba(235, 104, 0, .1);
    border-color: $brand-warning;
  }
}

.lpForm-container {
  @include make-container;
  margin-top: -240px;
}

.lpForm {
  @include make-sm-column(4);
  @include make-sm-column-push(8);
  @include make-xs-column(12);
  background-color: $white;
  border: 1px solid $gray-lighter;
  padding: $half-padding;
}

@media only screen and (max-width: $screen-xs-max) {
  .lpForm-container {
    margin-top: 0;
  }
}

.nav-tabs {
  margin-bottom: 1.5em;
}

.panel {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
}

.tab-content {
  background-color: $white;
  overflow: auto;
  padding: 15px;
  position: relative;
}

.table > thead > tr > th {
  font-weight: unset;
}

.formModal-closeIcon {
  font-size: 25px;
  opacity: .7;
  position: absolute;
  right: 10px;
  top: 10px;
}

.formModal-title {
  text-align: center;
}

.formModal-content {
  border-radius: 0;
  padding: 15px;
}

.formModal-header {
  border-bottom: 0;
}

.formModal-body {
  padding: 10px 20px;
}

.formModal-label {
  color: $gray-darkest;
}

.formModal-required {
  color: $brand-danger;
}

.formModal-input {
  background-color: $gray-lightest;
  border: 1px solid transparent;
  box-shadow: none;

  &:focus {
    border-color: $brand-secondary;
    box-shadow: none;
    outline: 0;
  }
}

@media (min-width: $screen-sm-min) {
  .formModal-dialog {
    width: 440px;
  }

  .form-inline {
    button,
    .button {
      width: auto;
    }
  }
}
