@charset 'UTF-8';

label,
.label {
  font-weight: $font-weight-black;
}

label {
  &.label-default,
  &.label-primary {
    color: $white;
  }
}

.label {
  &.label-default,
  &.label-primary {
    color: $white;
  }
}

table {
  width: 100%;
}

.has-error {
  &.radio,
  &.checkbox,
  &.radio-inline,
  &.checkbox-inline {
    color: $brand-danger;
  }

  .checkbox,
  .checkbox-inline,
  .control-label,
  .help-block,
  .radio,
  .radio-inline {
    color: $brand-danger;
  }

  .form-control {
    background-color: lighten($brand-danger, 10);
    border-color: $brand-danger;
  }
}

.has-success {
  &.checkbox,
  &.checkbox-inline,
  &.radio,
  &.radio-inline {
    color: $brand-success;
  }

  .checkbox,
  .checkbox-inline,
  .control-label,
  .help-block,
  .radio,
  .radio-inline {
    color: $brand-success;
  }

  .form-control {
    background-color: lighten($brand-success, 10);
    border-color: $brand-success;
  }
}

.has-warning {
  &.checkbox,
  &.checkbox-inline,
  &.radio,
  &.radio-inline {
    label {
      color: $brand-warning;
    }
  }

  .checkbox,
  .checkbox-inline,
  .control-label,
  .help-block,
  .radio,
  .radio-inline {
    color: $brand-warning;
  }

  .form-control {
    background-color: lighten($brand-warning, 10);
    border-color: $brand-warning;
  }
}

.lpForm-container {
  @include make-container;
  margin-top: -240px;
}

.lpForm {
  @include make-sm-column(4);
  @include make-sm-column-push(8);
  @include make-xs-column(12);
  background-color: $white;
  border: 1px solid $gray-lighter;
  padding: $half-padding;
}

@media only screen and (max-width: $screen-xs-max) {
  .lpForm-container {
    margin-top: 0;
  }
}

.nav-tabs {
  margin-bottom: 1.5em;
}

.panel {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
}

.tab-content {
  background-color: $white;
  padding: 15px 0;
  position: relative;
}

.table > thead > tr > th {
  font-weight: unset;
}

.formModal-closeIcon {
  font-size: 25px;
  opacity: .7;
  position: absolute;
  right: 10px;
  top: 10px;
}

.formModal-title {
  text-align: center;
}

.formModal-content {
  border-radius: 0;
  padding: 15px;
}

.formModal-header {
  border-bottom: 0;
}

.formModal-body {
  padding: 10px 20px;
}

.formModal-label {
  color: $gray-darkest;
}

.formModal-required,
.form-required {
  color: $rackspace-red;
}

.formModal-input {
  background-color: $gray-lightest;
  border: 1px solid transparent;
  box-shadow: none;

  &:focus {
    border-color: $brand-info;
    box-shadow: none;
    outline: 0;
  }
}

.form-checkboxes,
.form-radios {
  border: 0;
  box-shadow: none;
  height: auto;
}

.form-actions {
  .throbber {
    animation: rotate .8s infinite linear;
    background: none;
    border: 2px solid $black;
    border-radius: 50%;
    border-right-color: transparent;
    height: 15px;
    width: 15px;

    @keyframes rotate {
      0%    { transform: rotate(0deg); }
      100%  { transform: rotate(360deg); }
    }
  }
}

.calloutForm {
  max-width: 100%;

  .form-label {
    font-size: 1.2rem;
  }

  .form-submit {
    width: 100%;
  }
}

@media (min-width: $screen-sm-min) {
  .formModal-dialog {
    width: 440px;
  }

  .form-inline {
    button,
    .button {
      width: auto;
    }
  }
}

// exposed form overrides
$exposed-form-bg: #003482;

// sass-lint:disable-block no-ids
.rs-webform-embedded {
  background-color: $exposed-form-bg;

  & > div {
    @include make-container;

    & > .half-padding-top {
      color: $white;
      margin: 0;
      padding: 20px 10px;
    }

    & a {
      color: $white;
    }
  }
}

.rsExposed-form {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
  @include the-ms-special(3);
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;

  .formModal-title {
    color: $white;
    text-align: left;
  }

  .formModal-label {
    color: $white;
  }

  .form-label {
    color: $white;
  }

  & > .form-item {
    // form input areas

    // form title
    & {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-area: 1 / 1 / 2 / 4;
    }

    // first name field
    & ~ .form-item {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-area: 2 / 1 / 3 / 2;
    }

    // last name field
    & ~ .form-item ~ .form-item {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-area: 2 / 2 / 3 / 3;
    }

    // company field
    & ~ .form-item ~ .form-item ~ .form-item {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-area: 4 / 1 / 5 / 3;
    }

    // email field
    & ~ .form-item ~ .form-item ~ .form-item ~ .form-item {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-area: 3 / 1 / 4 / 2;
    }

    // phone field
    & ~ .form-item ~ .form-item ~ .form-item ~ .form-item ~ .form-item {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-area: 3 / 2 / 4 / 3;
    }

    // message field
    & ~ .form-item ~ .form-item ~ .form-item ~ .form-item ~ .form-item ~ .form-item {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 3;
      grid-area: 2 / 3 / 5 / 4;
    }

    // checkboxes
    & ~ .form-item ~ .form-item ~ .form-item ~ .form-item ~ .form-item ~ .form-item ~ .form-item {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      -ms-grid-row: 5;
      -ms-grid-row-span: 1;
      grid-area: 5 / 1 / 6 / 3;
    }
  }

  & > .captcha {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    color: $white;
    grid-area: 5 / 3 / 6 / 4;
  }

  & > [data-drupal-messages] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    color: lighten($brand-danger, 30%);
    grid-area: 6 / 1 / 7 / 4;
  }

  & > .form-actions {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-area: 7 / 1 / 8 / 4;
  }
}

// mobile form input areas
@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  // sass-lint:disable-block no-vendor-prefixes
  .rsExposed-form {
    grid-gap: 10px;

    & > .form-item {

      // form title
      & {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-area: 1 / 1 / 2 / 4;
      }

      // first name field
      & ~ .form-item {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-area: 2 / 1 / 3 / 4;
      }

      // last name field
      & ~ .form-item ~ .form-item {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-area: 3 / 1 / 4 / 4;
      }

      // company field
      & ~ .form-item ~ .form-item ~ .form-item {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        grid-area: 4 / 1 / 5 / 4;
      }

      // email field
      & ~ .form-item ~ .form-item ~ .form-item ~ .form-item {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-area: 5 / 1 / 6 / 4;
      }

      // phone field
      & ~ .form-item ~ .form-item ~ .form-item ~ .form-item ~ .form-item {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 6;
        -ms-grid-row-span: 1;
        grid-area: 6 / 1 / 7 / 4;
      }

      // message field
      & ~ .form-item ~ .form-item ~ .form-item ~ .form-item ~ .form-item ~ .form-item {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
        grid-area: 7 / 1 / 8 / 4;
      }

      // checkboxes
      & ~ .form-item ~ .form-item ~ .form-item ~ .form-item ~ .form-item ~ .form-item ~ .form-item {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 8;
        -ms-grid-row-span: 1;
        grid-area: 8 / 1 / 9 / 4;
      }
    }

    & > .captcha {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      -ms-grid-row: 9;
      -ms-grid-row-span: 1;
      grid-area: 9 / 1 / 10 / 4;
    }

    & > [data-drupal-messages] {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      -ms-grid-row: 10;
      -ms-grid-row-span: 1;
      grid-area: 10 / 1 / 11 / 4;
    }

    & > .form-actions {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      -ms-grid-row: 11;
      -ms-grid-row-span: 1;
      grid-area: 11 / 1 / 12 / 4;
    }
  }
}

@mixin ms-form-rules {
  .rs-webform-embedded {
    .form-item {
      margin-right: 10px;
      text-align: left;

      .form-label {
        text-align: left;
      }
    }
  }
}

// sass-lint:disable no-vendor-prefixes
@supports (-ms-ime-align: auto) {
  // Edge 12+
  @include ms-form-rules;
}

@media screen and (-ms-high-contrast: none) {
  // IE 11+
  @include ms-form-rules;
}
