@charset 'UTF-8';

label,
.label {
  font-weight: 500;
}

label {
  &.label-default,
  &.label-primary {
    color: $white;
  }
}

.label {
  &.label-default,
  &.label-primary {
    color: $white;
  }
}

table {
  width: 100%;
}

.has-error {
  &.radio,
  &.checkbox,
  &.radio-inline,
  &.checkbox-inline {
    color: #eb0022;
  }

  .checkbox,
  .checkbox-inline,
  .control-label,
  .help-block,
  .radio,
  .radio-inline {
    color: #eb0022;
  }

  .form-control {
    background-color: rgba(235, 0, 34, .1);
    border-color: #eb0022;
  }
}

.has-success {
  &.checkbox,
  &.checkbox-inline,
  &.radio,
  &.radio-inline {
    color: #008500;
  }

  .checkbox,
  .checkbox-inline,
  .control-label,
  .help-block,
  .radio,
  .radio-inline {
    color: #008500;
  }

  .form-control {
    background-color: rgba(0, 133, 0, .1);
    border-color: #008500;
  }
}

.has-warning {
  &.checkbox,
  &.checkbox-inline,
  &.radio,
  &.radio-inline {
    label {
      color: #eb6800;
    }
  }

  .checkbox,
  .checkbox-inline,
  .control-label,
  .help-block,
  .radio,
  .radio-inline {
    color: #eb6800;
  }

  .form-control {
    background-color: rgba(235, 104, 0, .1);
    border-color: #eb6800;
  }
}

.nav-tabs {
  margin-bottom: 1.5em;
}

.panel {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 0;
}

.tab-content {
  background-color: $white;
  overflow: auto;
  padding: 15px;
  position: relative;
}

.table > thead > tr > th {
  font-weight: unset;
}
