@import 'bootstrap_variables';

//**** Required Bootstrap Only ****//

// Core variables and mixins
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

// // Reset and dependencies
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print';

// // Core CSS
@import 'scaffolding';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';

// // Components
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close';

// // Components w/ JavaScript
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals';

// // Utility classes
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities';

//**** Required Global ****//
@import 'swatch';
@import 'fira-font-style';
@import 'rsweb-font-style';
@import 'vendor_prefixes';
@import 'grid';
@import 'modifiers';
@import 'fonts';
@import 'tables';
@import 'forms';
@import 'buttons';
@import 'bootstrap_overrides';
@import 'shared_assets';
@import 'no-gutter';
