$center: center;
$full-width: 100%;
$standard-padding: 40px 15px 60px 15px;
$standard-padding-full: 40px 0 60px;
$half-padding: 20px 15px 30px;
$half-padding-full:  20px 0 30px;
$half-padding-top: 20px;
$left: left;
$no-margin: 0;
$no-padding: 0;
$no-side-padding-left: 0;
$no-side-padding-right: 0;
$right: right;
$uppercase: uppercase;

img { max-width: 100%; }

// Layout
.full-width {
  width: $full-width;
}

.half-padding {
  padding: $half-padding;
}

.half-padding-full {
  padding: $half-padding-full;
}

.half-padding-top {
  padding-top: $half-padding-top;
}

.no-margin {
  margin: $no-margin;
}

.no-padding {
  padding: $no-padding;
}

.no-side-padding {
  padding-left: $no-side-padding-left;
  padding-right: $no-side-padding-right;
}

.standard-padding {
  padding: $standard-padding;
}

.standard-padding-full {
  padding: $standard-padding-full;
}

// Text Alignments
.center,
.centered {
  text-align: $center;
}

.left {
  text-align: $left;
}

.right {
  text-align: $right;
}

.uppercase {
  text-transform: $uppercase;
}

// Text Colors
.blue-gray {
  color: $blue-gray;
}

.darkest-gray {
  color: $gray-darkest;
}

.brand-secondary {
  color: $brand-secondary;
}

.red {
  color: $brand-primary;
}

.white {
  color: $white;
}
