$center: center;
$full-width: 100%;
$standard-padding: 40px ($grid-gutter-width / 2) 60px;
$standard-padding-full: 40px 0 60px;
$standard-padding-top: 40px 0 0;
$half-padding: 20px ($grid-gutter-width / 2) 20px;
$half-padding-full:  20px 0 20px;
$half-padding-top: 20px;
$left: left;
$no-margin: 0;
$no-padding: 0;
$no-side-padding-left: 0;
$no-side-padding-right: 0;
$right: right;
$uppercase: uppercase;

img { max-width: 100%; }

// Layout
.full-width {
  width: $full-width;
}

.half-padding {
  padding: $half-padding;
}

.half-padding-full {
  padding: $half-padding-full;
}

.half-padding-top {
  padding-top: $half-padding-top;
}

.no-margin {
  margin: $no-margin;
}

.no-padding {
  padding: $no-padding;
}

.no-side-padding {
  padding-left: $no-side-padding-left;
  padding-right: $no-side-padding-right;
}

.standard-padding {
  padding: $standard-padding;
}

.standard-padding-full {
  padding: $standard-padding-full;
}

.standard-padding-top {
  padding: $standard-padding-top;
}

//equal height columns
.row-eq-height {
  @include flex-box;
}

@media only screen and (max-width: $screen-xs-max) {
  //equal height columns remove in small
  .row-eq-height {
    display: block;
  }
}

//centered-divs
.center-block {
  float: none;
  margin: 0 auto;
}

// Horizontal rules
hr {
  border: 0;
  border-top: 1px solid $gray-lighter;
  margin-bottom: $line-height-computed / 4;
  margin-top:    $line-height-computed / 4;
}

.hr-red {
  border-top: 1px solid $rackspace-red;
}

// Text Alignments
.center,
.centered {
  text-align: $center;
}

.left {
  text-align: $left;
}

.right {
  text-align: $right;
}

.uppercase {
  text-transform: $uppercase;
}


//Backgrounds
.bg-blue-gray {
  background-color: $blue-gray;
}

.bg-dark-gray {
  background-color: $gray-darkest;
}

.bg-light-gray {
  background-color: $gray-lightest;
}

.bg-white {
  background-color: $white;
}

.bg-red-border {
  border-bottom: 1px solid $rackspace-red;
  border-top: 1px solid $rackspace-red;
}

// Text Colors
.blue-gray {
  color: $blue-gray;
}

.darkest-gray {
  color: $gray-darkest;
}

.brand-secondary {
  color: $brand-secondary;
}

.red {
  color: $brand-primary;
}

.green-signup {
  color: $brand-success;
}

.blue-login {
  color: $blue-login;
}

.white {
  color: $white;
}

.body-region {
  padding-top: $standard-padding-top;
}

@media only screen and (min-width: $screen-lg-min) {
  .half-padding,
  .standard-padding {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }

  .half-padding-full,
  .standard-padding-full {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}
