@font-face {
    font-family: 'rsweb';
    src:    url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/font/icon/rsweb.eot');
    src:    url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/font/icon/rsweb.eot#iefix') format('embedded-opentype'),
        url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/font/icon/rsweb.ttf') format('truetype'),
        url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/font/icon/rsweb.woff') format('woff'),
        url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/font/icon/rsweb.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

i.rsweb {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'rsweb' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons: (
  auto-compute: (char: "\e900"),
  auto-maintenance: (char: "\e901"),
  auto-os-maintenance: (char: "\e902"),
  auto-patching: (char: "\e903"),
  auto-process: (char: "\e904"),
  auto-protection: (char: "\e905"),
  auto-scripts: (char: "\e906"),
  cl-autoscale: (char: "\e907"),
  cl-backup: (char: "\e908"),
  cl-big-data: (char: "\e909"),
  cl-block-storage: (char: "\e90a"),
  cl-cdn: (char: "\e90b"),
  cl-control-panel: (char: "\e90c"),
  cl-databases: (char: "\e90d"),
  cl-dns: (char: "\e90e"),
  cl-email: (char: "\e90f"),
  cl-email-archive: (char: "\e910"),
  cl-files: (char: "\e911"),
  cl-hybrid: (char: "\e912"),
  cl-images: (char: "\e913"),
  cl-load-balancers: (char: "\e914"),
  cl-monitoring: (char: "\e915"),
  cl-networks: (char: "\e916"),
  cl-office: (char: "\e917"),
  cl-orchestration: (char: "\e918"),
  cl-private-cloud: (char: "\e919"),
  cl-queues: (char: "\e91a"),
  cl-registry: (char: "\e91b"),
  cl-scale-apps: (char: "\e91c"),
  cl-security: (char: "\e91d"),
  cl-server-lg: (char: "\e91e"),
  cl-server-md: (char: "\e91f"),
  cl-server-sm: (char: "\e920"),
  cl-servers: (char: "\e921"),
  cl-sites: (char: "\e922"),
  cl-tools: (char: "\e923"),
  cont-design: (char: "\e924"),
  cont-monitoring: (char: "\e925"),
  cont-support: (char: "\e926"),
  ded-api-services: (char: "\e927"),
  ded-backup: (char: "\e928"),
  ded-big-data: (char: "\e929"),
  ded-control-panel: (char: "\e92a"),
  ded-data-replication: (char: "\e92b"),
  ded-databases: (char: "\e92c"),
  ded-email: (char: "\e92d"),
  ded-hosting: (char: "\e92e"),
  ded-load-balancers: (char: "\e92f"),
  ded-log-management: (char: "\e930"),
  ded-managed-virualization: (char: "\e931"),
  ded-monitoring: (char: "\e932"),
  ded-security: (char: "\e933"),
  ded-server-lg: (char: "\e934"),
  ded-server-md: (char: "\e935"),
  ded-server-sm: (char: "\e936"),
  ded-server-xl: (char: "\e937"),
  ded-storage: (char: "\e938"),
  ded-support: (char: "\e939"),
  gen-antivirus: (char: "\e93a"),
  gen-assistance: (char: "\e93b"),
  gen-bolt-fill: (char: "\e93c"),
  gen-bolt-gear: (char: "\e93d"),
  gen-bolt-outline: (char: "\e93e"),
  gen-building-lg: (char: "\e93f"),
  gen-building-md: (char: "\e940"),
  gen-building-sm: (char: "\e941"),
  gen-bummed: (char: "\e942"),
  gen-calculator: (char: "\e943"),
  gen-chart: (char: "\e944"),
  gen-clock: (char: "\e945"),
  gen-cloud: (char: "\e946"),
  gen-code: (char: "\e947"),
  gen-data-replication: (char: "\e948"),
  gen-desktop: (char: "\e949"),
  gen-ecommerce: (char: "\e94a"),
  gen-flame: (char: "\e94b"),
  gen-flame-shield: (char: "\e94c"),
  gen-global: (char: "\e94d"),
  gen-global-traffic: (char: "\e94e"),
  gen-growth: (char: "\e94f"),
  gen-hard-drive: (char: "\e950"),
  gen-help: (char: "\e951"),
  gen-install: (char: "\e952"),
  gen-key: (char: "\e953"),
  gen-laptop: (char: "\e954"),
  gen-license: (char: "\e955"),
  gen-lock-shield: (char: "\e956"),
  gen-locked-checked-shield: (char: "\e957"),
  gen-netowkring: (char: "\e958"),
  gen-network-connection: (char: "\e959"),
  gen-os: (char: "\e95a"),
  gen-patching-shield: (char: "\e95b"),
  gen-payment: (char: "\e95c"),
  gen-pdf: (char: "\e95d"),
  gen-performance: (char: "\e95e"),
  gen-power: (char: "\e95f"),
  gen-processor: (char: "\e960"),
  gen-ram: (char: "\e961"),
  gen-server-instance: (char: "\e962"),
  gen-server-instances: (char: "\e963"),
  gen-server-rack: (char: "\e964"),
  gen-server-room: (char: "\e965"),
  gen-servers: (char: "\e966"),
  gen-servers2: (char: "\e967"),
  gen-shield: (char: "\e968"),
  gen-ssd: (char: "\e969"),
  gen-stacks: (char: "\e96a"),
  gen-stoked: (char: "\e96b"),
  gen-stopwatch: (char: "\e96c"),
  gen-support: (char: "\e96d"),
  gen-uptime: (char: "\e96e"),
  gen-user: (char: "\e96f"),
  gen-web: (char: "\e970"),
  gen-webpage: (char: "\e971"),
  gen-workers: (char: "\e972"),
  idio-binoculars: (char: "\e973"),
  idio-brain: (char: "\e974"),
  idio-cloud-education: (char: "\e975"),
  idio-cycle: (char: "\e976"),
  idio-diamond: (char: "\e977"),
  idio-fist: (char: "\e978"),
  idio-focus: (char: "\e979"),
  idio-heart: (char: "\e97a"),
  idio-high-five: (char: "\e97b"),
  idio-people: (char: "\e97c"),
  idio-piggy: (char: "\e97d"),
  idio-piggy-money: (char: "\e97e"),
  idio-spaceship: (char: "\e97f"),
  idio-straightjacket: (char: "\e980"),
  idio-target: (char: "\e981"),
  idio-torch: (char: "\e982"),
  idio-trophy: (char: "\e983"),
  idio-winner: (char: "\e984"),
  mng-24x7: (char: "\e985"),
  mng-access: (char: "\e986"),
  mng-advisors: (char: "\e987"),
  mng-anti-virus: (char: "\e988"),
  mng-apps: (char: "\e989"),
  mng-backup: (char: "\e98a"),
  mng-cloud: (char: "\e98b"),
  mng-code-assist: (char: "\e98c"),
  mng-databases: (char: "\e98d"),
  mng-firewall: (char: "\e98e"),
  mng-generic: (char: "\e98f"),
  mng-guarantee: (char: "\e990"),
  mng-infrastructure: (char: "\e991"),
  mng-installation: (char: "\e992"),
  mng-log-manager: (char: "\e993"),
  mng-monitoring: (char: "\e994"),
  mng-os-support: (char: "\e995"),
  mng-patching: (char: "\e996"),
  mng-performance: (char: "\e997"),
  mng-power: (char: "\e998"),
  mng-rapid-deployment: (char: "\e999"),
  mng-response: (char: "\e99a"),
  mng-security: (char: "\e99b"),
  mng-security-guidance: (char: "\e99c"),
  mng-service: (char: "\e99d"),
  mng-stack: (char: "\e99e"),
  mng-storage: (char: "\e99f"),
  mng-support: (char: "\e9a0"),
  mng-threat: (char: "\e9a1"),
  mng-virtualization: (char: "\e9a2"),
  srv-advisory: (char: "\e9a3"),
  srv-anti-virus: (char: "\e9a4"),
  srv-architecture: (char: "\e9a5"),
  srv-archiving: (char: "\e9a6"),
  srv-backup: (char: "\e9a7"),
  srv-backups: (char: "\e9a8"),
  srv-caching: (char: "\e9a9"),
  srv-code-deployment: (char: "\e9aa"),
  srv-content-management: (char: "\e9ab"),
  srv-custom-apps: (char: "\e9ac"),
  srv-data-storage: (char: "\e9ad"),
  srv-database: (char: "\e9ae"),
  srv-design-build: (char: "\e9af"),
  srv-design-build-2: (char: "\e9b0"),
  srv-devops: (char: "\e9b1"),
  srv-digital: (char: "\e9b2"),
  srv-disaster-recovery: (char: "\e9b3"),
  srv-ecommerce: (char: "\e9b4"),
  srv-email: (char: "\e9b5"),
  srv-engineer-support: (char: "\e9b6"),
  srv-guidance: (char: "\e9b7"),
  srv-mailgun: (char: "\e9b8"),
  srv-migration: (char: "\e9b9"),
  srv-monitoring: (char: "\e9ba"),
  srv-rich-media: (char: "\e9bb"),
  srv-saas: (char: "\e9bc"),
  srv-ssl: (char: "\e9bd"),
  srv-test-dev: (char: "\e9be"),
  srv-virtualization: (char: "\e9bf"),
  srv-vpn: (char: "\e9c0"),
  srv-web-hosting: (char: "\e9c1"),
  srv-website: (char: "\e9c2"),
);


@each $className, $icon in $icons {
    .#{$className}:before {
        content: map-get($icon, char);
    }
}
