//Path to CDN
$images: 'imgs';

// primary colors
$rackspace-red:     #eb0000;
$blue:              #3300fc;
$purple:            #9500ba;
$teal:              #00c8bc;

// neutrals
$white:             #fff    !default;
$black:             #000    !default;

// secondary
$dark-red:          #c40023;
$dark-purple:       #52194f;
$dark-blue:         #14064e;
$dark-teal:         #056e8d;
$light-red:         #ffdedf;
$light-purple:      #f6d7f4;
$light-blue:        #e8f2fd;
$light-teal:        #d1fffb;

// standard gradients
@mixin background-gradient {
  background: linear-gradient(to right, $rackspace-red 0%, $purple 51%, $blue 100%);
}

$signup-green:      #5aaa28;
$mustard:           #f6b100;

//accent colors
$orange:            #f63;
$teal-medium:       #0dcfd9;
$teal-dark:         #00b4c3;
$blue-login:        #0c808c;
$blue-steel:        #0d1b2a;
//depreciating blue-gray. Don't use for additional elements.
$blue-gray:         #2e3238;

//Grays already defined in bootstrap variables - here as reference
$gray-base:         #666    !default;
$gray-darker:       #4c4c4c !default;
$gray-dark:         #333    !default;
$gray-darkest:      #2a2a2a !default;
$gray-light:        #b8b8b8 !default;
$gray-lighter:      #dedede !default;
$gray-lightest:     #efefef !default;

//our primaries defined in bootstrap variables - here as reference
$brand-primary:     $rackspace-red !default;
$brand-secondary:   $mustard       !default;
$brand-success:     $signup-green  !default;
$brand-warning:     $orange        !default;
$brand-danger:      $rackspace-red !default;

//alpha colors
$black-shadow:		rgba($black, .175);

$black-shadow-dark: rgba($black, .06);
$black-shadow-darker: rgba($black, .15);
$black-shadow-darkest: rgba($black, .2);

$black-modal-overlay: rgba($black, .5);

$red-shadow:		rgba($rackspace-red, .175);

//filter stories colors
$content-gray:     #4c5056;
$filterbar-gray:   #404449;
$stories-link-gray: fade-out($white, .3);
$stories-img-gray: fade-out($white, .7);
$stories-paginate-gray: fade-out($white, .9);

// pagination
$pager-text: #929292;
$pager-bg: rgba($black, .5);

// o365 tables
$table-featured-bg: #2f3239;
$table-header-bg: #454952;
