//Path to CDN
$images: 'imgs';

//primary colors
$rackspace-red:     #c40022;
$signup-green:      #5aaa28;
$mustard:           #f6b100;

//accent colors
$orange:            #f63;
$purple:            #639;
$teal-medium:       #0dcfd9;
$teal-dark:         #00b4c3;
$blue-login:        #0c808c;
$blue-steel:        #0d1b2a;
//depreciating blue-gray. Don't use for additional elements.
$blue-gray:         #2e3238;

//Grays already defined in bootstrap variables - here as reference
$white:             #fff    !default;
$black:             #000    !default;
$gray-base:         #666    !default;
$gray-darker:       #4c4c4c !default;
$gray-dark:         #333    !default;
$gray-darkest:      #2a2a2a !default;
$gray-light:        #b8b8b8 !default;
$gray-lighter:      #dedede !default;
$gray-lightest:     #efefef !default;

//our primaries defined in bootstrap variables - here as reference
$brand-primary:     $rackspace-red !default;
$brand-secondary:   $mustard       !default;
$brand-success:     $signup-green  !default;
$brand-warning:     $orange        !default;
$brand-danger:      $rackspace-red !default;

//alpha colors
$black-shadow:		rgba($black, .175);

$black-shadow-dark: rgba($black, .06);
$black-shadow-darker: rgba($black, .15);
$black-shadow-darkest: rgba($black, .2);

$red-shadow:		rgba($rackspace-red, .175);
