$table-padding: 20px 5px;

.productTable {
  border-collapse: collapse;
  width: 100%;
}

.productTable-feature,
.productTable-featureItem,
.productTable-name {
  border: 1px solid $gray-lighter;
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 2rem;
}

.productTable-name {
  background-color: $gray-lightest;
  color: $black;
  font-size: 1.5rem;
  font-weight: 300;
  padding: $table-padding;
  text-align: center;
}

.productTable-feature {
  @include subhead;
  color: $gray-dark;
  padding: $table-padding;
  text-align: center;
  width: 20%;
}

.productTable-dropdown {
  color: $black;
}

.productTable-featureItem {
  padding: 20px;
  vertical-align: text-top;

  &::after {
    @include center-block;
    font-family: rswebfonts;
    padding: 10px 0;
    text-align: center;
  }
}

.offered {
  vertical-align: inherit;

  &::after {
    color: $signup-green;
    content: '\e807';
  }
}

.notOffered {
  vertical-align: inherit;

  &::after {
    color: $gray-lighter;
    content: '\e803';
  }
}

.productTable-mobileTitle {
  display: none;
}

@media screen and (max-width: $screen-xs-max) {
  .productTable {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
  }

  .productTable-row {
    display: block;
  }

  .productTable-header {
    display: none;
  }

  .productTable-name {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    font-size: .7em;
    justify-content: center;

    :first-child {
      display: none;
    }
  }

  .productTable-feature {
    width: 100%;
  }

  .productTable-feature,
  .productTable-featureItem {
    display: block;

    :first-child {
      background: $gray-lightest;
      display: block;
      width: 100%;
    }
  }

  .productTable-featureItem {
    padding: 8px;

    &::after {
      display: inline-block;
      margin-left: 15px;
    }
  }

  .productTable-mobileTitle  {
    display: block;
  }
}
