<!-- Region Select Modal -->
<div class="modal fade" id="regionSelect" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="regionSelector-close close modal-no-header" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="regionSelector-row">
          <div class="regionSelector-americas">
            <h3>Americas</h3>
            <ul class="regionSelector-list regionSelector-americas-list">
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-unitedstates"></span>
                  <strong>United States</strong> / English
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/es-us">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-unitedstates"></span>
                  <strong>United States</strong> / Spanish
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/es-ar">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-argentina"></span>
                  <strong>Argentina</strong> / Spanish
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/pt-br">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-brazil"></span>
                  <strong>Brazil</strong> / Portuguese
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/es-cl">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-chile"></span>
                  <strong>Chile</strong> / Spanish
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/es-co">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-colombia"></span>
                  <strong>Colombia</strong> / Spanish
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/es-mx">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-mexico"></span>
                  <strong>Mexico</strong> / Spanish
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/es-pe">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-peru"></span>
                  <strong>Peru</strong> / Spanish
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/es-ve">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-venezuela"></span>
                  <strong>Venezuela</strong> / Spanish
                </a>
              </li>
            </ul>
          </div>
          <div class="regionSelector-europe">
            <h3>Europe</h3>
            <ul class="regionSelector-list regionSelector-europe-list">
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://www.rackspace.co.uk">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-unitedkingdom"></span>
                  <strong>United Kingdom</strong> / English
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://www.rackspace.nl">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-netherlands"></span>
                  <strong>Netherlands</strong> / Dutch
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="/de">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-germany"></span>
                  <strong>Germany</strong> / German
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="/de">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-switzerland"></span>
                  <strong>Switzerland</strong> / German
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="/de">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-austria"></span>
                  <strong>Austria</strong> / German
                </a>
              </li>
            </ul>
          </div>
          <div class="regionSelector-asia-pacific">
            <h3>Asia Pacific</h3>
            <ul class="regionSelector-list regionSelector-asia-pacific-list">
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/en-au">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-australia"></span>
                  <strong>Australia</strong> / English
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/en-hk">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-hongkong"></span>
                  <strong>Hong Kong</strong> / English
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/en-in">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-india"></span>
                  <strong>India</strong> / English
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/en-ph">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-philippines"></span>
                  <strong>Philippines</strong> / English
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="http://local.rackspace.com:7080/en-sg">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-singapore"></span>
                  <strong>Singapore</strong> / English
                </a>
              </li>
              <li class="regionSelector-list-item">
                <a class="regionSelector-flag-link" href="/cn">
                  <span class="regionSelector-flag-icon regionSelector-flag-icon-china"></span>
                  <strong>China</strong> / Chinese
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
