.serviceLevelTeaser {
  background: $white;
  border-bottom: 4px solid $rackspace-red;
  border-top: 4px solid $rackspace-red;
  box-shadow: 0 1px 3px $black-shadow;
  display: block;
  margin-bottom: 10px;
  padding: 25px;
  position: relative;
  text-decoration: none;
  width: 100%;
}

// only add a hover class if a link
.serviceLevelTeaser-link {

  &:hover {
    background-color: $gray-lightest;
    text-decoration: none;
  }
}

.serviceLevelTeaser-body {
  padding-bottom: 10px;
}

.serviceLevelTeaser-col-full {
  @include make-md-column(12);
}

.serviceLevelTeaser-header {
  border-bottom: 1px solid $gray-lighter;
  color: $gray-darkest;
  font-size: 2em;
  padding-bottom: 15px;
  text-align: center;
}

.serviceLevelTeaser-icon {
  color: $gray-base;
  display: block;
  font-family: 'rswebfonts';
  font-size: 45px;
  text-align: center;
}

.serviceLevelTeaser-pricing {
  font-size: 1.5em;
  margin: 15px 0;
  text-align: center;
}

.serviceLevelTeaser-row {
  @include make-row;
}

.serviceLevelTeaser-bottom {
  margin: 20px 0;
  text-align: center;
}

.serviceLevelTeaser-bottomLink {
  color: $rackspace-red;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    color: darken($brand-primary, 10%);
  }
}

// stand out classes for desktop only
@media only screen and (min-width: $screen-sm-min) {
  .serviceLevelTeaser-default {
    margin-top: 25px;
  }

  .serviceLevelTeaser-standOut {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
