<!-- Customer Story River -->
<div class="rsCustomer-story2020">
  <div class="container">
    <div class="rsCustomer-story2020-col col-md-6">
      <h3 class="rsCustomer-story2020-header">Visions Realized</h3>
      <h4 class="rsCustomer-story2020-header">Empowering our customer success</h4>
      <div class="rsCustomer-story2020-textBlock">
        <div class="rsCustomer-story2020-iconWrap">
          <span class="rsCustomer-story2020-quote"></span>
        </div>
        <div class="rsCustomer-story2020-textWrap">
          <span class="rsCustomer-story2020-text">
            What I have been blown away with is Rackspace's enthusiasm to find out what 
            more they can do with us; how else they can help. And that comes through all 
            levels of the organisation, from the CTO through to Rackers.
          </span>
          <span class="rsCustomer-story2020-author">
            Mary O'Callaghan<br/>
            Director of Technology Partnerships
          </span>
          <img class="rsCustomer-story2020-logo" src="/imgs/derek/logos/British-Heart-Foundation.svg" alt="British Heart Foundation" />
        </div>
      </div>
    </div>
    <div class="rsCustomer-story2020-col col-md-6">
      <div class="videoEmbed-column">
        <div class="embed-responsive embed-responsive-16by9">
          <figure class="youtube-container">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SyzX5Z0A14k"></iframe>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>