extends ../../_layouts/page.jade

block page
  <h2>Examples</h2>
  <p>This is the base theme and is a basic Bootstrap implementation at this time.</p>
  <p>If you want <strong>Bootstrap</strong> examples, visit <a href="http://getbootstrap.com">Bootstrap's website</a></p>
