.row.half-padding-full
  .col-md-12
    h4.red Available Components
    h2.no-margin Included in the Global Theme

.row
  .col-md-12
    h2.red Bootstrap Utilities we're commonly using

.row
  .col-md-12
    h5.red Responsive Video Embed
    p Allow browsers to determine video or slideshow dimensions based on the width of their containing block by creating an intrinsic ratio that will properly scale on any device.
    <!-- NEED TO ADD <div class="embed-responsive embed-responsive-16by9"> <iframe class="embed-responsive-item" src="..."></iframe> </div> -->

.row
  .col-md-12
    h2.red STILL NEED TO ADD
    p Standard Bootstrap things modal (code example), tooltip (code example)
    p Rackspace specific tabs, equal height rows and flex box implementation, back to top arrow
