.subnav {
  background-color: $black;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.subnav-container {
  @include make-container;
}

.subnav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subnav-link {
  border-bottom: 3px solid transparent;
  color: $white;
  display: block;
  font-size: $navigation-font-size;
  font-weight: $font-weight-black;
  line-height: 2.1rem;
  padding: 20px 20px 17px;
  text-decoration: none;

  &:hover,
  &:focus,
  &:visited,
  &:active {
    background-color: transparent;
    border-bottom: 3px solid $rackspace-red;
    color: $white;
    text-decoration: none;
  }
}

.subnav-header {
  float: left;
  width: $full-width;
}

.subnav-collapseBtn {
  @include make-xs-column(1);
  padding-left: 0;
}

.subnav-toggleBtn {
  float: left;
  margin: 17px 10px;
  padding: 0;

  .subnav-iconBar {
    border-radius: 0;
    height: 2px;
    width: 18px;
  }
}

.subnav-pageTitleContainer {
  @include make-xs-column(11);
  display: none;
  margin-top: 0;
}

.subnav-pageTitle {
  color: $white;
}

.icon-bar {
  background-color: $white;
}

.subnav-collapseContainer {
  padding: 0;
}

.subnav-item {
  float: left;
}

.subnav-link-active {
  background-color: transparent;
  border-bottom: solid $brand-primary 3px;
  color: $white;
  text-decoration: none;
}

.subnav-leadBtn {
  @include button;
  @include button-lead;
  font-size: $navigation-font-size;
  font-weight: 600;
  line-height: 2.1rem;
  padding: 8px 10px;

  &:focus {
    color: $white;
    text-decoration: none;
  }
}

.subnav-noHover {
  float: right;
  margin-top: 11px;

  &:hover {
    border-bottom: solid transparent 4px;
  }
}

@media only screen and (max-width: $screen-md-max) {
  .subnav-item {
    border-bottom: 0;
  }

  .subnav-link {
    font-size: $navigation-font-size;
    padding: 19px 23px;
  }

  .subnav-leadBtn {
    font-size: $navigation-font-size-medium;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .subnav-container {
    max-width: $screen-md;
  }

  .subnav-link {
    font-size: $navigation-font-size-medium;
    padding: 19px 10px;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .subnav-container {
    padding: 0;
  }

  .subnav-collapseContainer {
    padding: 0 1px;
  }

  .subnav-links {
    padding-top: 5px;
  }

  .subnav-link {
    border-bottom: 0;
    font-size: $navigation-font-size-xsmall;

    &:hover {
      border-bottom: 0;
    }
  }

  .subnav-item {
    border-bottom: 0;
    border-left: 2px solid transparent;
    height: auto;
    margin-top: 0;
    width: $full-width;

    &:hover {
      border-bottom: 0;
      border-left: 2px solid $brand-primary;
    }
  }

  .subnav-collapseBtn {
    padding-right: 0;
  }

  .subnav-pageTitleContainer {
    display: inline-block;
  }

  .subnav-noHover {
    margin: 5px auto;
    padding-left: 8px;

    &:hover {
      border-left: solid transparent 2px;
    }
  }
}

@media only screen and (min-width: $screen-lg-min + $grid-gutter-width * 2) {
  .subnav-noHover {
    margin-right: 0;
  }
}
