<!-- Blog Feed Pattern -->

<a href="javascript:void(0)" class="blogFeed-item">
  <div class="blogFeed-textContainer">
    <p class="blogFeed-date">May 09, 2016</p>
    <h3 class="blogFeed-title">Example Title</h3>
    <div class="blogFeed-linkContainer">
      <p class="blogFeed-more extLink">Read More</p>
    </div>
  </div>
</a>
