<!-- Blog Feed Pattern -->

<a href="javascript:void(0)" class="blogFeed-item">
  <div class="blogFeed-textContainer">
    <p class="blogFeed-date">May 09, 2016</p>
    <h4 class="blogFeed-title">Example Title of a Long Title that Brakes into Multiple Lines</h4>
    <div class="blogFeed-linkContainer">
      <p class="blogFeed-more extLink">Read More</p>
    </div>
  </div>
</a>
