// Resource Icon Color
@mixin resource-iconBorderColor($class, $color, $content) {
  #{$class} {
    border-bottom: 7px solid $color;
    border-top: 2px solid transparent;

    &:hover {
      background-color: darken($gray-lightest, 2%);
      border-top: 2px solid $color;
      transition-duration: .4s;
    }

    .resource-iconWrapper {
      border-bottom: 0;

      &::before {
        color: $color;
        content: $content;
      }
    }
  }
}

.resourceWrapper {
  @include flex-box;
  background-color: $gray-white;
  margin: 10px 0;
  padding: 5px 30px;
  width: 100%;

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 100%;
  }
}

.resource-titleRow {
  @include make-row;
  border-bottom: $gray-lighter 1px solid;
}

.resource-titleWrapper {
  @include make-sm-column(10);
  margin-top: 10px;
}

.resource-iconWrapper {
  @include make-sm-column(2);
  display: block;
  font-family: rswebfonts;
  font-size: 4rem;
}

.resource-descRow {
  @include make-row;
  margin-bottom: auto;
}

.resource-descWrapper {
  @include make-xs-column(12);
  margin-top: 15px;
}

.resource-linkWrapper {
  @include make-row;
  padding: 0 25px;
}

.resource-link {
  font-size: 1.25rem;
}

.resource-condensedTitleRow {
  border-bottom: 0;
}

.resource-condensedAnchor {
  display: flex;
  flex-direction: column;
}

.resource-condensedDescRow {
  display: flex;
  margin-bottom: 0;
  margin-top: auto;

  .resource-linkWrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .resourceWrapper {
    .row-eq-height {
      display: flex;
    }
  }
}

@media only screen and (max-width: $screen-md-max) {
  .resource-iconWrapper {
    display: none;
  }
}

//had to make maintainable
@include resource-iconBorderColor('.resource-codeIcon', $purple, '\e808');
@include resource-iconBorderColor('.resource-supportIcon', $teal, '\e847');
@include resource-iconBorderColor('.resource-pdfIcon', $rackspace-red, '\e8c5');
@include resource-iconBorderColor('.resource-videoIcon', $blue-gray, '\e8c8');
@include resource-iconBorderColor('.resource-webinarIcon', $dark-purple, '\e8c6');
@include resource-iconBorderColor('.resource-storiesIcon', $blue, '\e993');
