<!-- Additional Resources: 33/34/33 -->
<div class="half-padding-full">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-sm-4 panel-flex">
        <%- partial('_partials/resourceCenter-resource.ejs', {
          type: 'pdf',
          title: 'This is a really ridiculously long resource title'
        })%>
      </div>
      <div class="col-sm-4 panel-flex">
        <%- partial('_partials/resourceCenter-resource.ejs', {
          type: 'code'
        }) %>
      </div>
      <div class="col-sm-4 panel-flex">
        <%- partial('_partials/resourceCenter-resource.ejs', {
          type: 'webinar'
        }) %>
      </div>
    </div>
  </div>
</div>
