<div class="challenges-itemWrapper">
  <a href="#" class="challenges-item">
    <div class="challenges-icon">
      <%- shape %>
    </div>
    <div class="challenges-description">
      <div class="challenges-description-inner">
        <h4 class="challenges-descriptionTitle"><%= title %></h4>
        <p><%= copy %></p>
        <span class="challenges-learnMore">Learn More ></span>
      </div>
    </div>
  </a>
</div>
