<div class="challenges-itemWrapper">
  <div class="challenges-item">
    <div class="challenges-icon">
      <%- shape %>
    </div>
    <div class="challenges-description">
      <h4 class="challenges-descriptionTitle"><%= title %></h4>
      <p><%= copy %></p>
    </div>
  </div>
</div>
