.row
  .col-md-12
    h4.red Everything you might need
    h2.no-margin Resources &amp; Downloads

.row.standard-padding-top
  .col-md-12
    h5 How to write to our templates
    p
      a(href="https://raxglobal.sharepoint.com/Global%20Ecommerce/Shared%20Documents/Forms/AllItems.aspx?id=%2FGlobal%20Ecommerce%2FShared%20Documents%2FeComm%20Ops%2FWeb%20page%20changes%2FTemplate%20Documentation") Writing Templates

.row
  .col-md-12
    h5 Swatches
    p A downloadable link to our &nbsp;
      a(href="assets/rackspace-ecomm.ase") illustrator swatches


