// Basement Flag Mixin
@mixin basement-flag($country, $x, $y) {
  .basement-flag-#{$country} {
    background-position: $x $y;
  }
}

//Social Icon Color Mixin
@mixin basement-beforeColor($class, $color) {
  #{$class} {
    &::before {
      color: $color;
    }
  }
}

// Basement Classes
.basement {
  padding: 10px 15px;
}

.basement-copyright {
  color: $gray-base;
  text-align: right;
}

.basementLp-copyright {
  color: $gray-light;
  margin-top: 5px;
  text-align: right;
}

.basement-flag-icon {
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/sprites/global_flags.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  float: left;
  height: 15px;
  margin: 4px 0 0 5px;
  width: 20px;
}

@include basement-flag(argentina, 0, -280px);

@include basement-flag(australia, 0, -40px);

@include basement-flag(austria, 0, -360px);

@include basement-flag(brazil, 0, -240px);

@include basement-flag(chile, 0, -300px);

@include basement-flag(china, 0, -400px);

@include basement-flag(colombia, 0, -220px);

@include basement-flag(germany, 0, -100px);

@include basement-flag(in, 0, -440px);

@include basement-flag(india, 0, -440px);

@include basement-flag(mexico, 0, -260px);

@include basement-flag(netherlands, 0, -140px);

@include basement-flag(peru, 0, -320px);

@include basement-flag(ph, 0, -420px);

@include basement-flag(philippines, 0, -420px);

@include basement-flag(sa, 0, -180px);

@include basement-flag(sg, 0, -460px);

@include basement-flag(singapore, 0, -460px);

@include basement-flag(switzerland, 0, -380px);

@include basement-flag(uae, 0, -200px);

@include basement-flag(uk, 0, -20px);

@include basement-flag(unitedkingdom, 0, -20px);

@include basement-flag(usa, 0, 0);

@include basement-flag(unitedstates, 0, 0);

@include basement-flag(venezuela, 0, -340px);

.basement-region-select {
  float: left;
  font-size: 1.2rem;
}

.basement-iconList {
  list-style: none;
  margin-left: -5px;
  padding-left: 0;
}

.basement-iconListItem {
  float: left;
}

.basement-iconBg {
  color: $white;
  display: inline-block;
  font: 1.83em FontAwesome;
  text-rendering: auto;
  top: .5px;
}

@include basement-beforeColor('.fa-facebook-official', #3b5998);
@include basement-beforeColor('.fa-twitter-square', #00aced);
@include basement-beforeColor('.fa-youtube-square', #b00);
@include basement-beforeColor('.fa-linkedin-square', #007bb6);
@include basement-beforeColor('.fa-google-plus-square', #dd4b39);
