// see styleguide/_themes/global/scss/_bootstrap_overrides.scss for sass lint overrides.

$ceiling-margin: floor($navbar-margin-bottom / 4);
$navigation-font-size: 1.4rem;
$navigation-font-size-medium: 1.25rem;

.ceiling {
  background: $gray-dark;
  border: 0;
  border-radius: 0;
  font-family: $copy;
  font-size: $navigation-font-size-medium;
  font-weight: $font-weight-black;
  margin: 0;
  min-height: $line-height-computed;
}

.ceiling-container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 5px;
  width: 100%;
}

@media screen and (min-width: $screen-xs-min) {
  .ceiling {
    display: block;
  }
}

.ceiling-menuInline {
  list-style: none;
  margin-bottom: 0;
  margin-left: -5px;
  padding-left: 0;
}

.ceiling-menuInline-item {
  border-left: 1px solid $gray-base;
  display: inline-block;
  float: left;
  font-weight: $font-weight-black;

  &.open,
  &:hover,
  &:active,
  &:focus {
    background-color: darken($blue-gray, 10%);
    cursor: pointer;
  }
}

.ceiling-menuInline-link {
  color: $white;
  display: block;
  font-size: $navigation-font-size-medium;
  line-height: 18px;
  padding: 15px floor($ceiling-margin + 5);
  text-decoration: none;
  vertical-align: middle;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    text-decoration: none;
  }
}

.ceiling-menuNav {
  float: right;
  width: auto;

  &:last-child {
    margin-right: 0;
  }
}

.ceiling-dropdown {
  position: relative;

  &::after {
    content: '';
  }

  &.open > .ceiling-dropdownMenu {
    display: block;
  }
}

.ceiling-dropdownMenu {
  background-color: darken($blue-gray, 5%);
  border-radius: 0;
  color: $white;
  display: none;
  left: auto;
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  white-space: nowrap;
  z-index: 1000;
}

.ceiling-dropdownMenu-item {
  color: $white;
  font-size: $navigation-font-size-medium;
  margin: 0;
  padding: 0;

  &:hover {
    background-color: $brand-success;
  }
}

.ceiling-dropdownToggle {
  color: $white;
  display: block;
  font-size: $navigation-font-size-medium;
  line-height: 18px;
  padding: 15px floor($ceiling-margin + 5);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
  }

  &::after {
    content: '\f0d7';
    font-family: 'FontAwesome';
    margin-left: 5px;
  }
}
