// see styleguide/_themes/global/scss/_bootstrap_overrides.scss for sass lint overrides.

$ceiling-margin: floor($navbar-margin-bottom / 4);
$ceiling-font-size: 10px;

.ceiling {
  background: $white;
  border: 0;
  border-radius: 0;
  display: none;
  font-size: $ceiling-font-size;
  font-weight: $font-weight-black;
  margin: 0;
  min-height: $line-height-computed;
  text-transform: uppercase;
}

@media screen and (min-width: $screen-md-min) {
  .ceiling {
    display: block;
  }
}

.ceiling-container {
  padding: 0;
}

.ceiling-menuInline {
  list-style: none;
  margin-bottom: 0;
  margin-left: -5px;
  padding-left: 0;
}

.ceiling-menuInline-item {
  border-right: 1px solid $gray-light;
  display: inline-block;
  font-weight: $font-weight-bold;
  margin: floor($ceiling-margin + 2) 0;
  padding: 0 floor($ceiling-margin + 2);

  &:last-child {
    border: 0;
  }
}

.ceiling-menuInline-itemPartners {
  border: 0;
}

.ceiling-menuInline-link {
  color: $gray-darker;
  font-size: $ceiling-font-size;
  line-height: 16px;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    color: $gray-darker;
    text-decoration: underline;
  }
}

.ceiling-menuInline-noLink {
  line-height: 16px;
  vertical-align: middle;
}

.ceiling-menuContact {
  float: left;

  &:first-child {
    margin-left: 0;
  }
}

.ceiling-menuNav {
  float: right;
  width: auto;

  &:last-child {
    margin-right: 0;
  }
}

.ceiling-dropdown {
  border: 0;
  padding: 0;
  position: relative;

  &::after {
    content: '';
  }

  &.open > .ceiling-dropdownMenu {
    display: block;
  }
}

.ceiling-dropdownMenu {
  border-radius: 0;
  color: $white;
  display: none;
  left: auto;
  list-style: none;
  margin: 2px 0 0;
  padding: 0;
  position: absolute;
  right: 0;
  white-space: nowrap;
  z-index: 1000;
}

.ceiling-dropdownMenu-item {
  color: $white;
  font-size: $ceiling-font-size;
  margin: 0;
  padding: 0;
}

.ceiling-dropdownMenu-gray {
  background-color: $gray-base;
}

.ceiling-dropdownMenu-green {
  background-color: $brand-success;
}

.ceiling-dropdownToggle {
  color: $white;
  font-size: $ceiling-font-size;
  line-height: 20px;
  padding: $padding-base-vertical $padding-base-horizontal;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
  }

  &::after {
    content: '\f0d7';
    font-family: 'FontAwesome';
    margin-left: 5px;
  }
}

.ceiling-dropdownToggle-green {
  background-color: $brand-success;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($brand-success, 5%);
  }
}

.ceiling-dropdownToggle-gray {
  background-color: $gray-base;

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($gray-base, 5%);
  }
}
