@mixin ext-link {
  content: '\f08e';
  display: inline-block;
  font-family: 'rswebfonts';
  margin-left: 5px;
}

.extLink {

  &::after {
    @include ext-link;
  }

  &.keyoffersWidget {

    &::after {
      content: '';
    }
  }

  .keyoffersWidget-bottomText {

    &::after {
      @include ext-link;
    }
  }
}

.extLink-small {

  &::after {
    font-size: .8em;
  }
}
