//main nav
.main-nav {
  background: $gray-dark;
  border: 0;
  border-radius: 0;
  margin: 0;

  .navbar-menuContainer {
    border: 0;
    max-height: none;
    padding: 0;
  }
}

.navbar-nav {

  .navbar-topLink {
    color: $white;
    display: block;
    line-height: 2.1rem;
    padding: 21px 10px;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      background: $gray-darker;
    }
  }

  .navbar-topItem {
    font-size: 1.3rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    &.open {
      > .navbar-topLink {
        background: $gray-darker;
      }
    }

    .navbar-dropDownLink,
    .navbar-tertiary-dropDownLink {
      color: $white;
      font-size: .95em;
      line-height: 1.5em;
      padding: 6px 15px;
      text-decoration: none;
      text-transform: none;

      &:hover,
      &:visited,
      &:focus {
        background-color: transparent;
      }
    }

    .navbar-dropDownLabel {
      color: $gray-light;
      font-size: .95em;
      line-height: 1.5em;
      margin: 0;
      padding: 6px 15px;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;

      &:hover,
      &:visited,
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.navbar-dropDown-trigger {
  display: block;

  &::after {
    content: '\f0da';
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
    top: 8px;
  }
}

.navbar-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0;
}

.navbar-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.navbar-footerLink {
  @include subhead;
  color: $white;
}

//make sure menu aligns with right side of buttons in desktop
.navbar-menu {
  float: right;
  width: auto;
}

.navbar-dropDownMenu {
  background: $gray-darker;
  border: 0;
  border-radius: 0;
  min-width: 230px;
  padding: 0;
}

.navbar-dropDownItem {
  position: relative;

  &:hover {
    background-color: $gray-base;
  }
}

.navbar-tertiary-dropDownMenu {
  background-color: $gray-base;
  border: 0;
  box-shadow: none;
  left: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.navbar-tertiary-dropDownItem {
  &:hover {
    background-color: lighten($gray-base, 5%);
  }
}

.navbar-dropDownSub {
  position: relative;
}

.navbar-dropDownSub > .navbar-dropDown-trigger {

  &::after {
    content: '\f0da';
    float: right;
    font-family: 'FontAwesome';
  }
}

.navbar-brand {
  background-color: $gray-darker;
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/navigation/rackspace-logo-tagline-simplified.svg');
  background-position: 10px 14px;
  background-repeat: no-repeat;
  background-size: 140px 36px;
  height: 63px;
  position: relative;
  width: 160px;
}

.navbar-search {
  background-color: $gray-darker;
  display: none;
  overflow: auto;
  padding: 10px;
}

.navbar-searchContainer {
  float: right;
  width: 300px;
}

.navbar-phoneicon,
.navbar-chaticon,
.navbar-hamburger,
.navbar-searchicon {
  text-align: center;

  &::after {
    color: $white;
    display: none;
    font-family: 'FontAwesome';
    padding: 23px 0 24px;
  }
}

.navbar-hamburger {
  &::after {
    content: '\f00d';
    font-size: 5.5vw;
  }

  &.collapsed {
    &::after {
      content: '\f0c9';
    }
  }
}

.navbar-phoneicon {
  float: right;

  &::after {
    content: '\f10b';
    font-size: 7.5vw;
  }
}

.navbar-chaticon {
  float: right;

  &::after {
    content: '\f086';
    font-size: 6.5vw;
  }

  &.chat_hidden {
    display: block;

    &::after {
      color: $gray-darker;
    }
  }
}

.navbar-searchicon {
  float: right;
  width: 12px;

  &::after {
    content: '\f002';
    display: inline-block;
    font-size: 1vw;
    margin-right: 25px;
  }
}

.navbar-activeArrow {
  border-bottom: 10px solid $gray-darker;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -1px;
  display: none;
  margin: auto;
  position: absolute;
  width: 0;
}

.navbar-searchInput {
  border: 1px solid $gray-lighter;
  outline: none;
  padding: 3px;
  width: 72%;
}

.navbar-searchButton {
  float: right;
  margin: 0;
  opacity: .7;
  padding: 6.5px;
  width: 28%;
}

// After-nav offsets.
.contentOffset {
  margin-top: 98px;
}

.contentOffset-landingPage {
  margin-top: 50px;
}

@media only screen and (min-width: $screen-sm-min) {
  .navbar-searchicon {
    margin-left: 12px;
  }

  .navbar-activeArrow {
    margin: 0 0 0 -5px;
  }
}

//main nav on desktop
@media only screen and (min-width: $screen-md-min) {
  .navbar-topLink-dropDown {

    &::after {
      content: '\f0d7';
      font-family: 'FontAwesome';
      margin-left: 10px;
    }
  }
}


@media only screen and (max-width: $screen-sm-max) {
  .navbar-nav {

    .navbar-topItem {
      font-size: 1.07rem;

      .navbar-dropDownLink,
      .navbar-dropDownLabel,
      .navbar-tertiary-dropDownLink {
        font-size: .8em;
        padding: 7px 15px 7px 25px;
      }

      .navbar-dropDownLabel {
        padding-bottom: 1px;
      }
    }

    .navbar-topLink {
      padding: 21px 8px;
    }
  }

  .navbar-container {
    max-width: $screen-md;
  }

  .contentOffset {
    margin-top: 63px;
  }
}

@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .navbar-menu {
    float: left;
    margin-left: 10px;
  }

  .navbar-topLink-dropDown {

    &::after {
      content: '\f0d7';
      font-family: 'FontAwesome';
      margin-left: 3px;
    }
  }

  .navbar-dropDown-trigger {

    &::after {
      content: '\f0d9';
      left: 10px;
    }
  }

  .navbar-dropDownMenu {
    left: initial;
    right: 0;
  }

  .navbar-tertiary-dropDownMenu {
    left: -98%;
    right: initial;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  //mainnav side caret for dropdowns
  .navbar-dropDown-trigger {

    &::after {
      content: '\f0da';
      font-family: 'FontAwesome';
      margin-left: 10px;
    }
  }

  .navbar-topLink-dropDown {

    &::after {
      content: '\f0da';
      font-family: 'FontAwesome';
      margin-left: 10px;
    }
  }

  .navbar-dropDown-triggerActive {
    background-color: $gray-darker;
    display: block;

    &::after {
      content: '\f0d7';
      top: 6px;
    }
  }

  .navbar-nav {
    margin: 0 0 7.5px;

    .navbar-topItem {
      font-size: 1.45rem;

      .navbar-dropDownLink,
      .navbar-dropDownLabel,
      .navbar-tertiary-dropDownLink {
        border-bottom: 1px solid $gray-darker;
        font-size: 1.45rem;
      }

      .navbar-dropDownMenu {
        background: $gray-dark;
      }

      .navbar-tertiary-dropDownMenu {
        background-color: $gray-base;
      }
    }

    .navbar-tertiary-dropDownItem {
      &:hover {
        background-color: transparent;
      }
    }

    .navbar-topLink {
      height: 50px;
      padding-top: 15px;
    }
  }

  .navbar-brand {
    @include make-xs-column(4);
    background-position: center;
    background-size: 100px 36px;
  }

  .navbar-activeArrow {
    left: 0;
    right: 0;
  }

  .navbar-searchContainer {
    margin-right: auto;
    width: 100%;
  }

  .main-nav {

    .navbar-phoneicon,
    .navbar-chaticon,
    .navbar-hamburger,
    .navbar-searchicon {
      @include make-xs-column(2);
      border-left: solid 1px $gray-darker;

      &::after {
        display: inline-block;
      }
    }

    .navbar-searchicon {
      float: left;

      &::after {
        font-size: 5vw;
        margin: 0;
      }
    }

    .navbar-chaticon {
      border-left: 0;
    }

    //make sure menu aligns with right side of buttons
    .navbar-menu {
      float: left;
      width: 100%;
    }
  }

  .navbar-dropDownItem {
    &:hover {
      background: transparent;
    }
  }
}
