//main nav
.main-nav {
  background: $gray-dark;
  border: 0;
  border-radius: 0;
  margin: 0;

  .navbar-menuContainer {
    border: 0;
    max-height: none;
    padding: 0;
  }
}

.navbar-nav {

  .navbar-topLink {
    color: $white;
    display: block;
    line-height: 2.1rem;
    padding: 21px 10px;
    text-decoration: none;

    &:hover,
    &:focus,
    &:visited {
      background: $gray-darker;
    }
  }

  .navbar-topItem {
    font-size: 1.3rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    &.open {
      > .navbar-topLink {
        background: $gray-darker;
      }
    }

    .navbar-dropDownLink,
    .navbar-tertiary-dropDownLink {
      color: $white;
      font-size: .95em;
      line-height: 1.5em;
      padding: 6px 15px;
      text-decoration: none;
      text-transform: none;

      &:hover,
      &:visited,
      &:focus {
        background-color: transparent;
      }
    }

    .navbar-dropDownLabel {
      color: $gray-light;
      font-size: .95em;
      line-height: 1.5em;
      margin: 0;
      padding: 6px 15px;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;

      &:hover,
      &:visited,
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.navbar-dropDown-trigger {
  display: block;

  &::after {
    content: '\f0da';
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
    top: 8px;
  }
}

.navbar-container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0;
}

.navbar-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.navbar-footerLink {
  @include subhead;
  color: $white;
}

//make sure menu aligns with right side of buttons in desktop
.navbar-menu {
  float: right;
  width: auto;
}

.navbar-dropDownMenu {
  background: $gray-darker;
  border: 0;
  border-radius: 0;
  min-width: 230px;
  padding: 0;
}

.navbar-dropDownItem {
  position: relative;

  &:hover {
    background-color: $gray;
  }
}

.navbar-tertiary-dropDownMenu {
  background-color: $gray-base;
  border: 0;
  box-shadow: none;
  left: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.navbar-tertiary-dropDownItem {
  &:hover {
    background-color: lighten($gray-base, 5%);
  }
}

.navbar-dropDownSub {
  position: relative;
}

.navbar-dropDownSub > .navbar-dropDown-trigger {

  &::after {
    content: '\f0da';
    float: right;
    font-family: 'FontAwesome';
  }
}

.navbar-brand {
  background-color: $gray-darker;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Rackspace" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px" height="117.02px" viewBox="0 0 400 117.02" enable-background="new 0 0 400 117.02" xml:space="preserve"><path fill="%23FFFFFF" d="M325.47,59.99c0-13.58,10.56-23.82,24.58-23.85c2.83,0,5.71,0.49,7.71,1.31c0.02,0.01,0.04,0.02,0.05,0.02l-1.73,9.1l-0.07-0.04c-1.72-0.96-3.72-1.43-6.1-1.43c-7.97,0-12.71,6.94-12.71,13.64c0,5.68,3.79,7.71,7.33,7.71c3.16,0,5.84-0.68,9.26-2.37l0.1-0.06l-1.78,9.37l-0.02,0.01c-2.59,1.25-6.59,2-10.72,2C331.71,75.42,325.47,69.38,325.47,59.99z M308.9,74.66l0.35-1.76c0.31-1.51,1.54-3.6,2-4.29l0.07-0.12c0.16-0.36-0.08-0.79-0.37-0.92c-0.35-0.15-0.79-0.04-0.95,0.33l-0.05,0.15c-0.2,0.8-0.62,2.67-2.35,4.25c-2.2,2.02-5.25,3.21-8.58,3.21c-7.44,0-10.8-6.59-10.8-13.21c-0.01-7.5,2.94-14.93,7.88-19.87c4.14-4.14,9.47-6.33,15.44-6.33c4.54,0.01,7.9,1.33,10,3.88c3.11,3.78,2.86,9.44,2.08,13.56l-4.04,21.12H308.9z M309.32,44.58c-1.51,0-3.09,0.78-4.57,2.25c-3,3.01-5.26,8.66-5.25,13.15c0,3.95,1.46,6.41,4.01,6.41c4.07,0,7.57-4.26,8.78-10.5c0.27-1.39,0.54-2.81,0.74-4.07c0.2-1.25,0.33-2.36,0.29-3.14C313.19,46.02,311.81,44.58,309.32,44.58z M364.8,59.06l0.1,0.12c1.02,0.93,1.7,2.27,1.81,2.71c0.19,0.71,0.49,1.44,0.88,1.99c1.45,1.84,4.02,2.83,7.19,2.83c4.64,0,8.66-1.13,13.04-3.64l0.11-0.07l-1.8,9.42c-5.36,2.72-11.61,3.01-14.05,3.01c-10.41,0-16.36-5.79-16.36-15.89c0-5.84,2.14-11.68,5.87-16.03c4.09-4.78,9.81-7.41,16.11-7.41c7.88,0,13.13,4.56,13.13,11.35c0,3.13-1.02,5.71-3.03,7.68c-3.39,3.31-9.51,4.96-18.69,5.02c-2.21-0.01-2.71-1.12-3.1-1.86l-0.08-0.12c-0.25-0.33-0.72-0.25-0.97-0.05C364.72,58.31,364.56,58.75,364.8,59.06z M379.42,49.72c0.62-0.61,0.92-1.36,0.92-2.26c0-1.95-1.61-3.17-4.02-3.17c-3.73,0-6.41,2.35-7.84,5.12c-1.03,1.99-1.39,2.19-2.34,2.79l-0.12,0.08c-0.31,0.25-0.21,0.7,0,0.95c0.21,0.24,0.63,0.4,0.93,0.15l0.1-0.11c0.77-0.92,0.95-1.26,3.88-1.38C375.42,51.7,378.12,51.03,379.42,49.72z M266.36,39.48c2.55-2.2,5.66-3.39,8.87-3.41c7.4,0,12.2,5.61,12.2,14.36c0,9.17-4.4,18.58-12.34,22.81c-6.16,3.29-11.76,2.55-14.54,0.39c-0.67-0.52-0.83-1.88-0.9-2.42l-0.03-0.13c-0.12-0.38-0.58-0.53-0.92-0.4c-0.3,0.1-0.57,0.47-0.45,0.84l0.06,0.13c0.51,0.91,0.89,1.63,0.75,2.37l-2.4,12.71h-11.2L255,36.61h9.86l-0.33,1.82c-0.52,2.72-1.33,3.77-1.86,4.41l-0.08,0.13c-0.19,0.34,0.02,0.72,0.3,0.88c0.28,0.15,0.77,0.16,0.97-0.18l0.05-0.13C264.17,42.75,264.81,40.81,266.36,39.48z M262.25,57.14c-0.47,2.47-1.77,9.86,3.36,9.86c5.89,0,10.2-8.35,10.2-15.71c0-1.78-0.41-6.1-4.52-6.1C267.13,45.19,263.61,49.94,262.25,57.14z M136.18,74.66l0.35-1.76c0.31-1.51,1.54-3.6,2-4.29l0.07-0.12c0.16-0.36-0.08-0.79-0.37-0.92c-0.35-0.15-0.79-0.04-0.95,0.33l-0.05,0.15c-0.2,0.8-0.62,2.67-2.35,4.25c-2.2,2.02-5.25,3.21-8.58,3.21c-7.44,0-10.8-6.59-10.8-13.21c-0.01-7.5,2.94-14.93,7.88-19.87c4.14-4.14,9.47-6.33,15.44-6.33c4.54,0.01,7.9,1.33,10,3.88c3.11,3.78,2.86,9.44,2.08,13.56l-4.04,21.12H136.18z M136.59,44.58c-1.51,0-3.09,0.78-4.57,2.25c-3,3.01-5.26,8.66-5.25,13.15c0,3.95,1.46,6.41,4.01,6.41c4.07,0,7.57-4.26,8.78-10.5c0.27-1.39,0.54-2.81,0.74-4.07c0.2-1.25,0.33-2.36,0.29-3.14C140.46,46.02,139.08,44.58,136.59,44.58z M152.74,59.99c0-13.58,10.56-23.82,24.58-23.85c2.83,0,5.71,0.49,7.71,1.31c0.02,0.01,0.04,0.02,0.05,0.02l-1.73,9.1l-0.07-0.04c-1.72-0.96-3.72-1.43-6.1-1.43c-7.97,0-12.71,6.94-12.71,13.64c0,5.68,3.79,7.71,7.33,7.71c3.16,0,5.84-0.68,9.26-2.37l0.1-0.06l-1.78,9.37l-0.02,0.01c-2.59,1.25-6.59,2-10.72,2C158.97,75.42,152.74,69.38,152.74,59.99z M222.86,49.14c0-7.79,6.63-13.05,16.59-13.09c4.6,0,8,1,9.64,1.93l0.04,0.02l-1.61,8.45l-0.07-0.04c-1.87-1.02-5.08-2.09-8.54-2.09c-2.9,0-4.79,1.21-4.79,3.25c0,1.47,1.44,2.77,4.5,4.26c3.98,2,8.49,4.95,8.49,10.28c0,3.5-1.16,6.4-3.44,8.67c-3.04,3.02-7.98,4.67-13.92,4.62c-4.56-0.07-9.18-1.26-11.49-2.92l-0.03-0.02l1.62-8.5l0.07,0.04c2.46,1.56,7.33,3.23,10.91,3.23c2.77,0,4.64-1.28,4.64-3.33c0-1.86-1.31-3.16-4.66-4.8C225.51,56.46,222.86,53.1,222.86,49.14z M108.24,40.42c2.59-2.86,5.72-4.4,9.1-4.39c0.66,0,1.48,0.06,2.07,0.17l-2.17,10.96c-0.4-0.08-1.02-0.17-1.75-0.17c-7.6,0-10.56,7.42-11.72,13.57l-2.7,14.47h-11.2l7.26-38.17h9.85l-0.5,2.65c-0.47,2.44-1.22,3.87-1.7,4.55l-0.07,0.12c-0.16,0.36,0.1,0.74,0.39,0.87c0.3,0.13,0.77,0.11,0.93-0.26l0.05-0.13C106.3,43.85,106.74,42.11,108.24,40.42z M395.54,66.45c-2.35,0-4.44,1.92-4.65,4.28c-0.21,2.31,1.47,4.15,3.77,4.15c2.35,0,4.45-1.92,4.66-4.27C399.52,68.3,397.84,66.45,395.54,66.45z M394.66,75.54c-2.69,0-4.68-2.18-4.43-4.88c0.24-2.69,2.62-4.87,5.31-4.87c2.7,0,4.68,2.18,4.44,4.87C399.73,73.36,397.35,75.54,394.66,75.54z M396.7,73.48h-0.84l-0.73-2.17l-0.48,0.02h-0.02h-0.54l-0.4,2.15h-0.72l1.07-5.73h1.25c0.32,0,0.53,0,0.69,0.01c0.21,0.03,0.37,0.06,0.54,0.12c0.62,0.21,0.97,0.7,0.97,1.33c0,0.1-0.01,0.22-0.03,0.33c-0.15,0.77-0.63,1.4-1.53,1.64L396.7,73.48z M395.8,68.49c-0.14-0.02-1.19-0.02-1.19-0.02l-0.4,2.16c0,0,1.04-0.01,1.18-0.02c0.16-0.01,0.28-0.03,0.41-0.07c0.5-0.14,0.86-0.52,0.95-0.99c0.09-0.47-0.13-0.84-0.58-0.99C396.06,68.52,395.96,68.5,395.8,68.49z M203.28,23.6l-5.78,30.41l14.89-17.17h12.22l-15.42,17.37l9.39,20.36l-12.02,0l-9.1-20.2l-3.84,20.2h-11.12l9.7-50.98H203.28z M42.98,13.06C26.46,33.32,19.44,59.63,20.42,83.1C10.66,79.2,3.52,69.79,2.77,57.86l-0.01-0.14C1.54,36.56,18.41,14.89,40.45,9.31c8.56-2.17,16.65-1.59,23.4,1.17c-1.41,4.01-3.75,8.58-6.08,12.04c-4.88,7.25-11.89,11.82-15.65,10.21c-3.76-1.61-2.85-8.8,2.03-16.05c1.13-1.67,2.38-3.21,3.67-4.55C46.23,12.34,44.61,12.65,42.98,13.06z M44.59,22.49c-1.58,3.33-0.95,6.07,1.4,6.11c2.36,0.04,5.55-2.62,7.14-5.96c1.58-3.33,0.95-6.07-1.4-6.11C49.37,16.49,46.17,19.16,44.59,22.49z M49.09,0.07C67.56-1.05,82.22,10.95,83.3,29.53c1.23,21.14-15.61,42.79-37.62,48.4c-7.61,1.92-14.75,1.7-20.94-0.25c-0.45-8.34,1.18-17.04,4.75-23.11c5.83-9.9,14.65-9.05,19.7,1.88c1.9,4.11,3,9.07,3.31,14.18c1.77-0.94,3.47-1.99,5.11-3.13c-5.46-13.24-7.89-28.92,11.66-56.46C63.58,6.5,54.84,4.29,43.93,5.7C45.54,3.8,47.26,1.93,49.09,0.07z M6.1,112.52l0.02-0.01l0.38-1.98l-0.09,0.04c-0.67,0.28-1.32,0.42-1.95,0.42c-0.84,0-1.86-0.24-1.95-1.37c-0.02-0.33,0.01-0.77,0.03-1l1.5-7.9h4.34l0.36-1.91H4.41l0.79-4.16H3.07L2.28,98.8H0.36L0,100.71h1.89l-1.52,7.99c-0.08,0.48-0.11,1.01-0.07,1.45c0.14,1.73,1.49,2.76,3.62,2.76C4.77,112.92,5.42,112.8,6.1,112.52z M12.9,104.86c0.5-2.56,2.43-4.41,4.59-4.41c1.91,0,3.13,1.06,3.27,2.83c0.04,0.48,0,1.11-0.09,1.53l-1.48,7.87h2.15l1.43-7.72c0.16-0.9,0.22-1.6,0.18-2.15c-0.2-2.62-2.08-4.31-4.78-4.31c-2.18,0-3.51,1.19-4.51,2.4l1.49-7.78h-2.15l-3.72,19.56h2.15L12.9,104.86z M101.71,112.68l1.46-7.72l0.02-0.09c0.14-0.79,0.3-1.68,0.24-2.41c-0.2-2.59-2-4.26-4.56-4.26c-2.06,0-3.8,0.96-5.04,2.77c-0.7-1.76-2.18-2.77-4.07-2.77c-1.75,0-2.91,0.93-3.89,1.97l0.32-1.68h-3.33l-2.68,14.17h3.35l1.5-7.96c0.41-2.14,1.73-3.48,3.43-3.48c1.45,0,2.31,0.77,2.42,2.17c0.03,0.37,0,0.92-0.07,1.4l-1.51,7.87h3.33l1.52-7.96c0.38-2.11,1.71-3.48,3.41-3.48c1.45,0,2.31,0.77,2.42,2.17c0.03,0.37,0,0.92-0.08,1.4l-1.51,7.87H101.71z M132.4,112.68l1.43-7.72c0.15-0.8,0.29-1.73,0.23-2.49c-0.2-2.59-2.02-4.26-4.64-4.26c-1.85,0-3.13,1.03-4.05,1.97l0.32-1.68h-3.33l-2.68,14.17h3.35l1.5-7.96c0.4-2.11,1.79-3.48,3.54-3.48c1.53,0,2.47,0.79,2.58,2.17c0.03,0.41-0.01,0.96-0.1,1.4l-1.48,7.87H132.4z M218.45,110.75l-1.94-2.18c-1.17,1.11-2.17,1.56-3.44,1.56c-1.9,0-3.4-1.46-3.56-3.47c-0.12-1.53,0.39-3.06,1.39-4.17c0.8-0.87,1.88-1.37,2.95-1.37c1.87,0,2.83,1,3.59,2.08l2.45-1.76c-0.94-1.47-2.75-3.22-6-3.22c-2.15,0-4.22,0.91-5.68,2.5c-1.48,1.61-2.2,3.73-2.03,5.98c0.29,3.72,3.17,6.31,6.99,6.31C215.79,113,217.31,111.86,218.45,110.75z M223.66,112.68l3.72-19.56h-3.33l-3.72,19.56H223.66z M252.81,110.98l-0.32,1.7h3.33l2.68-14.17h-3.33l-1.52,7.96c-0.4,2.11-1.79,3.48-3.54,3.48c-1.51,0-2.44-0.79-2.55-2.17c-0.03-0.39,0-0.96,0.07-1.4l1.51-7.87h-3.33l-1.46,7.72c-0.14,0.8-0.29,1.72-0.23,2.49c0.2,2.59,2.04,4.26,4.67,4.26C250.64,112.97,251.91,111.93,252.81,110.98z M294.66,110.69l-1.37-1.4c-1.27,1.25-2.47,1.8-3.9,1.8c-2.02,0-4.17-1.45-4.39-4.22c-0.14-1.75,0.45-3.47,1.61-4.74c0.98-1.09,2.33-1.71,3.69-1.71c2.19,0,3.36,1.3,4.12,2.43l1.66-1.09c-0.72-1.21-2.43-3.25-5.79-3.25c-2.05,0-4.03,0.88-5.45,2.42c-1.48,1.6-2.23,3.79-2.05,6.01c0.31,3.99,3.57,6.07,6.62,6.07C291.44,113,293.11,112.27,294.66,110.69z M332.98,112.68l1.46-7.72c0.02-0.13,0.04-0.27,0.06-0.4c0.09-0.6,0.19-1.21,0.15-1.74c-0.2-2.58-2.05-4.31-4.6-4.31c-2.29,0-4.11,1.05-5.29,3.05c-0.63-1.91-2.18-3.05-4.17-3.05c-1.9,0-3.11,0.95-4.3,2.4l0.39-2.11h-2.15l-2.62,13.88h2.15l1.48-7.82c0.48-2.52,2.37-4.41,4.37-4.41c1.75,0,2.92,1.08,3.05,2.83c0.04,0.48,0,1.11-0.09,1.53l-1.48,7.87h2.16l1.45-7.82c0.48-2.52,2.37-4.41,4.37-4.41c1.76,0,2.89,1.06,3.03,2.83c0.04,0.44,0.01,1.07-0.06,1.53l-1.51,7.87H332.98z M379.29,112.68l1.43-7.72c0.16-0.9,0.22-1.6,0.18-2.15c-0.21-2.62-2.08-4.31-4.78-4.31c-2.18,0-3.51,1.19-4.51,2.4L372,98.8h-2.15l-2.62,13.88l2.15,0l1.48-7.82c0.5-2.56,2.43-4.41,4.59-4.41c1.91,0,3.13,1.06,3.27,2.83c0.04,0.48,0,1.11-0.09,1.53l-1.48,7.87L379.29,112.68z M388.44,113.13l8.37-14.33h-2.43l-6.46,11.43l-2.8-11.43l-2.23,0.01l3.59,13.82c-1.14,1.77-2.11,2.49-3.35,2.49c-0.68,0-1.62-0.3-2.13-0.68l-1.06,1.62c1,0.66,1.99,0.97,3.12,0.97C385.19,117.02,386.75,115.9,388.44,113.13z M31.65,113c-3.68,0-6.34-2.38-6.61-5.91c-0.18-2.27,0.62-4.6,2.14-6.25c1.41-1.53,3.23-2.34,5.27-2.34c3.71,0,5.59,2.68,5.79,5.32c0.07,0.87-0.02,1.76-0.28,2.63c-0.01,0.02-0.03,0.04-0.05,0.04H27.16c-0.01,0.17,0.01,0.34,0.02,0.5c0.2,2.5,1.94,4.11,4.43,4.11c1.83,0,2.96-0.65,4.08-1.61l1.24,1.43C35.87,111.9,34.3,113,31.65,113z M27.32,104.85h8.77c0.06-0.26,0.07-0.6,0.04-1.01c-0.13-1.69-1.17-3.5-3.67-3.5c-1.39,0-2.66,0.57-3.67,1.64C28.1,102.73,27.59,103.72,27.32,104.85z M140.02,112.97c-2.52,0-4.41-1.6-4.59-3.89c-0.11-1.35,0.26-2.5,1.08-3.42c1.05-1.11,2.73-1.72,4.73-1.72c1.39,0,2.78,0.22,4.39,0.68l0.05-0.19c0.05-0.35,0.1-0.74,0.07-1.16c-0.11-1.38-1.2-2.09-3.24-2.09c-1.27,0-2.54,0.26-3.76,0.77l-0.78-2.7c1.57-0.63,3.19-0.94,4.96-0.94c3.66,0,5.79,1.56,6.01,4.39c0.05,0.66-0.01,1.28-0.13,2.06l-1.5,7.9h-3.22l0.31-1.74C143.24,112.29,141.76,112.97,140.02,112.97z M141.88,106.12c-1.13,0-2.03,0.32-2.61,0.92c-0.41,0.44-0.6,1.02-0.54,1.67c0.09,1.12,1.03,1.85,2.39,1.85c1.91,0,3.65-1.43,4.03-3.32l0.13-0.6C144.64,106.44,143.38,106.12,141.88,106.12z M156.98,117c-2.73,0-5.51-0.81-7.42-2.17l1.67-2.32c1.62,1.15,3.52,1.78,5.36,1.78c1.44,0,2.55-0.42,3.3-1.24c0.58-0.63,0.96-1.5,1.23-2.83l0.14-0.69c-1.48,1.44-2.81,2.03-4.58,2.03c-2.71,0-5.59-1.77-5.86-5.14c-0.17-2.21,0.54-4.31,2.01-5.9c1.35-1.47,3.24-2.31,5.19-2.31c2.71,0,4.01,1.44,4.83,2.74l0.45-2.45h3.33l-2.19,11.68c-0.48,2.51-1,3.73-2.04,4.82C161.16,116.37,159.43,117,156.98,117z M158.56,101.06c-1.18,0-2.29,0.49-3.13,1.37c-0.86,0.94-1.28,2.15-1.18,3.43c0.14,1.83,1.46,2.96,3.44,2.96c1.26,0,2.46-0.53,3.31-1.45c0.86-0.93,1.26-2.04,1.17-3.21C162.03,102.33,160.54,101.06,158.56,101.06z M174.59,113c-3.97,0-6.63-2.38-6.93-6.2c-0.17-2.23,0.62-4.54,2.12-6.17c1.43-1.56,3.41-2.42,5.55-2.42c1.74,0,3.23,0.55,4.33,1.6c1.02,0.98,1.65,2.37,1.77,3.91c0.08,1-0.05,2.04-0.38,3.01c-0.01,0.02-0.03,0.03-0.05,0.03h-10.18c0.19,2.19,1.64,3.5,3.88,3.5c1.27,0,2.27-0.39,3.46-1.35l1.77,2.13C178.47,112.36,176.72,113,174.59,113z M171.02,104.53h7.2c0.06-0.25,0.07-0.58,0.05-0.93c-0.13-1.66-1.24-2.65-2.96-2.65c-1.21,0-2.28,0.47-3.11,1.37C171.65,102.91,171.25,103.67,171.02,104.53z M234.85,113c-1.96,0-3.69-0.63-4.99-1.84c-1.26-1.16-2.03-2.8-2.17-4.63c-0.17-2.13,0.58-4.26,2.04-5.85c1.44-1.59,3.42-2.47,5.58-2.47c1.96,0,3.69,0.64,4.99,1.84c1.26,1.16,2.03,2.82,2.17,4.66c0.17,2.14-0.58,4.27-2.04,5.82C238.99,112.12,237.01,113,234.85,113z M235.34,101.11c-1.09,0-2.15,0.48-2.98,1.34c-0.95,1-1.49,2.56-1.38,3.96c0.18,2.27,1.65,3.68,3.84,3.68c1.13,0,2.21-0.49,2.98-1.34c0.95-1,1.49-2.56,1.38-3.96C239,102.52,237.53,101.11,235.34,101.11z M265.34,112.97c-1.56,0-3-0.58-4.08-1.63c-1.12-1.1-1.79-2.64-1.94-4.44c-0.19-2.46,0.54-4.72,2.08-6.38c1.35-1.47,3.22-2.31,5.13-2.31c2.15,0,3.77,0.89,4.94,2.71l1.47-7.81h3.33l-3.7,19.56h-3.33l0.34-1.75C268.29,112.32,266.94,112.97,265.34,112.97z M267.13,101.08c-1.14,0-2.2,0.48-3,1.34c-0.99,1.07-1.48,2.62-1.36,4.25c0.16,2.08,1.57,3.42,3.58,3.42c1.18,0,2.33-0.53,3.15-1.45c1.02-1.11,1.54-2.59,1.43-4.07C270.77,102.52,269.21,101.08,267.13,101.08z M303.49,113c-3.71,0-6.51-2.56-6.8-6.23c-0.17-2.14,0.58-4.26,2.04-5.82c1.45-1.57,3.39-2.44,5.47-2.44c3.73,0,6.54,2.55,6.82,6.2c0.16,2.1-0.58,4.24-2.04,5.85C307.56,112.11,305.56,113,303.49,113z M304.21,100.42c-1.39,0-2.72,0.61-3.75,1.72c-1.13,1.23-1.73,2.94-1.6,4.57c0.21,2.68,1.98,4.35,4.61,4.35c1.41,0,2.74-0.6,3.75-1.69c1.13-1.23,1.73-2.94,1.6-4.57C308.62,102.09,306.85,100.42,304.21,100.42z M335.07,116.94l3.43-18.15h2.15l-0.43,2.24c1.41-1.7,3.03-2.53,4.93-2.53c3.24,0,5.7,2.42,5.97,5.89c0.19,2.4-0.57,4.72-2.08,6.35c-1.34,1.46-3.13,2.26-5.03,2.26c-3.01,0-4.6-1.77-5.42-3.31l-1.38,7.26H335.07z M344.72,100.42c-1.44,0-2.86,0.66-3.9,1.82c-1.19,1.3-1.81,2.97-1.68,4.6c0.19,2.46,2.11,4.25,4.55,4.25c1.37,0,2.66-0.56,3.62-1.58c1.15-1.27,1.72-3.06,1.57-4.92C348.69,102.09,347.02,100.42,344.72,100.42z M363.72,112.68h-2.1l0.39-2.02c-1.29,1.54-2.92,2.32-4.87,2.32c-2.13,0-4.51-1.21-4.72-3.86c-0.1-1.3,0.27-2.45,1.06-3.32c1.02-1.11,2.7-1.72,4.73-1.72c1.5,0,3.11,0.24,4.92,0.73l0.05-0.27c0.08-0.42,0.11-0.92,0.09-1.27c-0.14-1.8-1.49-2.75-3.9-2.75c-1.6,0-2.83,0.36-3.82,0.72l-0.52-1.8c1.5-0.57,2.89-0.83,4.51-0.83c3.47,0,5.58,1.57,5.79,4.31c0.04,0.57-0.01,1.25-0.15,1.91L363.72,112.68z M358.42,105.7c-1.36,0-2.45,0.39-3.13,1.13c-0.52,0.54-0.77,1.25-0.7,2.04c0.11,1.46,1.32,2.41,3.07,2.41c2.42,0,4.59-1.75,5.04-4.06l0.18-0.92C361.5,105.91,359.91,105.7,358.42,105.7z M56.11,112.68l0.89-4.69h-4.73l-0.89,4.69h-2.13l0.89-4.69h-3.52l0.4-2.09h3.52l1.04-5.49h-3.52l0.4-2.09h3.52l0.89-4.69H55l-0.89,4.69h4.73l0.89-4.69h2.13l-0.89,4.69h3.43l-0.4,2.09h-3.43l-1.04,5.49h3.43l-0.4,2.09h-3.43l-0.89,4.69H56.11z M52.67,105.89h4.73l1.04-5.49h-4.73L52.67,105.89z M188.74,112.97c-1.56,0-3-0.58-4.08-1.63c-1.12-1.1-1.79-2.64-1.94-4.44c-0.19-2.46,0.55-4.72,2.08-6.38c1.35-1.47,3.22-2.31,5.13-2.31c2.15,0,3.77,0.89,4.94,2.71l1.47-7.81h3.33l-3.7,19.56h-3.33l0.34-1.75C191.69,112.32,190.33,112.97,188.74,112.97z M190.53,101.08c-1.14,0-2.2,0.48-3,1.34c-0.99,1.07-1.48,2.62-1.36,4.25c0.16,2.08,1.57,3.42,3.58,3.42c1.18,0,2.33-0.53,3.15-1.45c1.02-1.11,1.54-2.59,1.43-4.07C194.16,102.52,192.6,101.08,190.53,101.08z M69.5,112.68l3.71-19.56l-1.65,0l-4.92,1.61l0.21,1.94l3.68-1.09l-3.24,17.09H69.5z M109.38,112.97c-2.52,0-4.41-1.6-4.59-3.89c-0.11-1.35,0.26-2.5,1.08-3.42c1.05-1.11,2.73-1.72,4.73-1.72c1.39,0,2.78,0.22,4.39,0.68l0.05-0.19c0.05-0.35,0.1-0.74,0.07-1.16c-0.11-1.38-1.2-2.09-3.24-2.09c-1.27,0-2.54,0.26-3.76,0.77l-0.78-2.7c1.57-0.63,3.19-0.94,4.96-0.94c3.66,0,5.79,1.56,6.02,4.39c0.05,0.66-0.01,1.28-0.13,2.06l-1.5,7.9h-3.22l0.31-1.74C112.6,112.29,111.12,112.97,109.38,112.97z M111.24,106.12c-1.13,0-2.03,0.32-2.61,0.92c-0.41,0.44-0.6,1.02-0.54,1.67c0.09,1.12,1.03,1.85,2.39,1.85c1.91,0,3.65-1.43,4.03-3.32l0.13-0.6C114,106.44,112.74,106.12,111.24,106.12z"/></svg>');
  background-position: 10px 14px;
  background-repeat: no-repeat;
  background-size: 140px 36px;
  height: 63px;
  position: relative;
  width: 160px;
}

.navbar-search {
  background-color: $gray-darker;
  display: none;
  overflow: auto;
  padding: 10px;
}

.navbar-searchContainer {
  float: right;
  width: 300px;
}

.navbar-phoneicon,
.navbar-chaticon,
.navbar-hamburger,
.navbar-searchicon {
  text-align: center;

  &::after {
    color: $white;
    display: none;
    font-family: 'FontAwesome';
    padding: 20px 0 22px;
  }
}

.navbar-hamburger {
  &::after {
    content: '\f00d';
    font-size: 5.5vw;
  }

  &.collapsed {
    &::after {
      content: '\f0c9';
    }
  }
}

.navbar-phoneicon {
  float: right;
  font-size: 0;

  &::after {
    content: '\f10b';
    font-size: 7.5vw;
  }
}

.navbar-chaticon {
  float: right;

  &::after {
    content: '\f086';
    font-size: 6.5vw;
  }
}

.navbar-searchicon {
  float: right;
  width: 12px;

  &::after {
    content: '\f002';
    display: inline-block;
    font-size: 1vw;
    margin-right: 25px;
  }
}

.navbar-activeArrow {
  border-bottom: 10px solid $gray-darker;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -1px;
  display: none;
  margin: auto;
  position: absolute;
  width: 0;
}

.navbar-searchInput {
  border: 1px solid $gray-lighter;
  outline: none;
  padding: 3px;
  width: 72%;
}

.navbar-searchButton {
  float: right;
  font-size: 1.2rem;
  margin: 0;
  opacity: .7;
  padding: 6.5px;
  width: 28%;
}

// After-nav offsets.
.contentOffset {
  margin-top: 98px;
}

.contentOffset-landingPage {
  margin-top: 50px;
}

@media only screen and (min-width: $screen-sm-min) {
  .navbar-searchicon {
    margin-left: 12px;
  }

  .navbar-activeArrow {
    margin: 0 0 0 -5px;
  }
}

//main nav on desktop
@media only screen and (min-width: $screen-md-min) {
  .navbar-topLink-dropDown {

    &::after {
      content: '\f0d7';
      font-family: 'FontAwesome';
      margin-left: 10px;
    }
  }
}


@media only screen and (max-width: $screen-sm-max) {
  .navbar-nav {

    .navbar-topItem {
      font-size: 1.07rem;

      .navbar-dropDownLink,
      .navbar-dropDownLabel,
      .navbar-tertiary-dropDownLink {
        font-size: .8em;
        padding: 7px 15px 7px 25px;
      }

      .navbar-dropDownLabel {
        padding-bottom: 1px;
      }
    }

    .navbar-topLink {
      padding: 21px 8px;
    }
  }

  .navbar-container {
    max-width: $screen-md;
  }

  .contentOffset {
    margin-top: 63px;
  }
}

@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .navbar-menu {
    float: left;
  }

  .navbar-topLink-dropDown {

    &::after {
      content: '\f0d7';
      font-family: 'FontAwesome';
      margin-left: 3px;
    }
  }

  .navbar-dropDown-trigger {

    &::after {
      content: '\f0d9';
      left: 10px;
    }
  }

  .navbar-dropDownMenu {
    left: initial;
    right: 0;
  }

  .navbar-tertiary-dropDownMenu {
    right: 100%;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  //mainnav side caret for dropdowns
  .navbar-dropDown-trigger {

    &::after {
      content: '\f0da';
      font-family: 'FontAwesome';
      margin-left: 10px;
    }
  }

  .navbar-topLink-dropDown {

    &::after {
      content: '\f0da';
      font-family: 'FontAwesome';
      margin-left: 10px;
    }
  }

  .navbar-dropDown-triggerActive {
    display: block;

    &::after {
      content: '\f0d7';
      top: 6px;
    }
  }

  .navbar-nav {
    margin: 0 0 7.5px;

    .navbar-topItem {
      font-size: 1.45rem;

      .navbar-dropDownLink,
      .navbar-dropDownLabel,
      .navbar-tertiary-dropDownLink {
        border-bottom: 1px solid $gray-darker;
        font-size: 1.45rem;
      }

      .navbar-dropDownMenu {
        background: $gray-dark;
      }

      .navbar-tertiary-dropDownMenu {
        background-color: $gray-base;
      }
    }

    .navbar-tertiary-dropDownItem {
      &:hover {
        background-color: transparent;
      }
    }

    .navbar-topLink {
      height: 50px;
      padding-top: 15px;
    }
  }

  .navbar-brand {
    @include make-xs-column(4);
    background-position: center;
    background-size: 100px 36px;
  }

  .navbar-activeArrow {
    left: 0;
    right: 0;
  }

  .navbar-searchContainer {
    margin-right: auto;
    width: 100%;
  }

  .main-nav {

    .navbar-phoneicon,
    .navbar-chaticon,
    .navbar-hamburger,
    .navbar-searchicon {
      @include make-xs-column(2);
      border-left: solid 1px $gray-darker;

      &::after {
        display: inline-block;
      }
    }

    .navbar-searchicon {
      float: left;

      &::after {
        font-size: 5vw;
        margin: 0;
      }
    }

    .navbar-chaticon {
      border-left: 0;
    }

    //make sure menu aligns with right side of buttons
    .navbar-menu {
      float: left;
      width: 100%;
    }
  }

  .navbar-dropDownItem {
    &:hover {
      background: transparent;
    }
  }
}
