.main-nav {
  background: $white;
  border: 0;
  border-radius: 0;
  box-shadow: 0 6px 12px $black-shadow;
  font-family: $copy;
  margin: 0;

  .navbar-menuContainer {
    border: 0;
    max-height: none;
    padding: 0;
  }
}

.navbar-nav {

  .navbar-topLink {
    border-bottom: 3px solid transparent;
    color: $gray-darker;
    display: block;
    font-weight: $font-weight-black;
    line-height: 2.1rem;
    padding: 20px 23px 17px;
    text-decoration: none;

    &:hover,
    &:focus,
    &:visited {
      background-color: transparent;
      border-bottom: 3px solid $brand-primary;
    }
  }

  .navbar-topItem {
    font-size: $navigation-font-size;
    font-weight: $font-weight-black;

    &.open {
      > .navbar-topLink {
        background: $brand-primary;
        border-bottom: 3px transparent solid;
        color: $white;
      }
    }

    .navbar-dropDownLink,
    .navbar-tertiary-dropDownLink {
      color: $white;
      cursor: pointer;
      font-size: $navigation-font-size;
      line-height: 2rem;
      padding: 6px 25px;
      text-decoration: none;
      text-transform: none;

      &:hover,
      &:visited,
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.navbar-dropDown-trigger {
  display: block;

  &::after {
    content: '\f0da';
    font-family: 'FontAwesome';
    position: absolute;
    right: 10px;
    top: 8px;
  }
}

.navbar-container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0;
}

//make sure menu aligns with right side of buttons in desktop
.navbar-menu {
  float: left;
  width: auto;
}

.navbar-dropDownMenu {
  background: $brand-primary;
  border: 0;
  border-radius: 0;
  min-width: 230px;
  padding: 0;
}

.navbar-dropDownItem {
  position: relative;

  &:hover {
    background-color: darken($brand-primary, 10%);
    cursor: pointer;
  }
}

.navbar-tertiary-dropDownMenu {
  background-color: darken($brand-primary, 10%);
  border: 0;
  box-shadow: none;
  left: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.navbar-tertiary-dropDownItem {
  &:hover {
    background-color: darken($brand-primary, 15%);
    cursor: pointer;
  }
}

.navbar-brand {
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/slimLogo.svg');
  background-position: left top;
  background-repeat: no-repeat;
  height: 35px;
  margin: 5px 10px;
  position: relative;
  width: 150px;
}

.navbar-phoneicon,
.navbar-chaticon,
.navbar-emailicon,
.navbar-searchicon {
  display: block;
  padding: 12px floor($ceiling-margin + 5);
  text-align: center;

  &::before {
    color: $white;
    font-family: 'FontAwesome';
    font-size: $navigation-font-size;
    margin-right: 5px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    cursor: pointer;
    text-decoration: none;
  }
}

.navbar-hamburger {
  &::after {
    content: '\f00d';
    display: none;
    font-family: 'FontAwesome';
    font-size: 2rem;
    line-height: 1.5rem;
  }
}

.navbar-phoneicon {
  color: $white;
  text-decoration: none;

  &::before {
    content: '\f095';
  }
}

.navbar-emailicon {
  color: $white;
  text-decoration: none;

  &::before {
    content: '\f0e0';
  }
}

.navbar-chaticon {
  color: $white;
  text-decoration: none;

  &::before {
    content: '\f086';
  }
}

// After-nav offsets.
.contentOffset {
  margin-top: 94px;
}

.contentOffset-landingPage {
  margin-top: 50px;
}

//main nav on desktop
@media only screen and (min-width: $screen-sm-min) {
  .contentOffset {
    margin-top: 107px;
  }

  .navbar-topLink-dropDown {

    &::after {
      content: '\f0d7';
      font-family: 'FontAwesome';
      line-height: 1rem;
      margin-left: 10px;
    }
  }
}

@media only screen and (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
  .navbar-nav {

    .navbar-topItem {
      font-size: $navigation-font-size-medium;

      .navbar-dropDownLink,
      .navbar-dropDownLabel,
      .navbar-tertiary-dropDownLink {
        font-size: $navigation-font-size-medium;
        padding: 7px 15px 7px 12px;
      }

      .navbar-dropDownLabel {
        padding-bottom: 1px;
      }
    }
  }
}


@media only screen and (max-width: $screen-sm-max) {
  .navbar-nav {

    .navbar-topLink {
      padding: 19px 10px;

      &:focus,
      &:visited {
        border-bottom: 0;
      }
    }
  }

  .navbar-container {
    max-width: $screen-md;
  }

  .navbar-phoneicon,
  .navbar-chaticon,
  .navbar-emailicon {
    padding: 12px $ceiling-margin;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .ceiling-menuInline-item {
    font-size: 1rem;
  }

  //mainnav side caret for dropdowns
  .navbar-dropDown-trigger {

    &::after {
      content: '\f0da';
      font-family: 'FontAwesome';
      margin-left: 10px;
    }
  }

  .navbar-topLink-dropDown {

    &::after {
      content: '\f0da';
      font-family: 'FontAwesome';
      margin-left: 10px;
    }
  }

  .navbar-dropDown-triggerActive {
    display: block;

    &::after {
      content: '\f0d7';
      top: 6px;
    }
  }

  .navbar-nav {
    margin: 0 0 7.5px;

    .navbar-topItem {
      font-size: $navigation-font-size;

      .navbar-dropDownLink,
      .navbar-dropDownLabel {
        border-bottom: 1px solid darken($brand-primary, 5%);
        font-size: $navigation-font-size;
      }

      .navbar-tertiary-dropDownLink {
        border-bottom: 1px solid darken($brand-primary, 10%);
        font-size: $navigation-font-size;
      }

      .navbar-dropDownMenu {
        background: $gray-dark;
      }

      .navbar-tertiary-dropDownMenu {
        background-color: darken($brand-primary, 5%);
      }
    }

    .navbar-tertiary-dropDownItem {
      &:hover {
        background-color: transparent;
      }
    }

    .navbar-topLink {
      height: 50px;
      padding-top: 15px;
    }
  }

  .navbar-brand {
    @include make-sm-column(4);
    background-size: 95px 38px;
    padding: 0;
    width: 95px;
  }

  .main-nav {

    .navbar-phoneicon,
    .navbar-chaticon,
    .navbar-emailicon,
    .navbar-searchicon {
      @include make-xs-column(2);
      border-left: solid 1px $gray-darker;
      height: 63px;

      &::before {
        display: inline-block;
      }
    }

    .navbar-hamburger {

      &::after {
        content: '\f0c9';
        display: inline-block;
        margin: 17px 10px;
      }
    }

    .navbar-searchicon {
      float: left;

      &::after {
        font-size: 5vw;
        line-height: 1vw;
        margin: 0;
      }
    }

    .navbar-phoneicon {
      border-left: 0;
    }

    //make sure menu aligns with right side of buttons
    .navbar-menu {
      float: left;
      width: 100%;
    }
  }

  .navbar-dropDownItem {
    &:hover {
      background: transparent;
    }
  }
}

@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
  .navbar-brand {
    margin: 5px 0;
  }
}

.navbar-search {
  @include expand-left(.3s);
  float: right;
  height: 100%;
  min-height: 61px;
  min-width: 60px;
  overflow: hidden;
  position: relative;
  transition: width .3s;
  width: 0%;
}

.navbar-searchExpanded {
  width: 18%;
}

.navbar-search-input {
  background: $white;
  border: 0;
  border-left: 1px solid $gray-base;
  font-size: 1.25rem;
  height: 100%;
  margin: 0;
  min-height: 61px;
  outline: none;
  padding: 20px 65px 20px 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}


.navbar-icon-search,
.navbar-search-submit  {
  cursor: pointer;
  display: block;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 60px;
}

.navbar-search-submit {
  @include opacity(0);
  background: $white;
  border: 0;
  color: transparent;
  opacity: 0;
  outline: 0;
  z-index: -1;
}

.navbar-icon-search {
  background: $white;
  color: $gray-darker;
  font-family: FontAwesome;
  text-transform: none;
  z-index: 90;

  &::before {
    content: '\f002';
  }
}

.navbar-menuInline {
  float: right;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.menuInline-itemMobile {
  border: 0;
}

.menuInline-linkMobile {
  color: $gray-darkest;
  padding: 16px 10px;

  &:active {
    color: $gray-darkest;
  }
}



