extends ../_layouts/page.jade

block page
  .container.standard-padding
    .row.standard-padding-full
      .col-md-12
        h4.red Workflow and Process
        h2.no-margin for the Global Ecomm Team

    .row.standard-padding-full
      .col-md-12
        h2.red NEED TO ADD
        p web request (hopefully submittable), design request (for online assets perhaps), bug submission, tech specs/project briefs, any additional SOPs
