<!-- Ribbon -->
<%- partial('../../pattern-components/ribbon/_partials/ribbon.ejs', {
  'when': 'April 13 - May 1',
  'what': 'Webinar: Weighing Public, Private and Hybrid Cloud Options for Application'
}) %>


<div class="event">
  <div class="event-row">
    <div class="col-sm-8">
      <h1>I am an H1 Header</h1>
    </div>
    <div class="event-form">
      <h2>Register for the Webinar</h2>
      <!-- NOTE: if a form is present, there should be NO CTA. If form IS present, CTA should be there -->
      <div class="calloutForm">
        <form>
          <div class="form-group">
            <label for="firstName" class="form-label">First Name</label>
            <input type="name" class="form-control" id="firstName">
          </div>
          <div class="form-group">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="name" class="form-control" id="lastName">
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="phone" class="form-control" id="phone">
          </div>

          <img src="/imgs/derek/captcha.jpg" style="max-width: none; width: 304px; height: 78px; margin: 10px 0;">

          <div class="form-actions">
            <button type="submit" class="button lead form-submit">Send</button>
          </div>
          <p class="small half-padding-top">Information collected in this form is subject to the <a href="#">Rackspace Privacy Statement.</a></p>
        </form>
      </div>
      <div class="videoEmbed-wrapper">
        <%- partial('../../pattern-components/video/video.ejs') %>
      </div>
    </div>
  </div>
</div>


<div class="event-moderators-section">
  <div class="event-moderators-container">
    <h3 class="event-moderators-header">Moderators</h3>
    <% for(var i = 0; i < 2; i++) { %>
      <div class="event-moderators-item">
        <div class="event-moderators-picContainer">
          <img class="event-moderators-pic" src="../imgs/derek/speaker-thumb.jpg" alt="">
        </div>
        <div class="event-moderators-info">
          <h3 class="event-moderators-name">Derek Zoolander</h3>
          <p>
            Supermodel, Los Angeles <br>
            Mugatu Inc.
          </p>
          <p>
            Street art dreamcatcher cronut typewriter tumblr selfies. Kogi single-origin coffee raw denim,
            retro crucifix 90s tacos polaroid marfa wolf. Whatever disrupt normcore actually af. Roof party
            organic vape raclette biodiesel try-hard art party keffiyeh.
          </p>
          </p>
        </div>
      </div>
    <% } %>      
  </div>
</div>

<!-- Sponsor section -->
<div class="event-sponsor-section">
  <div class="event-sponsor-container">
    <h3 class="event-sponsor-header">Sponsored By</h3>
    <div class="event-lpSponsor-logoContainer">
      <% for(var i = 0; i < 3; i++) { %>
        <div class="event-lpSponsor-logo">
          <img src="../imgs/derek/logos/vmware.png" alt="">
        </div>
      <% } %>
    </div>
  </div>
</div>

<!-- Legal section -->
<div class="half-padding">
  <div class="container">
    <%- partial("../landing-page/_partials/landingpage-legal.ejs") %>
  </div>
</div>
