<!-- Ribbon -->
<%- partial('../../pattern-components/ribbon/_partials/ribbon.ejs', {
  'when': 'April 13 - May 1',
  'what': 'Mike\'s Interview with HEB'
}) %>

<div class="event">
  <div class="col-md-2"></div>
  <div class="lp-lead-event">
    <h1>I am an H1 Header</h1>
    <p>
      Mustache ennui flexitarian hella brunch. Cronut normcore bicycle rights jean shorts.
      Dreamcatcher fingerstache wayfarers, fixie squid tote bag copper mug lyft YOLO cliche
      raclette chillwave 3 wolf moon literally.
    </p>
    <div class="calloutForm">
      <h2 class="text-center">Please complete this form to have a specialist contact you.</h2>
      <form>
        <div class="form-group">
          <label for="firstName" class="form-label">First Name</label>
          <input type="name" class="form-control" id="firstName">
        </div>
        <div class="form-group">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="name" class="form-control" id="lastName">
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="phone" class="form-control" id="phone">
        </div>
        <img src="imgs/derek/captcha.jpg" style="max-width: none; width: 304px; height: 78px; margin: 10px 0;">
        <div class="form-actions">
          <button type="submit" class="button lead form-submit lp-lead-submit">Send</button>
        </div>
        <p class="small half-padding-top">Information collected in this form is subject to the <a href="#">Rackspace Privacy Statement.</a></p>
      </form>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- Sponsor section -->
<div class="event-sponsor-section">
  <div class="event-sponsor-container">
    <h3 class="event-sponsor-header">Sponsored By</h3>
    <div class="event-lpSponsor-logoContainer">
      <% for(var i = 0; i < 3; i++) { %>
        <div class="event-lpSponsor-logo">
          <img src="imgs/derek/logos/vmware.png" alt="">
        </div>
      <% } %>
    </div>
  </div>
</div>

<!-- Legal section -->
<div class="half-padding">
  <div class="container">
    <%- partial("../landing-page/_partials/landingpage-legal.ejs") %>
  </div>
</div>
