.container.standard-padding
  .row
    .col-md-12
      h4.red Landing Page
      h2.no-margin Examples and Best Practices

  .row.standard-padding-full
    .col-md-12
      p INSERT BEST PRACTICES.

  .row
    .col-md-12
      h2.red Templates
    .col-md-4
      h5 CTA Landing Page
      a(href="derek/examples/landing-page/cta-LP")
        img.img-thumbnail(src="imgs/derek/examples/landing-page.png")
      p Landing Page
    .col-md-4
      h5 Video Landing Page
      a(href="derek/examples/landing-page/video-LP")
        img.img-thumbnail(src="http://placehold.it/240x300")
      p Video Landing Page
    .col-md-4
      h5 Form Landing Page
      a(href="derek/examples/landing-page/form-LP")
        img.img-thumbnail(src="http://placehold.it/240x300")
      p Form Landing Page
