.lead-bodyWrapper {
  margin-bottom: 14px;

  a {
    @include standard-link;
  }
}

.lead-header {
  margin-top: 0;
}

.lead-wrapper {
  font-family: $copy;
  text-align: center;
}

.lead-link {
  @include standard-link;
}
