@import 'modifiers';
@import '../../../derek/global-components/ceiling/ceiling';
@import '../../../derek/global-components/ceiling/ceilingLp/ceilingLp';
@import '../../../derek/global-components/ceiling/ceilingDark/ceilingDark';
@import 'globalElements/ext-links';
@import '../../../derek/global-components/mainnav/mainnav';
@import '../../../derek/global-components/footer/footer';
@import '../../../derek/global-components/basement/basement';
@import '../../../derek/global-components/subnav/subnav';
@import '../../../derek/global-components/back-to-top/back-to-top';
@import '../../../derek/global-components/modal/region-select';
@import '../../../derek/global-components/filter-bar/filter-bar';
@import '../../../derek/global-components/social/social';
@import '../../../derek/global-components/modal/modal';
@import '../../../derek/pattern-components/headers/headers';
@import '../../../derek/pattern-components/tabs/tabs';
@import 'components/pager';
@import 'patterns/panels';
@import 'patterns/cards/modules';
@import '../../../derek/pattern-components/announcements/announcements';
@import '../../../derek/pattern-components/about-river/about-river';
@import '../../../derek/pattern-components/experience-river/experience-river';
@import '../../../derek/pattern-components/industry-river/industry-river';
@import '../../../derek/pattern-components/blog-feed/blog-feed';
@import '../../../derek/pattern-components/images/images';
@import '../../../derek/pattern-components/leads/lead';
@import '../../../derek/pattern-components/quotes/quotes';
@import '../../../derek/pattern-components/video/video-embed';
@import '../../../derek/pattern-components/leads/lead-corner-pocket/corner-pocket';
@import '../../../derek/pattern-components/key-offers/key-offers';
@import '../../../derek/pattern-components/product-features/product-features';
@import '../../../derek/pattern-components/customer-logos/customer-logos';
@import '../../../derek/pattern-components/lp-callout/lp-callout';
@import '../../../derek/pattern-components/value-props/value-prop';
@import '../../../derek/pattern-components/service-level-teaser/service-level-teaser';
@import '../../../derek/pattern-components/dedicated-configurator/dedicated-configurator';
@import '../../../derek/pattern-components/ias/ias';
@import '../../../derek/pattern-components/resourceCenter-resource/resourceCenter-resource';
@import '../../../derek/pattern-components/resourceCenter-resource/refresh/resourceCenter-resource';
@import '../../../derek/pattern-components/awards/awards';
@import '../../../derek/pattern-components/ctas/cta';
@import '../../../derek/pattern-components/cust-story-river/cust-story-river';
@import '../../../derek/pattern-components/o365-table/o365-table';
@import '../../../derek/view-templates/events/events';
@import '../../../derek/view-templates/stories/stories';
@import '../../../derek/view-templates/leadership/leadership';
@import '../../../derek/view-templates/interactive-map/interactive-map';
@import '../../../derek/view-templates/resource-center/resource-center';
@import '../../../derek/view-templates/search/search';
@import 'snowflakes/homepage';
@import '../../../derek/pattern-components/platforms/platforms';
@import 'snowflakes/swatches';
@import 'snowflakes/o365';
@import '../../../derek/global-components/chat/chat';

.clear-fixed-top {
  margin-top: $navbar-height;
}

@media screen and (min-width: $screen-md-min) {
  .clear-fixed-top {
    margin-top: 89px;
  }
}
