@import 'modifiers';
@import 'globalElements/ceiling';
@import 'globalElements/ceilingLp';
@import 'globalElements/mainnav';
@import 'globalElements/rug';
@import 'globalElements/footer';
@import 'globalElements/basement';
@import 'components/subnav';
@import 'components/tabs';
@import 'components/back-to-top';
@import 'components/regionSelector';
@import 'components/ticker';
@import 'patterns/announcements';
@import 'patterns/blog-feed';
@import 'patterns/lead';
@import 'patterns/quote';
@import 'patterns/grid/modules';
@import 'patterns/grid/keyOffers';
@import 'patterns/grid/businessResource';
@import 'patterns/grid/productFeatures';
@import 'patterns/grid/ias';
@import 'patterns/grid/resources';
@import 'snowflakes/homepage';
@import 'snowflakes/swatches';
@import 'snowflakes/o365';
@import 'snowflakes/events';

.clear-fixed-top {
  margin-top: $navbar-height;
}

@media screen and (min-width: $screen-md-min) {
  .clear-fixed-top {
    margin-top: 89px;
  }
}
