@import 'modifiers';
@import 'globalElements/ceiling';
@import 'globalElements/ceilingLp';
@import 'globalElements/ext-links';
@import 'globalElements/mainnav';
@import '../../../derek/global-components/rug/rug';
@import '../../../derek/global-components/footer/footer';
@import '../../../derek/global-components/basement/basement';
@import 'components/subnav';
@import 'components/tabs';
@import 'components/back-to-top';
@import 'components/regionSelector';
@import 'components/pager';
@import 'patterns/announcements';
@import 'patterns/blog-feed';
@import 'patterns/image';
@import 'patterns/lead';
@import 'patterns/quote';
@import 'patterns/videoEmbed';
@import 'patterns/panels';
@import 'patterns/portfolio';
@import 'patterns/cards/modules';
@import 'patterns/cards/cornerPocket';
@import 'patterns/cards/keyOffers';
@import 'patterns/cards/businessResource';
@import 'patterns/cards/productFeatures';
@import 'patterns/cards/valueProp';
@import 'patterns/cards/ias';
@import 'patterns/cards/resources';
@import 'patterns/cards/awards';
@import 'snowflakes/homepage';
@import 'snowflakes/swatches';
@import 'snowflakes/o365';
@import 'snowflakes/filtering';
@import 'snowflakes/events';
@import 'snowflakes/stories';

.clear-fixed-top {
  margin-top: $navbar-height;
}

@media screen and (min-width: $screen-md-min) {
  .clear-fixed-top {
    margin-top: 89px;
  }
}
