$body-bg:  #fff !default;

// Component
.river {
  padding: $padding-base-vertical*2 0;
}

// Background Variations
.bg-steel-blue { background-color: $steel-blue;}
.bg-blue-gray { background-color: $blue-gray;}
.bg-red { background-color: $rackspace-red; }
.bg-dark-gray { background-color: $darkest-gray; }
.bg-light-gray { background-color: $light-gray-white; }
.bg-white{ background-color: $white;}
.bg-medium-teal { background: $mediumteal; }
.bg-crumpled-paper { background-color: $light-gray; background-image: url(https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/elements/bg-crumpled-paper.png); }

//centered-divs
.center-block { margin: 0 auto; float: none; }

//equal height columns
.row-eq-height, .flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.flex-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  & > * {
    width: 100%;
  }
}

@media only screen and (max-width : 770px) {
  //equal height columns remove in small
  .row-eq-height, .flex-container {
    display: block;
  }
}

//absolutely positioning an element to the bottom of its container
.bottom{
  position: absolute;
  @extend .full-width;
  height:10%;
  bottom: 0;
  right: 0;
}

.modal-no-header.close{
  padding: 5px 10px;
  z-index: 999;
  position: absolute;
  top: 0px;
  right: 0px;
}

.circle{
  border: solid 2px $darkest-gray;
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;
  display: inline-block;
  margin-bottom: 15px;
}
.border-white{
  border:solid 1px $white;
  padding: 15px;
}

.clickarea {
  padding: 25px;
  background-color:$white;
  a, a:hover {
    text-decoration: none;
    &:hover { text-decoration: none; }
  }
  &:hover {
    background-color: $light-gray;
    cursor:pointer;
  }
}

.river-light {
  .pattern-header {
    @extend .darkest-gray;
  }
}

.river-dark {
  .pattern-header {
    @extend .white;
  }
}
