$body-bg:  #fff !default;

// Temporary to restrict to 960px
.container {
  max-width: 960px;
}

// Component
.river {
  padding: 12px 0;
}

//absolutely positioning an element to the bottom of its container
.bottom {
  bottom: 0;
  height: 10%;
  position: absolute;
  right: 0;
  width: 100%;
}

.modal-no-header {
  .close {
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
  }
}

.circle {
  background-color: $body-bg;
  border: solid 2px $gray-darkest;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px;
}

.border-white {
  border: solid 2px $white;
  padding: 15px;
}

.clickarea {
  background-color: $white;
  padding: 25px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &:hover {
    background-color: $gray-lighter;
    cursor: pointer;
  }
}

.river-light {
  .pattern-header {
    color: $gray-darkest;
  }
}

.river-dark {
  .pattern-header {
    color: $white;
  }
}

.flex-center-all {
  align-items: center;
  display: flex;
  justify-content: center;
}
