extends ../../../_layouts/page

block content
  !=partial("../../global-components/ceiling/ceiling")
  !=partial("../../global-components/mainnav/mainnav")
  .contentOffset
  !=partial("../../pattern-components/headers/header-refresh-2019")
    != yield
  !=partial("../../global-components/back-to-top/back-to-top")
  !=partial("../../global-components/footer/footer")
  !=partial("../../global-components/basement/basement")
