<div class="leadership-individual">
  <a href="/derek/view-templates/leadership/leadership-interior" class="leadership-attrWrapper">
    <img src="http://placekitten.com/300/400" class="leadership-image">
    <h4 class="leadership-name leadership-nameCenter">Mr. Mittens</h4>
    <h6 class="leadership-title leadership-titleCenter">CEO</h6>
  </a>
</div>
