.leadership-individual {
  margin: 20px auto;
}

.leadership-image {
  @include center-block;
  max-height: 158px;
}

.leadership-imageWrapper {
  display: none;
}

.leadership-attrWrapper {
  &:hover {
    text-decoration: none;
  }
}

.leadership-name {
  line-height: 50px;
  margin-bottom: 20px;
}

.leadership-nameCenter {
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
  text-align: center;
}

.leadership-title {
  font-size: 1.125em;
  margin: 0;
}

.leadership-titleCenter {
  text-align: center;
}

.leadership-linkWrapper {
  margin-top: 0;
}

.leadership-link {
  @include standard-link;
}

@media only screen and (min-width: $screen-md-min) {
  .leadership-imageWrapper {
    display: block;
  }

  .leadership-linkWrapper {
    margin-top: 20px;
  }
}
