<div class="derek-paddedContainer">
  <div class="row">
    <div class="col-md-3">
      <div class="subpanel">
        <div class="subpanel-inner">
          <div class="leadership-imageWrapper">
            <%- partial('../../pattern-components/images/image.ejs') %>
          </div>
          <div class="leadership-attrWrapper">
            <h1 class="leadership-name">Mister Mittens</h1>
            <h4 class="leadership-title">Chief Executive Officer</h4>
          </div>
          <div class="leadership-linkWrapper">
            <a href="/derek/view-templates/leadership/leadership" class="leadership-link">Back to Leaders</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="subpanel">
        <div class="subpanel-inner">
        <%- partial('../../pattern-components/text/text.ejs', { desc: 'Mister Mittens is CEO of Rackspace, responsible for setting the companys vision and strategy. Previously, Taylor served as president and prior to that, he was senior vice president and chief customer officer responsible for Rackspaces global sales and Fanatical Support organizations. He worked closely with the product and marketing teams to develop the companys differentiated managed cloud strategy. Taylor also served as senior vice president and managing director, international, where he was responsible for developing the companys strategic priorities and creating business growth across international markets in Europe, Asia and Australia. Taylor joined Rackspace in 2007 to lead the business unit responsible for delivering Fanatical Support to the company’s largest and most complex customers. He then went on to launch Rackspace Enterprise Services, a business unit that helped Rackspace expand beyond its SMB roots to provide larger customers with enterprise-grade offerings. Prior to joining Rackspace, Taylor held a series of progressively more challenging leadership roles at EDS, managing end-to-end relationships with large global customers. He is a former US Marine Corps infantry officer and holds an MBA degree from The University of North Carolina at Chapel Hill.' }) %>
        </div>
      </div>
    </div>
  </div>
</div>
