.rug {
  background-color: $gray-dark;
  border-bottom: 1px solid $gray-base;
}

.rug-wrapper {
  @include make-container;
}

.rug-headerWrapper {
  @include make-lg-column(1);
  @include make-md-column(2.75);
  padding: 15px 25px 20px;
}

.rug-headerWrapperBorder {
  border-left: 1px solid $gray-base;
  padding-left: 15px;
}

.rug-head {
  color: $white;
  margin: 0;
  padding: 0;
}

.rug-subhead {
  color: $white;
  font-size: 1.05rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

.rug-subheadLink {
  color: $white;

  &:hover {
    color: $gray-light;
  }
}

.rug-contactOption {
  @include make-lg-column(2);
  @include make-md-column(2);
  margin-top: 5px;
  padding: 15px 0;
}

.rug-iconWrapper {
  @include make-lg-column(1);
  @include make-md-column(1);
}

.rug-icon {
  color: $white;
}

.rug-iconPhone {
  @include rotate(20deg);
  margin: 2px 0 0 15px;
}

.rug-link {
  @include make-lg-column(9);
  @include make-md-column(8);
  @include subhead;
  color: $white;
  cursor: pointer;
  font-size: 2rem;
  line-height: 3.45rem;
  text-decoration: none;
}

.rug-link-hover {
  &:hover,
  &:focus {
    color: $gray-light;
    text-decoration: none;
  }
}

@media only screen and (max-width: $screen-md-max) {
  .rug-subhead {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .rug-head {
    font-size: 1.65rem;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  @include responsive-invisibility('.rug');
}
