.rug-to-top {
  @extend %half-padding;
  background-color: $darkteal;
  text-align: center;
  a {
    @extend h4;
    color: $white;
    text-align: center;
    text-decoration: none;
    &:hover, &:visited, &:focus {
      color: $white;
      text-decoration: none;
    }
    i {
      color: $white;
      font-family: 'fontAwesome';
      font-size: 1.5em;
      margin: 10px 0px 0px 15px;
    }
  }
}

#top-link-desktop a {
  @extend h4;
  background-color: $darkteal;
  bottom: 0;
  color: $white;
  display: none;
  height: 35px;
  padding: 0;
  position: fixed;
  right: 5px;
  text-align: center;
  text-decoration: none;
  width: 35px;
  z-index: 100;
  &:hover, &:visited, &:focus {
    color: $white;
  }
  i {
    color: $white;
    font-size:1.1em;
    padding-top:10px;
  }
}
