.basement{
  padding: 10px 0;
}
.basement-region-select{
  font-size: 1.2rem;
}
.basement-copyright{
  color: $medium-gray;
}

@media only screen and (min-width : $screen-md) {
 .basement-region-list-americas {
    column-count: 2;
  }
}
