$ceiling-margin: floor($navbar-margin-bottom / 4);
$ceiling-font-size: 10px;

@media screen and (min-width: $screen-sm-min) {

}

.ceiling{
  @extend .navbar;
  @extend .navbar-default;
  @extend .visible-md;
  @extend .visible-lg;
  @extend .uppercase;
  @extend .semi-bold;
  @extend .no-border;
  margin: 0;
  min-height: $line-height-computed;
  background: $white;
  font-size: $ceiling-font-size;
  border-radius: 0px;

  a {
    font-size: $ceiling-font-size;
    color: $text-color;
    vertical-align: middle;
    line-height: 16px;
  }

  .navbar-left:first-child {
    margin-left: 0;
    padding-left: $ceiling-margin;
  }

  .navbar-right{
    ul.dropdown-menu {
      margin-right: floor($ceiling-margin / 2);
    }
    &:last-child{
      margin-right: 0;
    }
  }


  ul.menu-inline {
    @extend .list-inline;
    margin-bottom: 0;

    > li{
      margin: floor($ceiling-margin + 2) 0;
      border-right: 1px solid $darkest-gray;
      padding: 0 floor($ceiling-margin + 2);
      &.no-border, &:last-child{
        border: none;
      }
    }

    .dropdown-menu {
      padding: 0;
      min-width:0px;
      li a{
        padding: 3px floor($ceiling-margin * 2);
      }
    }

    .dropdown{
      padding: 0;
      &:after {
        content: "";
      }
      ul, li, a {
        margin: 0;
        background-color: $medium-gray;
        @extend .white;
        &:hover, &:focus, &:active {
          background-color: lighten($medium-gray, 5%);
        }
      }
      > a {
        @extend .btn;
        @extend .btn-default;
        background-color: $medium-gray;
        font-size: $ceiling-font-size;
        border: none;
        border-radius: 0px;
        &:hover, &:focus, &:active {
          background-color: lighten($medium-gray, 5%);
          @extend .white;
        }
      }
    }



    .dropdown > .dropdown-green {
      background-color: $signup-green;
      @extend .white;
      ul, li, a {
        background-color: $signup-green;
        &:hover, &:focus, &:active {
          background-color: lighten($signup-green, 5%);
          @extend .white;
        }
      }
      &:hover, &:focus, &:active {
        background-color: lighten($signup-green, 5%);
        @extend .white;
      }
    }

    .dropdown.open > a.dropdown-green {
      background-color: $signup-green;
      @extend .white;
      &:focus, &:active {
        background-color: lighten($signup-green, 5%);
        @extend .white;
      }
      li a{
        @extend .white;
        &:hover {
          background-color: lighten($signup-green, 5%);
        }
      }
    }
    /** End Refactor block **/
  }
}

.navbar-brand{
  padding: 5px 10px;
  background-color: $rackspace-red;
  img{
    max-width: $full-width;
    max-height: 100%;
  }
}
.ceiling.lp{
  ul{
    padding-top: $ceiling-margin;
    a{
      font-size: 13px;
    }
  }
}
