$ceiling-margin: floor($navbar-margin-bottom / 4);
$ceiling-font-size: 10px;

@media screen and (min-width: $screen-sm-min) {

}

.ceiling {
  @extend .navbar;
  @extend .navbar-default;
  @extend .no-border;
  @extend .visible-md;
  @extend .visible-lg;
  background: $white;
  border-radius: 0;
  font-size: $ceiling-font-size;
  font-weight: 600;
  margin: 0;
  min-height: $line-height-computed;
  text-transform: uppercase;
  a {
    color: $text-color;
    font-size: $ceiling-font-size;
    line-height: 16px;
    vertical-align: middle;
  }
  ul.menu-inline {
    @extend .list-inline;
    margin-bottom: 0;
    > li {
      border-right: 1px solid $darkest-gray;
      margin: floor($ceiling-margin + 2) 0;
      padding: 0 floor($ceiling-margin + 2);
      &.no-border, &:last-child{
        border: none;
      }
    }
    .dropdown-menu {
      min-width: 0;
      padding: 0;
      li a {
        padding: 3px floor($ceiling-margin * 2);
      }
    }
    .dropdown {
      padding: 0;
      &:after {
        content: "";
      }
      ul, li, a {
        background-color: $medium-gray;
        color: $white;
        margin: 0;
        &:hover {
          background-color: lighten($medium-gray, 5%);
        }
      }
      > a {
        @extend .btn;
        @extend .btn-default;
        background-color: $medium-gray;
        border: none;
        border-radius: 0;
        font-size: $ceiling-font-size;
        &:hover {
          background-color: lighten($medium-gray, 5%);
          color: $white;
        }
      }
    } /* END ul.menu-inline .dropdown */
    .dropdown > .dropdown-green {
      background-color: $signup-green;
      color: $white;
      ul, li, a {
        background-color: $signup-green;
        &:hover {
          background-color: lighten($signup-green, 5%);
          color: $white;
        }
      }
      &:hover {
        background-color: lighten($signup-green, 5%);
        color: $white;
      }
    }
    .dropdown.open > a.dropdown-green {
      background-color: $signup-green;
      color: $white;
      li a {
        color: $white;
        &:hover {
          background-color: lighten($signup-green, 5%);
        }
      }
    }
  }/* END ul.menu-inline - START line 27 */
  .lp {
    ul {
      padding-top: $ceiling-margin;
      a {
        font-size: 13px;
      }
    }
  }
  .navbar-left:first-child {
    margin-left: 0;
    padding-left: $ceiling-margin;
  }
  .navbar-right {
    ul.dropdown-menu {
      margin-right: floor($ceiling-margin / 2);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}/* END .ceiling - START line 8 */

.navbar-brand {
  background-color: $rackspace-red;
  padding: 5px 10px;
  img {
    max-width: $full-width;
    max-height: 100%;
  }
}
