.footer-menu-link {
  font-size: 1.2rem;
  color: $medium-light-gray;
  text-decoration: none;
  &:hover {
    color: $medium-light-gray;
    text-decoration: underline;
  }
}

.footer-tab-link {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;

  &:hover, &:focus {
    cursor: default;
    text-decoration: none;
    color: $white;
  }
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-tabs {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.footer-menu-split {
  column-count: 3;
}

.footer-menu-item {
  list-style: none;
  line-height: 20px;
}

@media only screen and (max-width: $screen-xs-max) {
  .footer-menu-link {
    display: block;
    background-color: lighten($blue-gray, 5%);
    padding: 15px;
    margin: 0;
    &:hover {
      background-color: lighten($blue-gray, 8%);
    }
  }
  .footer-tabs {
    margin-bottom: 0;
  }
  .footer-tab-link {
    padding: 15px;
    display: block;
    &:hover {
      cursor: pointer;
    }
  }
  .footer-menu {
    text-align: center;
  }
  .footer-menu-split {
    column-count: 1;
  }
  .footer-menu-item {
    margin: 0;
  }

  // Nesting panel selectors to fix bootstrap-related maintainable css issue.
  .footer {
    padding: 0;
    .panel-body {
      padding: 0;
      margin-bottom: 0;
      border-top: none !important;
    }
    .panel-group {
      .panel + .panel {
        margin-top: 0;
      }
    }
    .panel-default {
      border: 0;
    }
    .panel-heading {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      padding: 0;
    }
    .panel-title {
      background-color: $blue-gray;
      border-bottom: 1px solid lighten($blue-gray, 5%);
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
    .panel-title a {
      color: $white;
    }
    .panel-body a {
      color: darken($light-gray, 15%);
    }
  }
}
