.main-nav {
  background: $brand-black;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  .dropdown-menu {
    border: $inactive 1px solid;
    > li > a {
      padding: 3px 10px;
    }
    .dropdown-header {
      padding: 5px 10px;
      font-size: 12px;
    }
  }
  .navbar-brand{
    background-color: $brand-primary;
    background-image: url(https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/navigation/rackspace-logo-tagline-simplified.svg);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 140px 36px;
    position: relative;
    width: 160px;
    &:hover {
      background-color: $brand-primary;
    }
  }
  .navbar-nav > li > a {
    color: #E0E0E0;
    &:hover, &:focus {
      color: $brand-black;
      background: $inactive;
    }
  }
}

.subnav {
  background-color: $blue-gray;
  border-radius: 0;
  li {
    padding: 7px 7px 6px;
    border-bottom: solid transparent 4px;
    text-align: left;
    &:hover, &.selected {
        border-bottom: solid $darkteal 4px;
        background-color: transparent;
      }
    a {
      color: $white;
      font-weight: 400;
      text-decoration: none;
      &:hover, &:focus{
        background-color: transparent;
        text-decoration: none;
      }
    }
    &.no-hover{
      float: right;
      &:hover, &:focus{
        border-bottom: solid transparent 4px;
      }
    }
  }
  .button {
    margin: 7px 0;
  }
  .icon-bar {
    background-color: white;
  }
  .navbar-header {
    button {
      background-color:transparent;
    }
    .col-xs-10{
      margin-top: 10px;
    }
  }
  .subnav-inside {
    width: 100%;
  }
}

@media only screen and (max-width : 992px) {
  .subnav li {
    font-size: .86em;
    padding: 7px 0 6px;
    margin: 0;
  }
}

@media only screen and (max-width : 770px) {
  .subnav li {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .navbar-nav {
    margin: 7.5px 0;
  }
}
