.regionSelector-americas {
  @include make-md-column(6);
}

@media only screen and (min-width : $screen-sm-min) {
  .regionSelector-americas-list {
    column-count: 2;
    column-gap: $grid-gutter-width;
  }
}

.regionSelector-asia-pacific {
  @include make-sm-column(6);
  @include make-md-column(3);
}

.regionSelector-europe {
  @include make-sm-column(6);
  @include make-md-column(3);
}

.regionSelector-flag-icon {
  background-image: url(https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/sprites/global_flags.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 15px;
  width: 20px;
  margin: 7px 5px 0 0;
  float: left;
}

.regionSelector-flag-icon-argentina { background-position: 0px -280px; }
.regionSelector-flag-icon-australia { background-position: 0px -40px; }
.regionSelector-flag-icon-austria { background-position: 0px -360px; }
.regionSelector-flag-icon-brazil { background-position: 0px -240px; }
.regionSelector-flag-icon-chile { background-position: 0px -300px; }
.regionSelector-flag-icon-china { background-position: 0px -400px; }
.regionSelector-flag-icon-colombia { background-position: 0px -220px; }
.regionSelector-flag-icon-germany { background-position: 0px -100px; }
.regionSelector-flag-icon-hk, .regionSelector-flag-icon-hongkong { background-position: 0px -120px; }
.regionSelector-flag-icon-in, .regionSelector-flag-icon-india { background-position: 0px -440px; }
.regionSelector-flag-icon-mexico { background-position: 0px -260px; }
.regionSelector-flag-icon-netherlands { background-position: 0px -140px; }
.regionSelector-flag-icon-peru { background-position: 0px -320px; }
.regionSelector-flag-icon-ph, .regionSelector-flag-icon-philippines { background-position: 0px -420px; }
.regionSelector-flag-icon-sa { background-position: 0px -180px; }
.regionSelector-flag-icon-sg, .regionSelector-flag-icon-singapore { background-position: 0px -460px; }
.regionSelector-flag-icon-switzerland { background-position: 0px -380px; }
.regionSelector-flag-icon-uae { background-position: 0px -200px; }
.regionSelector-flag-icon-uk, .regionSelector-flag-icon-unitedkingdom { background-position: 0px -20px; }
.regionSelector-flag-icon-usa, .regionSelector-flag-icon-unitedstates { background-position: 0px 0px; }
.regionSelector-flag-icon-venezuela { background-position: 0px -340px; }

.regionSelector-flag-link {
  text-decoration: none;
  &:hover {
    color: $darkest-gray;
  }
}

.regionSelector-list {
  margin: 0;
  padding: 0;
}

.regionSelector-list-item {
  line-height: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.regionSelector-row {
  @include make-row();
}
