.rug {
  background-color: $blue-gray;
  border-bottom: 1px solid $medium-light-gray;
}

.rug-chat-text {
  padding: 15px 0 0 5px;
}

.rug-container {
  padding: 15px 0;
}

.rug-email-text {
  padding: 15px 0 0 5px;
}

.rug-head {
  color: $white;
  margin: 0;
}

.rug-icon {
  color: $white;
}

.rug-link {
  color: $white;
  text-decoration: none;
}

.rug-link-hover {
  &:hover, &:focus {
    color: $white;
    text-decoration: underline;
  }
}

.rug-phone-text {
  color: $white;
  padding: 7px 0 0 5px;
}

.rug-subhead {
  color: $white;
  font-size: 37px;
  line-height: 24px;
  margin: 0;
}
