.rug-phone-numbers{
  margin-top:6px;
}
.rug-subhead{
  font-size: 37px;
  line-height: 24px;
}
.rug-contact-text{
  margin-top: 15px;
}
.rug-contact-link{
  text-decoration: none;
  padding-left: 5px;
}

