.lead-container {
  @extend .text-center;
  padding: $padding-base-vertical 0;
}

.cta {
  @extend .text-center;
  padding: $padding-base-vertical 0;
}

.grid-container {
  padding: $padding-base-vertical 0;
  h2 {
    @extend .text-center;
    color: white;
  }
}

.value-prop {
  @extend .text-center;
  padding: $padding-base-vertical 0;
}

