.nav-tabs {
  border: none;
  margin-bottom: 0;
  text-align: center;
  &>li {
    background-color:$darkteal;
    border-top: 5px solid $darkteal;
    display: inline-block;
    float: none;
    padding: 0;
    //snowflake
    &.enterprise {
      background-color: $darkest-gray;
      border-top: 5px solid $darkest-gray;
        &:hover, &:active {
        border-top: 5px solid $darkest-gray;
        a {
          background-color: $white;
          > * {
            color: $darkest-gray;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    a {
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 10px 20px;
      text-decoration: none;
      > * {
        color: $white;
        margin: 0;
        text-align: center;
      }
    }
    &:hover {
      border-top: 5px solid $white;
      a {
        background-color: $darkteal;
      }
    }
    &.active {
      background-color: $white;
      //snowflake
      &.enterprise {
        &:hover {
          border-top: 5px solid $darkest-gray;
        }
        a {
          > * {
            color: $darkest-gray;
          }
        }
      }
      &:hover {
        border-top: 5px solid $darkteal;
      }
      a {
        border: none !important;
        > * {
          color: $darkteal;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width : 992px) {
  #myTab .tab-content {
    display: none;
  }
}
