.nav-tabs{
 @extend .center;
 border:none;
 margin-bottom:0px;
  &>li{
    border-top: 5px solid $darkteal;
    padding:0px;
    background-color:$darkteal;
    float:none;
    display:inline-block;
    //snowflake
    &.enterprise{
      border-top: 5px solid $darkest-gray;
      background-color:$darkest-gray;
        &:hover, &:active{
        border-top: 5px solid $darkest-gray;
        a{
          background-color: $white;
          > * {
            color:$darkest-gray;
          }
          &:hover{
            text-decoration:none;
          }
        }
      }
    }
    a{
      border-radius:0px;
      margin: 0px;
      padding: 10px 20px;
      border:none;
      text-decoration:none;
      > * {
        @extend .white;
        @extend .center;
        margin:0px;
      }
    }
    &:hover{
      border-top: 5px solid $white;
      a{
        background-color: $darkteal;
      }
    }
    &.active{
      background-color:$white;
      a{
        border:none!important;
        > * {
          color: $darkteal;
          @extend .center;
        }
      }
      //snowflake
      &.enterprise {
        a{
          > * {
            color:$darkest-gray;
          }
        }
        &:hover{
          border-top: 5px solid $darkest-gray;
        }
      }
      &:hover{
        border-top: 5px solid $darkteal;
      }
    }
  }
}

@media only screen and (max-width : $screen-md) {
  #myTab .tab-content{
    display:none;
  }
}
