.backtotop-container {
  background-color: $gray-darkest;
  padding: 10px 15px;
  text-align: center;
  display: none;

  &:hover {
    background-color: darken($gray-darkest, 5%);
  }
}

.backtotop-wrapper {
  @include make-md-column(12);
}

.backtotop-link {
  color: $white;
  font-family: $subhead;
  font-size: 2rem;
  font-weight: $font-weight-black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:visited,
  &:focus {
    color: $white;
    text-decoration: none;
  }
}

.backtotop-icon {
  color: $white;
  font-family: rswebfonts;
  font-size: 1.75rem;
  margin: 5px 0 0 10px;
}

@media only screen and (max-width: $screen-sm-max) {
  .backtotop-container {
    display: block;
  }
}

