.ceilingLp {
  background: $white;
  border-bottom: 1px solid $light-gray;
}

.ceilingLp-brand {
  background-color: $medium-dark-gray;
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/navigation/rackspace-logo-tagline-simplified.svg');
  background-position: 9px 10px;
  background-repeat: no-repeat;
  background-size: 111px 29px;
  float: left;
  height: 50px;
  margin: 0 (-$grid-gutter-width / 2);
  position: relative;
  width: 127px;
}

.ceilingLp-brand-logo {
  max-height: 100%;
  max-width: $full-width;
}

.ceilingLp-container {
  padding: 0;
}

.ceilingLp-menuInline {
  list-style: none;
  margin-bottom: 0;
}

.ceilingLp-menuInline-item {
  display: inline-block;
  font-weight: 500;
  margin: floor($ceiling-margin + 2) 0;
  padding: floor($ceiling-margin) floor($ceiling-margin + 2);
  text-transform: uppercase;
}

.ceilingLp-menuInline-link {
  color: $text-color;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

.ceilingLp-menuInline-noLink {
  line-height: 16px;
  vertical-align: middle;
}

.ceilingLp-phone {
  float: right;
}
