//subnav
.subnav {
  background-color: $blue-gray;
  border-radius: 0;

  .nav > li > a:focus {
    background-color: transparent;
  }

  .nav > li.no-hover > a:focus {
    background-color: $brand-success;
  }

  .subnav-inside {
    width: 100%;
  }

  .navbar-header {

    .col-xs-10 {
      margin-top: 10px;
    }

    button {
      background-color: transparent;
    }

  }

  .button {
    margin: 7px 0;
  }

  .icon-bar {
    background-color: $white;
  }

  li {
    border-bottom: solid transparent 4px;
    float: left;
    padding: 7px 7px 6px;

    &:hover {
      background-color: transparent;
      border-bottom: solid $dark-teal 4px;
    }

    a {
      color: $white;
      font-weight: 400;
      text-decoration: none;

      &:hover {
        background-color: transparent;
        text-decoration: none;
      }
    }

    &.no-hover {
      float: right;

      &:hover {
        border-bottom: solid transparent 4px;
      }

    }

    &.selected {
      background-color: transparent;
      border-bottom: solid $darkteal 4px;
    }
  }
}

//subnav
@media only screen and (max-width: $screen-md-max) {
  .subnav li {
    font-size: .86em;
    margin: 0;
    padding: 7px 0 6px;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  //subnav
  .subnav li {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
