.nav-tabs {
  border: 0;
  margin-bottom: 0;
  text-align: center;

  & > li {
    background-color: $dark-teal;
    border-top: 5px solid $dark-teal;
    display: inline-block;
    float: none;
    padding: 0;

    &:hover {
      border-top: 5px solid $white;

      a {
        background-color: $dark-teal;
      }
    }

    &.active {
      background-color: $white;

      &:hover {
        border-top: 5px solid $dark-teal;
      }

      &.enterprise {
        a {
          > * {
            color: $gray-darkest;
          }
        }

        &:hover {
          border-top: 5px solid $gray-darkest;
        }
      }

      a {
        border: 0;

        > * {
          color: $dark-teal;
          text-align: center;
        }
      }
    }

    &.enterprise {
      background-color: $gray-darkest;
      border-top: 5px solid $gray-darkest;

      &:hover,
      &:active {
        border-top: 5px solid $gray-darkest;

        a {
          background-color: $white;

          > * {
            color: $gray-darkest;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    a {
      border: 0;
      border-radius: 0;
      margin: 0;
      padding: 10px 20px;
      text-decoration: none;

      > * {
        color: $white;
        margin: 0;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: $screen-md) {
  #myTab {
    .tab-content {
      display: none;
    }
  }
}
