@import '../../../global/scss/grid';
@import '../../../global/scss/swatch';
@import '../../../global/scss/fonts';
@import '../../../global/scss/bootstrap_variables';
@import '../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix';
@import '../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid';

$ticker-span-bg: rgba(200, 0, 0, .5);

.ticker {
  background-color: $brand-primary;
  width: 100%;

  a {
    text-decoration: none;
  }
}

.ticker-container {
  @include make-container;
}

.ticker-row {
  @include make-row;
}

.ticker-label {
  @include make-md-column(3);
  color: $white;
  font-family: $subhead;
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;
}

.ticker-countdown-column {
  @include make-md-column(5);
  padding: 0;
}

.ticker-countdown {
  background-color: $white;
  color: $black;
  font-family: $subhead;
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 30px auto;
  padding: 15px;
  text-align: left;
  width: 265px;
}

.ticker-image {
  @include make-md-column(4);
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/swirlBG.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 113px;
  padding: 0;
}

@media only screen and (max-width: $screen-sm-max) {
  .ticker-image {
    display: none;
  }

  .ticker-label {
    padding-bottom: 0;
  }

  .ticker-row {
    background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/swirlBG.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 65%;
  }

  .ticker-span-bg {
    background-color: $ticker-span-bg;
    font-size: 24px;
    line-height: 30px;
    padding: 2px;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .ticker-row {
    background-size: 85%;
  }
}
