extends ../../../_layouts/page

block content
  !=partial("./_partials/nav")
  .container.container-xl
    != yield
  !=partial("../../global-components/footer/footerLp", { container_class: "basement-container-xl" })
