$solve-black: #00001e;
$row-space: 35px;

@mixin tl-header {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 110%;
  margin: 10px 0 25px;
  text-align: left;
}

@mixin solve-h1 {
  font-size: 1.75em;

  @media only screen and (min-width: $screen-md-min) {
    font-size: 2.5em;
  }

  @media only screen and (min-width: $screen-lg-min) {
    font-size: 3.75em;
  }
}

@mixin solve-h2 {
  font-size: 1.75em;
}

@mixin solve-h3 {
  font-size: 1.45em;
}

.rsTl-content {
  background-color: $gray-light;

  .rsBasement {
    background-color: $gray-light;
  }

  .basement-container {
    background-color: $black;
  }
}

.rsTl-feature-header {
  @include xl-container;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.rsTl-feature-headerBackground {
  background-color: $white;
  position: relative;
  text-align: center;
}

.rsTl-feature-headerContainer {
  padding: 25px $grid-gutter-width / 2 0;
  position: relative;
  z-index: 250;
}

.rsTl-article-contentContainer {
  @include xl-container;
  background-color: $white;
  padding: $grid-gutter-width / 2;
}

.rsTl-contentContainer {
  background-color: $white;
  padding-top: 25px;
}

.rsTl-feature-headerInner {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
  @include the-ms-special(10);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.rsTl-feature-title {
  @include tl-header;
  @include solve-h1;
}

.rsTl-feature-text {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1 / 1 / 2 / 11;
}

.rsTl-feature-author {
  font-weight: 500;
  text-decoration: underline;
}

.rsTl-article-read {
  font-size: 14px;
  font-weight: 500;
}

.rsTl-article-row {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
  @include the-ms-special(10);
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: $row-space;

  blockquote {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    border-bottom: 8px solid $rackspace-red;
    border-top: 8px solid $rackspace-red;
    color: $solve-black;
    font-family: $copy;
    font-size: 1.75em;
    font-weight: 100;
    grid-area: 1 / 2 / 2 / 10;
    letter-spacing: 0;
    line-height: 110%;
    margin-bottom: 25px;
    padding-top: 60px;
    text-align: left;

    p {
      line-height: inherit;
    }

    &::before {
      content: '“';
      display: block;
      font-size: 2em;
    }

    &::after {
      content: '”';
      display: block;
      font-size: 2em;
      margin-top: 47px;
    }
  }
}

.rsTl-column {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1 / 1 / 2 / 11;
}

.rsTl-divider {
  border: 0;
  border-top: 8px solid $rackspace-red;
  margin-bottom: $row-space;
  margin-top: 0;
}

.rsTl-article-header {
  @include tl-header;
  @include solve-h2;
}

.rsTl-column-quoteSource {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-area: 2 / 2 / 3 / 10;
}

// social buttons
@mixin rstl-social-btn($social) {
  background-color: $rackspace-red;
  border-radius: 50%;
  color: $white;
  display: inline-block;
  font-family: 'rswebfonts';
  font-size: 20px;
  height: 30px;
  margin-right: 10px;
  padding-top: 2px;
  text-align: center;
  width: 30px;

  &:hover {
    background-color: darken($rackspace-red, 3);
    color: $white;
    text-decoration: none;
  }

  &:focus {
    background-color: darken($rackspace-red, 3);
    color: $white;
    text-decoration: none;
  }

  &::before {
    content: $social;
  }
}

.rsTl-social-twitter {
  @include rstl-social-btn('\f099');
}

.rsTl-social-linkedin {
  @include rstl-social-btn('\f0e1');
}

.rsTl-social-youtube {
  @include rstl-social-btn('\f16a');
}

.rsTl-social-facebook {
  @include rstl-social-btn('\f09a');
}

.rsTl-social-github {
  @include rstl-social-btn('\f09b');
}

.rsTl-social-xing {
  @include rstl-social-btn('\e852');
}

.rsTl-author-section {
  background-color: $purple;
  padding: 25px;
}

.rsTl-author-sectionInner {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
  -ms-grid-columns: 250px 1fr;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 250px 1fr;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.rsTl-author-title {
  @include tl-header;
  @include solve-h2;
  color: $white;
}

.rsTl-author-photo {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rsTl-author-text {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 2;
  background-color: $white;
  padding: 30px;
}

.rsTl-author-label {
  display: block;
  font-weight: 500;
  margin-bottom: 15px;
}

.rsTl-author-name {
  display: block;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.rsTl-cta-section {
  background-color: $gray;
  display: block;
  margin: 0 auto;
  max-width: 970px;
  position: relative;
  transition-duration: .2s;

  &:hover {
    box-shadow: 0 0 16px -1px transparentize($black, .8);
    text-decoration: none;
  }
}

.rsTl-cta-sectionBackground {
  position: relative;
  z-index: 9;
}

.rsTl-cta-sectionContent {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 2.5vw;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.rsTl-cta-title {
  color: $white;
  display: block;
  font-size: 4.7vw;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.1em;
  margin: 1vw 0 3vw;
}

.rsTl-cta-button {
  background: $rackspace-red;
  bottom: 4vw;
  color: $white;
  font-size: 2.6vw;
  font-weight: 500;
  padding: 1.4vw 3.5vw;
  position: absolute;
  width: fit-content;
}

.rsTl-relatedTopics-row {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
  -ms-grid-columns: 1fr;
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
  grid-template-columns: 1fr;
  margin-bottom: 35px;

  // edge and ie hacks
  .rsTl-relatedTopics-col {

    &:first-child {
      -ms-grid-column: 1;
    }
  }
}


.rsTl-relatedTopics-2colRow {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
  @include the-ms-special(2);
  grid-template-columns: repeat(2, 1fr);

  // edge and ie hacks
  .rsTl-relatedTopics-col {

    &:last-child {
      -ms-grid-column: 2;
    }
  }
}

.rsTl-relatedTopics-3colRow {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
  @include the-ms-special(3);
  grid-template-columns: repeat(3, 1fr);

  // edge and ie hacks
  .rsTl-relatedTopics-col {

    &:nth-child(2) {
      -ms-grid-column: 2;
    }

    &:last-child {
      -ms-grid-column: 3;
    }
  }

  .rsTl-relatedTopics-feature {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rsTl-relatedTopics-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    height: 200px;
  }

  .rsTl-relatedTopics-text {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.rsTl-relatedTopics-col {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties force-element-nesting
  -ms-grid-columns: 1fr;
  display: -ms-grid;
  display: grid;
}

.rsTl-relatedTopics-header {
  @include tl-header;
  @include solve-h2;
}

.rsTl-relatedTopics-smallHeader {
  @include tl-header;
  @include solve-h3;
}

.rsTl-relatedTopics-feature {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
  -ms-grid-columns: 200px 1fr;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.rsTl-relatedTopics-img {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  min-height: 200px;

  &:hover {
    box-shadow: 0 0 16px -1px transparentize($black, .8);
  }
}

.rsTl-relatedTopics-text {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 2;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.rsTl-relatedTopics-type {
  font-size: 14px;
}

.rsTl-relatedTopics-btn {
  margin: 0;

  &:hover {
    background-color: darken($rackspace-red, 15%);
  }
}

// tablet rules
@media screen and (max-width: $screen-md-min - 1) {

  .rsTl-feature-headerContainer {
    background-color: $white;
  }

  .rsTl-relatedTopics-2colRow {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;

    // edge and ie hacks
    .rsTl-relatedTopics-col {

      &:first-child {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
      }

      &:last-child {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
      }
    }
  }

  .rsTl-relatedTopics-3colRow {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;

    // edge and ie hacks
    .rsTl-relatedTopics-col {

      &:first-child {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
      }

      &:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
      }

      &:last-child {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
      }
    }

    .rsTl-relatedTopics-feature {
      -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
    }

    .rsTl-relatedTopics-img {
      height: auto;
    }

    .rsTl-relatedTopics-text {
      -ms-grid-column: 1;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

// mobile rules
@media screen and (max-width: $screen-sm-min - 1) {

  .rsTl-author-sectionInner {
    // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
    @include the-ms-special(2);
    grid-template-columns: repeat(2, 1fr);
  }

  .rsTl-author-photo {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1 / 1 / 2 / 3;
    min-height: 250px;
  }

  .rsTl-author-text {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-area: 2 / 1 / 3 / 3;
  }

  .rsTl-relatedTopics-feature {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rsTl-relatedTopics-img {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1 / 1 / 2 / 3;
  }

  .rsTl-relatedTopics-text {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-area: 2 / 1 / 3 / 3;
    padding-left: 0;
    padding-right: 0;
  }

  .rsTl-relatedTopics-3colRow {
    .rsTl-relatedTopics-text {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .rsTl-cta-sectionContent {
    padding: 20px;
  }

  .rsTl-cta-title {
    font-size: 2.2em;
    margin: 10px 0 15px;
  }

  .rsTl-cta-button {
    bottom: 2.2em;
    font-size: 1.25em;
    padding: 11px 30px;
  }
}

@media only screen and (min-width: $screen-md-min) {
  .rsTl-article-read,
  .rsTl-feature-title,
  .rsTl-feature-p {
    color: $white;
  }

  .rsTl-feature-header {
    height: 42vw;
  }

  .rsTl-feature-headerBackground {
    display: inline;
    height: 42vw;
    left: 50%;
    margin-left: -50%;
    position: absolute;
    width: 100%;
    z-index: 9;
  }

  .rsTl-feature-text {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1 / 1 / 2 / 6;
  }

  .rsTl-cta-title {
    font-size: 2.6em;
  }

  // edge and ie hacks
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { // sass-lint:disable-line no-vendor-prefixes
    .rsTl-relatedTopics-3colRow {
      .rsTl-relatedTopics-col {
        padding: 10px;
      }
    }
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .rsTl-feature-header {
    height: 42vw;
    max-height: 500px;
  }

  .rsTl-cta-title {
    font-size: 2.7em;
  }
}

@media only screen and (min-width: $screen-xl) {
  .rsTl-article-contentContainer,
  .rsTl-feature-headerContainer {
    padding: 45px;
  }
}
