.footer {
  background-color: $black;
  padding: 20px 0;
}

.footer-container {
  @include make-container;
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu-item {
  line-height: 20px;
  list-style: none;
}

.footer-menu-link {
  color: $gray-light;
  font-size: 1.2rem;
  text-decoration: none;

  &:focus {
    text-decoration: none;
  }

  &:focus,
  &:hover {
    color: $gray-light;
  }
}

.footer-menu-split {
  column-count: 3;
}

.footer-tabs {
  list-style: none;
  margin-bottom: 25px;
  padding: 0;
}

.footer-tab-link {
  color: $white;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $white;
    cursor: default;
    text-decoration: none;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .footer {
    padding: 0;

    .panel-body {
      border-top: 0;
      margin-bottom: 0;
      padding: 0;

      a {
        color: darken($gray-lighter, 15%);
      }
    }

    .panel-default {
      border: 0;
    }

    .panel-group {
      .panel {
        & + .panel {
          margin-top: 0;
        }
      }
    }

    .panel-heading {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 0;
    }

    .panel-title {
      background-color: $gray-dark;
      border-bottom: 1px solid lighten($gray-dark, 5%);
      padding-left: 0;
      padding-right: 0;
      text-align: center;

      a {
        color: $white;
      }
    }
  }

  .footer-menu {
    text-align: center;
  }

  .footer-menu-item {
    margin: 0;
  }

  .footer-menu-link {
    background-color: lighten($gray-dark, 5%);
    display: block;
    margin: 0;
    padding: 15px;

    &:hover {
      background-color: lighten($gray-dark, 8%);
    }
  }

  .footer-menu-split {
    column-count: 1;
  }

  .footer-tabs {
    margin-bottom: 0;
  }

  .footer-tab-link {
    display: block;
    padding: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}
