.footer {
  background-color: $black;
  padding: 20px 0;
}

.footer-container {
  @include make-container;
  padding: 0;
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu-item {
  line-height: 20px;
  list-style: none;
}

.footer-menu-link {
  color: $white;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;

  &:focus {
    text-decoration: none;
  }

  &:focus,
  &:hover {
    color: $gray-light;
  }
}

.footer-menu-split {
  column-count: 3;
}

.footer-tabs {
  list-style: none;
  margin-bottom: 25px;
  padding: 0;
}

.footer-tab-link {
  color: $white;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $white;
    cursor: default;
    text-decoration: none;
  }
}

.footer-copyright-row {
  color: $white;
  padding-top: 10px;
  text-align: right;
}

.footer-social {
  text-align: right;

  .fa-facebook-official,
  .fa-twitter,
  .fa-youtube,
  .fa-linkedin,
  .fa-google-plus {
    color: $white;

    &:hover {
      color: $gray-light;
    }
  }
}

.footer-links-container {
  @include make-md-column(9);

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-xl-max) {
    padding: 0;
  }
}

.footer-social-container {
  @include make-md-column(3);
  @include make-xs-column(12);

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    padding: 0;
  }
}

@mixin footer-social-span($content) {
  font-size: 0;

  &::before {
    color: $white;
    content: $content;
    display: inline-block;
    font-family: 'rswebfonts';
    font-size: 30px;
    margin-right: .2em;

    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 25px;
    }

    &:hover {
      color: $white;
    }
  }
}

.footer-social-fb {
  @include footer-social-span('\f230');
}

.footer-social-tw {
  @include footer-social-span('\f099');
}

.footer-social-ln {
  @include footer-social-span('\f0e1');
}

.footer-social-yt {
  @include footer-social-span('\f167');
}

@media screen and (max-width: $screen-sm-max) {
  .footer-social {
    margin-top: 15px;
    text-align: center;
  }

  .footer-copyright-row {
    padding-bottom: 10px;
    text-align: center;
  }

  .footer-tabs {
    display: flex;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .footer {
    padding: 0;

    .panel-body {
      border-top: 0;
      margin-bottom: 0;
      padding: 0;

      a {
        color: darken($gray-lighter, 15%);
      }
    }

    .panel-default {
      border: 0;
    }

    .panel-group {
      .panel {
        & + .panel {
          margin-top: 0;
        }
      }
    }

    .panel-heading {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 0;
    }

    .panel-title {
      background-color: $black;
      border-bottom: 1px solid lighten($gray-dark, 5%);
      padding-left: 0;
      padding-right: 0;
      text-align: center;

      a {
        color: $white;
      }
    }
  }

  .footer-menu {
    text-align: center;
  }

  .footer-menu-item {
    margin: 0;
  }

  .footer-menu-link {
    background-color: lighten($black, 10%);
    display: block;
    margin: 0;
    padding: 15px;

    &:hover {
      background-color: lighten($black, 15%);
    }
  }

  .footer-menu-split {
    column-count: 1;
  }

  .footer-tabs {
    margin-bottom: 0;
  }

  .footer-tab-link {
    display: block;
    padding: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}
