<!--[footernav]-->
<div class="rsBasement">
  <div class="basement-container">
    <div class="col-sm-5 hidden-xs hidden-sm">
      <ul class="basement-iconList">
        <li class="basement-iconListItem">
          <a href="https://www.facebook.com/rackspace" target="_blank" class="basement-iconListItemLink">
              <i class="fa fa-2x fa-facebook-official"></i>
          </a>
        </li>
        <li class="basement-iconListItem">
          <a href="https://twitter.com/Rackspace" target="_blank" class="basement-iconListItemLink">
              <i class="fa fa-2x fa-twitter"></i>
          </a>
        </li>
        <li class="basement-iconListItem">
          <a href="https://www.youtube.com/rackspace" target="_blank" class="basement-iconListItemLink">
              <i class="fa fa-2x fa-youtube"></i>
          </a>
        </li>
        <li class="basement-iconListItem">
          <a href="https://plus.google.com/+Rackspace" target="_blank" class="basement-iconListItemLink">
              <i class="fa fa-2x fa-google-plus"></i>
          </a>
        </li>
        <li class="basement-iconListItem">
          <a href="https://www.linkedin.com/company/rackspace-hosting/" target="_blank" class="basement-iconListItemLink">
              <i class="fa fa-2x fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-md-push-3 col-xs-12">
      <p class="uppercase copyright basementLp-copyright">&reg; 2016 Rackspace US, Inc.<br/>
      <a class="copyright white" href="https://www.rackspace.com/information/legal/privacycenter">Privacy Center</a></p>
    </div>
  </div>
</div>

<!--[/footernav]-->
