<!--[footernav]-->
<div class="half-padding-full footer">
  <div class="footer-container">
    <ul id="footer-accordion" class="footer-tabs">
      <li class="col-sm-6"><a href="#footer-tab-1" class="footer-tab-link" data-toggle="tab">About Rackspace</a></li>
      <li class="col-sm-2"><a href="#footer-tab-2" class="footer-tab-link" data-toggle="tab">Blog</a></li>
      <li class="col-sm-2"><a href="#footer-tab-3" class="footer-tab-link" data-toggle="tab">Support</a></li>
      <li class="col-sm-2"><a href="#footer-tab-4" class="footer-tab-link" data-toggle="tab">Corporate</a></li>
    </ul>

    <div id="footer-tab-1" class="col-sm-6">
      <ul class="footer-menu footer-menu-split">
        <li class="footer-menu-item"><a class="footer-menu-link" href="#">Leadership</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link" href="#">Legal</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link" href="#">Contact Information</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link" href="#">Events</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">Customer Stories</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link" href="#">Marketplace</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link" href="#">Responsibility</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link" href="#">News</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">Investors</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">Careers</a></li>
      </ul>
    </div>

    <div id="footer-tab-2" class="col-sm-2">
      <ul class="footer-menu">
        <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">The Rackspace Blog</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">Developer Blog</a></li>
      </ul>
    </div>

    <div id="footer-tab-3" class="col-sm-2">
      <ul class="footer-menu">
        <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">Knowledge Center</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">Support Forums</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">API Documentation</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">Support Home</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">Developer Center</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">Partner Locator</a></li>
      </ul>
    </div>

    <div id="footer-tab-4" class="col-sm-2">
      <ul class="footer-menu">
        <li class="footer-menu-item"><a class="footer-menu-link" href="#">Privacy Statement</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link" href="#">Website Terms</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link" href="#">Trademarks</a></li>
        <li class="footer-menu-item"><a class="footer-menu-link" href="#">Sitemap</a></li>
      </ul>
    </div>
  </div>
</div>
<script src="js/global-components/footer/footer.js" charset="utf-8"></script>
<!--[/footernav]-->
