<!--[footernav]-->
<div class="footer">
  <div class="footer-container">
    <div class="footer-links-container">
      <ul id="footer-accordion" class="footer-tabs">
        <li class="col-sm-3"><a href="#footer-tab-1" class="footer-tab-link" data-toggle="tab">About Rackspace</a></li>
        <li class="col-sm-3"><a href="#footer-tab-2" class="footer-tab-link" data-toggle="tab">Blog & News</a></li>
        <li class="col-sm-3"><a href="#footer-tab-3" class="footer-tab-link" data-toggle="tab">Support</a></li>
        <li class="col-sm-3"><a href="#footer-tab-4" class="footer-tab-link" data-toggle="tab">Legal</a></li>
      </ul>

      <div id="footer-tab-1" class="col-sm-3">
        <ul class="footer-menu">
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">About Us</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Careers</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Compliance</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Contact Us</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Investors</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Leadership</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Responsibility</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Sitemap</a></li>
        </ul>
      </div>

      <div id="footer-tab-2" class="col-sm-3">
        <ul class="footer-menu">
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Rackspace Blog</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Rackspace Newsroom</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Solve: Thought Leadership</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Technical Blog</a></li>
        </ul>
      </div>

      <div id="footer-tab-3" class="col-sm-3">
        <ul class="footer-menu">
          <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">Support Overview</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Developers</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">Support Documentation</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link extLink extLink-small" href="#">System Status</a></li>
        </ul>
      </div>

      <div id="footer-tab-4" class="col-sm-3">
        <ul class="footer-menu">
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Legal Overview</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Privacy Center</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Trademarks</a></li>
          <li class="footer-menu-item"><a class="footer-menu-link" href="#">Website Terms</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-social-container">
      <div class="footer-social">
        <a href="https://www.facebook.com/rackspace" target="_blank">
          <span class="footer-social-fb">Facebook</span>
        </a>
        <a href="https://twitter.com/Rackspace" target="_blank">
          <span class="footer-social-tw">Twitter</span>
        </a>
        <a href="https://www.linkedin.com/company/rackspace/" target="_blank">
          <span class="footer-social-ln">LinkedIn</span>
        </a>
        <a href="https://www.youtube.com/rackspace" target="_blank">
          <span class="footer-social-yt">YouTube</span>
        </a>
      </div>
      <div class="footer-copyright-row">
        2020 Rackspace US, Inc.
      </div>
    </div>
  </div>
</div>
<script src="js/global-components/footer/footer.js" charset="utf-8"></script>
<!--[/footernav]-->
