<!-- Ribbon -->
<div class="rsRibbon-river">
  <div class="rsRibbon-container">
    <div class="rsRibbon-row">
      <div class="rsRibbon-what">
        <p class="rsRibbon-what-info"> <%- what %></p>
      </div>
      <div class="rsRibbon-when">
        <p class="rsRibbon-when-info"><%- when %></p>
      </div>
    </div>
  </div>
</div>
