.cta {
  text-align: center;
}

.cta-headerWrapper {
  @include make-md-column(12);
}

.cta-button {
  @include button;
  @include button-lead;
  display: table;
}

.cta-buttonWrapper {
  @include make-md-column(12);
  margin-bottom: 3px;

  a {
    &:focus {
      text-decoration: none;
    }
  }
}

.cta-iconWrapper {
  @include make-md-column(12);
}

.cta-row {
  @include make-row;
}

.cta-subheadWrapper {
  @include make-md-column(12);

  .cta-subhead {
    font-family: $subhead;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .05em;
    margin: 13.5px 0;
  }

  a {
    @include standard-link;
    color: $gray-darkest;
  }
}
