<div class="half-padding">
  <!-- CTA -->
  <div class="cta">
    <div class="cta-row">
      <div class="cta-headerWrapper">
        <h2>Talk to a Rackspace Specialist</h2>
      </div>
    </div>
    <div class="cta-row">
      <div class="cta-buttonWrapper">
        <a class="cta-button track-cta">Talk to a Specialist</a>
      </div>
    </div>
    <div class="cta-row">
      <div class="cta-subheadWrapper">
        <p class="cta-subhead">Call <a href="javascript:void(0)">1-855-715-7307</a> to start saving</p>
      </div>
    </div>
  </div>
  <!-- end CTA -->
</div>
