<div class="row half-padding-top">
    <div class="col-xs-12 col-sm-10">
      <div class="search-result">
        <h4 class="search-resultTitle"><a class="search-resultTitleLink" href="javascript:void(0);">What is Cloud Computing? | Rackspace Managed Cloud</a></h4>
        <p class="search-resultDescription">Cloud computing describes the act of storing, managing and processing data
  online as opposed to on your own physical computer or network.</p>
        <p class="search-resultURL"><a class="search-resultLink" href="javascript:void(0);">https://www.rackspace.com/cloud</a></p>
      </div>
    </div>
  </div>
