<div class="standard-padding">
  <div class="container">
    <div class="col-md-8">
      <h1>Article Title Here</h1>
      <p>April 24, 2019</p>
      <p class="center">
        <img src="../imgs/globalBrand/solo-racker.png" alt="title here" />
      </p>
      <p>
        <strong>SAN ANTONIO - April 24, 2019</strong> - 
        Texty McText Dreamcatcher hashtag organic bushwick lumbersexual hot chicken health goth venmo. Tbh lo-fi sriracha butcher put a bird on it neutra activated charcoal readymade hashtag farm-to-table. Sustainable XOXO succulents pickled tilde leggings iceland church-key. Gluten-free readymade activated charcoal locavore, cornhole iceland tote bag fashion axe tumeric. Pork belly gastropub vexillologist, vinyl af asymmetrical before they sold out venmo ramps letterpress migas. Woke 8-bit synth whatever, fanny pack viral palo santo cray everyday carry.
      </p>
      <p>
        Gochujang disrupt bicycle rights everyday carry bitters blog cornhole portland fanny pack sartorial man braid heirloom kitsch. Roof party banh mi disrupt jean shorts williamsburg. Poutine vexillologist taiyaki, crucifix woke portland fingerstache farm-to-table street art 3 wolf moon. Chia fam migas +1, vinyl air plant craft beer tumeric activated charcoal etsy.
      </p>
      <p>
        Narwhal vape banjo readymade lumbersexual next level put a bird on it, banh mi pinterest YOLO copper mug kogi gochujang jianbing bushwick. Normcore lomo gastropub schlitz photo booth thundercats. Biodiesel literally single-origin coffee, meggings sartorial edison bulb lo-fi keffiyeh williamsburg vape. Coloring book sriracha literally microdosing, aesthetic typewriter austin. Deep v fanny pack chartreuse, williamsburg sustainable iceland hexagon lumbersexual cliche sriracha umami authentic ramps freegan celiac. Cold-pressed adaptogen godard chillwave snackwave, celiac keytar vaporware tumblr jianbing YOLO cardigan shoreditch live-edge.
      </p>
      <p>
        *For additional information on Rackspace, please visit <a href="#">ww.rackspace.com</a>
      </p>
      <p>
        <strong>About Rackspace</strong>
      </p>
      <p>
        Street art prism biodiesel meggings cloud bread iPhone iceland jean shorts YOLO banjo polaroid pork belly. Farm-to-table tumeric glossier cold-pressed cornhole, locavore blog kale chips health goth kinfolk four loko. Whatever vaporware health goth succulents palo santo, messenger bag tofu gentrify kitsch normcore gastropub tousled yr. Stumptown gluten-free enamel pin whatever PBR&B letterpress hell of kogi wayfarers freegan lomo. Oh. You need a little dummy text for your mockup? How quaint. I bet you’re still using Bootstrap too.
      </p>
      <p>
        Learn more at <a href="#">ww.rackspace.com</a> or call 1-800-961-2888.
      </p>
      <p>
        <strong>Media Contact:</strong><br/>
        Mike Nastyellow<br/>
        mike.nastyellow@rackspace.com
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <img src="../imgs/derek/Rackspace_Castle.jpg" alt="title here" />
      </p>
      <h3>Public Relations</h3>
      <p>
        <a href="#">mike.nastyellow@rackspace.com</a>
      </p>
      <h3>Recent Press Releases</h3>
      <p>
        <a href="#">Notice of MDS Vulnerabilites</a><br/>
        <span class="blogFeed-title">April 3rd 2019</span>
      </p>
      <p>
        <a href="#">Notice of MDS Vulnerabilites</a><br/>
        <span class="blogFeed-title">April 3rd 2019</span>
      </p>
      <p>
        <a href="#">Notice of MDS Vulnerabilites</a><br/>
        <span class="blogFeed-title">April 3rd 2019</span>
      </p>
      <h3>Links</h3>
      <p>
        <a href="#">Rackspace Blog</a>
      </p>
      <p>
        <a href="#">Investor Relations</a>
      </p>
      <p>
        <a href="#">Media Kit</a>
      </p>
      <h3>Follow Us</h3>
      <p>
        <a href="https://www.facebook.com/rackspace" target="_blank" class="rsSocial-link">
          <span class="fa fa-2x fa-facebook-official rsSocial-link-fb"></span>
        </a>
        <a href="https://twitter.com/Rackspace" target="_blank" class="rsSocial-link">
          <span class="fa fa-2x fa-twitter rsSocial-link-tw"></span>
        </a>
        <a href="https://www.linkedin.com/company/rackspace-hosting/" target="_blank" class="rsSocial-link">
          <span class="fa fa-2x fa-linkedin rsSocial-link-ld"></span>
        </a>
      </p>
    </div>
  </div>
</div>