<!-- List: 33/34/33 -->
<div class="half-padding-top">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-md-4 panel-flex">
        <%- partial("_partials/list", {list_classes: "discs"}) %>
      </div>
      <div class="col-md-4 panel-flex">
        <%- partial("_partials/list", {list_classes: "checks green"}) %>
      </div>
      <div class="col-md-4 panel-flex">
        <%- partial("_partials/list", {items: ["Live, US-based support team", "Remotely log in and troubleshoot Virtual Machines, OS and Apps", "Dedicated account team", "15-Minute Response Time SLA to monitoring notifications", "Live, US-based support team", "Live, US-based support team"]}) %>
      </div>
    </div>
  </div>
</div>
