<div class="col-md-12 half-padding-top">
  <h1>Page Title</h1>
  <p>h1. <code>font-size: 3em;</code> For use in lead areas only.</p>
</div>
<div class="col-md-12 half-padding-top">
  <h2>River heading</h2>
  <p>h2. <code>font-size: 2em;</code> For use as section, page or river headings.</p>
</div>
<div class="col-md-12 half-padding-top">
  <h3>Element heading</h3>
    <p>h3. <code>font-size: 1.5em;</code> For use as title or headings of elements. i.e. OfferBox, Value Props, Grid module elements, any grid style graphic element.</p>
</div>

