<h4>Lists</h4>
<div class="row half-padding-top">
  <div class="col-md-4">
    <%- partial("../cards/list.ejs") %>
  </div>
  <div class="col-md-4">
    <%- partial("../cards/list.ejs", {list_classes: "discs"}) %>
  </div>
  <div class="col-md-4">
    <%- partial("../cards/list.ejs", {items: ["Live, US-based support team", "Remotely log in and troubleshoot Virtual Machines, OS and Apps", "Dedicated account team", "15-Minute Response Time SLA to monitoring notifications", "Live, US-based support team", "Live, US-based support team"]}) %>
  </div>
</div>
</div>
