<div class="col-md-12 half-padding-top">
  <h4>Sub-heading</h4>
  <h4 class="red no-margin">Accent to h1 or h2 Title</h4>
  <p>h4. <code>font-size: 1.75em;</code> For use as a sub-heading above or beneath an h1 or h2. Only to be used in <code>$brand-primary</code>, <code>$gray-darkest</code> or <code>$white</code>.</p>
  <p>If used as accent to title it should be red and have no margin</p>
</div>
<div class="col-md-12 half-padding-top">
  <h5>Text Title</h5>
  <p>h5. <code>font-size: 1.25em;</code> For use as a title or heading within a text section. Can be used in <code>$brand-primary</code> or <code>$gray-darkest</code>.</p>
</div>
<div class="col-md-12 half-padding-top">
  <h6>Accent Text Title</h6>
  <p>h6</p>
</div>
