<div class="col-md-12 half-padding-top">
  <h4>English</h4>
  <h2>H2. An Example of a lead heading &amp; words. Question?</h2>
  <h4>h4. An Example of a sub-heading. Question?</h4>
  <p>Example of Copy Body Text. Exclamation!</p>
</div>
<div class="col-md-12 half-padding-top">
  <h4>Spanish</h4>
  <h2>H2. Un ejemplo de una gran partida &amp;. ¿Pregunta?</h2>
  <h4>h4 . Un ejemplo de un subtítulo . ¿Pregunta?</h4>
  <p>Ejemplo de texto copia de cuerpo . ¡Exclamación!</p>
</div>
<div class="col-md-12 half-padding-top">
  <h4>Portugese</h4>
  <h2>H2 . Um Exemplo de um cabeçalho grande &amp;. Questão?</h2>
  <h4>h4 . Um exemplo de uma sub -rubrica . Questão?</h4>
  <p>Exemplo de texto cópia do corpo . Exclamação!</p>
</div>
<div class="col-md-12 half-padding-top">
  <h4>Chinese</h4>
  <h2>H2 。大標題示例 。題？</h2>
  <h4>H4 。子標題的一個實例。題？</h4>
  <p>複製正文文本的例子。感嘆！</p>
</div>
