<div class="row half-padding-full">
  <h4>Navigator / Aviator</h4>
  <table class="productTable">
    <thead class="productTable-header">
      <tr class="productTable-row">
        <th class="productTable-name">Human Experts</th>
        <th class="productTable-name">Navigator</th>
        <th class="productTable-name">Aviator</th>
      </tr>
    </thead>
    <tbody>
      <tr class="productTable-row">
        <td class="productTable-featureItem">
          <strong class="productTable-strong">Technical Account Manager (TAM)</strong>
          <ul>
            <li>Personal contact for ongoing business and technical assistance</li>
          </ul>
        </td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">
          <strong class="productTable-strong">Support of the AWS platform</strong>
          <ul>
            <li>100% certified AWS engineers deliver Fanatical Support for AWS 24x7x365</li>
          </ul>
        </td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">
          <strong class="productTable-strong">PCI and HIPPA Compliance</strong>
          <ul>
            <li>Certified Level 1 Payment Card Industry (PCI) Service Provider on AWS</li>
            <li>We can act as a business associate to support customers with HIPAA workloads on AWS</li>
          </ul>
        </td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">
          <strong class="productTable-strong">Technical Onboarding Manager (TOM)</strong>
          <ul>
            <li>Personal contact to assist with onboarding</li>
          </ul>
        </td>
        <td class="productTable-featureItem">
          <p>Provides initial guidance</p>
        </td>
        <td class="productTable-featureItem">
          <p>Coordinates the process of getting your application up and running on AWS</p>
        </td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">
          <strong class="productTable-strong">Best practices and architecture</strong>
          <ul>
            <li>A combined set of AWS and Rackspace recommendations from certified AWS architects</li>
          </ul>
        </td>
        <td class="productTable-featureItem">
          <p>Guidance for standard use cases</p>
        </td>
        <td class="productTable-featureItem">
          <p>Hands-on design, customized to your specific application</p>
        </td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">
          <strong class="productTable-strong">EC2 operating system management</strong>
          <ul>
            <li>Support for Amazon Linux 2015.03+, CentOS 6/7, Ubuntu 12.04/14.04 LTS (Windows coming)</li>
            <li>Configuration, optimization, patching, upgrades</li>
            <li>Includes core apps like Apache, NGINX, etc.</li>
          </ul>
        </td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">
          <strong class="productTable-strong">Monitoring Alarm Ticket Management</strong>
          <ul>
            <li>Setup of Watchman<sup>™</sup> monitors and response to Watchman<sup>™</sup> alarm tickets 24x7x365 by certified AWS engineers</li>
          </ul>
        </td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">
          <strong class="productTable-strong">Monthly account review</strong>
          <ul>
            <li>Review AWS Trusted Advisor recommendations</li>
            <li>Review Reserved Instance and other cost optimization opportunities</li>
            <li>Technical environment review (alerts, performance)</li>
          </ul>
        </td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">
          <strong class="productTable-strong">Response times</strong>
        </td>
        <td class="productTable-featureItem">
          <p style="width: 110%; padding: 0 100px 0 0;">Urgent: &lt; 1 hour Standard: &lt; 12 hours</p>
          <a href="cloud" class="learning button">Learn More</a>
        </td>
        <td class="productTable-featureItem">
          <p>
            Emergency: &lt; 15 min
            Urgent: &lt; 1 hour
            Standard: &lt; 4 hours
          </p>
          <a href="cloud" class="learning button">Learn More</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>