<!-- Features: 50/50 -->
<div class="standard-padding bg-light-gray">
  <div class="container">
    <div class="row">
      <h4>Features</h4>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 panel-flex">
        <%- partial('../_partials/cards/product-feature') %>
      </div>
      <div class="col-sm-6 panel-flex">
        <%- partial('../_partials/cards/product-feature') %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 panel-flex">
        <%- partial('../_partials/cards/product-feature') %>
      </div>
      <div class="col-sm-6 panel-flex">
        <%- partial('../_partials/cards/product-feature') %>
      </div>
    </div>
  </div>
</div>
