<!-- Value Props: 33/34/33 -->
<div class="container half-padding">
  <h4>Value Props</h4>
  <div class="row row-eq-height">
    <div class="col-sm-4 panel-flex">
      <%- partial('../../_partials/cards/value-prop.ejs') %>
    </div>
    <div class="col-sm-4 panel-flex">
      <%- partial('../../_partials/cards/value-prop.ejs', { desc: 'This is short'}) %>
    </div>
    <div class="col-sm-4 panel-flex">
      <%- partial('../../_partials/cards/value-prop.ejs', { desc: 'This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long.' }) %>
    </div>
  </div>
</div>
