@mixin make-callout {
  @include make-md-column(4.5);
  @include make-md-column-push(.5);
  @include make-xs-column(12);
  background-color: $white;
  box-shadow: 0 6px 12px $black-shadow;
  margin: 0 auto 50px;
  padding: 20px 25px;
  position: relative;
  width: $full-width;
  z-index: 10;
}

.lp-callout,
.lp-callout-form,
.lp-callout-chat {
  @include make-callout;
}

.lp-textAreaContainer {
  @include make-container;
  padding: $standard-padding;
  padding-bottom: 0;
}

.lp-textAreaWrapper {
  @include make-md-column(7);
  padding: $no-padding;
}

.lp-textArea {
  line-height: 1.85em;
  margin-right: 25px;
}

.lp-callout-title {
  font-weight: 600;
  text-align: center;
}


@media only screen and (min-width: $screen-sm-max) {

  .lp-callout-form {
    margin-top: 0;
  }

  .lp-callout-chat {
    margin-top: 20px;
  }

  .lp-textAreaContainer {
    padding-bottom: 60px;
  }
}

@media only screen and (min-width: $screen-md-max) {
  .gc-callout {
    margin-top: -200px;
    padding: 15px 25px 35px;
  }

  .lp-callout-form {
    margin-top: -200px;
    padding: 15px 25px 35px;
  }

  .lp-callout-chat {
    margin-top: -180px;
    padding: 15px 25px 35px;
  }
}

.lp-legal-header {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.lp-legal-p {
  font-size: 14px;
  font-style: italic;
}

.lp-relatedResource-card-3 {
  @include make-md-column(4);

  .lp-relatedResource-img {
    height: 165px;
  }
}

.lp-relatedResource-card-2 {
  @include make-md-column(6);

  .lp-relatedResource-img {
    height: 235px;
  }
}

.lp-relatedResource-card-1 {
  @include make-sm-column(12);

  .lp-relatedResource-img-container {
    @include make-md-column(6);
    padding-left: 0;
  }

  .lp-relatedResource-img {
    min-height: 400px;
  }

  .lp-relatedResource-content {
    @include make-md-column(6);
  }
}

.lp-relatedResource-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.lp-relatedResource-content {
  background-color: $white;
  padding: 20px 0;
}

@media only screen and (max-width: $screen-sm-max) {
  .lp-relatedResource-card-1 {

    .lp-relatedResource-img-container {
      padding-right: 0;
    }

    .lp-relatedResource-img {
      min-height: 300px;
    }

    .lp-relatedResource-content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
