<div class="cxRiver">
  <div class="cxRiver-imgCol"></div>
  <div class="cxRiver-textCol">
    <h2 class="cxRiver-header">
      Providing a Fanatical Experience means we're on your side
      and always available
    </h2>
    <p>
    From first consultation to daily operations, we'll do whatever 
    it takes to get the job done right. We combine the power of 
    always-on service and expertise with the best in tools and 
    automation to deliver technology when and how you need it.
    </p>
  </div>
  <div class="cxRiver-farCol"></div>
</div>