.blogFeed-item {
  background-color: $white;
  margin: 15px 5px;
  padding-bottom: 64px;
  position: relative;
  width: 100%;

  &:hover {
    background-color: $gray-lighter;
    text-decoration: none;

    .blogFeed-hr {
      border-top-color: $gray-light;
    }
  }
}

.blogFeed-imageContainer {
  padding: 0;
}

.blogFeed-image {
  width: 100%;
}

.blogFeed-textContainer {
  padding: 0 15px;
}

.blogFeed-date {
  padding-top: 15px;
}

.blogFeed-author {
  font-size: .7em;
}

.blogFeed-hr {
  margin-bottom: 5px;
}

.blogFeed-more {
  color: $brand-primary;
  font-weight: $font-weight-black;
  text-align: center;
}

.blogFeed-linkContainer {
  bottom: 0;
  left: 15px;
  position: absolute;
  right: 15px;
}

@media only screen and (max-width: $screen-xs-max) {

  .blogFeed-imageContainer {
    display: none;
  }
}
