<!--  IMPLEMENTATION GUIDELINES -->

<!--
Limit to excerpt 150 characters - I cant implement with pure css because it needs to be multiple lines. Should culminate in an ellipsis.

Limit Title to 19 characters and also culminate in ellipsis

Date should be written as Month (spelled out), date, yyyy

Link should always be "Read More" and will redirect to the blog post on blog

Byline has to have "By:" prepended to all the author names.

Should bring in featured image and no other. A filter has been applied in css.
-->


<div class="standard-padding">
  <div class="container">
    <h1 class="blogFeed-header">Feed Title</h1>
    <div class="row row-eq-height">
      <div class="col-sm-6 blogFeed-col1">
        <%- partial("_partials/blog-feed-item") %>
        <%- partial("_partials/blog-feed-item") %>
      </div>
      <div class="col-sm-6 blogFeed-col2">
        <%- partial("_partials/blog-feed-item") %>
        <%- partial("_partials/blog-feed-item") %>
      </div>
    </div>
  </div>
</div>
