<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!desc) { var desc = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis p"; } %>
<!-- Infrastructure and Services Pattern -->

<a class="iasWidget iasWidget-hover" href="javascript:void(0)">
  <div class="center">
    <span class="rsweb cl-files"></span>
  </div>
  <div class="iasWidget-row">
    <div class="iasWidget-col-full">
      <h3 class="iasWidget-header">Name with only 50 characters</h3>
      <p class="iasWidget-body"><%- desc %></p>
    </div>
    <div class="iasWidget-bottom">
      <p class="iasWidget-cta">More Info</p>
    </div>
  </div>
</a>
