@include responsive-invisibility('.ceilingLp-pageTitle');

.ceilingLp {
  background: $white;
  box-shadow: 0 6px 12px $black-shadow;
}

.ceiling-menuInline-item {
  border-left: 1px solid $gray-light;
}

.navbar-phoneiconLp,
.navbar-chaticonLp,
.navbar-emailiconLp {
  color: $gray-darkest;
  padding: 15px 0;

  &:hover {
    color: $gray-darkest;
  }

  &::before {
    color: $gray-darkest;
  }
}

.ceilingLp-brand {
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/rs-logo-black.svg');
  background-position: left 50%;
  background-repeat: no-repeat;
  background-size: 100% 79%;
  float: left;
  height: 35px;
  margin: 5px 10px;
  position: relative;
  transition-duration: .3s;
  width: 150px;
}

@media only screen and (min-width: $screen-xs-max) {
  @include responsive-visibility('.ceilingLp-pageTitle');

  .navbar-phoneiconLp,
  .navbar-chaticonLp,
  .navbar-emailiconLp {
    padding: 15px 11px;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .basement-iconListItem {
    font-size: 1rem;
  }
}

.ceilingLp-container {
  padding: 0;
}

.ceilingLp-menuInline {
  list-style: none;
  margin-bottom: 0;
}

.ceilingLp-menuInline-item {

  &.open,
  &:hover,
  &:active,
  &:focus {
    background-color: $gray-lightest;
  }
}
