@include responsive-invisibility('.ceilingLp-pageTitle');

.ceilingLp {
  background: $white;
  box-shadow: 0 6px 12px $black-shadow;
}

.refresh-ceilingLp {
  @include gradient(to bottom, $black, transparent);
  border-bottom: 0;
}

.ceilingRefresh-menuInline-item {
  border: 0;

  &:hover {
    @include gradient(to bottom, rgba($black, .5), transparent);
  }
}

.navbar-phoneiconLp,
.navbar-chaticonLp,
.navbar-emailiconLp {
  padding: 15px 0;

  &::before {
    color: $gray-darkest;
  }
}

.navbarRefresh-phoneicon,
.navbarRefresh-chaticon,
.navbarRefresh-emailicon {
  color: $white;
  font-size: 1.05em;
  padding: 25px 20px;

  &::before {
    color: $white;
    font-size: 1.1em;
  }

  &:hover {
    color: $white;
  }
}

.ceilingLp-brand {
  background-image: url('../imgs/derek/rs-logo-white.svg');
  background-position: left 50%;
  background-repeat: no-repeat;
  background-size: 100% 79%;
  float: left;
  height: 35px;
  margin: 5px 10px;
  position: relative;
  transition-duration: .3s;
  width: 150px;
}

@media only screen and (min-width: $screen-xs-max) {
  @include responsive-visibility('.ceilingLp-pageTitle');

  .navbarRefresh-phoneiconLp,
  .navbarRefresh-chaticonLp,
  .navbarRefresh-emailiconLp {
    padding: 15px 5px;
  }

  .navbar-phoneiconLp,
  .navbar-chaticonLp,
  .navbar-emailiconLp {
    padding: 15px 11px;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .basement-iconListItem {
    font-size: 1rem;
  }
}

.ceilingLp-container {
  padding: 0;
}

.ceilingLp-menuInline {
  list-style: none;
  margin-bottom: 0;
}

.ceilingLp-menuInline-item {

  &.open,
  &:hover,
  &:active,
  &:focus {
    background-color: $gray-lightest;
  }
}

@media only screen and (max-width: 570px) {
  .navbarRefresh-phoneicon,
  .navbarRefresh-chaticon,
  .navbarRefresh-emailicon {
    padding: 25px 10px;
  }
}
