<div class="navbar-fixed-top">
  <div class="ceiling refresh-ceilingLp">
    <div class="container ceiling-container">
      <a class="ceilingDark-brand ceilingRefresh-brand" href="#"><span class="sr-only">Rackspace the #1 managed cloud company</span></a>
      <nav class="ceiling-menuNav">
        <ul class="ceiling-menuInline" role="menu">
          <li class="ceilingRefresh-menuInline-item ceiling-menuInline-item">
            <a class="navbarRefresh-phoneicon navbar-phoneicon" title="Sales/Support Call"  data-toggle="modal" data-target="#myModal"><span class="hidden-xs">Call Us</span></a>
          </li>
          <li class="ceilingRefresh-menuInline-item ceiling-menuInline-item">
            <a class="navbarRefresh-chaticon navbar-chaticon" href="#chat" title="Live Sales Chat"><span class="hidden-xs">Sales Chat</span></a>
          </li>
          <li class="ceilingRefresh-menuInline-item ceiling-menuInline-item">
            <a class="navbarRefresh-emailicon navbar-emailicon" href="#email" title="Email Us"><span class="hidden-xs">Email Us</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
