<div class="navbar-fixed-top">
  <div class="ceiling-strip"></div>
  <div class="ceiling">
    <div class="ceiling-container">
      <a class="navbar-brand" href=""><span class="sr-only">Rackspace the #1 managed cloud company</span></a>
      <nav class="ceiling-menuNav">
        <ul class="ceiling-menuInline" role="menu">
          <li class="ceiling-menuInline-item">
            <a class="navbar-phoneicon" title="Sales/Support Call"><span class="hidden-xs">Call Us</span></a>
          </li>
          <li class="ceiling-menuInline-item">
            <a class="navbar-chaticon" href="#chat" title="Live Sales Chat"><span class="hidden-xs">Sales Chat</span></a>
          </li>
          <li class="ceiling-menuInline-item">
            <a class="navbar-emailicon" href="#email" title="Email Us"><span class="hidden-xs">Email Us</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>