.row
  .col-md-12
    h2.no-margin Ecommerce Available
    h4.red Templates &amp; Pages

.row.half-padding-top
  .col-md-12
    p Below is a list of examples to help you get started building your web pages.

.row
  .col-md-12
    ul
      li
        a(href="derek/templates/landing-page/") Landing Pages
      li
        a(href="derek/templates/section-overview") Section Overview

