// Customer Stories Feature Colors
$default-bg-img: '../imgs/globalBrand/banners/collaboration-2.jpg';
$default-grid-bg: '../imgs/globalBrand/stories-grid-default.png';
// Mixin for featured stories bg types
@mixin featuredBg($class, $gradient) {
  #{$class} {
    &::before {
      background-image: url($default-bg-img);
    }

    &::after {
      background-image: $gradient;
    }
  }
}

.story-featured-container {
  background-color: $gray-lightest;
  padding: 40px 25px;
}

.story-featured-text {
  @include make-container;
  text-align: center;
}

.story-featured-cards {
  @include make-container;
}

.story-featured-cardRow {
  @include make-row;
  margin-top: 10px;
}

.story-featured-cardLogo {
  @include make-md-column(3);
  padding-left: 0;
  padding-right: 0;
}

.story-featured-logoInner {
  @include flex-center;
  box-shadow: 0 1px 3px transparentize($black, .5);
  display: flex;
  height: 220px;
}

.story-featured-cardQuote {
  display: none;
}

.story-featured-link {
  &:hover {
    &::after {
      background-color: $gray-light;
      opacity: 1;
      transition-duration: .3s;
    }
  }
}

// 3 featured logo / quote hover states
.story-featured-cardLogoTop {
  background-color: darken($rackspace-red, 5%);
}

.story-featured-cardLogoCenter {
  background-color: $teal;
}

.story-featured-cardLogoBottom {
  background-color: $purple;
}

.story-featured-seeMore {
  color: transparentize($black, .5);
  display: block;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;

  &::before {
    content: 'See More Customer Stories';
    display: block;
    font-family: $heading;
    font-size: 20px;
  }

  &::after {
    content: '\e806';
    display: block;
    font-family: 'rswebfonts';
    font-size: 20px;
  }

  &:hover {
    color: transparentize($black, .3);
    text-decoration: none;
    transition-duration: .2s;
  }

  &:focus {
    color: transparentize($black, .5);
    text-decoration: none;
  }
}

.story-container {
  @include make-container;
  padding: $standard-padding;
}

.imacBanner-stories {
  background-color: $black;
  background-image: url('https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/refresh/bannerImages-09.jpg');
  min-height: inherit;
}

.imacBanner-storiesTextRow {
  position: relative;
}

.imacBanner-storyLogo {
  @include flex-box;
  @include flex-center;
  height: 65px;
  position: absolute;
  right: 0;
}

.imacBanner-storyLogoImage {
  max-height: 95px;
}

.story-colLeft {
  @include make-md-column(6);
}

.story-colRight {
  @include make-md-column(5);
  @include make-md-column-push(1);
}

.story-title {
  text-align: left;
}

.story-titleWrapper {
  @include make-md-column(12);
}

.story-caseStudyButton {
  @include button;
  @include button-learning;
  margin-bottom: 1rem;
  width: auto;
}

.story-video {
  position: relative;
}

.storyOverview-searchFilter {
  @include make-sm-column(4);
  @include make-md-column(3);
  background: $teal;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.storyOverview-searchFilter-label {
  color: $white;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.storyOverview-searchFilter-select {
  background: $white;
  display: block;
  margin: 1rem auto 0;
  max-width: 200px;
  width: $full-width;
}

.storyOverview-searchFilter-submit {
  background: $gray-base;
  border: 0;
  color: $white;
  display: block;
  font-size: 1.2rem;
  margin: 1rem auto 0;
  max-width: 200px;
  text-transform: uppercase;
  width: $full-width;

  &:hover {
    background: $gray-dark;
  }
}

.storyOverview-searchResults {
  @include make-md-column(10);
  @include make-md-column-push(1);
  margin-bottom: 3rem;
  max-width: 1220px;
}


.storyOverview-item {
  @include make-sm-column(4);
  margin-bottom: 1rem;
  padding: 0 .6rem;
}

.storyOverview-itemInner {
  border: 1px solid $stories-img-gray;
}

.storyOverview-itemLink {
  @include flex-box;
  @include flex-center;
  height: 125px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $stories-paginate-gray;
    text-decoration: none;
    transition-duration: .2s;
  }
}

.storyOverview-item-img {
  background-image: url($default-grid-bg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  filter: blur(6px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.storyOverview-itemLink-withImg {

  &::after {
    background-color: $content-gray;
    bottom: 0;
    content: '';
    left: 0;
    opacity: .8;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    .storyOverview-item-img {
      filter: blur(0);
      transition-duration: .2s;
    }
  }
}

.storyOverview-logo {
  max-height: 50%;
  max-width: 50%;
  z-index: 1;
}

.storyOverview-logoText {
  color: $white;
  font-size: 1.8rem;
  max-width: 80%;
  z-index: 1;
}

.rsFilter-storiesBarTitle {
  color: fade-out($white, .3);
}

.rsFilter-storiesContent {
  background-color: $content-gray;
}

.rsFilter-storiesBar {
  background-color: $filterbar-gray;
}

.rsFilter-storiesPager {

  a {
    color: $stories-link-gray;
  }

  .pager-previous {
    color: $stories-link-gray;
  }

  .pager-next {
    color: $stories-link-gray;
  }

  .pager-current {
    color: $stories-link-gray;
  }
}

@media (max-width: $screen-xs-max) {
  @include responsive-invisibility('.imacBanner-storyLogo');

  .story-container {
    padding: 0 $grid-gutter-width / 2;
  }

  .storyOverview-logo {
    max-width: 120px;
  }
}

// Desktop only rules
@media (min-width: $screen-md-min) {
  .story-featured-cardRow {
    margin-top: 30px;
  }

  .story-featured-cardLogo {
    border-right: 10px solid $gray-lightest;
    float: left;
  }

  .story-featured-quoteInner {
    color: $white;
    max-width: 85%;
    z-index: 1;
  }

  .story-featured-quote {
    font-size: 15px;
    font-weight: 600;

    &::before {
      content: '" ';
      font-size: 24px;
      line-height: 0;
    }

    &::after {
      content: ' "';
      font-size: 24px;
      line-height: 0;
    }
  }

  .story-featured-quoteSource {
    display: block;
    font-style: italic;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .story-featured-cardLogoTop {
    border-left: 10px solid $gray-lightest;
    border-right: 0;
    float: right;
  }

  @include featuredBg('.story-featured-cardQuoteTop', linear-gradient(to bottom right, transparentize(darken($rackspace-red, 5%), .4), darken($rackspace-red, 5%)));
  @include featuredBg('.story-featured-cardQuoteCenter', linear-gradient(to bottom left, transparentize($teal, .4), $teal));
  @include featuredBg('.story-featured-cardQuoteBottom', linear-gradient(to bottom right, transparentize($purple, .4), $purple));

  .story-featured-cardLogoBottom {
    border-left: 10px solid $gray-lightest;
    border-right: 0;
    float: right;
  }

  .story-featured-cardQuote {
    @include flex-center;
    @include make-md-column(9);
    box-shadow: 0 1px 3px transparentize($black, .5);
    display: flex;
    height: 220px;
    line-height: 30px;
    overflow: hidden;
    padding: 10px;

    &::before {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      content: '';
      filter: blur(10px);
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &::after {
      bottom: 0;
      content: '';
      left: 0;
      opacity: .9;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
