extends ../../_layouts/page

block content
  !=partial("../global-components/ceiling/ceiling")
  !=partial("../global-components/nav/nav")
  .contentOffset
    != yield
  !=partial("../_partials/_back-to-top")
  !=partial("../global-components/rug/rug")
  !=partial("../global-components/footer/footer")
  !=partial("../global-components/basement/basement")
