<%- partial("../pattern-components/headers/header-refresh-homepage.ejs", {
  banner_top: 'Certificados para administrar las nubes líderes del mundo.',
  banner_bottom: 'PORQUE UNA MISMA SOLUCIÓN NO APLICA PARA TODOS.',
}) %>

<div class="rsHomepage-announcement">
	<div class="rsHomepage-leftStripContainer">
		<div class="rsHomepage-annLeftBar">
			<div class="rsHomepage-titleContainer">
				<h2 class="rsHomepage-annLeftBar-header">TRANSFORM THE WAY YOU DO BUSINESS</h2>
				<h3 class="rsHomepage-annLeftBar-subHeader">Offering expertise and support for your IT transformation</h3>
			</div>
		</div>
		<div class="rsHomepage-annRight-iconBar"></div>
	</div>
	<div class="rsHomepage-annLeft">
		<div class="rsHomepage-annLeftContainer">
			<div class="rsHomepage-annLeft-content">
				<p class="rsHomepage-annLeft-p">
					Rackspace was here when the cloud began, we grew alongside it, and we became experts along the way.
					Now we host and manage all the leading cloud technologies. And back it all with our signature Fanatical
					Support® — the best-in-class service that’s behind everything we do.
				</p>
				<div class="rsHomepage-annLeft-awardsRow">
					<div class="col-xs-4">
						<div class="awards rsHomepage-awards">
						  <h2 class="awards-title rsHomepage-awards-title">3000+</h2>
						  <p class="awards-subhead rsHomepage-awards-sub">Dedicated Hosting Engineers</p>
						</div>
		    	</div>
		    	<div class="col-xs-4">
						<div class="awards rsHomepage-awards">
							<h2 class="awards-title rsHomepage-awards-title">1000+</h2>
						  <p class="awards-subhead rsHomepage-awards-sub">Microsoft Technical Certifications</p>
						</div>
				  </div>
				  <div class="col-xs-4">
						<div class="awards rsHomepage-awards">
							<h2 class="awards-title rsHomepage-awards-title">300+</h2>
						  <p class="awards-subhead rsHomepage-awards-sub">AWS Technical Certifications</p>
						</div>
				  </div>
				 </div>
			</div>
		</div>
	</div>
	<div class="rsHomepage-annRight"></div>
</div>
