<%- partial("../pattern-components/headers/header-large-imac.ejs") %>
<div class="rsHomepage-announcement">
	<div class="rsHomepage-leftStripContainer">
		<div class="rsHomepage-annLeftBar">
			<div class="rsHomepage-titleContainer">
				<h2 class="rsHomepage-annLeftBar-header">TRANSFORM THE WAY YOU DO BUSINESS</h2>
				<h3 class="rsHomepage-annLeftBar-subHeader">Offering expertise and support for your IT transformation</h3>
			</div>
		</div>
		<div class="rsHomepage-annRight-iconBar"></div>
	</div>
	<div class="rsHomepage-annLeft">
		<div class="rsHomepage-annLeftContainer">
			<div class="rsHomepage-annLeft-content">
				<p class="rsHomepage-annLeft-p">
					Rackspace was here when the cloud began, we grew alongside it, and we became experts along the way.
					Now we host and manage all the leading cloud technologies. And back it all with our signature Fanatical
					Support® — the best-in-class service that’s behind everything we do.
				</p>
				<div class="rsHomepage-annLeft-awardsRow">
					<div class="col-xs-4">
						<div class="awards rsHomepage-awards">
						  <h2 class="awards-title rsHomepage-awards-title">3000+</h2>
						  <p class="awards-subhead rsHomepage-awards-sub">Dedicated Hosting Engineers</p>
						</div>
		    	</div>
		    	<div class="col-xs-4">
						<div class="awards rsHomepage-awards">
							<h2 class="awards-title rsHomepage-awards-title">1000+</h2>
						  <p class="awards-subhead rsHomepage-awards-sub">Microsoft Technical Certifications</p>
						</div>
				  </div>
				  <div class="col-xs-4">
						<div class="awards rsHomepage-awards">
							<h2 class="awards-title rsHomepage-awards-title">300+</h2>
						  <p class="awards-subhead rsHomepage-awards-sub">AWS Technical Certifications</p>
						</div>
				  </div>
				 </div>
			</div>
		</div>
	</div>
	<div class="rsHomepage-annRight"></div>
</div>

<div class="container half-padding hostingOptions">
	<div class="row half-padding-full">
		<div class="col-md-11 center-block">
			<h1 class="text-center no-margin no-padding" id="homepage-lead-top">Rackspace is the largest managed cloud provider</h1>
			<h2 class="text-center no-margin no-padding" id="homepage-lead-bottom">offering you expertise across the world's leading clouds</h2>
		</div>
	</div>
	<div class="row row-eq-height">
		<div class="col-md-3 col-xs-6 product hostingOptions-product">
			<a href="/dedicated-servers" class="hostingOptions-hoverArea">
				<div class="row">
					<div class="col-md-12">
						<h3 class="hostingOptions-title">Dedicated<br>Hosting</h3>
					</div>
					<div class="col-xs-3 center-block">
						<hr class="hostingOptions-hr">
					</div>
					<div class="col-md-12" style="margin-bottom:20px">
						<p class="center hostingOptions-text">More than 3,000 hosting engineers across Linux, Windows and VMware</p>
					</div>
				</div>
				</a><div class="bottom"><a href="/dedicated-servers" class="hostingOptions-hoverArea">
                    </a><a href="/dedicated-servers" class="hostingOptions-learnMore">Learn More</a>
			  </div>

		</div>
		<div class="col-md-3 col-xs-6 product hostingOptions-product">
			<a href="/managed-aws" class="hostingOptions-hoverArea">
				<div class="row">
					<div class="col-md-12">
						<h3 class="hostingOptions-title">Amazon Web<br>Services</h3>
					</div>
					<div class="col-xs-3 center-block">
						<hr class="hostingOptions-hr">
					</div>
					<div class="col-md-12">
						<p class="center hostingOptions-text">400+ AWS certified professionals, supporting all 12 AWS public regions</p>
					</div>
				</div>
				</a><div class="bottom"><a href="/managed-aws" class="hostingOptions-hoverArea">
          </a><a href="/managed-aws" class="hostingOptions-learnMore">Learn More</a>
			  </div>

		</div>
		<div class="col-md-3 col-xs-6 product hostingOptions-product">
			<a href="/microsoft" class="hostingOptions-hoverArea">
				<div class="row">
					<div class="col-md-12">
						<h3 class="hostingOptions-title">Microsoft<br> Cloud / Azure</h3>
					</div>
					<div class="col-xs-3 center-block">
						<hr class="hostingOptions-hr">
					</div>
					<div class="col-md-12">
						<p class="center hostingOptions-text">Five-time Microsoft Hosting Partner of the Year - more times than anyone else</p>
					</div>
				</div>
				</a><div class="bottom"><a href="/microsoft" class="hostingOptions-hoverArea">
          </a><a href="/microsoft" class="hostingOptions-learnMore">Learn More</a>
			  </div>

		</div>
		<div class="col-md-3 col-xs-6 product hostingOptions-product">
			<a href="/openstack" class="hostingOptions-hoverArea">
				<div class="row">
					<div class="col-md-12">
						<h3 class="hostingOptions-title">Openstack<br>Cloud</h3>
					</div>
					<div class="col-xs-3 center-block">
						<hr class="hostingOptions-hr">
					</div>
					<div class="col-md-12">
						<p class="center hostingOptions-text">Co-founder with NASA; the most experience in the world by 100-times</p>
					</div>
				</div>
				</a><div class="bottom"><a href="/openstack" class="hostingOptions-hoverArea">
          </a><a href="/openstack" class="hostingOptions-learnMore">Learn More</a>
			  </div>

		</div>
	</div>
</div>


<div class="bg-dark-gray half-padding-full">
  <div class="container">
    <!-- Business Size -->
    <div id="solutions">
      <div class="row">
        <div class="col-md-10 center-block">
          <h2 class="white center">Whether you're a big enterprise or a small business,<br> we have solutions just for you </h2>
          <p class="white center">Let our experts help you devise the best solution to meet your needs. Select the relevant area to learn more. </p>
        </div>
      </div>
      <div class="row half-padding-full">
        <a href="/managed-security" class="solution solutions-hoverArea">
          <div class="col-md-2 col-md-push-1 col-xs-4">
              <div class="border-white center" style="padding:20px 0;">
                <i class="rsweb mng-security white rs-4x"></i>
              </div>
            <h6 class="white center">Managed<br>Security</h6>
          </div>
        </a>
        <a href="/website-hosting" class="solution solutions-hoverArea">
          <div class="col-md-2 col-md-push-1 col-xs-4">
              <div class="border-white center" style="padding:20px 0;">
                <i class="rsweb srv-web-hosting white rs-4x"></i>
              </div>
            <h6 class="white center">Website<br>Hosting</h6>
          </div>
        </a>
        <a href="/ecommerce" class="solution solutions-hoverArea">
          <div class="col-md-2 col-md-push-1 col-xs-4">
              <div class="border-white center" style="padding:20px 0;">
                <i class="rsweb srv-ecommerce white rs-4x"></i>
              </div>
            <h6 class="white center">Ecommerce<br>Solutions</h6>
          </div>
        </a>
        <a href="/data" class="solution solutions-hoverArea">
          <div class="col-md-2 col-md-push-1 col-xs-4 col-xs-push-2">
              <div class="border-white center" style="padding:20px 0;">
                <i class="rsweb mng-databases white rs-4x"></i>
              </div>
            <h6 class="white center">Managed<br>Databases</h6>
          </div>
        </a>
        <a href="/email-hosting" class="solution solutions-hoverArea">
          <div class="col-md-2 col-md-push-1 col-xs-4 col-xs-push-2">
              <div class="border-white center" style="padding:20px 0;">
                <i class="rsweb srv-email white rs-4x"></i>
              </div>
            <h6 class="white center">Email<br>Hosting</h6>
          </div>
        </a>
      </div>
    </div>
    </div>
  </div>
</div>

  <!-- Quadrant -->
  <div class="container-fluid quadrant" id="quadrant">
    <div class="container">
      <div class="quadrant-row">
        <div class="quadrant-textContainer">
          <h2 class="quadrant-title">Fanatical Support wherever you are, day or night, we have you covered 24x7x365</h2>
          <p class="quadrant-text">We're more than just a hosting provider - we're your trusted service partner, and we're ready to help solve the toughest problems. Gartner has recognized us as a leader in their <a href="[rsweb:about:cloud-enabled]">Magic Quadrant for Cloud Enabled Managed Hosting.</a></p>
            <div class="quadrant-buttonContainer">
              <a class="button learning" href="[rsweb:why-rackspace]">Learn More</a>
            </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Testimonials -->
  <div class="bg-dark-gray standard-padding">
    <div class="container">
      <div id="quote">
        <div class="row">
          <div class="col-md-12">
            <h2 class="white center">
              Trusted By The Brands You Know
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8 center-block">
                <blockquote class="center white">Because of Fanatical Support, we knew we were partnering with a best-in-class company that shared our vision of getting it done.</blockquote>
                <cite class="center">Brian McManus, Senior Director of Technology - Under Armour</cite>
              </div>
            </div>
            <!--Option for logo-->
            <div class="row read-more">
              <div class="col-md-1 col-xs-2 center-block">
                <img src="imgs/derek/logos/underarmor.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Contact River -->
  <div class="container-fluid standard-padding bg-light-gray">
    <div class="container">
      <div class="row half-padding">
        <div class="col-md-8 center-block">
          <h2 class="center">Get Free Advice From Our Experts</h2>
          <h5 class="center">We've got your back 24x7x365.</h5>
          <div class="col-sm-2 center-block">
            <i class="rsweb gen-support center"></i>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog formModal-dialog" role="document">
    <div class="modal-content formModal-content">
      <div class="formModal-header modal-no-header">
        <h5>Do you need Sales or Support?</h5>
        <button type="button" class="close formModal-closeIcon" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="formModal-body">
        <h6>Sales</h6>
        <h6>Support</h6>
      </div>
    </div>
  </div>
</div>
