.row
  .col-md-12
    h4.red Welcome to Global Ecomm's
    h2.no-margin Derek Theme

.row.half-padding-top
  .col-md-12
    p This is our incubation and Ecomm specific development sandbox


.row
  .col-md-12
    ul
      li
        a(href="derek/incubation/solutions") Solutions
      li
        a(href="derek/incubation/homepage") Homepage
      li
        a(href="derek/view-templates/interactive-map/map") Interactive Map
      li
        a(href="derek/view-templates/events/events") Event Overview
      li
        a(href="derek/view-templates/stories/stories") Story Overview
      li
        a(href="derek/view-templates/leadership/leadership") Leadership Overview
      li
        a(href="derek/view-templates/resource-center/resource-center") Resource Center
      li
        a(href="derek/view-templates/search/search") Search Results
      li
        a(href="derek/view-templates/newsroom-overview/newsroom-overview") Newsroom Overview
