.row
  .col-md-12
    h4.red Welcome to Global Ecomm's
    h2.no-margin Derek Theme

.row.half-padding-full
  .col-md-12
    p This is our incubation and Ecomm specific development sandbox


.row
  .col-md-4
    h5 O365
    a(href="derek/incubation/office365")
      img.img-thumbnail(src="imgs/derek/examples/0365.png")
  .col-md-4
    h5 Homepage
    a(href="derek/incubation/homepage")
      img.img-thumbnail(src="imgs/derek/examples/homepage.png")
  .col-md-4
    h5 Event Overview
    a(href="derek/incubation/events")
      img.img-thumbnail(src="imgs/derek/examples/event-overview.png")
  .col-md-4
    h5 Story Overview
      a(href="derek/incubation/stories")
        img.img-thumbnail(src="imgs/derek/examples/story-overview.png")
