.row
  .col-md-12
    h4.red Welcome to Global Ecomm's
    h2.no-margin Derek Theme

.row.half-padding-top
  .col-md-12
    p This is our incubation and Ecomm specific development sandbox


.row
  .col-md-12
    ul
      li
        a(href="derek/incubation/homepage") Homepage
      li
        a(href="derek/view-templates/events/events") Event Overview
      li
        a(href="derek/view-templates/stories/stories") Story Overview
      li
        a(href="derek/view-templates/leadership/leadership") Leadership Overview
      li
        a(href="derek/view-templates/resource-center/resource-center") Resource Center Overview
        ul
          li
            a(href="derek/view-templates/resource-center/pdf") PDF Resource
      li
        a(href="derek/incubation/office365") O365
