.row
  .col-md-12
    h4.red Welcome to Global Ecomm's
    h2.no-margin Derek Theme

.row.half-padding-top
  .col-md-12
    p This is our incubation and Ecomm specific development sandbox


.row
  .col-md-12
    ul
      li
        a(href="derek/incubation/homepage") Homepage
      li
        a(href="derek/incubation/events") Event Overview
      li
        a(href="derek/incubation/stories") Story Overview
      li
        a(href="derek/incubation/office365") O365
