.row
  .col-md-12
    h4.red Welcome to Global Ecomm's
    h2.no-margin Derek Theme

.row.half-padding-top
  .col-md-12
    p This is our incubation and Ecomm specific development sandbox


.row
  .col-md-12
    ul
      li
        a(href="derek/incubation/solutions") Solutions
      li
        a(href="derek/incubation/homepage") Homepage
      li
        a(href="derek/view-templates/interactive-map/map") Interactive Map
      li
        a(href="derek/view-templates/events/events") Event Overview
      li
        a(href="derek/view-templates/stories/stories") Story Overview
      li
        a(href="derek/view-templates/leadership/leadership") Leadership Overview
      li
        a(href="derek/view-templates/resource-center/refresh/resource-center") Resource Center Refresh
      li
        a(href="derek/view-templates/resource-center/resource-center") Resource Center Overview
        ul
          li
            a(href="derek/view-templates/resource-center/pdf") PDF Resource
          li
            a(href="derek/view-templates/resource-center/pdf-image") PDF Resource with Image
          li
            a(href="derek/view-templates/resource-center/code") Code Resource
          li
            a(href="derek/view-templates/resource-center/docs") Docs Resource
          li
            a(href="derek/view-templates/resource-center/webinar") Webinar Resource
          li
            a(href="derek/view-templates/resource-center/video") Video Resource
      li
        a(href="derek/incubation/office365") O365
      li
        a(href="derek/view-templates/search/search") Search Results
