.row.half-padding-top
  .col-md-12
    h2.red IMAC Banner Examples and Usage

.row
  .col-md-12
    h5.red Banners
  .col-md-8
    p Our banners are the leading graphic element on all pages and therefore one of our largest vehicles for our brand on the page.
    p These banner types should be used on IMAC refresh campaign pages.
    p Additional Photographic Requirements for Web Banners:
    ul
      li To be used full width so at least 2000k pixels wide - larger if possible.
      li The subject or person is off to the right to not interfere with left text
      li No outdated technology
      li High Quality
      li Full Color (not black and white)
      li Doesn't contain any predominant non-rackspace logos

.container
.row.half-padding-full
  .col-md-12
    h5 Large Refresh Banner
    p This banner should be used for headlines between 70 and 88 characters long. The image area is larger and the box width is wider to accommodate for longer headlines.
    p.red.uppercase Do not use this banner for shorter headlines in order to have a larger banner image area. The banner is dictated by headline length/size.

!=partial("../pattern-components/headers/header-refresh-2019", {desc: "we guarantee a 99.99% openstack API uptime.<br>And yes, that .01% does keep us up at night", size: "Large"})

.container
.row.half-padding-full
  .col-md-12
    h5 Medium IMAC Banner
    p This banner should be used for headlines between 50 and 70 characters long. The image area and box width is medium-sized to accommodate for moderate headlines.

!=partial("../pattern-components/headers/header-refresh-2019", {desc: "the cloud is a mystery wrapped in a riddle.<br>We can unwrap it for you", size:"Medium"})

.container
.row.half-padding-full
  .col-md-12
    h5 Small IMAC Banner
    p This banner should be used for headlines under 50 characters long. The image area and box width is small to accommodate for our much shorter headlines.
    p.red.uppercase Do not use this banner for larger headlines in order to have a smaller banner image area. The banner is dictated by headline length/size.

!=partial("../pattern-components/headers/header-refresh-2019", {desc: "The cloud runs on its own,<br>with lots of help", size:"Small"})

hr

.container
.row.half-padding-full
  .col-md-12
    h2 Examples
    p All the following are examples of headlines given by Y&amp;R and how they look/will be put into banner areas. If we need to remove/add buttons and button text we can make that happen. There were no examples of internal pages. Still need photography examples.

.half-padding-full
  !=partial("../pattern-components/headers/header-refresh-2019", {desc: "Certified to manage the world’s leading clouds. <br/> Because one size doesn’t fit all", size:"Medium"})

.half-padding-full
  !=partial("../pattern-components/headers/header-refresh-2019", {desc: "6 different clouds, 6 different vendors. <br/>How’s that working out for you?", size:"Medium"})


.half-padding-full
  !=partial("../pattern-components/headers/header-refresh-2019", {desc: "the cloud keeps you ahead of the curve, <br/>but what if it throws you a few", size:"Medium"})

.half-padding-full
  !=partial("../pattern-components/headers/header-refresh-2019", {desc: "3,000 cloud experts working for you 24/7? <br/>Sounds like you may need a bigger office", size:"Medium"})

.half-padding-full
  !=partial("../pattern-components/headers/header-refresh-2019", {desc: "1 B hours managing openstack clouds? <br/>Talk about putting time on your side", size:"Medium"})


.half-padding-full
  !=partial("../pattern-components/headers/header-refresh-2019", {desc: "xpertise across the leading clouds. <br/>For when your team needs a team", size:"Medium"})


.half-padding-full
  !=partial("../pattern-components/headers/header-refresh-2019", {desc: "the cloud is a mystery wrapped in a riddle. <br/>We can unwrap it for you", size:"Medium"})


.half-padding-full
  !=partial("../pattern-components/headers/header-refresh-2019", {desc: "no one runs openstack better than the ones who invented it", size:"Small"})


.half-padding-full
  !=partial("../pattern-components/headers/header-refresh-2019", {desc: "YETI “I can’t imagine not having Rackspace managed cloud”", size:"Small"})


.half-padding-full
  !=partial("../pattern-components/headers/header-refresh-2019", {desc: "Does it feel like the cloud is managing you? <br/>We can Turn the tables", size:"Medium"})


.half-padding-full
  !=partial("../pattern-components/headers/header-refresh-2019", {desc: "spoiler alert: <br/>The cloud isn’t all sunshine and rainbows", size:"Medium"})
