<!-- Additional Resources -->
<!-- 2 column -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Two Column</h3>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-md-6 additional-resource">
      <%- partial("../grid/widget/additional-resource", {type: "pdf"}) %>
    </div>
    <div class="col-md-6 additional-resource">
      <%- partial("../grid/widget/additional-resource", {type: "support"}) %>
    </div>
  </div>
</div>
