<!-- Additional Resources -->
<!-- 3 column -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Three Column</h3>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-sm-6 additional-resource">
      <%- partial("../grid/widget/additional-resource", {type: "video"}) %>
    </div>
    <div class="col-sm-6 additional-resource">
      <%- partial("../grid/widget/additional-resource", {type: "rss"}) %>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-sm-6 col-md-push-3 additional-resource">
      <%- partial("../grid/widget/additional-resource", {type: "news"}) %>
    </div>
  </div>
</div>
