<div class="standard-padding bg-light-gray">
  <div class="container">

    <div class="row">
      <div class="center-block">
        <h2 class="center teal">Announcements</h2>
      </div>
    </div>

    <div class="row">
      <div class="alert announcement-container announcement-offer fade in row-eq-height">
        <a href="#" data-dismiss="alert" class="announcement-close"></a>
        <div class="announcement-icon flex-center-all"><i class="rsweb idio-piggy"></i></div>
        <div class="announcement-message">
          <p>Lorem ipsum dolor sit amet, cum cras lectus consectetuer dictum.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="alert announcement-container announcement-warning fade in row-eq-height">
        <a href="#" data-dismiss="alert" class="announcement-close"></a>
        <div class="announcement-icon flex-center-all"><i class="rsweb idio-piggy"></i></div>
        <div class="announcement-message">
          <p>Lorem ipsum dolor sit amet, cum cras lectus consectetuer dictum.
          Suscipit porta, enim id metus dicta ultrices, id orci urna, adipiscing
          lectus mattis. Tristique nibh et, consectetuer faucibus cras nec mollis
          vehicula etiam, sit eu luctus facilisi tincidunt a.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="alert announcement-container announcement-danger fade in row-eq-height">
        <a href="#" data-dismiss="alert" class="announcement-close"></a>
        <div class="announcement-icon flex-center-all"><i class="rsweb idio-piggy"></i></div>
        <div class="announcement-message">
          <p>Lorem ipsum dolor sit amet, cum cras lectus consectetuer dictum.
          Suscipit porta, enim id metus dicta ultrices, id orci urna, adipiscing
          lectus mattis. Tristique nibh et, consectetuer faucibus cras nec mollis
          vehicula etiam, sit eu luctus facilisi tincidunt a.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="alert announcement-container announcement-success fade in row-eq-height">
        <a href="#" data-dismiss="alert" class="announcement-close"></a>
        <div class="announcement-icon flex-center-all"><i class="rsweb idio-piggy"></i></div>
        <div class="announcement-message">
          <p>Lorem ipsum dolor sit amet, cum cras lectus consectetuer dictum.
          Suscipit porta, enim id metus dicta ultrices, id orci urna, adipiscing
          lectus mattis. Tristique nibh et, consectetuer faucibus cras nec mollis
          vehicula etiam, sit eu luctus facilisi tincidunt a.</p>
          <p>Lorem ipsum dolor sit amet, cum cras lectus consectetuer dictum.
          Suscipit porta, enim id metus dicta ultrices, id orci urna, adipiscing
          lectus mattis. Tristique nibh et, consectetuer faucibus cras nec mollis
          vehicula etiam, sit eu luctus facilisi tincidunt a.</p>
        </div>
      </div>
    </div>

  </div>
</div>
