<div class="container-fluid rug-to-top hidden-md hidden-lg">
  <div class="row">
    <div class="col-xs-12 col-sm-6 center-block">
      <a href="#" class="back-to-top center">Back to Top<i class="fa fa-arrow-circle-up"></i></a>
    </div>
  </div>
</div>
<span id="top-link-desktop" class="hidden-xs hidden-sm">
  <a href="#" class="back-to-top" style="display:inline;">
      <i class="fa fa-arrow-circle-up"></i>
  </a>
</span>
