<div class="container standard-padding">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <a class="button lead">Get a Free Consultation</a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a class="button learning">Learn More</a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a class="button leaving">Customer Stories</a>
    </div>
  </div>
</div>

