<!-- CTA -->
<div class="container standard-padding">
  <div class="row">
    <div class="col-xs-1 center-block">
      <i class="rsweb gen-assistance"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 center-block">
      <h2 class="center">Talk to a Rackspace Specialist</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6 center-block">
      <a class="button lead">Chat Now</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 center-block">
      <h4 class="center">Call 1-855-715-7307</h4>
    </div>
  </div>
</div>

