<div class="half-padding">
  <!-- CTA -->
  <div class="cta">
    <div class="cta-row">
      <div class="cta-headerWrapper">
        <h2>Talk to a Rackspace Specialist</h2>
      </div>
    </div>
    <div class="cta-row">
      <div class="cta-buttonWrapper">
        <a class="cta-button">Talk to a Specialist</a>
      </div>
    </div>
  </div>
  <!-- end CTA -->
</div>
