<!-- CTA -->
<div class="container half-padding">
  <div class="row">
    <div class="col-md-8 center-block">
      <h2 class="center">ANY QUESTIONS? </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6 center-block">
      <a class="button lead">Get a Free Consultation</a>
    </div>
  </div>
</div>
