<!-- CTA -->
<div class="cta-container">
  <div class="cta-iconRow">
    <i class="cta-icon rsweb gen-assistance"></i>
  </div>
  <div class="cta-titleRow">
    <h2 class="cta-title">Talk to a Rackspace Specialist</h2>
  </div>
  <div class="cta-subheadRow">
    <p class="cta-subhead">Combine the benefits of exchange with the savings of Rackspace email</p>
  </div>
  <div class="cta-buttonRow">
    <div class="cta-buttonContainer">
      <a class="cta-button">Talk to a Specialist</a>
    </div>
  </div>
  <div class="cta-subtextRow">
    <h6 class="cta-subtext">Call 1-855-715-7307 to start saving</h6>
  </div>
</div>

