<%
var container = (isSubpanel) ? 'container-fluid' : 'cta-container';
%>

<!-- CTA -->
<div class="<%- container %>">
  <div class="zoolanderTooltip" data-toggle="tooltip" data-placement="right" data-html="true" title="CTA: Optional on Landing Pages<br />ONLY: Form right on the page option instead of CTA to form modal."></div>
  <div class="cta-row">
    <div class="cta-columnIcon">
      <i class="rsweb gen-assistance"></i>
    </div>
  </div>
  <div class="cta-row">
    <div class="cta-columnTitle">
      <h2>ANY QUESTIONS? </h2>
    </div>

    <div class="cta-columnBody">
      <p class="center">We’re here to help you find the best solution for you and your business. Get a free consultation from one of our experts.</p>
    </div>
  </div>
  <div class="cta-row">
    <div class="cta-columnButton">
      <a class="button lead">Get a Free Consultation</a>
    </div>
  </div>
  <div class="cta-columnSecondary">
    <p class="center">Secondary CTA text goes here.</p>
  </div>
</div>
