<!-- Customer Stories -->
<div class="container-fluid bg-blue-gray">
  <div class="container">
    <div class="row customer_stories_logos standard-padding">
      <div class="col-md-4 col-sm-6">
        <p class="white">Max 40 characters customer story headline</p>
      </div>
      <div class="col-md-2 ">
        <img src="http://broadcast.rackspace.com/r/sites/test/text/images/logo1.png" alt="">
      </div>
      <div class="col-md-1">
        <img src="http://broadcast.rackspace.com/r/sites/test/text/images/logo2.png" alt="">
      </div>
      <div class="col-md-2">
        <img src="http://broadcast.rackspace.com/r/sites/test/text/images/logo1.png" alt="">
      </div>
      <div class="col-md-2">
        <img src="http://broadcast.rackspace.com/r/sites/test/text/images/logo3.png" alt="">
      </div>
    </div>
  </div>
</div>
