<!-- Expertise pattern -->
<div class="container-fluid expertise-container" style="background-image: url('http://broadcast.rackspace.com/r/sites/test/text/images/expertise-bg.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>We power over 30,000</p>
        <p>mission-critical database servers</p>
      </div>
    </div>
  </div>
</div>
