<p>
  Normal
</p>
<a href="http://rackspace.com" class="extLink" target="_blank">External Link</a>
<br>
<p>
  Small
</p>
<a href="http://rackspace.com" class="extLink extLink-small" target="_blank">External Link</a>
