<p>
  Normal<br>
  <a href="http://rackspace.com" class="extLink" target="_blank">External Link</a>
</p>
<p>
  Small<br>
  <a href="http://rackspace.com" class="extLink extLink-small" target="_blank">External Link</a>
</p>
