<!--Header Large-->
<div class="banner large outlook">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 center-block">
        <div class="banner-text">
          <!--NEED TO SWITCH THE CLASS IN DRUPAL PATTERN FOR H2-->
          <h2 class="banner-headline">Fanatical Support for Office 365</h2>
          <p class="center white">All the power of Office 365. None of the frustration and management. We help you get the most out of Office 365.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 center-block center">
        <a class="button learning">Choose A Plan</a>
      </div>
    </div>
  </div>
</div>
