<!--Header Medium-->
<div class="banner medium outlook">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 center-block">
        <div class="banner-text">
          <!--NEED TO SWITCH THE CLASS IN DRUPAL PATTERN FOR H2-->
          <h2 class="banner-headline">Pick Your Plan</h2>
          <p class="center white">Bacon ipsum dolor amet minim tri-tip pork chop fatback pork loin, salami shoulder pastrami cow id tongue aliquip nostrud. Nisi in magna, flank picanha eiusmod lorem jowl swine frankfurter do.</p>
        </div>
      </div>
    </div>
  </div>
</div>
