<!--Header Short-->
<div class="imacBanner small">
  <div class="imacBanner-container">
    <div class="imacBanner-textRow">
      <div class="col-sm-5 imacBanner-textContainer">
        <h2 class="imacBanner-headline imacBanner-headlineSmall">the cloud runs on its own,<br/>with lots of help</h2>
        <span class="line left-top"></span>
        <span class="line left-bottom"></span>
        <span class="line right-bottom"></span>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
	$(".imacBanner-headlineSmall").fitText(1.1, { maxFontSize: '45px' });
</script>
