<!--Header Large-->
<div class="container-fluid banner large outlook">
  <div class="row">
    <div class="col-sm-5 center-block">
      <div class="banner-text">
        <h2 class="imacBanner white center">Fanatical Support for Office 365</h2>
        <p class="center white">All the power of Office 365. None of the frustration and management. We help you get the most out of Office 365.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 center-block center">
        <a class="button learning">Choose A Plan</a>
      </div>
    </div>
  </div>
</div>
