<!-- Key Offers -->
<div class="bg-light-gray">
  <div class="container standard-padding">
    <h4>Key Offers</h4>
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">This a offers headline with a max of 50 characters</h2>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-4 col-sm-6 offerBox clickarea">
        <%- partial("../grid/widget/key-offer", {desc: "150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. 150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. 150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. 150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo."}) %>
      </div>
      <div class="col-md-4 col-sm-6 offerBox clickarea">
        <%- partial("../grid/widget/key-offer") %>
      </div>
      <div class="col-md-4 col-sm-6 offerBox clickarea">
        <%- partial("../grid/widget/key-offer") %>
      </div>
    </div>
  </div>
</div>
