<!-- Lead pattern -->
<div class="container">
  <h4>Lead</h4>
  <p>Limit to one paragraph</p>
  <div class="lead-row">
    <div class="lead-container">
      <h1 class="lead-title">Title goes here</h1>
      <p class="lead lead-text">Bacon ipsum dolor amet minim tri-tip pork chop fatback pork loin, salami shoulder pastrami cow id tongue aliquip nostrud. Nisi in magna, flank picanha eiusmod lorem jowl swine frankfurter do. T-bone meatloaf chuck prosciutto biltong. Eu jowl pariatur id, ut pork belly aliquip ipsum shoulder swine est. In dolor qui pastrami, proident velit laborum prosciutto shoulder. Cow in cillum, dolor kielbasa ut occaecat aute irure.</p>
    </div>
  </div>
</div>

