<!-- Lead pattern -->
<div class="row">
  <div class="col-xs-2 center-block center">
    <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/home/v8/icons/icon_data_services.gif" alt="Data services">
  </div>
</div>
<div class="row">
  <div class="col-md-8 center-block">
    <h2 class="center">Title goes here</h2>
    <p class="center">Bacon ipsum dolor amet minim tri-tip pork chop fatback pork loin, salami shoulder pastrami cow id tongue aliquip nostrud. Nisi in magna, flank picanha eiusmod lorem jowl swine frankfurter do. T-bone meatloaf chuck prosciutto biltong. Eu jowl pariatur id, ut pork belly aliquip ipsum shoulder swine est. In dolor qui pastrami, proident velit laborum prosciutto shoulder. Cow in cillum, dolor kielbasa ut occaecat aute irure.</p>
    <p class="center">This is a paragraph with a <a>hyperlink within it's text</a> so that you can see what links in text look like.</p>
  </div>
</div>

