<!-- Infrastructure and Services section (repeated infserve pattern) -->
<!-- 4 column -->
<div class="container infrastructure-and-services-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="center">4 columns</h2>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-sm-6 clickarea">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="col-sm-6 clickarea">
      <%- partial("../grid/widget/ias") %>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-sm-6 clickarea">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="col-sm-6 clickarea">
      <%- partial("../grid/widget/ias") %>
    </div>
  </div>
</div>
