<div class="lpForm-container">
  <div class="lpForm-row">
    <div class="lpForm">
      <form class="form-horizontal">
        <div class="form-group row">
          <div class="col-xs-6">
            <label class="sr-only" for="firstName">First Name</label>
            <input type="name" class="form-control" id="firstName" placeholder="First Name">
          </div>
          <div class="col-xs-6">
            <label class="sr-only" for="lastName">Last Name</label>
            <input type="name" class="form-control" id="lastName" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-6">
            <label class="sr-only" for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="col-xs-6">
            <label class="sr-only" for="phone">Phone Number</label>
            <input type="phone" class="form-control" id="phone" placeholder="Phone Number">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
           <label for="textarea"><h6>How can we help you?</h6></label>
           <textarea class="form-control" id="textarea" rows="3"></textarea>
          </div>
        </div>
        <button type="submit" class="button lead">Send</button>
      </form>
    </div>
  </div>
</div>
