<!-- Rivers -->
<div class="container-fluid bg-light-gray river-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Light Gray</h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-crumpled-paper river-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Crumpled Paper</h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark-gray river-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Dark Gray</h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-red river-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Red</h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-steel-blue river-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Steel Blue</h3>
      </div>
    </div>
  </div>
</div>
