<!-- Rivers -->
<div class="river-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Light Gray</h3>
      </div>
    </div>
  </div>
</div>
<div class="river-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Dark Gray</h3>
      </div>
    </div>
  </div>
</div>
<div class="bg-white river-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">White</h3>
      </div>
    </div>
  </div>
</div>
<div class="bg-blue-gray river-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Blue Gray</h3>
      </div>
    </div>
  </div>
</div>
<div class="bg-red-border river-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center pattern-header">Red Border</h3>
      </div>
    </div>
  </div>
</div>

