<!-- Infrastructure and Services section (repeated infserve pattern) -->
<!-- 4 column -->
<div class="ias-container">
  <h2 class="ias-title">4 columns</h2>
  <div class="ias-row">
    <div class="ias-col-half">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="ias-col-half">
      <%- partial("../grid/widget/ias-no-hover") %>
    </div>
  </div>
  <div class="ias-row">
    <div class="ias-col-half">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="ias-col-half">
      <%- partial("../grid/widget/ias-no-hover") %>
    </div>
  </div>
</div>
