<!-- Infrastructure and Services section (repeated infserve pattern) -->
<!-- 3 column -->

<div class="ias-container half-padding-full">
  <h4>Infrastructure and Services</h4>
  <div class="ias-row">
    <div class="ias-col-third">
      <%- partial("../grid/widget/ias", {desc: "This description cannot be longer than 75 characters including all spaces. This description cannot be longer than 75 characters including all spaces."}) %>
    </div>
    <div class="ias-col-third">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="ias-col-third">
      <%- partial("../grid/widget/ias-no-hover") %>
    </div>
  </div>
</div>
