<!-- Infrastructure and Services section (repeated infserve pattern) -->
<!-- 3 column -->
<div class="ias-container">
  <h2 class="ias-title">3 columns</h2>
  <div class="ias-row">
    <div class="ias-col-third">
      <%- partial("../grid/widget/ias", {desc: "This description cannot be longer than 75 characters including all spaces. This description cannot be longer than 75 characters including all spaces."}) %>
    </div>
    <div class="ias-col-third">
      <%- partial("../grid/widget/ias") %>
    </div>
    <div class="ias-col-third">
      <%- partial("../grid/widget/ias-no-hover") %>
    </div>
  </div>
</div>
