<!-- subnav -->
<nav class="navbar subnav">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="col-xs-2">
        <button type="button" data-toggle="collapse" data-target="#subnav" aria-expanded="false" aria-controls="subnav" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div class="col-xs-10">
        <!-- Needs to have the title of the page youre on -->
      </div>
    </div>
    <div id="subnav" class="collapse navbar-collapse">
      <ul class="nav navbar-nav subnav-inside">
        <li><a href="/dedicated-servers">Dedicated Overview</a></li>
        <li><a href="/dedicated-servers/hosting">Dedicated Servers</a></li>
        <li><a href="/dedicated-servers/vmware">VMware</a></li>
        <li><a href="/dedicated-servers/database-services">Managed Databases</a></li>
        <li><a href="/dedicated-servers/data-storage">Dedicated Storage</a></li>
        <li class="no-hover">
          <a class="button lead" href="https://www.rackspace.com">Chat Now</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
