<div class="rsTabs-container rsTabsVertical-container">
  <ul class="nav nav-tabs rsTabs rsTabsVertical">
    <li class="rsTab-tab rsTabVertical-tab active"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab1" data-toggle="tab">Tab</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab2" data-toggle="tab">Tab 2</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab3" data-toggle="tab">This is a longer label</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab4" data-toggle="tab">Tab 4</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab5" data-toggle="tab">Tab 5</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab6" data-toggle="tab">Tab 6</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab7" data-toggle="tab">Tab 7</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab8" data-toggle="tab">Tab 8</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab9" data-toggle="tab">Tab 9</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab10" data-toggle="tab">This is a much longer label</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab11" data-toggle="tab">Tab 11</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab12" data-toggle="tab">Tab 12</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab13" data-toggle="tab">Tab 13</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab14" data-toggle="tab">This is an even longer label that shouldn't be this long bug definitely is because I wanted to test extreme behaviors.</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab15" data-toggle="tab">Tab 15</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#vertical-tab16" data-toggle="tab">Tab 16</a></li>
  </ul>
  <div id="myTabContent" class="tab-content rsTabs-content rsTabsVertical-content">
      <div class="tab-pane active" id="vertical-tab1">
          <p>Raw denim you probably haven't...</p>
      </div>
      <div class="tab-pane" id="vertical-tab2">
          <p>Food truck fixie locavore, accus...</p>
      </div>
      <div class="tab-pane" id="vertical-tab3">
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
      </div>
      <div class="tab-pane" id="vertical-tab4">
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
      </div>
      <div class="tab-pane active" id="vertical-tab5">
          <p>Raw denim you probably haven't...</p>
      </div>
      <div class="tab-pane" id="vertical-tab6">
          <p>Food truck fixie locavore, accus...</p>
      </div>
      <div class="tab-pane" id="vertical-tab7">
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
      </div>
      <div class="tab-pane" id="vertical-tab8">
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
      </div>
      <div class="tab-pane active" id="vertical-tab9">
          <p>Raw denim you probably haven't...</p>
      </div>
      <div class="tab-pane" id="vertical-tab10">
          <p>Food truck fixie locavore, accus...</p>
      </div>
      <div class="tab-pane" id="vertical-tab11">
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
      </div>
      <div class="tab-pane" id="vertical-tab12">
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
      </div>
      <div class="tab-pane active" id="vertical-tab13">
          <p>Raw denim you probably haven't...</p>
      </div>
      <div class="tab-pane" id="vertical-tab14">
          <p>Food truck fixie locavore, accus...</p>
      </div>
      <div class="tab-pane" id="vertical-tab15">
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
      </div>
      <div class="tab-pane" id="vertical-tab16">
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
      </div>
  </div>
</div>
