<div class="rsTabs-container">
  <ul class="nav nav-tabs rsTabs">
    <li class="rsTab-tab active"><a class="rsTab-link" href="#tab-1" data-toggle="tab">Tab 1</a></li>
    <li class="rsTab-tab"><a class="rsTab-link" href="#tab-2" data-toggle="tab">Tab 2</a></li>
    <li class="rsTab-tab"><a class="rsTab-link" href="#tab-3" data-toggle="tab">Tab 3</a></li>
    <li class="rsTab-tab"><a class="rsTab-link" href="#tab-4" data-toggle="tab">Tab 4</a></li>
  </ul>
  <div id="myTabContent" class="tab-content rsTabs-content">
      <div class="tab-pane active" id="tab-1">
          <p>Raw denim you probably haven't...</p>
      </div>
      <div class="tab-pane" id="tab-2">
          <p>Food truck fixie locavore, accus...</p>
      </div>
      <div class="tab-pane" id="tab-3">
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
      </div>
      <div class="tab-pane" id="tab-4">
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Activated charcoal blog polaroid, next level four loko
          listicle vice swag neutra authentic. Actually green juice
          vape, +1 mlkshk woke meh before they sold out kombucha.
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
        <p>
          Letterpress banh mi narwhal, everyday carry craft beer
          man braid you probably haven't heard of them. 90's iPhone
          bushwick hella distillery, artisan tilde readymade before
          they sold out pickled man braid swag yuccie.
        </p>
      </div>
  </div>
</div>
