<div class="bg-blue-gray standard-padding-full">
  <div class="container">
  </div>
  <!-- Nav tabs -->
  <ul id="myTab" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab-1" role="tab" data-toggle="tab"><h2>Tab 1</h2></a></li>
    <li role="presentation"><a href="#tab-2" role="tab" data-toggle="tab"><h2>Tab 2</h2></a></li>
    <li role="presentation"><a href="#tab-3" role="tab" data-toggle="tab"><h2>Tab 3</h2></a></li>
    <li role="presentation"><a href="#tab-4" role="tab" data-toggle="tab"><h2>Tab 4</h2></a></li>
    <li role="presentation"><a href="#tab-5" role="tab" data-toggle="tab"><h2>Tab 5</h2></a></li>
    <li role="presentation"><a href="#tab-6" role="tab" data-toggle="tab"><h2>Tab 6</h2></a></li>
  </ul>

  <!-- Tab panes -->
  <div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-1">
      <div class="container">
        Content for tab 1
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-2">
      <div class="container">
        Content for tab 2
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-3">
      <div class="container">
        Content for tab 3
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-4">
      <div class="container">
        Content for tab 4
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-5">
      <div class="container">
        Content for tab 5
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-6">
      <div class="container">
        Content for tab 6
      </div>
    </div>
  </div>
</div>
