<div class="bg-light-gray standard-padding-full">
  <div class="row">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active">
        <a href="#one" data-toggle="tab">
          <h2>Tab Content One</h2>
        </a>
      </li>
      <li>
        <a href="#two" data-toggle="tab">
          <h2>Tab Content Two</h2>
        </a>
      </li>
    </ul>
  </div>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="one">
      <div class="container">
        <p>Example of tabbed content #1</p>
      </div>
    </div>
    <div class="tab-pane fade" id="two">
      <div class="container">
        <p>Example of tabbed content #2</p>
      </div>
    </div>
  </div>
</div>

