<div class="rsTabs-container rsTabsVertical-container">
  <ul class="nav nav-tabs rsTabs rsTabsVertical">
    <li class="rsTab-tab rsTabVertical-tab active"><a class="rsTab-link rsTabVertical-link" href="#tab-vertical-1" data-toggle="tab">One Row</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#tab-vertical-2" data-toggle="tab">Two Rows</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#tab-vertical-3" data-toggle="tab">One Row Again</a></li>
    <li class="rsTab-tab rsTabVertical-tab"><a class="rsTab-link rsTabVertical-link" href="#tab-vertical-4" data-toggle="tab">Two Rows Again</a></li>
  </ul>
  <div id="myTabContent" class="tab-content rsTabs-content rsTabsVertical-content">
      <div class="tab-pane active" id="tab-vertical-1">
        <%- partial('portfolio.ejs', {title: 'Single row', rowCt: 1}) %>
      </div>
      <div class="tab-pane" id="tab-vertical-2">
        <%- partial('portfolio.ejs', {title: 'Double rows'}) %>
      </div>
      <div class="tab-pane" id="tab-vertical-3">
        <%- partial('portfolio.ejs', {title: 'Another single row tab', rowCt: 1}) %>
      </div>
      <div class="tab-pane" id="tab-vertical-4">
        <%- partial('portfolio.ejs', {title: 'Another double row tab'}) %>
      </div>
  </div>
</div>
