<!-- Testimonials -->
<div class="testimonial-content">
  <blockquote class="testimonial-quote center white">Because of Fanatical Support, we knew we were partnering with a best-in-class company that shared our vision of getting it done.</blockquote>
  <cite class="testimonial-cite center">Brian McManus, Senior Director of Technology - Under Armour</cite>
</div>
<!--Option for logo-->
<div class="testimonial-imgWrapper">
  <img class="testimonial-img" src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/underarmor.png" alt="">
</div>
