<!-- Quote -->
<div class="container-fluid half-padding bg-dark-gray">
  <div class="container half-padding">
    <h4 class="white">Quote</h4>
    <h2 class="center white">Field Header</h2>
    <div class="row">
      <div class="quote-icon center-block">
        <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/icons/quote-teal.png" alt="" />
      </div>
      <div class="col-md-8 center-block">
        <div class="quote-blockquote">
          <blockquote class="center white">Because of Fanatical Support, we knew we were partnering with a best-in-class company that shared our vision of getting it done.</blockquote>
        </div>
        <div class="quote-cite-break center-block"></div>
        <div class="quote-cite">
          <cite class="center">Brian McManus, Senior Director of Technology - Under Armour</cite>
        </div>
      </div>
      <div class="quote-logo center-block center">
        <img src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/logos/underarmor.png" alt="">
      </div>
    </div>
  </div>
</div>
