<!-- Value Prop section-->
<div class="container half-padding">
  <h4>Value Props</h4>
  <div class="row row-eq-height">
    <!-- Options for value prop with img -->
    <div class="col-md-4 col-sm-6">
      <%- partial("../grid/widget/value-prop") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../grid/widget/value-prop") %>
    </div>
    <div class="col-md-4 col-sm-6">
      <%- partial("../grid/widget/value-prop") %>
    </div>
  </div>
</div>
