<!-- Video Embed -->
<div class="container half-padding">
  <h2 class="videoEmbed-title">Video Embed</h2>
  <div class="videoEmbed-row">
    <div class="videoEmbed-column">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/duqBHik7nRo"></iframe>
      </div>
    </div>
  </div>
</div>

