// sass-lint:disable no-vendor-prefixes

.buyNow-card {
  border: 3px solid $gray-lightest;
  margin-bottom: $grid-gutter-width / 4;
  margin-top: $grid-gutter-width / 4;
  padding: $grid-gutter-width / 2 $grid-gutter-width / 2 $grid-gutter-width / 1.2;
  position: relative;
  text-align: center;
  width: 100%;
}

.buyNow-cardOther {
  border: 0;
  padding-bottom: 0;
}

.buyNow-cardLogo {
  margin-bottom: $grid-gutter-width / 4;
}

.buyNow-cardPrice {
  display: none;
  font-weight: 600;
}

.buyNow-cardButton {
  bottom: $grid-gutter-width / 4;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  width: 180px;
}

.buyNow-chat {
  background-image: url('../imgs/derek/chat-icon.png');
  background-repeat: no-repeat;
  background-size: 50px;
  margin: 0 auto;
  max-width: 280px;
  min-height: 60px;
  padding-left: 70px;
  padding-top: 5px;
}

.buyNow-headerText {
  text-align: center;
}

@media only screen and (min-width: $screen-md-min) {
  .buyNow-container {
    -ms-grid-columns: 30% 5% 30% 5% 30%;
    -ms-grid-rows: auto;
    display: -ms-grid;
    display: grid; // sass-lint:disable-line no-duplicate-properties
    grid-template-areas:
    'header header header . chat'
    'office365 . email . openstack'
    'footer footer footer footer footer';
    grid-template-columns: 30% 5% 30% 5% 30%;
    grid-template-rows: auto;
    padding: 0 20px;
  }

  .buyNow-header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 1;
    grid-area: header;
  }

  .buyNow-headerText {
    text-align: left;
  }

  .buyNow-chat {
    -ms-grid-column: 5;
    -ms-grid-row: 1;
    background-position: right 10px;
    grid-area: chat;
    margin: inherit;
    max-width: none;
    padding-left: 0;
    padding-right: 50px;
    padding-top: 10px;
  }

  .buyNow-cardOpenStack {
    -ms-grid-column: 5;
    -ms-grid-row: 2;
    grid-area: openstack;
  }

  .buyNow-cardAws {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    display: none;
    grid-area: aws;
  }

  .buyNow-cardGcp {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
    display: none;
    grid-area: gcp;
  }

  .buyNow-cardOffice365 {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    grid-area: office365;
  }

  .buyNow-cardEmail {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
    grid-area: email;
  }

  .buyNow-cardOther {
    -ms-grid-column: 5;
    -ms-grid-row: 3;
    display: none;
    grid-area: other;
  }

  .buyNow-footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    -ms-grid-row: 3;
    grid-area: footer;
  }
}
