<div class="rackspaceModalSource" id="buyNow">
  <div class="buyNow-container">
    <div class="buyNow-header">
      <h4 class="buyNow-headerText">We're known for our experts who help you determine what you need, but if you already know, <em>buy now</em>:</h4>
    </div>
    <div class="buyNow-chat">
      <strong>Questions? Ask an expert.</strong>
      <p><a href="#chat">Chat Now</a></p>
    </div>

    <div class="buyNow-card buyNow-cardAws">
      <img class="buyNow-cardLogo buyNow-cardLogoAws" src="/imgs/derek/logos/Product-AWS.svg" alt="Amazon Web Services" />
      <p>Managed Services for AWS. You manage your business. We’ll manage the rest.</p>
      <p class="buyNow-cardPrice">Starts at $400.00/month</p>
      <a href="https://cart.rackspace.com/aws" class="buyNow-cardButton track-signupCTA button lead">Buy Now</a>
    </div>
    <div class="buyNow-card buyNow-cardGcp">
      <img class="buyNow-cardLogo buyNow-cardLogoGcp" src="/imgs/derek/logos/Product-Google.svg" alt="Google Cloud Platform" />
      <p>We’ll help you get the most from your Google Cloud Platform.</p>
      <p class="buyNow-cardPrice">Starts at $150.00/month</p>
      <a href="https://cart.rackspace.com/gcp" class="buyNow-cardButton track-signupCTA button lead">Buy Now</a>
    </div>
    <div class="buyNow-card buyNow-cardOpenStack">
      <img class="buyNow-cardLogo buyNow-cardLogoOpenStack" src="/imgs/derek/logos/Product-OpenStack.svg" alt="OpenStack" />
      <p>Rackspace Public Cloud for nearly instant access to a scalable, reliable and secure OpenStack platform.</p>
      <p class="buyNow-cardPrice">As low as $0.032/hr</p>
      <a href="https://cart.rackspace.com/cloud" class="buyNow-cardButton track-signupCTA button lead">Buy Now</a>
    </div>
    <div class="buyNow-card buyNow-cardOffice365">
      <img class="buyNow-cardLogo buyNow-cardLogoOffice365" src="/imgs/derek/logos/Product-Office365.svg" alt="Office365" />
      <p>Power your business with Exchange, Office and a full suite of productivity tools.</p>
      <p class="buyNow-cardPrice">Starts at $5/user/month<br><em>(free trial available)</em></p>
      <a href="https://cart.rackspace.com/office365" class="buyNow-cardButton track-signupCTA button lead">Buy Now</a>
    </div>
    <div class="buyNow-card buyNow-cardEmail">
      <img class="buyNow-cardLogo buyNow-cardLogoEmail" src="/imgs/derek/logos/Product-Email_Exchange.svg" alt="Rackspace Email" />
      <p>Professional hosted <em>Rackspace Email</em> and hosted <em>Microsoft Exchange</em>.</p>
      <p class="buyNow-cardPrice">As low as $2.99/user/month<br><em>(free trial available)</em></p>
      <a href="https://cart.rackspace.com/apps" class="buyNow-cardButton track-signupCTA button lead">Buy Now</a>
    </div>
    <div class="buyNow-card buyNow-cardOther buyNow-cardLogoOther">
      <p>We also offer a full range of other platforms and services, including:</p>
      <a href="https://www.rackspace.com/microsoft/managed-azure-cloud" class="track-cta"><img class="buyNow-cardLogo" src="/imgs/derek/logos/Product-Azure.svg" alt="Azure" /></a>
      <a href="https://www.rackspace.com/vmware/private-cloud" class="track-cta"><img class="buyNow-cardLogo" src="/imgs/derek/logos/Product-VMware.svg" alt="VMware" /></a>
      <a href="https://www.rackspace.com/managed-alibaba-cloud" class="track-cta"><img class="buyNow-cardLogo" src="/imgs/derek/logos/Product-Alibaba.svg" alt="Alibaba" /></a>
    </div>

    <div class="buyNow-footer">
      <p class="buyNow-footerText">Or view a <a href="https://www.rackspace.com/your-cloud-journey" class="track-cta">comprehensive list of our services</a>.</p>
    </div>
  </div>

</div>
