<div class="rackspaceModalSource" id="buyNow">
  <div class="buyNow-container">
    <div class="buyNow-header">
      <h4 class="buyNow-headerText">We're known for our experts who help you determine what you need, but if you already know buy now.</h4>
    </div>
    <div class="buyNow-chat">
      <strong>Questions? Ask an expert.</strong>
      <p><a href="#chat">Chat Now</a></p>
    </div>

    <div class="buyNow-card buyNow-cardOpenStack">
      <img class="buyNow-cardLogo" src="/imgs/derek/logos/openstack.png" alt="OpenStack" />
      <p>Rackspace Public Cloud for nearly instant access to a scalable, reliable and secure OpenStack platform.</p>
      <p class="buyNow-cardPrice">As low as $0.032/hr</p>
      <a href="https://cart.rackspace.com/cloud" class="buyNow-cardButton track-signupCTA button lead">Buy Now</a>
    </div>
    <div class="buyNow-card buyNow-cardAws">
      <img class="buyNow-cardLogo" src="/imgs/derek/logos/aws.png" alt="Amazon Web Services" />
      <p>Rackspace Public Cloud for nearly instant access to a scalable, reliable and secure OpenStack platform.</p>
      <p class="buyNow-cardPrice">Starts at $400.00/month</p>
      <a href="https://cart.rackspace.com/aws" class="buyNow-cardButton track-signupCTA button lead">Buy Now</a>
    </div>
    <div class="buyNow-card buyNow-cardGcp">
      <img class="buyNow-cardLogo" src="/imgs/derek/logos/gcp.png" alt="Google Cloud Platform" />
      <p>Rackspace Public Cloud for nearly instant access to a scalable, reliable and secure OpenStack platform.</p>
      <p class="buyNow-cardPrice">Starts at $2,400.00/month</p>
      <a href="https://cart.rackspace.com/gcp" class="buyNow-cardButton track-signupCTA button lead">Buy Now</a>
    </div>

    <div class="buyNow-card buyNow-cardOffice365">
      <img class="buyNow-cardLogo" src="/imgs/derek/logos/office365.png" alt="Office365" />
      <p>Rackspace Public Cloud for nearly instant access to a scalable, reliable and secure OpenStack platform.</p>
      <p class="buyNow-cardPrice">Starts at $5/user/month</p>
      <a href="https://cart.rackspace.com/office365" class="buyNow-cardButton track-signupCTA button lead">Buy Now</a>
    </div>
    <div class="buyNow-card buyNow-cardEmail">
      <img class="buyNow-cardLogo" src="/imgs/derek/logos/email.png" alt="Rackspace Email" />
      <p>Rackspace Public Cloud for nearly instant access to a scalable, reliable and secure OpenStack platform.</p>
      <p class="buyNow-cardPrice">As low as $2.99/user/month<br>(free trial available)</p>
      <a href="https://cart.rackspace.com/apps" class="buyNow-cardButton track-signupCTA button lead">Buy Now</a>
    </div>
    <div class="buyNow-card buyNow-cardOther">
      <p>We also offer managed services for:</p>
      <a href="https://www.rackspace.com/managed-aws" class="track-cta"><img class="buyNow-cardLogo" src="/imgs/derek/logos/azure.png" alt="Azure" /></a>
    </div>
  </div>

</div>
