<div class="rackspaceModalSource" id="callUs">
  <h5 class="rsCallUs-modalHeader">Do you need Sales or Support?</h5>
  <hr class="rsCallUs-modalHr">
  <p>
    Sales: <a class="InfinityNumber track-infinityModal" href="tel:18009612888">1-800-961-2888</a>
  </p>
  <p>
    Support: <a href="tel:18009614454">1-800-961-4454</a>
  </p>
</div>
