<div class="rackspaceModalSource" id="emailUs">
  <form method="post" action="javascript:void(0);">
  <h4 class="formModal-title">Please complete this form to have a specialist contact you.</h4>

  <!-- first name -->
  <div class="form-group form-item webform-component webform-component-textfield webform-component--first-name">
    <label for="edit-submitted-first-name" class="form-label formModal-label">First name <span class="form-required formModal-required" title="This field is required.">*</span> </label>
   <input required="required" class="form-control formModal-input form-text required" type="text" id="edit-submitted-first-name" name="submitted[first_name]" value="" size="60" maxlength="50">
  </div>

  <!-- last name -->
  <div class="form-group form-item webform-component webform-component-textfield webform-component--last-name">
    <label for="edit-submitted-last-name" class="form-label formModal-label">Last name <span class="form-required formModal-required" title="This field is required.">*</span> </label>
   <input required="required" class="form-control formModal-input form-text required" type="text" id="edit-submitted-last-name" name="submitted[last_name]" value="" size="60" maxlength="50">
  </div>

  <!-- company -->
  <div class="form-group form-item webform-component webform-component-textfield webform-component--company">
    <label for="edit-submitted-company" class="form-label formModal-label">Company <span class="form-required formModal-required" title="This field is required.">*</span> </label>
   <input required="required" class="form-control formModal-input form-text required" type="text" id="edit-submitted-company" name="submitted[company]" value="" size="60" maxlength="128">
  </div>

  <!-- email -->
  <div class="form-group form-item webform-component webform-component-email webform-component--email">
    <label for="edit-submitted-email" class="form-label formModal-label">Email address <span class="form-required formModal-required" title="This field is required.">*</span> </label>
   <input required="required" class="form-control formModal-input form-text form-email required" type="email" id="edit-submitted-email" name="submitted[email]" size="60">
  </div>

  <!-- phone -->
  <div class="form-group form-item webform-component webform-component-textfield webform-component--phone">
    <label for="edit-submitted-phone" class="form-label formModal-label">Phone number <span class="form-required formModal-required" title="This field is required.">*</span> </label>
   <input required="required" class="form-control formModal-input form-text required" type="text" id="edit-submitted-phone" name="submitted[phone]" value="" size="60" maxlength="30">
  </div>

  <!-- comment -->
  <div class="form-group form-item webform-component webform-component-textarea webform-component--comments">
    <label for="edit-submitted-comments" class="form-label formModal-label">How can we assist you?  </label>
   <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea class="form-control formModal-input form-textarea" id="edit-submitted-comments" name="submitted[comments]" cols="60" rows="5"></textarea><div class="grippie"></div></div>
  </div>

  <!-- captcha -->
  <div class="form-group form-item webform-component webform-component-captcha webform-component--captcha">
   <img src="imgs/derek/captcha.jpg" style="max-width: none; width: 304px; height: 78px; margin: 10px 0;">
  </div>

  <!-- disclaimer -->
  <p class="small half-padding-top">Information collected in this form is subject to the <a href="/information/legal/privacycenter">Rackspace Privacy Statement</a>.</p>
</div>
