<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!desc) { var desc = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate."; } %>
<!-- Key Offers Pattern -->
<a class="keyoffersWidget keyoffersWidget-hover" href="javascript:void(0)">
  <div class="keyoffersWidget-row">
    <div class="keyoffersWidget-col-full">
      <h3 class="keyoffersWidget-header">Name with only 30 characters</h3>
      <p class="keyoffersWidget-body"><%- desc %></p>
    </div>
    <div class="keyoffersWidget-bottomText">Read More</div>
    <div class="keyoffersWidget-icon">
      <span class="rsweb idio-high-five"></span>
    </div>
  </div>
</a>
