<div class="lp-callout gc-callout">
  <div class="gc-arrow"><img src="imgs/derek/resourceCenter/gated-arrow.svg"></div>
  <h4 class="lp-callout-title">Download Your FREE Whitepaper Now</h4>
    <%- partial('../_partials/lp-callout-form.ejs') %>
</div>
