<table class="rsPricingTable">
  <thead class="rsPricingTable-head">
    <!-- Big blue/gray headers -->
    <tr class="rsPricingTable-head-tr">
      <th class="rsPricingTable-head-th rsPricingTable-feature">
        <div class="rsPricingTable-head-title">
          <img class="rsPricingTable-head-logo" src="imgs/derek/o365/o365-logo.svg" alt="Office 365" />
        </div>
        <!-- add the rsPricingTable-scroll-hide class to elements you want hidden when header sticks -->
        <p class="rsPricingTable-head-p rsPricingTable-scroll-hide">
          Exchange Email Plans can help your business do this thing and also 
          that thing with additional support in this other thing as well. Buy
          our stuff.
        </p>
      </th>
      <th class="rsPricingTable-head-th">
        <div class="rsPricingTable-head-flex">
          <h3 class="rsPricingTable-head-title">Enterprise E3</h3>
          <p class="rsPricingTable-head-p rsPricingTable-scroll-hide">
            E1 and ProPlus, plus advanced Enterprise tools.
          </p>
          <a class="rsPricingTable-cta" href="#">Sign Up</a>          
        </div>
      </th>
      <th class="rsPricingTable-head-th">
        <div class="rsPricingTable-head-flex">
          <h3 class="rsPricingTable-head-title">Exchange Online Plan 2</h3>
          <p class="rsPricingTable-head-p rsPricingTable-scroll-hide">
            Secure Online Plan 1, plus 100GB of storage, hosted voicemail and data loss prevention.
          </p>
          <a class="rsPricingTable-cta" href="#">Sign Up</a>          
        </div>
      </th>
      <th class="rsPricingTable-head-th">
        <div class="rsPricingTable-head-flex">
          <h3 class="rsPricingTable-head-title">Encrypted Exchange Online</h3>
          <p class="rsPricingTable-head-p rsPricingTable-scroll-hide">
            Exchange Online Plan 1, plus Azure Information Protection (AIP)
          </p>
          <a class="rsPricingTable-cta" href="#">Sign Up</a>
        </div>
      </th>
    </tr>
    <!-- add a body row in the header if you want it to stick on scroll with the gray headers -->
    <tr class="rsPricingTable-body-tr rsPricingTable-headerBody-row">
      <td class="rsPricingTable-body-td text-left">
        <span class="rsPricingTable-scroll-hide">All accounts start with a 14-day Free Trial. No long-term contracts required.</span>
        <span class="rsPricingTable-scroll-show">Price per user/month</span>
      </td>
      <td class="rsPricingTable-body-td"><span class="rsPricingTable-price">$23</span> <span class="rsPricingTable-scroll-hide">per user/month</span></td>
      <td class="rsPricingTable-body-td"><span class="rsPricingTable-price">$11</span> <span class="rsPricingTable-scroll-hide">per user/month</span></td>
      <td class="rsPricingTable-body-td"><span class="rsPricingTable-price">$9</span> <span class="rsPricingTable-scroll-hide">per user/month</span></td>
    </tr>
  </thead>
  <tbody class="rsPricingTable-body">
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">Maximum users per plan</td>
      <td class="rsPricingTable-body-td">Unlimited</td>
      <td class="rsPricingTable-body-td">300</td>
      <td class="rsPricingTable-body-td">300</td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">Office Applications</td>
      <td class="rsPricingTable-body-td">
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/outlook.svg"
          title="Outlook"
          alt="Outlook" />
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/n.svg"
          title="OneNote"
          alt="OneNote" />
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/word.svg"
          title="Word"
          alt="Word" />
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/p.svg"
          title="Publisher"
          alt="Publisher" />
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/powerpoint.svg"
          title="PowerPoint"
          alt="PowerPoint" />
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/excel.svg"
          title="Excel"
          alt="Excel" />
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/access.svg"
          title="Access"
          alt="Access" />
      </td>
      <td class="rsPricingTable-body-td">Not Included</td>
      <td class="rsPricingTable-body-td">Not Included</td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">Services</td>
      <td class="rsPricingTable-body-td">
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/exhnge.svg"
          title="Exchange"
          alt="Exchange" />
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/onedrive.svg"
          title="OneDrive"
          alt="OneDrive" />
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/sharepoint.svg"
          title="SharePoint"
          alt="SharePoint" />
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/skypeBlue.svg"
          title="Skype for Business"
          alt="Skype for Business" />
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/teams.svg"
          title="Microsoft Teams"
          alt="Microsoft Teams" />
        <img 
          class="rsPricingTable-appLogo"
          src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/office-365/products/yammer.svg"
          title="Yammer"
          alt="Yammer" />
      </td>
      <td class="rsPricingTable-body-td">Not Inlcuded</td>
      <td class="rsPricingTable-body-td">Not Inlcuded</td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">Unlimited 24x7x365 U.S. based support</td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">Free Email Migrations to Office 365</td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">Access to top tier Office 365 experts</td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">Rapid Managed Escalation
        <p>We work directly with Microsoft to resolve your problems quickly</p></td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Fully Installed Office Applications
        <p>Word<sup>®</sup>, Excel<sup>®</sup>, PowerPoint<sup>®</sup>, Outlook<sup>®</sup>, 
           Publisher<sup>®</sup>*, Access<sup>®</sup>, OneNote<sup>®</sup> — on up to 5 PCs or Macs per user</p>
        <p>*Microsoft Publisher and Access are only available on Windows devices.</p>   
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        OneDrive®
        <p>1TB file storage per user</p>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span><br/>
        Unlimited Storage
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Office 2016 on tablets and phones
        <p>For the full Office experience on mobile devices</p>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Exchange
        <p>Business-class email, contacts, calendar and 50GB mailboxes</p>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        100 GB mailbox
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        SharePoint and Skype for Business
        <p>Team sites, online meetings, chat, voice and video calls</p>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Online versions of Office 2016
        <p>Including Word, Excel and PowerPoint</p>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Yammer
        <p>Corporate social network to help employees collaborate across departments
        and locations</p>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Delve
        <p>Personalized search and discovery across Office 365</p>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Active Directory Integration
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        eDiscovery and mailbox (compliance)
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span><br/>
        Includes Litigation Hold, In-Place Hold and In-Place eDiscovery
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span><br/>
        Includes In-Place eDiscovery only
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Archiving Exchange Online-based mailboxes (compliance)
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Azure Information Protection
        <p>Message encyprtion and Information rights management</p>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        Optional
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Data Loss Prevention
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span><br/>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span><br/>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Enterprise Management
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span><br/>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span><br/>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Advanced Skype for Business
        <p>Hold Skype Meeting Broadcasts online for up to 10,000 people who can
        attent in a browser on nearly any device</p>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-check"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        <span class="fa fa-times"></span>
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Azure Information Protection
        <p>Add Azure Rights Management (ARM) to any plan to get advanced message
        encryption and content filtering</p>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        Included
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        $3.00/user mo.
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        Included
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Email Archiving
        <p>Add Archiving to your Office 365 plan and get unlimited email storage
        and retention</p>
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        $3.00/user mo.
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        $3.00/user mo.
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        $3.00/user mo.
      </td>
    </tr>
    <tr class="rsPricingTable-body-tr">
      <td class="rsPricingTable-body-td text-left">
        Advanced Threat Protection
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        $3.00/user mo.
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        $3.00/user mo.
      </td>
      <td class="rsPricingTable-body-td rsPricingTable-hide-mobile">
        $3.00/user mo.
      </td>
    </tr>
  </tbody>
</table>