<!-- Additional Resources: 33/34/33 -->
<div class="half-padding-full bg-light-gray">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-sm-4 panel-flex">
        <%- partial('../_partials/cards/additional-resource.ejs') %>
      </div>
      <div class="col-sm-4 panel-flex">
        <%- partial('../_partials/cards/additional-resource.ejs', {
          type: 'video'
        }) %>
      </div>
      <div class="col-sm-4 panel-flex">
        <%- partial('../_partials/cards/additional-resource.ejs', {
          type: 'rss',
          desc: 'consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean m'
        }) %>
      </div>
    </div>
  </div>
</div>
