<!-- Awards Cert: 33/33/33 -->
<div class="container half-padding">
  <div class="row">
    <div class="col-sm-4">
      <%- partial('../_partials/cards/awards.ejs', {subhead: 'RedHat certifications'}) %>
    </div>
    <div class="col-sm-4">
      <%- partial('../_partials/cards/awards.ejs', {subhead: 'Hosting engineers across Linux, Windows and VMware'}) %>
    </div>
    <div class="col-sm-4">
      <%- partial('../_partials/cards/awards.ejs') %>
    </div>
  </div>
</div>
