<!-- Business Resources: 33/67 -->
<div class="container half-padding">
  <h4>Business Resources</h4>
  <div class="row row-eq-height">
    <div class="col-sm-4 panel-flex">
      <%- partial('../_partials/cards/business-resource.ejs', {desc: 'This is short'}) %>
    </div>
    <div class="col-sm-8 panel-flex">
      <%- partial('../_partials/cards/business-resource.ejs', {desc: 'This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. This is extra long. '}) %>
    </div>
  </div>
</div>
