<!-- Features: 50/50 -->
<div class="bg-light-gray">
  <div class="container">
    <div class="row">
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 panel-flex">
        <%- partial('../_partials/cards/product-feature') %>
      </div>
      <div class="col-sm-6 panel-flex">
        <%- partial('../_partials/cards/product-feature', {
        desc: 'consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean m'
      }) %>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 panel-flex">
        <%- partial('../_partials/cards/product-feature') %>
      </div>
      <div class="col-sm-6 panel-flex">
        <%- partial('../_partials/cards/product-feature') %>
      </div>
    </div>
  </div>
</div>
