<!-- Quote Split -->
<div class="quote">
  <div class="quote-wrapper">
    <div class="row">
        <div class="col-md-6">
          <%- partial('../_partials/solutions/quote.ejs', {
            textWrapperClass: 'quote-split-textWrapper',
            logoClass: 'quote-split-logo'
          }) %>
        </div>
        <div class="col-md-6">
          <%- partial('../_partials/solutions/video.ejs') %>
        </div>
      </div>
    </div>
  </div>
</div>

