<!-- Rs Tabs -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>Rs tabs</h4>
    </div>
  </div>
</div>

<%- partial('../_partials/solutions/tabs.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>Excessive Tabs Example</h4>
    </div>
  </div>
</div>

<%- partial('../_partials/solutions/tabs-long.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>Rs tabs - Vertical</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%- partial('../_partials/solutions/tabs-vertical.ejs') %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>Excessive Tabs Example</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%- partial('../_partials/solutions/tabs-verticalLong.ejs') %>
  </div>
</div>
