<div class="container">
  <div class="rsTabs-container rsTabsHorizontal-container">
    <ul class="nav nav-tabs rsTabs rsTabsHorizontal">
      <li class="rsTab-tab active"><a class="rsTab-link rsTabHorizontal-link" href="#tab-1" data-toggle="tab">Tab 1</a></li>
      <li class="rsTab-tab"><a class="rsTab-link rsTabHorizontal-link" href="#tab-2" data-toggle="tab">Tab 2</a></li>
      <li class="rsTab-tab"><a class="rsTab-link rsTabHorizontal-link" href="#tab-3" data-toggle="tab">Tab 3</a></li>
      <li class="rsTab-tab"><a class="rsTab-link rsTabHorizontal-link" href="#tab-4" data-toggle="tab">Tab 4</a></li>
    </ul>
    <div id="myTabContent" class="tab-content rsTabs-content rsTabsHorizontal-content">
      <div class="tab-pane active" id="tab-1">
        <%- partial('../_partials/solutions/usecase-tab.ejs') %>
      </div>
      <div class="tab-pane" id="tab-2">
         <%- partial('../_partials/solutions/usecase-tab.ejs') %>
      </div>
      <div class="tab-pane" id="tab-3">
         <%- partial('../_partials/solutions/usecase-tab.ejs', {
            title: 'Alternative Title',
            desc: 'consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean moon.'
          }) %>
      </div>
      <div class="tab-pane" id="tab-4">
         <%- partial('../_partials/solutions/usecase-tab.ejs') %>
      </div>
    </div>
  </div>
</div>
