<!-- Value Props: 33/34/33 -->
<div class="container half-padding">
  <div class="row row-eq-height">
    <div class="col-sm-4 panel-flex">
      <%- partial('../_partials/cards/value-prop.ejs') %>
    </div>
    <div class="col-sm-4 panel-flex">
      <%- partial('../_partials/cards/value-prop.ejs', {
        desc: 'consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean m'
      }) %>
    </div>
    <div class="col-sm-4 panel-flex">
      <%- partial('../_partials/cards/value-prop.ejs') %>
    </div>
  </div>
</div>
