<div class="customerLogos-wrapper">
  <div class="customerLogos-container">
    <div class="customerLogos-withCallout">
      <div class="customerLogos-imgRow clearfix">
      <%- partial('_partials/customer-logo.ejs') %>
      <%- partial('_partials/customer-logo.ejs', {img: 'https://0fb555c65f288d09a992-a2085a232a1d2a458a641f48ff12bf08.ssl.cf2.rackcdn.com/LP-assets/CSID.png'}) %>
      <%- partial('_partials/customer-logo.ejs', {img: 'https://0fb555c65f288d09a992-a2085a232a1d2a458a641f48ff12bf08.ssl.cf2.rackcdn.com/LP-assets/Pipedrive.png'}) %>
      <%- partial('_partials/customer-logo.ejs', {img: 'https://0fb555c65f288d09a992-a2085a232a1d2a458a641f48ff12bf08.ssl.cf2.rackcdn.com/LP-assets/Under-Armor.png'}) %>
      </div>
    </div>
  </div>
</div>
