.rsFilter-section {
  overflow: hidden;
}

.rsFilter-bar {
  @include make-sm-column(2);
  background-color: $white;
  border-bottom: 2px solid $gray-lighter;
  padding: 0 20px;
}

.rsFilter-hamburger {
  background-color: transparent;
  border: 0;
  display: inline-block;
  padding: 8px 12px;

  &::before {
    content: '\f0c9';
    font-family: 'rswebfonts';
  }

  &:hover {
    background-color: $gray-light;
  }

  &:focus {
    outline: 0;
  }
}

.rsFilter-mobileTitle {
  @include subhead($gray-darker);
  display: inline-block;
  text-align: center;
}

.rsFilter-form {
  display: none;
  opacity: 0;
  padding-bottom: 10px;
  transition-duration: .1s;
}

.rsFilter-mobileForm {
  display: block;
}

.rsFilter-mobileForm-effect {
  opacity: 1;
}

.rsFilter-formTitle {
  @include subhead($gray-darker);
  display: none;
  text-align: center;
}

.rsFilter-fieldTitle {
  margin: 1.25rem 0 0;
}

.rsFilter-formSelect {
  background: $white;
  border-radius: 0;
  display: block;
  margin: 0;
  max-width: 200px;
  width: $full-width;
}

.rsFilter-checkbox {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;

  & + .option {
    display: inline-block;
    font-weight: 300;
  }
}

.rsFilter-button {
  background-color: $gray-base;
  border: 0;
  color: $white;
  display: block;
  margin: 1rem 0;
  max-width: 200px;
  padding: 8px 15px;
  text-align: center;
  white-space: normal;
  width: $full-width;

  &:hover {
    background-color: $gray-darker;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

.rsFilter-content {
  @include make-sm-column(10);
  padding: 25px;
}

@media (min-width: $screen-sm-min) {
  .rsFilter-bar {
    border-bottom: 0;
    border-right: 2px solid $gray-lighter;
    padding: 20px;
  }

  .rsFilter-hamburger {
    display: none;
  }

  .rsFilter-mobileTitle {
    display: none;
  }

  .rsFilter-form {
    display: block;
    opacity: 1;
    padding-bottom: 0;
    transition-duration: 0s;
  }

  .rsFilter-formTitle {
    display: block;
  }

  .rsFilter-button {
    margin: 1rem auto 0;
  }

  .rsFilter-formSelect {
    margin: .5rem auto 0;
  }
}

// Start of accordion style side bar
.rsFilter-sideBar-row {
  display: block;
}

.rsFilter-results-content {
  @include make-md-column(10);
  float: left;
  padding: 25px;
}

.rsFilter-sideBar {
  @include make-md-column(2);
  background-color: $white;
  float: left;
  padding: 10px 0 0;
  width: 100%;
  z-index: 2;
}

.rsFilter-refreshSideBar {
  border-bottom: 2px solid $gray-lighter;
  padding-top: 20px;
}

.rsFilter-sideBar-titleContainer {
  padding: 0 20px 10px;
}

.rsFilter-sideBar-formTitle {
  @include subhead($gray-darker);
  display: inline-block;
}

.rsFilter-sideBar-content {
  display: none;
  float: left;
  width: 100%;
}

.rsFilter-sideBar-acc {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
  width: 100%;
}

.rsFilter-sideBar-accItem {
  border-bottom: 1px solid $gray-lightest;

  &:first-child {
    border-top: 1px solid $gray-lighter;
  }
}

.rsFilter-sideBar-accLabel {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 12px 20px;
  width: 100%;

  &:hover {
    background-color: $gray-lightest;
    cursor: pointer;
    transition-duration: .3s;
  }

  &::after {
    color: $gray-darker;
    content: '\f107';
    float: right;
    font-family: 'rswebfonts';
  }
}

.rsFilter-sideBar-active {
  background-color: $gray-lightest;

  &::after {
    content: '\f106';
  }
}

.rsFilter-sideBar-accItemContent {
  background-color: $white;
  display: none;
  padding: 10px 20px;
}

.rsFilter-sideBar-reset {
  background-color: transparent;
  border: 0;
  float: right;
  font-size: 13px;
  line-height: 2;
  padding: 0;
  text-decoration: underline;

  &:focus {
    outline: 0;
  }
}

.rsFilter-sideBar-form {
  float: left;
  width: 100%;
}

.rsFilter-sideBar-checkbox {
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin: 0;

  .form-item {
    margin: 0;
  }

  label {
    display: inline;
    font-weight: 300;
    margin-left: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  & + .option {
    display: inline-block;
    font-weight: 300;
  }
}

.rsFilter-sideBar-btnWrap {
  float: left;
  padding: 30px 20px;
  width: 100%;
}

.rsFilter-sideBar-submit {
  background-color: $gray-darker;
  border: 0;
  color: $white;
  padding: 5px;
  width: 100%;

  &:hover {
    background-color: $gray;
    transition-duration: .3s;
  }

  &:focus {
    outline: 0;
  }
}

.rsFilter-sideBar-hamburger {
  background-color: transparent;
  border: 0;
  display: inline-block;

  &::before {
    content: '\f0c9';
    font-family: 'rswebfonts';
  }

  &:hover {
    background-color: $gray-lightest;
  }

  &:focus {
    outline: 0;
  }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {
  .rsFilter-sideBar-reset {
    float: left;
    text-align: left;
  }

  .rsFilter-sideBar-formTitle {
    display: block;
    float: left;
    width: 100%;
  }
}

// Desktop Rules
@media (min-width: $screen-md-min) {

  .rsFilter-sideBar-row {
    display: flex;
  }

  .rsFilter-sideBar,
  .rsFilter-refreshSideBar {
    border-bottom: 0;
    border-right: 2px solid $gray-lighter;
    padding: 50px 0 0;
  }

  .rsFilter-sideBar-titleContainer {
    float: left;
    width: 100%;
  }

  .rsFilter-sideBar-content {
    display: block;
  }

  .rsFilter-sideBar-hamburger {
    display: none;
  }
}

@media (min-width: $screen-sm-min) {
  .rsFilter-results-content {
    padding-right: 50px;
  }
}
