.quote {
  background-color: $dark-blue;
  padding: $half-padding;
}

.quote-wrapper {
  @include make-container;
}

.quote-textWrapper {
  @include center-block;
  max-width: 800px;
}

.quote-blockquote {
  color: $white;
  padding: 10px 15px 20px;
  text-align: center;
}

.quote-attrName {
  color: $white;
  font-size: 1.85rem;
  font-weight: $font-weight-black;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.quote-attrPosition {
  color: $white;
  margin-bottom: 5px;
  text-align: center;
}

.quote-logoWrapper {
  @include make-row;
  padding: $half-padding-top;
}

.quote-buttonWrapper {
  margin: 30px 0 40px;
  text-align: center;
}

.quote-logo {
  @include center-block;
  max-width: 83px;
}

.quote-icon {
  padding: 20px;
}

.read-more {
  img {
    max-height: 40px;
  }
}
