<a href="javascript:void(0);" class="col-sm-6 col-md-4 industry-wrapper">
  <h4 class="industry-title"><%= title %></h4>
  <p class="industry-description"><%= copy %></p>

  <div class="industry-link">Learn More</div>
</a>
