
<!-- Key Offers: 33/34/33 -->
<div class="half-padding bg-light-gray">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-sm-4 panel-flex">
        <%- partial('_partials/key-offer.ejs') %>
      </div>
      <div class="col-sm-4 panel-flex">
        <%- partial('_partials/key-offer-no-hover.ejs') %>
      </div>
      <div class="col-sm-4 panel-flex">
        <%- partial('_partials/key-offer.ejs') %>
      </div>
    </div>
  </div>
</div>
