<div class="jumbotron">
  <h1>Zoolander</h1>
  <p>
    Corporate brand style guide for Rackspace websites.
  </p>
</div>
<div class="row">
  <div class="col-lg-12">
    <h2>Quick Start</h2>
    <p>Rackspace flavored Bootstrap assets. Add the following to your HTML template.</p>
      <pre>
        <code class="language-javascript">
      &lt;link href=&quot;https://043a96a8a2caa9c57463-9701ce6e6cbd7003c5a8a25a5a69546c.ssl.cf5.rackcdn.com/v1.1/global/css/global.css&quot; /&gt;
      <br>&lt;script src=&quot;https://043a96a8a2caa9c57463-9701ce6e6cbd7003c5a8a25a5a69546c.ssl.cf5.rackcdn.com/v1.1/global/js/global.bundle.js&quot;&gt;&lt;/script&gt;
        </code>
      </pre>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4">
    <h2>Global Base</h2>
    <p>Vanilla Bootstrap 3.x with styles defaulted to match Rackspace corporate brand.</p>
    <a href="/global"><img src="/imgs/global.png" class="img-thumbnail" /></a>
  </div>
  <div class="col-md-4">
    <h2>Derek</h2>
    <p>Extended version of Global Base with shared components.</p>
    <a href="/derek"><img src="/imgs/pending.png" class="img-thumbnail" /></a>
  </div>
  <div class="col-md-4">
    <h2>Coming Soon!</h2>
    <p>Or never who knows</p>
  </div>
</div>



