<!-- Additional Resources Pattern -->

<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!type) { var type = "pdf"; } %>
<% if(!desc) { var desc = "Extended the title max characters count to 73, so it can do the talking."; } %>
<% if(!icon_class) { var icon_class = "fa fa-suitcase"; } %>

<!-- Icon Options -->
<!--
Case Study: fa-suitcase
Github: fa fa-github-square
News and Articles: fa fa-newspaper-o
Blog/RSS: fa fa-rss-square
Video: fa fa-youtube-play
PDF: fa fa-file-pdf-o
API/Code: fa fa-file-code-o
Support/KC: fa fa-wrench
-->

<a href="http://www.google.com">
  <div class="row row-eq-height">
    <div class="col-xs-2 icon <%- type %>"></div>
    <div class="col-sm-9 col-xs-10 desc">
      <p><%- desc %></p>
    </div>
    <div class="col-sm-1 hidden-xs arrow">
      <i class="<%- icon_class %>"></i>
    </div>
  </div>
</a>
