<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!desc) { var desc = "This is an example business resource. This is an example business resource. This is an example business resource. This is an example business resource."; } %>
<!-- Business Resources Pattern -->

<div class="col-md-12">
  <a href="https://www.rackspace.com">
    <h6>Example</h6>
    <h3>Business Resource</h3>
    <p><%- desc %></p>
  </a>
</div>
