<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!desc) { var desc = "This description cannot be longer than 75 characters including all spaces."; } %>
<!-- Infrastructure and Services Pattern -->

<a class="ias-link ias-link-hover" href="http://www.google.com">
  <div class="row">
    <div class="col-sm-4 col-xs-3 ias-img">
      <img src="http://broadcast.rackspace.com/r/sites/test/text/images/70px.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="ias-header">Name with only 30 characters</h3>
      <p class="ias-body"><%- desc %></p>
      <p class="ias-cta">More Info</p>
    </div>
  </div>
</a>
