<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!desc) { var desc = "150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo."; } %>
<!-- Key Offers Pattern -->

<a href="http://www.rackspace.com">
  <div class="row">
    <div class="col-md-12">
      <h3 class="red">Name with only 30 characters</h3>
      <p><%- desc %></p>
      <p class="red semi-bold">Read More</p>
    </div>
    <div class="bottom">
      <i class="rsweb idio-high-five"></i>
    </div>
  </div>
</a>
