<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!desc) { var desc = "150 max character count here. Pro gravida dolor sit amet lacus accumsan at viverra justo commodo. No hoverstate will appear if there is no link present."; } %>
<!-- Key Offers Pattern -->
<div class="keyoffersWidget">
  <div class="keyoffersWidget-row">
    <div class="keyoffersWidget-col-full">
      <h3 class="keyoffersWidget-header">Name with only 30 characters</h3>
      <p class="keyoffersWidget-body"><%- desc %></p>
    </div>
    <p class="keyoffersWidget-bottom-text">Read More</p>
    <i class="keyoffersWidget-icon idio-high-five"></i>
  </div>
</div>
