<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!desc) { var desc = "Example text about product feature number one in a list of four available product features."; } %>
<!-- Product Features Pattern -->

<div class="row row-eq-height">
  <div class="col-md-2 icon">
    <i class="rsweb srv-design-build"></i>
  </div>
  <div class="col-md-10 desc">
    <h4>Example Title</h4>
    <p><%- desc %></p>
  </div>
</div>
