<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!desc) { var desc = "250 max character count here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo."; } %>
<!-- Value Props Pattern -->

<div class="value-prop">
  <div class="col-md-5 col-sm-6 col-xs-5 center-block">
    <i class="rsweb idio-brain"></i>
  </div>
  <h3 class="center">This a value headline with a max of 50 characters</h3>
  <p class="center"><%- desc %></p>
  <a href="javascript:void(0)" class="center-block center">Learn More</a>
</div>
