<!-- Default description to allow for partial override to demonstrate really long text and equal height -->
<% if(!img) { var img = "https://0fb555c65f288d09a992-a2085a232a1d2a458a641f48ff12bf08.ssl.cf2.rackcdn.com/LP-assets/All-Tech.png"; } %>

<!-- Customer Logo Pattern -->
<div class="customerLogos-imgWrapper">
  <img class="customerLogos-img" src="<%- img %>">
</div>
