$nav-link-black: #00001e;
$link-hover: #f9f9f9;

@mixin center-items {
  align-items: center;
  display: flex;
  justify-content: center;
}

.rsTl-nav-fixed {
  position: fixed;
}

.rsTl-nav-container {
  @include clearfix;
  background-color: $gray-light;
  top: 0;
  width: 100%;
  z-index: 275;
}

.rsTl-nav {
  // sass-lint:disable-block no-vendor-prefixes no-duplicate-properties
  @include xl-container;
  -ms-grid-columns: 180px 1fr 181px 220px;
  background-color: $white;
  border-bottom: 2px solid $nav-link-black;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 180px 1fr 181px 220px;
  margin: 0 auto;
}

.rsTl-navSansLogo,
.rsTl-navSansSponsor {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-columns: 180px 1fr 220px;
  grid-template-columns: 180px 1fr 220px;
}

.rsTl-nav-logo {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 1;
  align-items: center;
  display: flex;
  float: left;
  justify-content: flex-start;
  padding: 8px 25px;
}

.rsTl-nav-img {
  min-width: 90px;
  width: 100%;
}

.rsTl-nav-rsLogo {
  // sass-lint:disable-block no-vendor-prefixes
  @include center-items;
  -ms-grid-column: 3;
  border-left: 2px solid $nav-link-black;
  float: left;
  padding: 8px 25px;
}

.rsTl-nav-sponsor {
  // sass-lint:disable-block no-vendor-prefixes
  @include center-items;
  -ms-grid-column: 4;
  border-left: 2px solid $nav-link-black;
  float: left;
  padding: 8px 25px;
}

.rsTl-nav-solveLogoContainer {
  width: 100%;
}

.rsTl-nav-logoContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.rsTl-nav-sponsorContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: 2px;
  width: 68%;
}

.rsTl-nav-tagline {
  font-size: 1.2rem;
  font-style: italic;
  margin-right: 10px;
  max-width: 100px;
}

.rsTl-nav-sponsorText {
  display: inline-block;
  font-size: 11px;
  position: absolute;
  top: -15px;
}

.rsTl-nav-rackspaceSvg {
  width: 100px;
}

.rsTl-nav-sponsorSvg {
  width: 100px;
}

.rsTl-nav-rackspace {
  fill: $black;
  width: 100%;
}

.rsTl-nav-sponsorLogo {
  fill: $black;
}

.rsTl-nav-solveSvg {
  width: 125px;
}


@media screen and (max-width: $screen-sm-min - 1) {

  .rsTl-nav-solveSvg {
    width: 85px;
  }
}

.rsTl-nav-links {
  // sass-lint:disable-block no-vendor-prefixes
  -ms-grid-column: 2;
  align-items: center;
  display: flex;
  float: left;
  padding: 8px 25px;
}

.rsTl-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rsTl-nav-subList {
  background-color: $white;
  border: 1px solid $nav-link-black;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 33px;
  width: 200px;
  z-index: 10;
}

.rsTl-nav-subList-show {
  display: block;
}

.rsTl-nav-subItem {
  border-bottom: 1px solid transparentize($black, .9);

  &:last-child {
    border-bottom: 0;
  }
}

.rsTl-nav-subLink {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 15px;
  width: 100%;

  &:hover {
    background-color: transparentize($black, .95);
    text-decoration: none;
  }
}

.rsTl-nav-item {
  display: inline-block;
  position: relative;
  text-align: left;

  &:hover {
    .rsTl-nav-link {
      background-color: $link-hover;
      border-top: 1px solid $nav-link-black;
    }
  }
}

.rsTl-nav-link {
  border-top: 1px solid transparent;
  color: $nav-link-black;
  display: inline-block;
  font-family: $copy;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 100%;
  padding: 10px;
  transition-duration: .2s;
  z-index: 3;

  &:hover {
    text-decoration: none;
  }
}

.rsTl-nav-ddLink {

  &::after {
    content: '\f107';
    display: inline-block;
    font-family: 'rswebfonts';
    margin-left: 10px;
    transition-duration: .2s;
  }
}

.rsTl-nav-hamburger {
  align-items: center;
  display: none;
  float: left;
  justify-content: flex-end;
  padding: 8px 25px;
}

.rsTl-nav-hamburgerBtn {
  background-color: transparent;
  border: 0;
  font-size: 18px;

  &::before {
    content: '\f0c9';
    display: inline-block;
    font-family: 'rswebfonts';
  }
}

.rsTl-nav-hamburgerOpen {
  &::before {
    content: '\e803';
  }
}

.rsTl-nav-logoWrapper {
  display: none;
}

// when nav is contained
.rsTl-nav-contained {

  &.rsTl-nav-container {
    border-bottom: 0;
  }

  .rsTl-nav {
    // sass-lint:disable-block no-vendor-prefixes
    @include the-ms-special(4);
    border-bottom: 2px solid $nav-link-black;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    width: 100%;
  }

  .rsTl-nav-logo {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    padding: 0 25px;
  }

  .rsTl-nav-tagline {
    margin-right: 0;
    max-width: 100%;
    text-align: center;
    width: 100%;
  }

  .rsTl-nav-links {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1 / 2 / 2 / 4;
  }

  .rsTl-nav-ddLink {

    &::after {
      float: right;
    }
  }

  .rsTl-nav-hamburger {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    display: flex;
    grid-area: 1 / 4 / 2 / 5;
  }

  .rsTl-nav-list {
    display: none;
  }

  .rsTl-nav-rsLogo {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    background-color: $black;
    border-left: 0;
    display: none;
    grid-area: 2 / 1 / 3 / 3;
    height: 60px;
  }

  .rsTl-nav-sponsor {
    // sass-lint:disable-block no-vendor-prefixes
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    background-color: $black;
    border-color: $white;
    color: $white;
    display: none;
    grid-area: 2 / 3 / 3 / 5;
    height: 60px;
  }

  &.rsTl-nav-logoWrapper {
    // sass-lint:disable-block no-vendor-prefixes
    @include the-ms-special(4);
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .rsTl-nav-rsLogo {
      display: flex;
    }

    .rsTl-nav-sponsor {
      display: flex;
    }
  }

  &.rsTl-nav-logoWrapperSingleLogo {
    // sass-lint:disable-block no-vendor-prefixes
    @include the-ms-special(2);
    grid-template-columns: repeat(2, 1fr);
  }

  .rsTl-nav-sponsorContainer {
    display: block;
    text-align: center;
  }

  .rsTl-nav-sponsorText {
    display: block;
    margin-bottom: 3px;
    position: relative;
    top: 0;
  }

  .rsTl-nav-rackspace {
    fill: $white;
  }

  .rsTl-nav-sponsorLogo {
    fill: $white;
  }

  .rsTl-nav-solveSvg {
    min-width: 70px;
  }

}

// this is for the cloned nav list for mobile view
.rsTl-nav-list-contained {
  background-color: $white;
  border-bottom: 1px solid $nav-link-black;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  .rsTl-nav-item {
    border-bottom: 1px solid transparentize($black, .9);
    width: 100%;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      .rsTl-nav-link {
        border-top: 1px solid transparent;
      }
    }
  }

  .rsTl-nav-link {
    padding: 15px 20px;
    width: 100%;

    &:focus {
      text-decoration: none;
    }
  }

  .rsTl-nav-mobileOpen {
    &::after {
      transform: rotate(180deg);
    }
  }

  .rsTl-nav-subLink {
    background-color: transparentize($black, .95);
    padding: 15px 40px;
  }

  .rsTl-nav-subList {
    border: 0;
    border-bottom: 1px solid $nav-link-black;
    border-top: 1px solid $nav-link-black;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
  }
}
