<a href="javascript:void(0)" class="rsTl-cta-section solve-cta">
  <picture class="rsTl-cta-sectionBackground">
     <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source class="rsTl-cta-sectionBackgroundContent" srcset="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/solve/970x250.jpg?1600 1x" media="all and (min-width: 1600px)" type="image/jpeg">
    <source class="rsTl-cta-sectionBackgroundContent" srcset="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/solve/970x250.jpg?1280 1x" media="all and (min-width: 1280px) and (max-width: 1599px)" type="image/jpeg">
    <source class="rsTl-cta-sectionBackgroundContent" srcset="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/solve/970x250.jpg?992 1x" media="all and (min-width: 992px) and (max-width: 1279px)" type="image/jpeg">
    <source class="rsTl-cta-sectionBackgroundContent" srcset="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/solve/970x250.jpg?768 1x" media="all and (min-width: 768px) and (max-width: 991px)" type="image/jpeg">
    <source class="rsTl-cta-sectionBackgroundContent" srcset="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/solve/970x250.jpg?480 1x" media="all and (min-width: 480px) and (max-width: 767px)" type="image/jpeg">
    <source class="rsTl-cta-sectionBackgroundContent" srcset="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/solve/970x250.jpg 1x" type="image/jpeg">
    <!--[if IE 9]></video><![endif]-->
    <img class="rsTl-cta-sectionBackgroundContent" src="https://752f77aa107738c25d93-f083e9a6295a3f0714fa019ffdca65c3.ssl.cf1.rackcdn.com/bananers/solve/970x250.jpg" alt="Test ad background">
  </picture>
  <span class="rsTl-cta-sectionContent">
    <span class="rsTl-cta-title">Some Call To Action</span>
    <span class="rsTl-cta-button">Watch the Video</span>
  </span>
</a>
