<div class="rsTl-nav-container">
  <nav class="rsTl-nav">
    <div class="rsTl-nav-logo">
      <div>
        <%- partial('solve-logo') %>
      </div>
    </div>
    <div class="rsTl-nav-links">
      <ul class="rsTl-nav-list"></ul>
    </div>
    <div class="rsTl-nav-rsLogo">
      <div>
        <%- partial('rs-logo') %>
      </div>
    </div>
    <div class="rsTl-nav-sponsor">
      <div class="rsTl-nav-sponsorContainer">
        <span class="rsTl-nav-sponsorText">Sponsored by</span>
        <%- partial('sponsor-logo') %>
      </div>
    </div>
    <div class="rsTl-nav-hamburger">
      <button class="rsTl-nav-hamburgerBtn" type="button" name="nav-open"></button>
    </div>
  </nav>
</div>