<% 
if(!cards) {
  var cards = 1;
} 
if(!cls) {
  var cls = "";
}
%>

<div class="rsTl-relatedTopics-row <%- cls %>">
  <% for (var i = 0; i < cards; i++) { %>
    <div class="rsTl-relatedTopics-col">
      <div class="rsTl-relatedTopics-feature">
        <div class="rsTl-relatedTopics-img" style="background-image:url('imgs/derek/doge-small.png');"></div>
        <div class="rsTl-relatedTopics-text">
          <span class="rsTl-relatedTopics-type"><strong>Video</strong> (1 minute view)</span>
          <h3 class="rsTl-relatedTopics-smallHeader">Real IT Modernization in Action</h3>
          <a class="button lead rsTl-relatedTopics-btn">Watch the Video</a>
        </div>
      </div>
    </div>
  <% } %>
</div>