<svg version="1.1" class="rsTl-nav-solveSvg" id="solve_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="213.452px" height="54px" viewBox="0 0 213.452 54" style="enable-background:new 0 0 213.452 54;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#EB0000;}
</style>
<title>Solve</title>
<path d="M122.229,17.664c-9.275,0-16.539,6.97-16.539,15.869v0.109c0,8.836,7.217,15.76,16.425,15.76
	c9.276,0,16.543-6.97,16.543-15.869V33.42C138.659,24.584,131.442,17.664,122.229,17.664z M114.59,33.42
	c0-4.665,3.096-7.922,7.526-7.922c4.36,0,7.648,3.454,7.648,8.035v0.109c0,4.669-3.1,7.924-7.535,7.924
	c-4.355,0-7.64-3.452-7.64-8.033L114.59,33.42z"/>
<path d="M175.556,18.225l-6.594,19.563l-6.544-19.563h-9.555l12.007,30.73h8.066l11.874-30.391l0.134-0.339H175.556z"/>
<path d="M150.75,40.39c0,1.255,0.456,1.882,1.54,1.882c0.509,0.011,1.014-0.086,1.482-0.285l2.385,6.104
	c-1.907,0.888-3.989,1.336-6.092,1.311c-5.248,0-8.328-3.137-8.328-8.67V9.567l9.012-0.97L150.75,40.39z"/>
<path d="M198.587,17.664c-8.598,0-15.083,6.82-15.083,15.869v0.109c0,9.129,6.698,15.76,15.924,15.76
	c4.821,0.184,9.444-1.929,12.459-5.694l0.146-0.184l-5.221-4.619l-0.163,0.155c-1.84,1.96-4.421,3.054-7.108,3.013
	c-3.362,0.234-6.373-2.073-7.02-5.381h20.798l0.021-0.23c0.063-0.878,0.113-1.602,0.113-2.255
	C213.452,26.571,209.561,17.664,198.587,17.664z M198.587,24.994c3.217,0,5.456,2.192,6.041,5.878h-12.233
	C193.14,27.132,195.382,24.994,198.587,24.994L198.587,24.994z"/>
<path d="M91.073,24.894c-6.87-1.761-8.263-2.586-8.263-4.908v-0.113c0-1.92,1.879-3.165,4.791-3.165
	c3.058,0,6.343,1.249,10.045,3.818l0.205,0.144l4.849-6.813l-0.276-0.226c-4.166-3.342-9.37-5.122-14.71-5.033
	c-8.225,0-13.965,4.958-13.965,12.062v0.109c0,8.209,5.706,10.317,13.175,12.225c6.635,1.699,7.702,2.786,7.702,4.74v0.109
	c0,2.159-2.017,3.447-5.406,3.447c-3.987,0-7.656-1.494-11.539-4.702l-0.689-0.582l-4.913,6.903l0.184,0.163
	c4.629,4.104,10.608,6.357,16.794,6.33c9.029,0,14.639-4.749,14.639-12.397v-0.113C103.695,29.663,98.65,26.868,91.073,24.894
	L91.073,24.894z"/>
<path class="st0" d="M54,54H0v-4h50V14H14v16h20v4H10V10h44V54z M44,20H20v4h20v16H4V4h50V0H0v44h44V20z"/>
</svg>
