<svg version="1.1" class="rsTl-nav-sponsorSvg" id="dellemc_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="113.982px" height="20px" viewBox="0 0 113.982 20" style="enable-background:new 0 0 113.982 20;"
	 xml:space="preserve">
<title>DELLEMC</title>
<path class="rsTl-nav-sponsorLogo" d="M107.19,19.057c3.523,0,6.29-1.761,6.792-5.535l-0.25-0.252h-1.006l-0.252,0.252
	c-0.503,2.766-2.264,4.277-5.283,4.277c-3.773,0-6.541-2.768-6.541-7.8s2.768-7.799,6.541-7.799c3.019,0,4.781,1.509,5.283,4.024
	l0.252,0.252h1.006l0.25-0.252c-0.502-3.522-3.269-5.282-6.792-5.282c-4.277,0-8.051,3.019-8.051,9.056
	S102.913,19.057,107.19,19.057 M96.12,18.553V1.446l-0.25-0.251h-1.762l-0.251,0.251l-6.542,15.346h-0.251L80.523,1.446L80.27,1.194
	h-1.76l-0.252,0.251v17.107l0.252,0.253h1.006l0.251-0.253V3.962h0.252l6.288,14.591l0.252,0.253h1.258l0.251-0.253l6.289-14.591
	h0.251v14.591l0.252,0.253h1.007L96.12,18.553z M74.988,18.553v-0.754l-0.252-0.252h-9.308l-0.253-0.251v-6.541l0.253-0.251h8.805
	l0.251-0.252V9.497l-0.251-0.252h-8.805l-0.253-0.251v-6.29l0.253-0.251h9.308L74.988,2.2V1.446l-0.252-0.251H63.919l-0.252,0.251
	v17.107l0.252,0.253h10.817L74.988,18.553z"/>
<path class="rsTl-nav-sponsorLogo" d="M59.667,15.306v3.5H48.306V1.194h4v14.111H59.667z M48.306,1.194h4 M7.139,18.806
	c4.01,0,7.514-2.709,8.524-6.59L25.626,20l9.957-7.779v6.585h11.361v-3.5h-7.361V1.194h-4v6.585l-9.551,7.462l-2.136-1.669
	L28.469,10l4.978-3.89l-2.842-2.22l-9.551,7.462l-2.136-1.669l9.551-7.462L25.626,0l-9.963,7.784c-1.01-3.881-4.514-6.59-8.524-6.59
	H0v17.611H7.139z M4,15.306V4.694h3.139C9.928,4.839,12.076,7.21,11.944,10c0.131,2.79-2.017,5.161-4.806,5.306H4z"/>
</svg>
