// Resource Icon Color
@mixin resource-refresh($class, $background) {
  #{$class} {
    .resource-top {
      background: $background no-repeat center center;
      background-size: cover;
    }
  }
}

.resource-innerLink {
  @include flex-box;
  flex-flow: column nowrap;
  height: 100%;

  &:hover {
    text-decoration: none;
  }
}

.resource-top {
  display: grid;
  grid-template-rows: .25fr auto .25fr;
  height: 175px;
  overflow: hidden;
  position: relative;
}

.resource-bottom {
  @include flex-box;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  margin-bottom: 50px;
  padding: 0 20px;
}

.resource-wrapper {
  @include make-md-column(4);
  @include make-sm-column(6);

  margin: 10px 0;
  padding: 0;
  position: relative;
  transition: .3s ease-in-out;
  width: 100%;

  .resource-innerLink {
    text-decoration: none;
  }
}

.resource-wrapperBox {
  background: $white;
  box-shadow: 0 1px 1px 1px $black-shadow-dark;

  &:hover {
    box-shadow: 0 15px 25px -9px $black-shadow-darkest;
    transition: .3s ease-in-out;
  }
}

.resource-document,
.resource-video,
.resource-code,
.resource-story,
.resource-support,
.resource-webinar {
  height: 100%;
}

.resource-logo {
  background-image: url('../imgs/derek/rs_wordmark_white.svg');
  background-position: left 50%;
  background-repeat: no-repeat;
  background-size: 100% 79%;
  flex: 0 0 auto;
  height: 30px;
  margin: 12px 0 0 12px;
  width: 120px;
}

.resource-titleTopWrap {
  flex: 1 0 auto;
  margin: 10px 20px;
  max-height: 150px;
  overflow: hidden;
}

.resource-titleTop {
  color: $white;
  font-size: 3.5vw;
  font-weight: 600;
  letter-spacing: .01vw;
  line-height: 3.85vw;
  margin: 0;
}

.resource-pdfDownload {
  background: url('../imgs/derek/resourceCenter/pdf-download.png');
  background-size: 45px;
  display: none;
  height: 45px;
  position: absolute;
  right: 15px;
  top: 117px;
  width: 40px;
}

.resource-webinarDownload {
  height: 60px;
  position: absolute;
  right: 0;
  top: 110px;
  width: 60px;

  &::after {
    color: $white;
    content: '\e8c6';
    font-family: 'rswebfonts';
    font-size: 4rem;
  }
}

.resource-codeImg {
  background: url('../imgs/derek/resourceCenter/codeRepo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  margin: 10px auto;
  min-height: 150px;
  width: 80%;
}

.resource-supportImage {
  background: url('../imgs/derek/resourceCenter/supportIcon.png');
  background-position: left 50%;
  background-repeat: no-repeat;
  background-size: 40px;
  display: none;
  height: 55px;
  position: absolute;
  right: 0;
  top: 110px;
  width: 55px;
}

.resource-videoThumb {
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  display: grid;
  height: 100%;
  margin: 10px auto;
  min-height: 170px;
  opacity: .75;
  width: 80%;
}

.resource-playIconWrap {
  display: none;
  grid-row-start: 3;
  grid-template-columns: auto auto;
  margin: 0 15px 15px 0;
}

.resource-playIcon {
  grid-column-start: 2;
  height: 40px;
  justify-self: flex-end;
  width: 40px;

  &::before {
    color: $gray-lightest;
    content: '\e8c8';
    font-family: 'rswebfonts';
    font-size: 30px;
    justify-self: flex-end;
  }
}

.resource-title {
  color: $gray-base;
  font-family: $heading;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1em;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.resource-rule {
  border-top: solid $red-shadow .5px;
  height: 1px;
  margin-bottom: 10px;
  width: 100%;
}

.resource-descWrap {
  flex: 1 0 auto;
  flex-direction: column;
}

.resource-desc {
  color: $gray-base;
  font-size: .75em;
  line-height: 1.6em;
}

.resource-linkWrap {
  bottom: 5px;
  position: absolute;
}

.resource-link {
  @include standard-link;
  font-family: $heading;
  font-weight: 600;
  text-decoration: none;
}

.resource-linkCaret {
  @include standard-link;
  text-decoration: none;
}

.resource-top-story {
  display: grid;
  grid-template-rows: auto auto .25fr;
}

.resource-bottom-story {
  box-shadow: none;

  &::before {
    border-color: $gray-dark transparent transparent;
    border-style: solid;
    border-width: 25px 30px 0;
    content: '';
    height: 0;
    position: absolute;
    right: 30px;
    width: 0;
  }
}

.resource-quoteWrap {
  background: url('../imgs/derek/resourceCenter/quote-bg.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 30px;
  grid-row-start: 2;
  margin: 10px 10px 0 20px;
  max-height: 170px;
  text-overflow: ellipsis;
}

.resource-quote {
  color: $white;
  font-size: 2.5vw;
  font-weight: 600;
  margin: 0 20px;
}

.resource-quoteLogoWrap {
  display: grid;
  grid-row-start: 3;
  grid-template-columns: auto auto;
  margin: 0 15px 15px 0;
}

.resource-quoteLogo {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  grid-column-start: 2;
  justify-self: flex-end;
  max-width: 100px;
  width: 100%;
}

.resource-personWrap {
  margin-top: 20px;
}

.resource-storyName {
  margin: 0;
}

.resource-storyTitle {
  margin: 0 0 10px;
}

@media only screen and (min-width: $screen-sm-min) {

  .resource-wrapper {
    margin: 10px;
  }

  .resource-videoThumb {
    background-size: 100%;
    margin: 0 auto;
    width: 100%;
  }

  .resource-titleTop {
    font-size: 1.6vw;
    line-height: 1.65vw;
  }

  .resource-quote {
    font-size: 1.3vw;
  }
}



@media only screen and (min-width: $screen-md-max) {
  .resource-pdfDownload {
    display: block;
  }

  .resource-supportImage {
    display: block;
  }

  .resource-playIconWrap {
    display: grid;
  }

  .resource-wrapper {
    margin: 20px;
  }

  .resource-titleTop {
    font-size: 1.8vw;
    line-height: 1.85vw;
  }

  .resource-quote {
    font-size: 1.1vw;
  }


}


//had to make maintainable
@include resource-refresh('.resource-document', $rackspace-red);
@include resource-refresh('.resource-documentImage', url('../imgs/BG.jpg'));
@include resource-refresh('.resource-webinar', $rackspace-red);
@include resource-refresh('.resource-code', $gray-lightest);
@include resource-refresh('.resource-support', $blue-login);
@include resource-refresh('.resource-video', $black);
@include resource-refresh('.resource-story', $gray-dark);
