extends ../../_layouts/page

block content
  != yield
  != partial("../_partials/_back-to-top")
  != partial("../global-components/rug/rug")
  != partial("../_partials/_footer")
  != partial("../_partials/_basement")
  != partial("../_partials/_regionSelector")
