extends ../../_layouts/page

block content
  != yield
  != partial("../_partials/_back-to-top")
  != partial("../_partials/_rug")
  != partial("../global-components/footer/footer")
  != partial("../global-components/basement/basement")
  != partial("../_partials/_regionSelector")
