extends ../../_layouts/page

block page
  .container.standard-padding
    .row.standard-padding-full
      .col-md-12
        h4.red How the magic happens
        h2.no-margin The Development Guide
    .row
      .col-md-12
        h5 Syntax
        h5.red NEED TO ADD
        p.red links to maintainable, some guidelines on how we specifically use it, link to semantic sass docs

    .row
      .col-md-12
        h5 The Grid
        h5.red NEED TO ADD
        p.red should we link to bs docs here or show the actual grid implementation - at least our breakpoints

    .row
      .col-md-12
        h5 Frameworks/Tools
        h5.red NEED TO ADD
        p.red link to bootstrap docs, list bs js we're not using, jade, node, angular, what else are we using?

    .row
      .col-md-12
        h5 Contribution
        h5.red NEED TO ADD
        p.red should just pull in contributors doc but we need to solidfy this as well

    .row
      .col-md-12
        h5 Code Review
        h5.red NEED TO ADD
        p.red need to solidify process

    .row
      .col-md-12
        h5 Utilities/Mixins/Modifiers
        h5.red NEED TO ADD
        p.red Need to gather these and agree upon them

    .row
      .col-md-12
        h5 Environments
        h5.red NEW PAGE
        p zoolander, signups, signups ui, www proper, calculator, ??
        p.red Will this just pull in read mes?

    .row
      .col-md-12
        h5 Code Examples
        h5.red NEW PAGE
        p.red What to include here

